﻿/**********************************
*  Filename: bizagi.workportal.inbox.css
*  Create Date: 2012-06-27
*  Author: oscar.osorio@bizagi.com
* 
*  ==STRUCTURE=====================
*
*  $__filters 
*  $__containers
*  $__Processes is the first screen in inbox
*  $__Cases is the second screen in the workportal
*  $__SummaryCase  the third screen related about the summary of the cases 
*  $__Common_Cases__SummaryCase  this represent the commons css in the two screen (tipical relate the headers and contianers)
***********************************/


.bz-wp-nc-list-items
{
    position: relative;
    width:100%;
}

.ui-bz-wp-inbox
{
    /*resovle bugfor implementacion inbox item*/
    overflow-x: hidden;
    }

.bz-wp-item
{
    background-color: #FFFFFF;
    color: #444444; /* width: 100%;*/
    position: relative;
}


.bz-wp-header-title-inbox.disable
{
    display: none;
}


.bz-wp-header-title-inbox
{
    min-height: 40px;
    display: block;
    margin: 0 auto;
    line-height: 40px;
    color: #195891;
    font-weight: 300;
    position: relative;
   /* width: 100%;
    height: 100%;*/
    vertical-align: middle;
    text-align: left;
   margin-left: 26px;
   font-size:17px;
   margin-top:10px;
}



.bz-wp-item:first-child
{
    border-top: 1px solid red;
}

.bz-wp-item:last-child
{
    box-shadow: 0px 0px 2px #888888;
}

.bz-wp-space
{
    position: relative;
    margin-left: 15px;
    border-bottom: 1px solid #EBEDF1;
}


.bz-wp-item:last-child
{
    border-bottom: 1px solid rgba(128, 128, 128, 0.23);
}


/****/


/*list item*/

.bz-wp-item-date
{
    width: 60px;
}
.bz-wp-item-date, .bz-wp-item-contianer-values
{
    display: table-cell;
    padding: 10px 0 15px 5px;
}


.bz-wp-item-contianer-values
{
    padding: 10px 0 15px 10px;
}


.bz-wp-item-element.activity
{
    color: #444444;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
}

.bz-wp-item-element.processname
{
    color: #787878;
    font-size: 7px;
    font-weight: 600;
    background-color: #e5e5e5;
    padding: 4px 7px 4px 8px;
    border-radius: 4px;
    float: left;
    text-transform: uppercase;
}

.bz-wp-item-element.pfield
{
    font-size: 12px;
    color: #787878;
    font-weight: 300;
    padding-top: 2px;
    float: left;
    left: 10px;
    position: relative;
    padding: 3px;
}


.bz-wp-item .bz-wp-date-box
{
    border-radius: 4px;
    font-size: 13px;
    padding: 9px;
    text-align: center;
    vertical-align: middle;
    top: 8px;
    position: relative;
    width: 60px;
    height:40px;
}

.bz-wp-item.overdue .bz-wp-date-box
{
    color: #EC3939;
    background-color: rgba(236, 57, 57, 0.1);
}



/*filter*/

.bz-wp-category-item
{
    display: table;
    width: 100%;
    position: relative;
    height: 51px;
    background-color: #FFFFFF;
}

.bz-wp-category-item .container-left, .bz-wp-category-item .container-middle, .bz-wp-category-item .container-right
{
    display: table-cell;
    vertical-align: middle;
    position: relative;
}


.bz-wp-category-item .container-left
{
    width: 45px;
}

.bz-wp-category-item .container-middle
{
}

.bz-wp-category-item .container-right
{
    width: 50px;
    right: 5px;
}

.bz-wp-category-item .container-middle, .bz-wp-category-item .container-right
{
    border-bottom: 1px solid rgba(128, 128, 128, 0.23);
}

.container-left span.favorite-true, .container-left span.favorite-false
{
    background-position: -196px -60px;
    height: 24px;
    width: 26px;
    position: relative;
    left: 0;
}


span.workflow-count
{
    font-size: 15px;
    font-weight: 100;
    color: #333;
    border-radius: 13px;
    background: transparent;
    margin: 3px 0 3px 0;
    text-align: center;
    padding: 3px 5px;
    min-width: 50px;
    float: right;
    position: relative;
    border: 2px solid #37BAEC;
}


/*
.bz-wp-category-item.selecteditem
{
    border-bottom: 1px solid rgba(128, 128, 128, 0.23);
}

.bz-wp-category-item.selecteditem .container-middle, .bz-wp-category-item.selecteditem .container-right
{
    border-bottom: none;
}

.bz-wp-category-item.selecteditem .selectedcat
{
    background-position: -145px -98px;
}

.bz-wp-category-item.selecteditem .openlist
{
    background-position: -361px -135px;
}

*/

.bz-wp-ib-filter-container
{
    font-size: 15px;
    font-weight: 100;
    color: #444444;
}


/*color red green fro boxes in inbox*/

.bz-wp-item.today .bz-wp-date-box
{
    color: #CFBB38;
    background-color: rgba(207, 187, 56, 0.1);
}

.bz-wp-item.tomorrow .bz-wp-date-box
{
    color: #CFBB38;
    background-color: rgba(207, 187, 56, 0.1);
}

.bz-wp-item.upcoming .bz-wp-date-box
{
    color: #26A023;
    background-color: rgba(38, 160, 35, 0.1);
}


/*loadmore*/

.bz-wp-loadmore
{
   
    background-color: #FFFFFF;
    min-height: 40px;
    position: relative;
    padding-top: 40px;
    text-align: center;
    display: block;
    margin: 0 auto;
    vertical-align: middle;
    margin-top: 5px;
    padding-bottom: 21px; 

}
.bz-wp-loadmore-inview
{
    padding:10px;    
}


/*  __popup for summary case
*****************************/

.bz-cases-content-popup
{
    backgrund-color:#E8EEF4;
    position:relative;
}

.bz-cases-work
{
background-color: #24B4EA;
color:White;    

}


.bz-cases-content-popup{

}


ul.bz-cases-popup-list
{
  list-style: none;
  margin: 0;
  padding:20px;
}

ul.bz-cases-popup-list li
{
    padding:0 0 1px 0;
}

ul.bz-cases-popup-list li > div,
.bz-cases-popup-buttons >div
{
    display: inline-block;
}

.bz-cases-popup-buttons{
background-color: transparent;
border-top:1px solid #CCCCCC;
}

.bz-cases-popup-buttons >div
{
   padding: 15px;
   border-radius: 0 0 0 0;
   width:49%;
}

.bz-cases-popup-buttons .bz-cases-work
{
   color:white;
   font-weight:200;
}



.bz-popup-title
{
color:#5E5F60;
font-weight:100;
overflow: hidden;
width: 50%;
text-overflow: ellipsis;
white-space: nowrap;
font-size:12px;
text-align:right;
}

.bz-popup-value
{
color:#527B9A;
margin-left: 10px;
position: relative;
font-size:12px;
text-align:left;
padding:5px;
width:40%;
background:#D3DFEA;


}

.bz-cases-work
{
float: right;    
}