<script id="datalist-frame" type="text/x-jquery-tmpl">
    <fieldset class="biz-accordion datalist-container">
        <h3 class="ui-legend ui-title">%{formmodeler-component-editor-datalist-caption}<div class="ui-control-arrow-box"><i class="biz-btn-caret"></i></div></h3>
        <div class="datalist-group ui-content"></div>
    </fieldset>
</script>

<script id="datalist-subproperty" type="text/x-jquery-tmpl">
    <div class="datalist-subproperty-container ui-control-container">
        <label class="datalist-subproperty-name">${caption}</label>
        <input type="text" class="datalist-subproperty-value ui-control-input" value="${value}" data-name="${name}" />
        <i class="biz-ico datalist-subproperty-external ui-control-modal"></i>
    </div>
</script>

<script id="datalist-frame-external" type="text/x-jquery-tmpl">
    <div></div>
</script>