﻿#menuHome{
    background-color: #f3f7fa;
}

.wp-clear{
    clear: both;
}

.wp-homeportal .km-widget.km-navbar{
    color: #ffffff;
    height: 55px;
    font-weight: 100 !important;
}
/*
#renderTemplates{
    background-color: #ebedf1;
}

.wp-homeportal #renderTemplates .km-widget.km-navbar, .wp-homeportal #dashBoard .km-widget.km-navbar{
    background-color: #195891;
}*/

.wp-homeportal .km-button
{
    color: #ffffff;
    font-size: 18px;
}
.wp-homeportal .km-button:active
{
    color: #ffffff;
}

/*
toca moverlo a general*/

ul.wp-home-list
{
    margin: 0;
}

.km-flat ul.wp-home-list.km-listgroupinset ul.km-list>li:last-child {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.km-flat ul.wp-home-list.km-listgroupinset ul.km-list>li {
    border-bottom: 0;
    text-transform: capitalize;
    font-weight: lighter;
}

.wp-home-list.km-listview .km-icon
{
    float: left;
    color: #195891;
}

.wp-home-list .bz-wp-home-list-category
{
    color: #195891;
    margin-left: 20px;
    text-transform: uppercase;
}


.wp-home-list div
{

}

.wp-home-list div.bz-wp-list-title
{
    color: #787878;
}

.wp-home-list span.bz-wp-list-quantity
{
    position: absolute;
    top: 15px;
    right: 10px;
    padding: 5px 12px;
    border-radius: 10px;
    background-color: #f2f5f8;
    color: #2e3e4e;

}

ul.wp-home-list ul.km-list li{
    position: relative;
    padding: 20px 50px 20px 30px;
}

ul.wp-home-list ul.km-list
{
    margin-top: 15px;
}

.wp-home-list hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
    padding: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 22px;
}

#homePortal .km-navbar{
    background: -webkit-linear-gradient(top, #fff, #f1f2f4);
}

#homePortal .km-view-title {
    text-transform: capitalize;
    color: #61819e;
    font-weight: lighter;
}