<script type="text/x-kendo-template" id="homePortalSplitView">
    <div data-role="splitview" id="homePortal">
        <div id="homeportal-pane" data-role="pane" data-layout="main-default" data-navigate="bizagi.util.mobility.homePortalNavigate" data-view-show="bizagi.util.mobility.homePortalViewShown">
            #for(var item in data.homePortalLayoutPositions){ #
            <div data-role="view" id="#= data.homePortalLayoutPositions[item].canvas#"  data-title="#= data.homePortalLayoutPositions[item].title#"> </div>
            #}#

            <div data-role="layout" data-id="main-default" data-show="toggleBackButton" data-init="bizagi.util.mobility.homePortalLayoutInit">
                <header data-role="header">
                    <div data-role="navbar">
                        <a data-role="button" data-rel="drawer"  data-icon="render-slider" class="bz-header-left-btn btn-menu" data-align="left"></a>
                        <a data-role="button" data-align="left" data-icon="back"  class="bz-header-left-btn btn-back" data-role="backbutton"></a>
                        <span data-role="view-title">%{workportal-taskfeed-title}</span>
                        <a data-role="button" data-rel="drawer" data-icon="new-smallsize" class="bz-header-right-btn" id="bz-workarea-newcase" data-align="right"></a>
                    </div>
                </header>
            </div>
        </div>
    </div>
</script>
