<script id="filter-frame" type="text/x-jquery-tmpl">
    <div class="ui-control-container filter-container">
        <label class="filter-name" title="%{formmodeler-component-editor-filter-name}">%{formmodeler-component-editor-filter-name}</label>
        <input type="text" readonly="readonly" class="ui-control-input filter-value" value="${value.bafilter.filter}" />
        <i class="biz-ico biz-ico-filter-value"></i>
    </div>
</script>