﻿/**********************************
*  Filename: bizagi.workportal.newcase.css
*  Create Date: 2012-06-27
*  Author: oscar.osorio@bizagi.com
* 
*  ==STRUCTURE=====================
*
*  $__xxx 
***********************************/ 

.bz-wp-nc-container
{
	border-radius: 6px;
}


.bz-wp-nc-categories li .processIco.wait{
    background-position: center center;
    background-repeat: no-repeat;
} 

.arrow-nc
{
	background-position:-190px -55px;
    text-indent:-9999px;
    position:absolute;
    right:5px;
    top:50%;
    margin-top:-10px;
    font-weight: bold;
}
.processIco,.categoryIco{
    position: absolute;
    left: 15px;
	width: 31px;
	height: 31px;
	top: 10px;
}
.categoryIco
{background-position: -199px -54px;}
.processIco
{background-position: -150px -51px;
 width:40px;}

.bz-nc-item-arrow
{
	float: right;
	top: 8px;
	position: relative;
}

.bz-nc-item-arrow >span.bz-cm-icon
{
	background-position: -332px -95px;
}


.bz-wp-nc-list-items >li
{
	border-bottom: 1px solid #C0C6CB;
    padding: 5px 5px 5px 45px;
    position: relative;
    min-height: 40px;
	background-color: #FFFFFF;
}

.bz-wp-nc-list-items >li:nth-child(even){}


.bz-wp-nc-list-items >li .newCaseDescription
{
	font-weight: normal;
	color: #535b61;
	font-size: 14px;
	margin-left: 15px;
}

.bz-wp-nc-list-items >li:last-child
{
	border-bottom: 0;
	border-radius: 0px 0px 6px 6px;
}

.bz-wp-nc-list-items
{
	list-style: none;
}

.bz-wp-nc-list-items >li  >h3
{
	font-size: 90%;
	margin: 11px 0px;
	font-weight: normal;
	color: #444444;
    font-size: 14px;
    margin-left: 15px;
}

.bz-wp-nc-list-items >li:last-child{border-bottom:none;}


#searchNewCase
{
	display:none;
}



.bz-wp-categoryTree
{
    vertical-align: middle;
    list-style: none;
    min-height: 35px;
    height: 35px;
    border-bottom:1px solid #24B4EA;
    width:100%;
}

.bz-wp-categoryTree >li
{
	list-style: none;
    color: #195891;
    font-size: 13px;
    font-weight: bold;
	text-transform: uppercase;
	float: left;
}

.bz-wp-categoryTree >li:after
{
	
	
}

.bz-wp-categoryTree >li:after, 
.bz-wp-categoryTree >li:before {
	left: 100%;
border: solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
}

.bz-wp-categoryTree >li:after {
	border-left-color: #C2CED8;
	border-width: 18px;
	top: 50%;
	margin-top: -17px;
}
.bz-wp-categoryTree >li:before {
	border-left-color: #B7BDC2;
	border-width: 20px;
	top: 50%;
	margin-top: -19px;
}

.bz-wp-categoryTree > li > span {
position: relative;
margin-left: 26px;
top: 9px;
}
.bz-wp-categoryTree > li:first-child > span,
.bz-wp-categoryTree > li:nth-child(2) > span
{margin-left: 0;
 }

 .bz-wp-categoryTree >li:first-child:before,
.bz-wp-categoryTree >li:first-child:after,
 .bz-wp-categoryTree >li:last-child:before,
.bz-wp-categoryTree >li:last-child:after
{
	border-width:0;
	}

.bz-wp-categoryTree >li:first-child
{

	width: 40px;
	margin-right: 5px;
	
}
.bz-wp-categoryTree >li:first-child >.bz-cm-icon
{
	background-position: -101px -54px;
	position: relative;
	display: block;
	vertical-align: middle;
	top: 5px;
	left: 6px;
}