
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-draggable.ui-resizable
{
	position: absolute !important;
	width: 300px !important;
	overflow: hidden;
	background-color: #dedede;
	border: 5px solid #c3c4c6;
	padding: 45px 15px 55px;
	left: 0 !important;
}

.ui-bizagi-notifications-container
{	
	position: fixed;    
	right: 0px;
    bottom: 0px;
    display:none;
    z-index: 9999;
	-moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    border-radius:4px;
	padding:1px;	
	word-break: break-word;	
}

.ui-bizagi-notifications-container-bottom
{
	bottom: 0px;
}

.ui-bizagi-notifications-content
{
	-webkit-border-radius:0px 0px 4px 4px;
	padding:0px 6px;
	border-top:none;
	background-color: #FFF;
	overflow-y: scroll;
	-webkit-overflow-scrolling:touch;
}

.ui-bizagi-notifications-container.ui-bizagi-state-collapsed {
	width: 40px;
}

.ui-bizagi-notifications-container .ui-bizagi-notifications-header
{
    height: 40px;
    line-height: 40px;
    padding-left: 32px;
    padding-right: 76px;
    -webkit-border-radius:0;
    font-family: 'Helvetica';
    font-size: 14px;
    position:relative;
}

.ui-bizagi-notifications-container.ui-bizagi-state-collapsed .ui-bizagi-notifications-header
{
    padding-left: 70px;
}

.ui-bizagi-notifications-container.ui-bizagi-state-collapsed .ui-bizagi-notifications-header .ui-icon-triangle-1-n
{
    background-position: -15px -145px;
}


.ui-bizagi-notifications-container.ui-bizagi-state-collapsed .ui-bizagi-notifications-header{
	-webkit-border-radius: 0;
}
.ui-bizagi-notifications-container.ui-bizagi-state-expanded {
	/*width: 640px;*/
	opacity: 1;
	overflow: hidden;
	left: 0px;
}
.ui-bizagi-notifications-box-button
{
    position:absolute;
    left: 12px;
    top: 14px;
    cursor: pointer;
}
.ui-bizagi-notifications-clear-button
{
	position:absolute;
	right: 16px;
	top: 12px;
	cursor: pointer;
	-webkit-box-shadow: 0 0 6px #000;
	width: 24px;
	height: 24px;
}
.ui-bizagi-notifications-clear-button .ui-icon
{
	position:absolute;
	top: 4px;
	left: 4px;
}
.ui-bizagi-notification-item
{
	position: relative;
	border:none;
	padding-left: 25px;
	padding-top: 5px; 
	padding-right: 0px; 
	padding-bottom: 5px;
	line-height: 32px;
	border-bottom: solid #cccccc 1px;
	overflow: auto;
    max-height: 200px;
}
.ui-bizagi-notification-item .ui-icon
{
	top:12px;
	left:0px;
	position: absolute;
}
.ui-bizagi-notification-item label
{
	display: inline-block;
	cursor: pointer;
}

/****
render notification label red
***/



.bz-rn-err:after
{
	background: -webkit-gradient( linear, left top, left bottom, from(hsl(0,65%,50%)), to(hsl(0,75%,50%)));
	color: #FFF;
	font: 12px Helvetica, Arial, Georgia, sans-serif;
	padding: 5px 10px;
	content: attr(data-error);
	-webkit-border-radius: 6px;
	-webkit-box-shadow: 1px 1px 1px #888;
	display: inline-block;
	z-index: 101;
	position: relative;
	float: left;
}
