﻿* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
} 

body
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #F2F2F2;
    margin: 0;
    }



/* class icon reusable for all application
*/
.bz-cm-icon {
background-image: url('images/bizagi-tablet-sprite-s.png');
-webkit-appearance: none;
border: none;
min-height:20px;
min-width: 20px;
margin: 0 auto;
display: block;
}

.bz-common-webkit-reset-ul
{
	-webkit-padding-start: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-before: 0px;
	margin: 0;
	display: inline-block;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2 ), 
only screen and (min-device-pixel-ratio: 2) {
    .bz-cm-icon
	{
		background-image:url('images/bizagi-tablet-sprite.png');
        background-size: 450px 300px;
	}
	
}



.ui-bizagi-info-message-text
{
    color: hsl(0, 0%, 33%);
    background: #D8D8D8;
    padding: 10px;
    margin: 15px;
    border-radius: 0;
    top: 44px;
    position: relative;
    font-size: 12px;
    min-height: 40px;
}

.ui-bizagi-info-message-button {
    color: #FFF;
    border: 1px solid #0f3558;
    background: #0f3558;
    position: relative;
    right: 5px;
    top: 44PX;
    padding: 8px 10px;
}

/*bug fixing ipad outline input table on summary*/
.ui-tabs .ui-tabs-nav li a
{
	outline: 0;	
}


/*
__loading smartphone
*/

.bz-util-loading-container
{
			display: inline-block;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 8;
            top: 0;
            left: 0;
}

.bz-util-loading
{
			left: 50%;
            top: 50%;
            margin-top: -16px;
            margin-left: -16px;
            position: absolute;

}

.ui-tabs .ui-tabs-nav li a
{
 padding: .5em .5em!important;
 	text-overflow: ellipsis;
  white-space: nowrap;
   position: relative;
    overflow: hidden;
     width: inherit;
      display: block;
       font-family: inherit;
        width: 95%;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active
{
	width:auto;
}

.ui-tabs .ui-tabs-nav li:first-child {
    margin: 0px 0px 0px 5px;
}

.ui-tabs .ui-tabs-nav li{
    float: none;
    margin: 0px 0px 0px 5px;
}