﻿<script id="ui-bizagi-render-form" type="text/x-kendo-template">
<div class="ui-bizagi-form"  data-unique-id="#= data.uniqueId #">

    #if(data.processPath != "" && !data.queryForm && !data.summaryForm && !data.globalForm && !data.activityForm){#
    <div class="bz-wp-case-path-form">
        #for(var i=0, len = data.breadCrumb.length; i < len; i++){#
        <div class = "bz-wp-casePathForm-item">
            <span>#= data.breadCrumb[i] #</span>
            #if(i != len-1){#
            <span class="bz-wp-casePathForm-next ui-bizagi-next"></span>
            #}#
        </div>
        #}#
    </div>
    #}else{#
        #if(data.displayName != ""){#
        <div class="bz-wp-case-name-form">
            #= data.displayName ? data.displayName : "" #
        </div>
        #}#
    #}#
    {{children}}
    
    # if (data.transitions){#
        #= $.cacheTemplate("complexgateway", data) #
    #}#

    <div class="ui-bizagi-button-container">
        # for(var i=0, len = data.buttons.length; i < len; i++){ #
            <div ordinal="#= i #" id="formButton#= i #" class="action-button ui-bizagi-form-button">#= data.buttons[i].caption #</div>
        #}#
    </div>
</div>
</script>


<script id="ui-bizagi-render-complexGateway" type="text/x-kendo-template">
<div class="ui-bizagi-container-complexgateway ui-bizagi-container ui-bizagi-container-group">
    <div class="ui-bizagi-container-group-header bz-rn-cg-headercontainer bz-rn-cg-headercontainer">        
        <span class="ui-bizagi-fix-title bz-rn-cg-headertitle" >%{render-widget-complexgateway-title} </span>
    </div>

    <div class="ui-bizagi-container-group-wrapper">        
        # $.each (data.transitions, function (i, item) { #
        
        <div class="bz-rn-cg-row">            
            <span class="bz-rn-cg-row-element-text">
                <label>#= item.displayName #</label>
            </span>

            <div class="bz-rn-cg-row-element-button">
                <div class="">
                    <div class="">
                        <div class="ui-checkbox bz-cm-icon bz-rn-cg-checkbox">
                            # if(item.isDefault === 'true'){ #
                                <label class="ui-checkbox-state-checked" for="check_complexgateway_#= item.id #" data-checked="true" data-value="#= item.id #"></label>
                            #} else{#
                                <label  for="check_complexgateway_#= item.id #" data-checked="false"  data-value="#= item.id #"></label>
                            #}#
                        </div>
                    </div>
                </div>
            </div>
        </div>

        #}); #
    </div>
</div>
</script>