<div class="ui-bizagi-form-group
  #if (data.orientation === 'rtl'){ #
        bz-container-rtl
    #}#" data-unique-id="#= data.uniqueId #">
    <div class="headertitle">
        <div class="container-left">
            <span class="bz-rn-hd-title">#= data.displayName #</span>
        </div>
        <div class="container-right">
            <span class="bz-cm-icon arrow down"></span>
        </div>
    </div>
    <div class="childrenContainer">
        {{children}}
    </div>
</div>
