<div data-role="view" class="bz-rn-renderedition">
    <header data-role="header">
            <div data-role="navbar">
                <a data-align="left" data-icon="cancel" class="nav-button bz-render-back" data-role="button"></a>
                <span data-role="view-title" id="render-title">#= typeof(data.title) !== 'undefined' ? data.title: "" #</span>
            </div>
        </header>
    <div id="render-content"></div>
</div>
