<script id="horizontalalign-frame" type="text/x-jquery-tmpl">
    <div class="horizontalalign-container ui-control-container">
        <label class="horizontalalign-name">${caption}</label>
        <div class="horizontalalign-group-container ui-control-input">
            
        </div>
    </div>
</script>

<script id="horizontalalign-frame-option" type="text/x-jquery-tmpl">
    <div class="horizontalalign-group"  title="${title}">
        <i class="biz-ico horizontalalign-image-small-${icon}"></i>
        <i class="biz-ico horizontalalign-value" data-value="${icon}">${option}</i>
    </div>
</script>

<script id="horizontalalign-frame-check" type="text/x-jquery-tmpl">
    <i class="biz-ico horizontalalign-image-icon-uncheck"></i>
</script>


<script id="horizontalalign-frame-values" type="text/x-jquery-tmpl">
    <div class="horizontalalign-values horizontalalign-close">
    </div>
</script>