<script id="displayname-frame" type="text/x-jquery-tmpl">
    <div class="ui-control-container">
        <label title="${caption}">${caption}</label>
        <div class="editor-displayname-input ui-control-input" tabindex="0">
            <input type="text" value="${value}" />
        </div>
    </div>
</script>

<script id="displayname-localization" type="text/x-jquery-tmpl">
    <i class="biz-ico editor-displayname-localization" title="%{formmodeler-component-editor-displayname-localization}"></i>
</script>