﻿.bizagi_editor_component_editor_numberformat .numberformat-image-small-number{
    display: none;
}

.bizagi_editor_component_editor_numberformat .numberformat-image-small-time{
    display: none;
}

.bizagi_editor_component_editor_numberformat .numberformat-field-time{
    display: none;
}

.bizagi_editor_component_editor_numberformat .numberformat-image-small-modal {
    position: absolute;
    right: -20px;
    top: 3px;
    cursor: pointer;
    background-position: -512px -32px;
}

.bizagi_editor_component_editor_numberformat .numberformat-time-group {
    width: 100%;
    margin-top: -2px;
}

.numberformat-modal {
    width: 100%;
    color:#5D7389;
}

.numberformat-modal-name{
    text-align: center;
}

.numberformat-modal .numberformat-modal-item {
    margin: 1%;
    padding: 1%;
}

.numberformat-options-default-format-false,
.numberformat-modal-container > .numberformat-modal-item.numberformat-default-format{
    -webkit-box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, .8);
    box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, .8);
    border: 1px solid rgb(226,230,233);
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}

.numberformat-options-default-format-false{
    width: 95%;
    padding-bottom: 5px;
}

.numberformat-modal .numberformat-modal-item > .ui-control-select,
.numberformat-modal .numberformat-modal-item > span {
    display: inline-block;
    width: 190px;
    vertical-align: middle;
}

.numberformat-modal .numberformat-modal-item {
    display: block;
}

.numberformat-modal .numberformat-modal-item > span.numberformat-modal-number-sample {

    display: block;
    width: auto;
    font-size: 16px;
    padding: 15px;
    font-weight: bold;
    margin: 4px;

    border-radius: 4px;
    border: 1px solid #BFC4CE;
    -webkit-box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, .8);
    box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, .8);
    text-align: center;
    margin-left: 5px;
}

.numberformat-modal .numberformat-modal-buttons {
    border: solid 1px red;
    border-radius: 4px;
    margin: 4px;
    padding: 4px;
    text-align: center;
}

.numberformat-modal .numberformat-modal-buttons > span {
    display: inline-block;
    border: solid 1px blue;
    border-radius: 4px;
    width: 100px;
    margin: 0px 10px;
    cursor: pointer;
}

.bizagi_editor_component_properties .numberformat-time-group {
    width: 100%;
    margin-top: -2px;
}

.bizagi_editor_component_properties .numberformat-time-group input{
    /*display: inline-block;*/
    width: 60%;
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.bizagi_editor_component_editor_numberformat .numberformat-property span,
.bizagi_editor_component_editor_numberformat .numberformat-property input {
    vertical-align: middle;
}

.numberformat-modal .numberformat-disabled{
    display:none!important;
}

.numberformat-check-container{
    position: relative;
    display:inline-block;
    vertical-align: middle;
}
.bizagi_editor_component_editor_numberformat .editor-numberformat-value
{

    height:20px;
    width:58px;

    border: 1px solid rgb(151,151,151);
    border-top: 1px solid #999;
    border-radius: 3px;

    display:inline-block;
    overflow: hidden;

    position:relative;
    cursor:pointer;
}

.numberformat-options-short-number-false,
.numberformat-options-default-format-false{
    height: auto;
}

.numberformat-format {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #BFC4CE;
    -webkit-box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, .8);
    box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, .8);
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.numberformat-format .numberformat-col2{
    width: 45%;
    white-space: nowrap;
}

.numberformat-format .numberformat-col1{
    display:block;
    width: auto;
}

.bizagi_editor_component_editor_numberformat .numberformat-not-show-time .numberformat-time-group{
    display:none;
}