﻿div.queryinternals-defaultvalue-value.ui-control-input {
    height: auto;
    display: none;
    text-align: left;
}

div.queryinternals-defaultvalue-value.ui-control-input.active {
    display: inline-block;
    border: none;
    width: auto;
    min-width: 100%;
}

div.queryinternals-defaultvalue-value.ui-control-input li {
    list-style: none;
    cursor: pointer;
    line-height: 19px;
    white-space: nowrap;
}

div.queryinternals-defaultvalue-value.ui-control-input ul{
    padding-left: 20px;
}

#queryinternals-defaultvalue-mainList{
    padding-left: 0;
}

#data-queryinternals-defaultvalue-frame{
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    height: 18px;
    padding: 3px;
}

.queryinternals-biz-wp-tree-collapse-icon{
    background-position: -242px -461px;
}

.queryinternals-biz-wp-tree-icon{
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    top: 0 !important;
    margin-left: 5px;
    background: url("images/biz-wp-icons-sprite.png") 0 0 no-repeat !important;
}

.queryinternals-biz-wp-tree-expand-icon{
    background-position: -219px -460px !important;
}
.queryinternals-biz-wp-tree-collapse-icon{
    background-position: -242px -461px !important;
}

.queryinternals-biz-wp-tree-image-application {
    background-position: -197px -460px !important;
    margin-right: 3px;
}

.queryinternals-biz-wp-tree-image-process {
    background-position: -286px -461px !important;
    margin-right: 3px;
}

.queryinternals-biz-wp-tree-image-task {
    background-position: -320px -464px !important;
    margin-right: 3px;
}

.queryinternals-biz-wp-tree-image-position {
    background-position: -320px -464px !important;
    margin-right: 3px;
}

.queryinternals-biz-wp-tree-image-processVersion {
    background-position: -264px -461px !important;
    margin-right: 3px;
}

.queryinternals-biz-wp-tree-image-organization {
    background-position: -367px -354px !important;
    margin-right: 3px;
}

.queryinternals-biz-wp-tree-image-loading {
    background-position: -384px -464px !important;
    margin-right: 3px;
}

.queryinternals-defaultvalue-action-btn{
    width: 100%;
    margin-top: 0px !important;
    max-height: 148px;
    overflow: auto;
}

.queryinternals-defaultvalue-action-btn.active {
    border: 1px solid #D4D6D9;
}

.queryinternals-ui-bizagi-wp-app-inbox-cases-ico-view{
    width: 21px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 22px;
}

.queryinternals-ui-bizagi-wp-app-inbox-cases-ico-view span{
    background: url(images/biz-wp-icons-sprite.png) -22px -90px no-repeat;
    display: block;
    height: 22px;
    width: 22px;
    cursor: pointer;
}

.queryinternals-defaultvalue-mainItem{
    background: -webkit-linear-gradient(top, rgba(252, 237, 178, 1), rgba(252, 226, 137, 1) 30%, rgba(252, 226, 137, 1) 60%, rgba(253, 250, 224, 1));
    border: 1px solid #f0cb54;
}

.queryinternals-defaultvalue-value-loading {
    text-align: center;
    height: 30px;
    padding: 8px;
}

.queryinternals-defaultvalue-image-rule-delete{
    background-position: -801px -32px !important;
    right: -21px !important;
}