﻿<script id="ui-bizagi-render-form" type="text/x-kendo-template">
    <div class="ui-bizagi-form" style="width: 100%;" data-unique-id="#= data.uniqueId #" >

        #if(data.processPath != "" && !data.queryForm && !data.summaryForm && !data.globalForm && !data.activityForm){#
        <div class="bz-wp-casePathForm">
            #for(var i=0, len = data.breadCrumb.length; i < len; i++){#
                <div class = "bz-wp-casePathForm-item">
                    <span>#= data.breadCrumb[i] #</span>
                    #if(i != len-1){#
                    <span class="bz-wp-casePathForm-next ui-bizagi-next"></span>
                    #}#
                </div>
            #}#
        </div>
        #}else{#
            #if(data.displayName != "" && data.displayName != null){#
            <div class="bz-wp-caseNameForm">
                #= data.displayName ?  data.displayName: "" #                
            </div>
            #}#
        #}#
        <div class="ui-bizagi-container-children-form">
            {{children}}
        </div>
        <div id="container-items-edit"></div>

        <div class="ui-bizagi-button-container">
            # for(var i=0, len = data.buttons.length; i < len; i++){ #
                <div ordinal="#= i #" id="formButton#= i #" class="action-button ui-bizagi-form-button">#= data.buttons[i].caption #</div>
            #}#
        </div>
    </div>
    #if(data.transitions){#
    #= $.cacheTemplate("complexgateway", data)#
    #}#
</script>

<script id="ui-bizagi-render-complexGateway" type="text/x-kendo-template">
    <div class="ui-bizagi-container-complexgateway ">
        <div class="bz-rn-cg-headercontainer">
            <span class="bz-rn-cg-headertitle">%{render-widget-complexgateway-title}</span>
        </div>
        <div class="">
             # $.each (data.transitions, function (i, item) { #
            
            <div class="bz-rn-cg-row ">
                <span  class="bz-rn-cg-row-element">
                    <label>#= item.displayName #</label>
                </span>

                <div class="bz-rn-cg-row-element" >
                    <div class="">
                        <div class="">
                            <div class="ui-checkbox bz-rn-cg-checkbox">
                                # if(item.isDefault === 'true'){ #
                                <label class="ui-checkbox-state-checked" for="check_complexgateway_#= item.id #" data-checked="true" data-value="#= item.id #"></label>
                                #}else{#
                                <label for="check_complexgateway_#= item.id #" data-checked="false"  data-value="#= item.id #"></label>
                                #}#
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            #}); #
        </div>
    </div>
</script>