﻿<div class="ui-bizagi-container ui-bizagi-container-tab #= data.cssclass # # if (data.tabOrientation === 'rtl'){# bz-container-rtl #}#" data-unique-id="#= data.uniqueId #">
    <div class="isTab">
        # $.each (data.tabs, function (i, tab) { #     
        <div class="cell bz-container-items-tabs " data-reference-tab="\\#ui-bizagi-tab-#= tab.id #" data-index="${i}">
            <span class="bz-tabs-display-name" >#= tab.displayName #</span>
        </div>
        # }) #
    </div>
    {{children}}
</div>