.ui-bizagi-newCaseButton-style span{
	padding-right: 40px;
	padding-left: 8px;
	position: relative;
}


.ui-bizagi-newCaseButton-style i{
	position: absolute;
	right: 0;
	top: 0;
}

.ui-bizagi-wp-app-ico-new-case{
	margin-left: 4px;
	margin-right: 4px;
    margin-top: 2px;
}

.ui-bizagi-newCaseButton-style i:before{
	content: '';
	position: absolute;
	right: 26px;
	top: 0;
	height: 95%;
	width: 0;
	border-right: 1px solid #DFDFDF;
	border-left: 1px solid #FFF;
}

.ui-bizagi-newCaseButton-style .ui-button:hover span:after{
	border-right: 1px solid #747A83;
	border-left: 1px solid #3C3F42;
}
.ui-bizagi-sharepoint-createNewCaseButton.ui-bizagi-sharepoint-webpart-parentdiv{
	background: none #fff!important;
}

#btnNewCase{
    display: inline-block;
    text-align: center;
    position: relative;
    vertical-align: top;
    background-color: #FBFBFB;
    border: solid 1px #D9D9D9;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #B5B5B5;
    border-radius: 4px;
    padding: 6px 12px;
    padding-right: 32px;
    margin: 4px 6px;
    cursor: pointer;
    color: #676767!important;
    line-height: 16px;
}

#btnNewCase:hover{
    background-color: #FFF;
    color:#444!important;
    border-color:#E9E9E9;
}