/*
    Document   : default.less.css
    Created on : Feb 27, 2012, 10:31:44 AM
    Author     : Edward Morales edward.morales{_at_}bizagi.com
    Description:
        This document will give you the control to configure all visual elements of workportal.
*/


/*----------------------*/
/* COLORS DEFINITION    */
/*----------------------*/
@general-background-color:  #dedede;        /* Background color*/
@general-color:             #444;           /* Text color */

@link:                      #1f74b2;        /* Color of links elements <a> */

@bare:                      #bbb;
@pale:                      #999;
@neutral:                   #666;
@opaque:                    #333;
@sharp:                     #000;
@contrast:                  #ffffff;
@firm:                      #fc6c06;
@positive:                  #73ab00;
@negative:                  #c20000;

/*-----------------------------*/
/* IMAGES DEFINITION (SPRITES) */
/*-----------------------------*/
@sprite: "../../images/desktop-sprite.png";
@logo: "../../images/desktop-logo.png";
@bg-inputs: "../../images/desktop-bg-inputs.png";
@bg-dots-header: "../../images/desktop-dots-header.png";
@bg-dots-columns: "../../images/desktop-dots-columns.png";
@bg-dots-lines: "../../images/desktop-dots-lines.png";
@bg-noise: "../../images/desktop-noise.png";
@arrow-up: "../../images/desktop-arrow-up.png";
@arrow-up-ie8: "../../images/desktop-arrow-up-ie8.png";


/*----------------------*/
/* FONT DEFINITION      */
/*----------------------*/
@font-face
{
    font-family: 'NeoSansStdRegular';
    src: url('../../fonts/neosansstd-regular-webfont.eot');
    src: url('../../fonts/neosansstd-regular-webfont.eot?iefix') format('eot'),
        url('../../fonts/neosansstd-regular-webfont.ttf') format('truetype'),
        url('../../fonts/neosansstd-regular-webfont.svg#webfontUDPuYi0Y') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face
{
    font-family: 'NeoSansStdBold';
    src: url('../../fonts/neosansstd-bold-webfont.eot');
    src: url('../../fonts/neosansstd-bold-webfont.eot') format('embedded-opentype'),
         url('../../fonts/neosansstd-bold-webfont.woff') format('woff'),
         url('../../fonts/neosansstd-bold-webfont.ttf') format('truetype'),
         url('../../fonts/neosansstd-bold-webfont.svg#NeoSansStdBold') format('svg');
   font-weight: bolder;
}

@font-face
{
    font-family: 'NeoSansStdMedium';
    src: url('../../fonts/neosansstd-medium-webfont.eot');
    src: url('../../fonts/neosansstd-medium-webfont.eot?iefix') format('eot'),
        url('../../fonts/neosansstd-medium-webfont.ttf') format('truetype'),
        url('../../fonts/neosansstd-medium-webfont.svg#webfontUR0uETTj') format('svg');
    font-weight: normal;
    font-style: normal;
}


html, body
{
    font-family: NeoSansStdRegular;
    font-size: 11.5px;
    overflow: hidden;
    scrollbar-face-color: #d4d4d4;
    scrollbar-base-color: #EBF5FF;
    scrollbar-arrow-color: #546376;
    scrollbar-track-color: #DfDBDf;
    scrollbar-shadow-color: #A5A5A5;
    scrollbar-highlight-color: #A5A5A5;
    scrollbar-3dlight-color: #E5E5E5;
    scrollbar-darkshadow-color: #E5E5E5;
    background-color: @general-background-color;/* Styles scrollbar for Interner Explorer */
    }

/* Scrollbars para body */
::-webkit-scrollbar{
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background-color: rgba(72,90,106,0.1);
}

::-webkit-scrollbar-thumb {
	width: 8px;
	border-radius: 7px;
	border: 2px solid rgba(255, 255, 255,0.5);
	background-color: rgba(89, 103, 117, 0.5);	
}

a
{
    color: @link;
    text-decoration:underline;
}
a:hover
{
    text-decoration:underline;
}


#footer
{
    border-top:1px solid #9b9b9b;
    background: #d7d7d7; /* Old browsers */
    background: -moz-linear-gradient(top, #f4f4f4 0%, #b4b4b4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#b4b4b4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f4f4f4 0%,#b4b4b4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f4f4f4 0%,#b4b4b4 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #f4f4f4 0%,#b4b4b4 100%); /* IE10+ */
    background: linear-gradient(top, #f4f4f4 0%,#b4b4b4 100%); /* W3C */
    box-shadow: 0px -5px 6px 0px rgba(0, 0, 0, 0.2);
}

/*---------------*/
/* ERROR MESSAGE */
/*---------------*/
.ui-bizagi-wp-notCompatibleIE-error
{
    background:#dadada;
    -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
}

.ui-bizagi-wp-notCompatibleIE-goToOldApplication
{
    color: #2f526c;
}

/*==============================================================*/
/*                       WIDGETS DEFINITION                     */
/*==============================================================*/


/*------------------------------*/
/*   INBOX WIDGET DEFINICION    */
/*------------------------------*/
/*         BEGIN TOP BAR             */
#ui-bizagi-wp-app-inbox-bt-eye
{
    background-image: url("@{sprite}");
    background-position: -48px -53px;
}
#ui-bizagi-wp-app-inbox-bt-eye:hover, #ui-bizagi-wp-app-inbox-bt-eye:active
{
    background-image: url("@{sprite}");
    background-position: -140px -53px;
}
#ui-bizagi-wp-app-inbox-bg-eye
{
    background-color:rgba(0,0,0,0.1);
    box-shadow:inset 0px 1px 5px 2px rgba(0,0,0,0.3);
}
#ui-bizagi-wp-app-inbox-bg-eye:before
{
    color:#ffffff;
    box-shadow:0px 1px 0px 0px rgba(255,255,255,0.15);
}
/* Background bar */
#contentInbox
{
    color:#f5f5f5;
    background: linear-gradient(top, #396585 0%,#193245 100%); /* W3C */
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
    font-weight:normal;
}
#contentInbox h2:hover
{
    text-shadow: 0 0 5px #ffffff;
    color:#ffffff;
}
#innerContentInbox
{
    background:url("@{bg-noise}") 0 0 repeat;
    border-bottom:1px solid rgb(33,43,49);
    border-bottom:1px solid rgba(0,0,0,0.4);
    border-top:1px solid rgb(69,109,138);
    border-top:1px solid rgba(255,255,255,0.1);
}
/*       END TOP BAR         */

/*       BEGIN CASES SECTION       */
#contentCases
{
    background: url("@{bg-dots-columns}") repeat scroll 0 0 #CECECE;
    border-right: 2px solid #9B9B9B;
    box-shadow: 2px 0 3px 0 rgba(0, 0, 0, 0.2);
}
#contentCases.casesGrid
{
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    background:#dedede url("@{bg-dots-columns}") 0 0 repeat;
}
#ui-bizagi-wp-app-inbox-cases-container .selected,
#ui-bizagi-wp-app-inbox-cases-container li.selected:hover
{
    background: #a6aeb2; /* Old browsers */
    background-image:url("@{bg-dots-lines}");
    background-image: linear-gradient(top, rgba(191,197,200,1) 0%,rgba(155,164,168,1) 100%); /* W3C */
}
#ui-bizagi-wp-app-inbox-cases-container li:hover
{
    background: #cbd0d1; /* Old browsers */
    background: linear-gradient(top, #d8dbdc 0%,#c6cbcd 100%); /* W3C */
}
.ui-bizagi-wp-app-inbox-cases-container ul
{
    background:#e6e6e6;
    border:1px solid #98a1a8;
}
#ui-bizagi-wp-app-inbox-cases-container #caseId h3
{
    font-weight: normal;
    font-family: 'NeoSansStdMedium';
    font-size:135%;
    text-shadow: 0 1px 0 rgba(255,255,255,0.4);
    color:#283238;
}
#ui-bizagi-wp-app-inbox-cases-container #caseActivity
{
    font-size:115%;
    font-weight:normal;
    border-bottom:1px solid #bcbcbc;
    border-top:1px solid #bcbcbc;
    color:#2f526c;
}
/*       END CASES SECTION       */

/*       BEGIN CASE SUMMARY SECTION       */
.ui-bizagi-wp-app-inbox-activity-description
{
    background-color: #f2f2f2;
    border:1px solid #98A1A8;
    color:#444444;
}
.ui-bizagi-wp-app-inbox-activity-description > div
{
    background:#e6e6e6;
}
.ui-bizagi-wp-app-render-desc-panel .ui-bizagi-wp-app-inbox-activity-description
{
    background-color: #e6e6e6;
}
.ui-bizagi-wp-app-render-desc-panel .ui-bizagi-wp-app-inbox-activity-description > div
{
    background-color: #dadada;
}
.ui-bizagi-wp-app-inbox-activity-description h2
{
    font-family: 'NeoSansStdMedium';
    font-size: 175%;
    font-weight:normal;
    color: #2f526c;
    border-bottom: 1px solid #ccc;
}
.ui-bizagi-wp-app-inbox-activity-description .ui-bizagi-wp-app-inbox-cases-description-ico-state
{
    border-right:1px solid #b8b8b8;
}
.ui-bizagi-wp-app-inbox-activity-description #ui-bizagi-wp-app-inbox-cases-ico-state-Red
{
    background: rgb(235,44,44); /* Old browsers */
    background-image: linear-gradient(top, rgba(235,44,44,1) 0%,rgba(159,20,20,1) 100%); /* W3C */
}
.ui-bizagi-wp-app-inbox-activity-description #ui-bizagi-wp-app-inbox-cases-ico-state-Green
{
    background: rgb(16,114,28); /* Old browsers */
    background-image: linear-gradient(top, rgba(55,156,68,1) 0%,rgba(16,114,28,1) 100%); /* W3C */
}
.ui-bizagi-wp-app-inbox-activity-description #ui-bizagi-wp-app-inbox-cases-ico-state-Yellow
{
    background: #d4bd09; /* Old browsers */
    background-image: linear-gradient(top, rgba(241,224,4,1) 0%,rgba(180,150,15,1) 100%); /* W3C */
}
#ui-bizagi-details-tabs dd, .box-description dd
{
    background:#dadada;
}
.ui-tabs-panel a {
    color: #1F74B2;
}

/*       END CASE SUMMARY SECTION       */

/*       BEGIN FOOT SECTION       */
#ui-bizagi-wp-app-inbox-tab-container
{
    border-right:2px solid #9b9b9b;
}
#ui-bizagi-wp-app-inbox-tab-container ul li.ui-bizagi-wp-app-inbox-tab
{
    border-left:1px solid #9b9b9b;
}
#ui-bizagi-wp-app-inbox-tab-container ul li.ui-bizagi-wp-app-inbox-tab.active
{
    box-shadow:inset 0 1px 8px 2px rgba(0,0,0,0.3);
}
#ui-bizagi-wp-app-inbox-tab-container ul li.ui-bizagi-wp-app-inbox-tab.active .toolTip,
#ui-bizagi-wp-app-inbox-tab-container ul li.ui-bizagi-wp-app-inbox-tab:hover .toolTip
{
    background-color: #F2F2F2;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5) inset;
}
#ui-bizagi-wp-app-inbox-tab-container .toolTip{
    background: url("@{bg-dots-lines}") repeat 0 0 #f2f2f2;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3) inset;
    color: #333333;
    font-weight: bold;
    text-align: center;
}
/*       END FOOT SECTION       */

/*       BEGIN PROCESS SECTION       */
#contentProc
{
    background: url("@{bg-dots-columns}") repeat scroll 0 0 #CECECE;
    border-right: 2px solid #9B9B9B;
    box-shadow: 2px 0 3px 0 rgba(0, 0, 0, 0.2);
}
#ui-bizagi-wp-app-inbox-processes-container ul
{
    background:#e6e6e6;
    border:1px solid #98a1a8;
}
#ui-bizagi-wp-app-inbox-processes-container li
{
    border-top:1px solid #b8b8b8;
}
#ui-bizagi-wp-app-inbox-processes-container li:nth-child(2n)
{
    background-color: #dadada;
}
#ui-bizagi-wp-app-inbox-processes-container .selected,
#ui-bizagi-wp-app-inbox-processes-container li.selected:hover
{
    background: #a6aeb2; /* Old browsers */
    background-image:url("@{bg-dots-lines}");
    background-image: linear-gradient(top, rgba(191,197,200,1) 0%,rgba(155,164,168,1) 100%); /* W3C */
}
#ui-bizagi-wp-app-inbox-processes-container li:hover
{
    background: #cbd0d1; /* Old browsers */
    background: linear-gradient(top, #d8dbdc 0%,#c6cbcd 100%); /* W3C */
}
.ui-bizagi-wp-app-inbox-processes-ncase
{
    background: #f2f2f2 url("@{bg-dots-lines}") 0 0 repeat;
    color:#333333;
    box-shadow:inset 0 2px 3px 0 rgba(0,0,0,0.3);
}
#ui-bizagi-wp-app-inbox-processes-container .selected .ui-bizagi-wp-app-inbox-processes-ncase,
#ui-bizagi-wp-app-inbox-processes-container li:hover .ui-bizagi-wp-app-inbox-processes-ncase
{
    background-color: #f2f2f2;
    box-shadow:inset 0 2px 3px 0 rgba(0,0,0,0.5);
}
.ui-bizagi-wp-app-inbox-processes-title
{
    color: #525252;
    font-size: 115%;
    font-weight:normal;
    box-shadow:0 1px 0 0 rgba(255,255,255,0.2);
}
#contentProc .ui-bizagi-wp-app-inbox-processes-title .arrow.Right
{
    border-left:5px solid #525252;
}
.ui-bizagi-wp-app-inbox-processes-title .arrow.Down
{
    border-top:4px solid #525252;
}
.ui-bizagi-wp-app-inbox-processes-title .arrow.Left
{
    border-right: 6px solid #0072BC;
}
.ui-bizagi-wp-app-inbox-processes-name
{
    font-size: 115%;
    color: #283238;
    font-weight:normal;
    text-shadow: 0 1px 0 rgba(255,255,255,0.4);
}
/*       END PROCESS SECTION       */

/*       BEGIN PAGINATION CONTROL       */
#casesPagination{
    border-right:2px solid #9b9b9b;
}
#casesPagination ul li{
    color:#787878;
    text-align:center;
}
#casesPagination ul li:hover span
{
    color:#525252;
}
#casesPagination ul li.active, #casesPagination ul li.active:hover
{
    color:#f5f5f5;
    background-color: rgb(148,148,148);
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.3) inset;
}
#casesPagination ul li.active:hover span
{
    color:#f5f5f5;
}
#casesPagination ul li.active span
{
    text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
}
#tooltipPagination
{
    text-align: center;
    background-color: #F4F4F4;
}
/*       END PAGINATION CONTROL       */




/*-----------------------------------*/
/*   INBOX GRID WIDGET DEFINICION    */
/*-----------------------------------*/
.ui-bizagi-wp-app-inbox-grid-cases-container table,
.personalizedColumnsContainer table
{
    background:#e6e6e6;
    border:1px solid #98a1a8;
}
.ui-bizagi-wp-app-inbox-grid-cases-container table td,
.personalizedColumnsContainer table td
{
    border-top: 1px solid #b8b8b8;
}
.ui-bizagi-wp-app-inbox-grid-cases-container thead td,
.personalizedColumnsContainer table thead td
{
    color: #f5f5f5;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    font-size:115%;
    background: #5d6771; /* Old browsers */
    background: linear-gradient(top, #7b8b9a 0%,#4a4f56 100%); /* W3C */
    border-bottom:1px solid #3c4046;
}
#ui-bizagi-wp-app-inbox-grid-cases tbody .event,
.personalizedColumnsContainer table tbody .event
{
    background-color: #DADADA;
}
#ui-bizagi-wp-app-inbox-grid-cases .selected td,
.ui-bizagi-wp-app-inbox-grid-cases-container tbody tr:hover td,
.personalizedColumnsContainer table tbody tr:hover td
{
    background: #b1b8bc; /* Old browsers */
    background-image: url("@{bg-dots-lines}");
    background-image: linear-gradient(top, rgba(191,197,200,1) 0%,rgba(155,164,168,1) 100%); /* W3C */
}
.gridListWorkItems li .ui-bizagi-wp-app-inbox-activity-name
{
    color: #1F74B2;
}


/*------------------------------*/
/*   ASYNC WIDGET DEFINICION    */
/*------------------------------*/
.ui-bizagi-wp-async-case-number {
    font-family: 'NeoSansStdMedium';
    font-size: 22.5px;
    font-weight:normal;
    color: #2f526c;
}

.ui-bizagi-wp-async-description dd
{
    background:#dadada;
    -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
}

.ui-bizagi-wp-async-error
{
    font-family: 'NeoSansStdMedium';
    background:#dadada;
    -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
}

.ui-bizagi-wp-async-goToInbox
{
    font-family: 'NeoSansStdMedium';
    color: #2f526c;
}


/*----------------------*/
/*   MENU DEFINICION    */
/*----------------------*/
.ui-bizagi-wp-mini-arrow
{
    border-top:5px solid #f5f5f5;
    border-left:4px solid transparent;
    border-right:4px solid transparent;
    border-bottom:0px solid transparent;
    color:#ffffff;
}
#ui-bizagi-wp-app-menu-container #build
{
    color:rgb(131,139,144); color:rgba(255,255,255,0.4);
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}
#ui-bizagi-wp-menu-username
{
    font-family: 'NeoSansStdMedium'; font-weight:normal;
    text-align:right;
    color:#f5f5f5;
    background: url("@{sprite}") -354px -186px no-repeat;
}
#ui-bizagi-wp-app-search input{
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5) inset;
    background-color:rgba(0,0,0,0.25);
    font-family:'NeoSansStdMedium';
    color:rgb(131,139,144);
    color:rgba(245,245,245,0.6);
}

#ui-bizagi-wp-app-search:hover input,
#ui-bizagi-wp-app-search input:focus,
#ui-bizagi-wp-app-search input:hover
{
    background: url("@{bg-inputs}") repeat-x scroll 0 0 #f2f2f2;
    color:#666;
}

#ui-bizagi-wp-app-bt-search
{
    background: url("@{sprite}") -7px -148px no-repeat;
} 
#ui-bizagi-wp-app-menu-logo
{
    background-image: url("@{sprite}");
    background-position: -544px -244px;
    width: 108px;
    height: 43px;
}
#ui-bizagi-wp-app-menu-container
{
    background: url('@{bg-dots-header}') 0 0 repeat;
}

#ui-bizagi-wp-app-menu-logo-client
{
    display: table-cell;
    height: 100%;
    padding: 0 0 0 10px;
    position: relative;
    vertical-align: middle;
}

#ui-bizagi-wp-app-menu-logo-client img {
    -ms-interpolation-mode: bicubic;
    width: auto;
    max-height: 38px;
}

#ui-bizagi-wp-menu
{
    background: linear-gradient(top, #37464f 20%,#161b1e 100%); /* W3C */
}
/* Icons */
#main_menu li .icon
{
    background:url("@{sprite}");
}
#main_menu li .widgets{
    background-position: 0 0;
}
#main_menu li .new
{
    background-position: -3px -3px;
}
#main_menu li .favorites
{
    background-position: -141px -3px;
}
#main_menu li .inbox
{
    background-position: -49px -3px;
}
#main_menu li .preferences
{
    background-position: -95px -3px;
}
#main_menu li .queries
{
    background-position: -187px -3px;
}
#main_menu li .admin
{
    background-position: -233px -3px;
}
#main_menu li .reports
{
    background-position: -279px -3px;
}
#searchNotFound{
    color: #ffffff;
    text-align: center;
    margin-top: 3px;
    text-shadow: 0px 0px 5px #f66f66;
}


/*-----------------------------*/
/*   MODAL MENUS DEFINICION    */
/*-----------------------------*/
.modalMenuBtWidget #modalTitle{
    color: #f5f5f5;
}
#modalContentDisplayWidgets
{
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    background-color: #F5F5F5;
}
#modalContentDisplayWidgets li a
{
    color: #ffffff;
}
#modalContentDisplayWidgets .widgetsListDisplay li{
    border-bottom-color: #000000;
    color:#333333;
}
#modalContentDisplayWidgets .widgetsListDisplay li:hover{
    background: linear-gradient(top, #939cad 0%,#546376 100%); /* W3C */
    background-color: #939cad; /*old browsers*/
    color:#f5f5f5;
}

/*-------------------------------*/
/*  NEW CASE WIDGET DEFINICION   */
/*-------------------------------*/
#modalMenuBtList
{
    background:#cecece url("@{bg-dots-columns}") 0 0 repeat;
}
#modalMenuBtList > div ul
{
    background:#e6e6e6;
    border:1px solid #98a1a8;
}
#modalMenuBtList > div ul li
{
    color:#444444;
}
#modalMenuBtList > div li:hover
{
    background: #b1b8bc; /* Old browsers */
    background-image: url("@{bg-dots-lines}"), linear-gradient(top, rgba(191,197,200,1) 0%,rgba(155,164,168,1) 100%); /* W3C */
}
#modalMenuBtList > div li h3
{
    font-family: 'NeoSansStdRegular';
    font-size: 125%;
    color: #283238;
    font-weight:normal;
    text-shadow: 0 1px 0 rgba(255,255,255,0.4);
}
#modalMenuBtList > div li p
{
    color:#666;
}
#modalMenuBtList > div li:hover p
{
    color:#444444;
}
#modalMenuBtList > div li #arrow
{
    background: url("@{sprite}") -187px -145px no-repeat;
}
#modalMenuBtList > div li .processIco,
#modalMenuBtList > div li .categoryIco,
#modalMenuBtList > div li .categoryLinkIco
{
    background-image: url("@{sprite}");
}
.categoryTree
{
    border-bottom: 1px solid #acacac;
    box-shadow:0 1px 0 0 rgba(255,255,255,0.2);
}
.categoryTree  li
{
    color:#1f74b2;
}
#modalMenuBtList > div li .deleteButton,#modalMenuBtList > div li .editButton,#modalMenuBtList > div li .addButton{
    background: url("@{sprite}") 0 0 no-repeat;
}


/*-------------------------------*/
/*  POPUP WIDGET DEFINICION      */
/*-------------------------------*/
.modal
{
    background: #37464f; /* Old browsers */
    background: linear-gradient(top, #37464f 20%,#161b1e 100%); /* W3C */
    /*box shadow*/
    -webkit-box-shadow: 0px 0px 5px 0px #000000;
    -moz-box-shadow: 0px 0px 5px 0px #000000;
    box-shadow: 0px 0px 5px 0px #000000;
    border:1px solid #51616A;
}

.modal .selectarrow{
    background: url("@{arrow-up}") 0 0 no-repeat;
}
.ie8 .modal .selectarrow{
	background: url("@{arrow-up-ie8}") 0 0 no-repeat;
}
.modal .content
{
	background: url('@{bg-dots-header}') 0 0 repeat;
}
.modal #modalTitle
{
	color:#f5f5f5;
	font-size:135%;
	font-weight: normal;
	font-family: NeoSansStdMedium;
	float:left;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.35);
}


/*--------------------------------*/
/*  RENDER WIDGET DEFINICION      */
/*--------------------------------*/
#ui-bizagi-wp-app-render-desc-panel
{
    background:#cecece url("@{bg-dots-columns}") 0 0 repeat;
}
#panelArrowContainer
{
    background:#eeeeee url("@{bg-dots-lines}") 0 0 repeat;
    border-left:1px solid #c8c8c8;
    border-right:1px solid #b7b7b7;
}
#panelArrowContainer:hover
{
    background-color: #eaeaea;
}
#panelArrowContainer:hover #panelArrow.panelArrowLeft
{
    border-right:5px solid  #8A95A7;
}

#panelArrowContainer:hover #panelArrow.panelArrowRight
{
    border-left: 5px solid #8A95A7;
}
#ui-bizagi-wp-app-render-form
{
    background:#dedede url("@{bg-dots-columns}") 0 0 repeat;
}
.ui-bizagi-wp-app-render-actions .tooltip
{
    background: #29343b;
    border:1px solid #51616A;
    color: #ffffff;
}

.ui-bizagi-wp-app-render-actions .tooltip:before
{
    background: url("@{arrow-up}") 0 0 no-repeat;
}
#subprocess
{
    background:#e6e6e6;
}
.personalizedColumnsContainer table tbody tr:nth-child(2n+1) td
{
    background-color: #dadada;
}


/*
NOTAS:
delete menu.modal.widgets.tmpl.html

*/