﻿<script id="ui-bz-mobile-combo-control" type="text/x-kendo-template">
    <div class="bz-rn-container-combo">
        <input type="text" class="bz-rn-text new-combo-control"/>
        <span class="bz-cm-icon bz-rn-input-icon-combo-control km-icon km-inbox-combo"></span>
    </div>
</script>

<script id="ui-bz-wp-popup-combo-control" type="text/x-kendo-template">
    <div data-role="modalview" id="modalview-filter-combo" style="width: 50%; height: 100%">
        <div data-role="header">
            <div id="filter-header" data-role="navbar">
                <div class="filter-combo-modal-view-top-item">
                    <span class="title-search-in-combo">#if(data.displayName != ""){#
                            #= data.displayName #
                        #}else{#
                            Combo
                        #}#
                    </span>
                    <span class="bz-wp-search-on-combo-back-icon-list km-icon km-cancel"></span>
                </div>
                <div class="filter-combo-modal-view-bottom-item">
                    <input class="input-filter-results-on-combo" type="text" placeholder="" />
                    <span class="bz-wp-combo-search-icon-list km-icon km-search"></span>
                    <span class="km-icon km-new-smallsize km-notext bz-wp-combo-cancel-icon-list"></span>
                </div>
            </div>
        </div>

        <div id="ui-bizagi-wp-filter-results-combo-wrapper" class="">
            <ul class="ui-bizagi-render-list-combo ui-widget-content ui-corner-all">
                # if(data.items){ #
                # for (var i=0, len= data.items.length ; i < len; i++){ #
                <li id="ui-bizagi-list-#= data.items[i].id #" data-value="#= data.items[i].id #">#= data.items[i].value #</li>
                #}#
                #}#
            </ul>
        </div>

        <div data-role="footer">
            <div id="filter-footer" data-role="navbar">
                <button id="ui-bizagi-cancel-button" class="left-button" type="button">%{workportal-general-button-label-cancel}</button>
                <button id="ui-bizagi-apply-button" class="right-button" type="button">%{workportal-general-button-label-apply}</button>
            </div>
        </div>
    </div>
</script>