﻿<script id="bz-document-generator" type="text/x-kendo-template">
    <div class="ui-bizagi-render-documentgenerator">
        <div class="ui-bizagi-div-button-documentgenerator">
            #if (typeof data.allowgenerate !== 'undefined'){#
            <button class="ui-bizagi-render-button ui-button ui-widget ui-corner-all ui-bizagi-button-documentgenerator" type="button" onclick="">#= data.caption #</button>
            #}#
            <div class="ui-bizagi-div-error-container"></div>
            <div class="ui-bizagi-div-documentgenerator">
                <ol class="ui-bizagi-container-documents">
                    {{files}}
                    #if (typeof data.noFiles !== 'undefined'){#
                        <li><span></span></li>
                    #}#
                </ol>
            </div>
        </div>        
    </div>
</script>
<script id="bz-document-generator-item" type="text/x-kendo-template">
    <li class="ui-bizagi-document-upload-item" data-filename="#= data.filename #"
    #if (typeof data.joined !== 'undefined'){#
    data-joined="#= data.joined #"
    #}#>
        <span class="ui-bizagi-document-type"></span>
             <a href="#= data.url #" #if (data.mode == "execution"){# target="_blank" #}#
               title="#= data.filename #" href="javascript:void(0)"><span>#= data.filename #</span></a>
        <button type="button" class="ui-bizagi-document-preview ui-bizagi-button ui-button-text ui-button ui-widget ui-state-default ui-corner-all" data-url="#= data.url #" data-filename="#= data.filename #" data-joined="#= data.joined #"><i class="ui-bizagi-render-icon-search"></i></button>
    </li>
</script>

<script id="bz-document-generator-item-preview" type="text/x-kendo-template">
    <object width="100%" height="99%" type="application/pdf" data="#= data.url#" id="ui-bizagi-document-pdf-preview">
        <p>The pdf cannot be displayed, please click <a href="#= data.url#">here></a> to open the file</p>
    </object>
</script>

