<script id="ui-bizagi-render-image" type="text/x-kendo-template">
	<div class="ui-bizagi-render-upload-wrapper image-wrapper">
		<div class='ui-bizagi-render-image-wrapper' >
            #= $.cacheTemplate("image-item", data)#
		</div>
	</div>

    <div class="bz-resolution-container"></div>
</script>

<script id="ui-bizagi-render-image-item" type="text/x-kendo-template">
    #if (typeof data.url !== 'undefined' && data.url !== '' ){#
    <img src="#= data.url #">

    #}else{#
    <div class="bz-cm-icon image-file"></div>
    #}#
    <div class="bz_rn_upload_container_upload_items">
     <ul class="bz-rn-upload-options">
       <li>  <button type="button"  class="bz-cm-icon bz-upload-button image " ></button> </li>
       <li>  <button type="button"  class="bz-cm-icon bz-upload-button cimage" ></button> </li>
     </ul>
    </div>
</script>