﻿<div class="ui-container-control">
    <input class="ui-bizagi-render-numeric ui-container-data" type="#=data.type#" pattern="\d*[.]" />
    <span class="bz-cm-icon bz-rn-icon-number"></span>
</div>
