﻿<div class="ui-bizagi-render #= data.displayOptionClass #"
    #if (data.uniqueId){# data-unique-id="#=data.uniqueId#" #}#
    #if (data.id){# data-render-id="#=data.id#" #}#
    #if (data.xpath){# data-render-xpath="#=data.xpath#" #}#
    #if (data.tag){# data-render-tag="#=data.tag#" #}#>
    <div class="ui-bizagi-label">
        <label>#= data.label #</label>
    </div>    
    <div class="ui-bizagi-render-control">
        {{control}}        
    </div>
    
    #if (data.helpText){#
    <div class="ui-bizagi-helptext" data-helptext="#= data.helpText #" >
        <span class="bz-cm-icon bz-rn-icon-heltext"></span>
    </div>
    #}#
</div>