<div class=biz-render-searchlist>
    <ul>        
        # $.each (data.value, function (i, item) { #
        <li data-id=#= item.id #>
            <label>#= item.value #</label>
            <a class=removeItem></a>
        </li>        
        #}); #
        <li>
            <input class=biz-render-input-search type=text placeholder="Type to search..." />
        </li>
    </ul>
    <input type=button class=button-search />
</div>