﻿<ul class="ui-bizagi-render-upload-container">
    # if (typeof data.editable !== 'undefined' && data.editable){ #
    <li class="ui-bizagi-render-upload-wrapper"></li>
    #}# # if (typeof data.noFiles !== 'undefined' && data.noFiles){#
    <li class="ui-bizagi-render-upload-item-no-upload">%{render-upload-no-files}</li>
    #}#
    <ul class="files" style="padding: 0">
        {{files}}
        <li class="bz-rn-upload-show-menu">
            <span class="bz-cm-icon-file"></span>
        </li>
    </ul>
</ul>
<div class="bz_rn_upload_container_upload_items">
    <ul class="bz-rn-upload-options">
        <li>
            <button type="button" class="bz-cm-icon bz-upload-button image">
            </button>
        </li>
        <li>
            <button type="button" class="bz-cm-icon bz-upload-button cimage">
            </button>
        </li>
        <li>
            <button type="button" class="bz-cm-icon bz-upload-button caudio">
            </button>
        </li>
        <li>
            <button type="button" class="bz-cm-icon bz-upload-button cvideo">
            </button>
        </li>
        <li>
            <button type="button" class="bz-cm-icon bz-upload-button file">
            </button>
        </li>
    </ul>
</div>
<div class="bz-resolution-container"></div>
