﻿<li class="ui-bizagi-render-upload-item" data-id="#= data.id #" data-url='#= data.url #'>
    # if (typeof (cordova) === "undefined") { #   
    <a href="#= data.url #" #if (data.mode == "execution") { # target="_blank" #}# title="#= data.filename #" >#= data.filename #</a>

    # } else { #
    <a href='javascript:void(0)'  onclick="window.open('#= data.url #', '_system');"  title="#= data.filename #"  > #= data.filename #</a>
    # } #

     #if( data.allowDelete ){#
        <div class="bz-rn-upload-delete-icon"> X </div>
     #}#
</li>
