﻿<span>
    <label for="radio#= data.id #yes" class="ui-bizagi-render-yesno">
        <input class="bz-cm-icon ui-bizagi-render-boolean-radio yes" type="radio" id="radio1" value="true"  name="radio#= data.id #name" />
        %{render-boolean-yes}
    </label>
    <label for="radio#= data.id #no" class="ui-bizagi-render-yesno">
        <input class="bz-cm-icon ui-bizagi-render-boolean-radio no" type="radio" id="radio2" value="false" name="radio#= data.id #name"/>
        %{render-boolean-no}
    </label>
</span>