<script id="ui-bizagi-plugin-search-user" type="text/x-jquery-tmpl">
    <div id="searchResults">
        <table class="biz-wp-table" cellspacing="2" cellpadding="2" width="100%" border="0">
            <thead class="biz-wp-table-head">
                <tr>
                    <th><a data-id="idUser" data-orderType="asc" class="user-column-link">%{workportal-widget-usertable-id}</a></th>
                    <th><a data-id="user" data-orderType="asc" class="user-column-link">%{workportal-widget-usertable-user}</a></th>
                    <th><a data-id="userName" data-orderType="asc" class="user-column-link">%{workportal-widget-usertable-name}</a></th>
                    <th><a data-id="domain" data-orderType="asc" class="user-column-link">%{workportal-widget-usertable-domain}</a></th>
                    <th><a data-id="email" data-orderType="asc" class="user-column-link">%{workportal-widget-usertable-email}</a></th>
                    <th><a data-id="enabledForAssignation" data-orderType="asc" class="user-column-link">%{workportal-widget-usertable-active-assign}</a></th>
                    <th><a data-id="enabled" data-orderType="asc" class="user-column-link">%{workportal-widget-usertable-active}</a></th>
                    <th><a data-id="action" data-orderType="asc" class="user-column-link"></a></th>
                </tr>
            </thead>
            <tbody class="biz-wp-table-body">
                {{each(i, item) users }}
                <tr {{if i % 2 === 0 }}class="biz-wp-table-row-even"{{/if}}>
                    <td class=" BorderCell BAMainFontColor"> <span> ${item.idUser} </span> </td>
                    <td class=" BorderCell BAMainFontColor"> <span> ${item.userName} </span> </td>
                    <td class=" BorderCell BAMainFontColor"> <span> ${item.user} </span> </td>
                    <td class=" BorderCell BAMainFontColor"> <span> ${item.domain} </span> </td>
                    <td class=" BorderCell BAMainFontColor"> <span> ${item.email} </span> </td>
                    <td class=" BorderCell BAMainFontColor"> <span> {{if item.enabledForAssignation == true}} %{render-boolean-yes} {{else}} %{render-boolean-no} {{/if}} </span> </td>
                    <td class=" BorderCell BAMainFontColor"> <span> {{if item.enabled == true}} %{render-boolean-yes} {{else}} %{render-boolean-no} {{/if}} </span> </td>
                    <td class=" BorderCell BAMainFontColor">
                        {{each(x, val) links}}
                        <button id="${item.idUser}" name="${item.userName}" class="bizagi-wp-usertable-userlink ui-button" data-iduser="${item.idUser}" data-username="${item.userName}" data-user="${item.user}" data-domain="${item.domain}" data-email="${item.email}">
                            {{if val.icon}}<i class="bz-wp-icon bz-wp-icon-24 ${val.icon}"></i>{{/if}}
                            <span>{{if val.label}} ${val.label} {{else}} ${val} {{/if}}</span>
                        </button>
                        {{/each}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        <div id="biz-wp-userstable-pager" class="biz-wp-table-summary-wrapper">
            {{tmpl({pagination: pagination, pagesArray: pagesArray, page: page}) "#ui-bizagi-workportal-widget-usersTable-pagination"}}
        </div>
    </div>
</script>