﻿body {
}
/* Grid Flat*/

.ui-bizagi-grid
{
    position: relative;
    border-radius: 0;
    background-color: rgba(62,81,90,0.05);
    border: 1px solid rgba(62,81,90,0.1);
    margin: 0px 15px 0 15px;
}

.ui-bizagi-grid .ui-bizagi-waiting
{
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 100% !important;
    min-height: 64px;
}

.ui-bizagi-grid > div:last-child
{
    border-radius: 0;
}

.ui-bizagi-grid h3
{
    font-size: 14px;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
    color: #195891;
}

.ui-bizagi-grid .ui-bizagi-grid-pager
{
    border-radius: 0;
    border-top: 1px solid rgba(62,81,90,0.1);
    background: rgba(62,81,90,0.05);
    padding: 2px 0px;    
}

.ui-bizagi-grid .ui-bizagi-grid-pager ul
{
    list-style-type: none;
    margin: -1px 0 -1px 10px;
    padding: 0px;
    position: relative;
}

.ui-bizagi-grid .ui-bizagi-grid-pager ul
{
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    list-style-type: none;
}

.ui-bizagi-grid .ui-bizagi-grid-pager ul li
{
    /*color: #31414C;*/
    background-color: transparent;
    font-size: 14.5px;
    display: inline-block;
    padding: 6px 15px 6px 15px;
    border-left: 1px solid #f4f4f4;
    border-right: 1px solid #dcdcdc;
}

.ui-bizagi-grid .ui-bizagi-grid-pager ul li.ui-bizagi-active
{
    color: #f5f5f5;
    background-color: rgba(0, 0, 0, 0.3);
}

/*
.ui-bizagi-grid .ui-bizagi-grid-pager ul li:active {   
    color: #f5f5f5;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.3) inset;
}*/

.ui-bizagi-grid [data-bizagi-component="table"]
{
    overflow: auto;
}

.ui-bizagi-grid .ui-bizagi-grid-header [data-bizagi-component="columns"]
{
    word-break: break-word;
}

[data-bizagi-component="buttons"]
{
    position: absolute;
    right: 5px;
    top: 5px;
}

.ui-bizagi-grid-buttons ul
{
    text-align: right;
    height: auto;
    margin: 0;
    list-style-type: none;
    display: -webkit-inline-flex; /* Safari */
    display: inline-flex;
}

.ui-bizagi-grid-buttons ul li
{
    display: inline-block;
    width: 40px;
    height: 30px;
}

.ui-bizagi-grid-buttons ul li div
{
    width: 24px;
    height: 24px;
    position: relative;
    top: 6px;
    left: 6px;
}

.ui-bizagi-grid-buttons ul li .ui-icon
{
    font: 1em/1em "bizagiflat";
    color: #3E515A;
    font-size: 20px;
    padding: 0 0 0 5px;
    position: relative;
    top: 3px;
}

.ui-bizagi-grid-buttons ul li div.ui-icon-menu:after
{
    content: "\e600";
}

.ui-bizagi-grid-buttons ul li div.ui-icon-sum:after
{
    content: "\e618";
}


.ui-bizagi-grid-buttons ul li div.ui-icon-pencil:after
{
    content: "\e624";
}

.ui-grid-buttons-hidden
{
    display: none !important;
}

/* End Grid Offline */

.ui-bizagi-grid-row-buttons
{
    position: absolute;
    display: none;
    padding-left: 20px;
    z-index: 2;
}

.ui-bizagi-grid-row-buttons ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    border: none;
    background-color: rgba(255,255,255,0.95);
    box-sizing: border-box;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
}

.ui-bizagi-grid-row-buttons ul li
{
    float: left;
    padding: 1px;
    margin: 0;
    width: 40px;
    height: 40px;
    position: relative; /*color: #3E515A;*/
    border-right: 1px solid #E4E8E9;
}

.ui-bizagi-grid-row-buttons::before
{
    position: absolute;
    top: -9px;
    content: "";
    display: block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(255,255,255,0.95);
    margin-left: 5px;
}

.ui-bizagi-grid-row-buttons ul li:first-child, .ui-bizagi-grid-row-buttons ul li:first-child div, .ui-bizagi-grid-row-buttons ul li:last-child div
{
    border-radius: 0;
}

.ui-bizagi-grid-row-buttons ul li div
{
    width: 24px;
    height: 24px;
    top: 7px;
    left: 7px;
    position: absolute;
}

.ui-bizagi-grid-row-buttons .ui-icon
{
    font: 1em/1em "bizagiflat";
    color: #3E515A;
    font-size: 20px;
    padding: 0 0 0 5px;
    position: absolute;
    top: 10px;
    left: 5px;
}

.bz-rn-icon-plus
{
    background-position: -329px -389px;
}

.bz-rn-icon-trash
{
    background-position: -253px -388px;
}

.bz-rn-icon-save
{
    background-position: -289px -388px;
}

.bz-rn-icon-cancel
{
    background-position: -357px -391px;
}

.ui-bizagi-grid-row-buttons ul li div.ui-icon-trash
{
    background-position: -297px -240px;
}
.ui-bizagi-grid-row-buttons ul li div.ui-icon-trash:after
{
    content: "\e629";
}
.ui-bizagi-grid-row-buttons ul li div.ui-icon-pencil
{
    background-position: -366px -240px;
}
.ui-bizagi-grid-row-buttons ul li div.ui-icon-pencil:after
{
    content: "\e624";
}


.ui-bizagi-grid-buttons ul li.ui-bizagi-button-active
{
    background: #AAB1B9;
}

.ui-bizagi-grid table
{
    width: 100%;
    border-spacing: 0;
}

.ui-bizagi-grid table thead tr th
{
    background: rgba(178, 180, 183, 0.2);
    border-bottom: 1px solid rgba(62,81,90,0.1);
    border-left: 1px solid rgba(62,81,90,0.1);
    position: relative;
    padding: 0;
}

.ui-bizagi-grid table thead tr th:last-child, .ui-bizagi-grid table thead tr th:first-child + th
{
    border-radius: 0;
}

.ui-bizagi-grid table thead tr th.ui-bizagi-grid-column-hidden
{
    display: none;
}

.ui-bizagi-grid table td, .ui-bizagi-grid table th
{
    padding: 5px 8px;
    text-align: center;
}

.ui-bizagi-grid table tbody tr:nth-child(odd)
{
    background: #ECECEC;
}

.ui-bizagi-grid table tbody tr.ui-bizagi-state-selected
{
    background: rgba(62,81,90,0.1);
    color: #f5f5f5;
}

.ui-bizagi-grid table tbody tr td
{
    border-top: 1px solid rgba(62,81,90,0.1);
}

.ui-bizagi-grid table tr td:first-child, .ui-bizagi-grid table tr th:first-child
{
    display: none;
    padding: 0;
    margin: 0;
}

.ui-bizagi-grid table .ui-bizagi-grid-cell-special
{
    padding: 0px;
}

.ui-bizagi-grid table .ui-bizagi-grid-cell-special .ui-bizagi-grid-cell
{
    height: 25px;
    width: 40px;
    position: relative;
    display: inline-block;
}

.ui-bizagi-grid table .ui-bizagi-cell-more
{
    font: 1em/1em "bizagiflat";
    color: #3E515A;
    font-size: 20px;
    font-weight: bold;
    top: 3px;
}

.ui-bizagi-grid table span.ui-bizagi-cell-more:after
{
    content: "\e615";
}

.ui-bizagi-grid .ui-bizagi-grid-column-special
{
    width: 32px;
}

.ui-bizagi-grid .ui-bizagi-grid-column-sort
{
    display: none;
}

.ui-bizagi-grid .ui-bizagi-grid-column-sort.ui-bizagi-active
{
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
}

.ui-bizagi-grid .ui-bizagi-grid-column-sort.ui-bizagi-active > div:first-child
{
    border-top: 0px solid transparent;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 5px solid rgba(0,0,0,.1);
}

.ui-bizagi-grid .ui-bizagi-grid-column-sort.ui-bizagi-active > div:last-child
{
    border-top: 5px solid rgba(0,0,0,.1);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 0px solid transparent;
}

.ui-bizagi-grid .ui-bizagi-grid-column-sort.ui-bizagi-active > div:last-child.ui-bizagi-active
{
    border-top-color: rgba(0,0,0,.4);
}

.ui-bizagi-grid .ui-bizagi-grid-column-sort.ui-bizagi-active > div:first-child.ui-bizagi-active
{
    border-bottom-color: rgba(0,0,0,.4);
}

.ui-bizagi-grid .ui-bizagi-grid-column-sort.ui-bizagi-active > div:first-child
{
    margin-bottom: 3px;
}

.ui-bizagi-grid .ui-bizagi-grid-noRecords
{
    padding: 15px;
    text-align: center;
    width: 100%;
}

.ui-bizagi-grid .ui-bizagi-grid-table .ui-bizagi-grid-body .ui-bizagi-grid-cell
{
    text-align: center;
}

.ui-bizagi-cell-readonly
{
    text-align: center;
    width: 100%;
    word-break: break-word;
}

.ui-bizagi-grid-dynamic-pager
{
    margin: 0 auto;
    left: 50%;
    margin-left: -60px;
}

.bz-rn-grid-cn-header
{
    /*color: #3E515A;*/
    font-weight: normal;
    padding: 10px 30px 10px 15px;
    margin-bottom: 0;
    border-radius: 0;
    border-bottom: 1px solid rgba(62,81,90,0.1);
    min-height: 40px;
    background: rgba(10,36,61,0.2);
}

.ui-bizagi-grid-header
{
}

.ui-bizagi-grid-key
{
    display: none;
}
.ui-bizagi-column-hidden
{
    display: none;
}

/* GRID RENDERS
========================================*/
.ui-bizagi-grid-cell .ui-bizagi-render
{
    padding: 0px;
    border-bottom: 0px solid transparent;
}

.ui-bizagi-render-grid-container
{
    width: 100%;
    padding-top: 10px;
}

.ui-bizagi-render-grid-container .ui-bizagi-grid-wrapper
{
    width: 100%;
    margin-top: 10px;
}
.ui-bizagi-render-grid-cell-error
{
    background-color: #ffb6c1;
    border-right: whitesmoke solid 1px;
}


/* REQUIRED YES-NO/RADIO
========================================*/

.ui-bizagi-render-grid-container.ui-bizagi-render-error:before
{
    top: auto;
    bottom: 39px;
    right: 65px;
}
.ui-bizagi-render-grid-container.ui-bizagi-render-error:after
{
    border-color: transparent transparent #DF2020 transparent;
    top: auto;
    right: 78px;
    bottom: 64px;
}


.ui-bizagi-grid-cell .ui-bizagi-render-boolean-yesno .ui-bizagi-render-control-required, .ui-bizagi-grid-cell .ui-bizagi-render-control-radio .ui-bizagi-render-control-required
{
    background-color: transparent;
}

/*
.ui-bizagi-grid-cell .ui-bizagi-render-boolean-yesno .ui-bizagi-render-control-required, 
.ui-bizagi-grid-cell .ui-bizagi-render-control-radio .ui-bizagi-render-control-required
{
  width: 2px;
  background-color: #EF3648;
  position: absolute;
  top: 2px;
  bottom: 2px;
  padding: 0;
  padding-left: 0;
  left: 0;
}

.ui-bizagi-grid-cell .ui-bizagi-render-boolean-yesno .ui-bizagi-render-control-required:before, 
.ui-bizagi-grid-cell .ui-bizagi-render-control-radio .ui-bizagi-render-control-required:before
{
    content: "*";
    background-color: #EF3648;
}*/

/* REQUIRED CONTROLS
========================================*/

.ui-bizagi-grid-cell .ui-bizagi-render-control
{
    width: 100%;
}

.ui-bizagi-grid-cell .ui-bizagi-render-control > select
{
    display: inline-block;
}

.ui-bizagi-grid-cell input.ui-bizagi-render-search
{
    display: inline-block;
}


/* TOTALIZE
========================================*/
.bz-rn-grid-totalize-container {
    width:70%;
    height:auto; 
    display:block; 
    position:absolute;     
    z-index: 99;  
    top: 93px;    
    border-bottom: 2px solid rgb(163, 160, 160);
    border-radius: 8px;
}
.bz-rn-grid-totalize-box{
    background-color: white;
    padding-top: 15px;
    border-radius: 8px;
}

.bz-rn-grid-totalize-list {
      padding: 10px;
}

.km-flat .km-popup-arrow:after {
     border-color: rgba(255, 255, 255, 1) transparent!important;
}

.bz-rn-grid-totalize-container ul{
    border-top: 1px solid rgb(200, 200, 200);
    margin-top: 3px;
}

.bz-rn-grid-totalize-container ul li{
    border: 0!important;
}

.bz-rn-grid-totalize-container span{
  padding-left: 20px;
  color: gray; 	
}

.bz-rn-grid-totalize-item-label
{
    background-color: white;
    height: 20px;
    font-weight: bold;
}

.bz-rn-grid-totalize-item-value
{
    background-color: rgb(208, 232, 245);
    min-height: 25px;
    height: auto;
    padding: 3px 0 0 10px;
}

.biz-popup-arrow {
    display: block; 
    left:-webkit-calc(100% - 50px);
    left:-moz-calc(100% - 50px);
    left:calc(100% - 50px);
    top: -15px;
}

.bz-rn-icon-total {
    font-weight: bold!important;    
    font-family: serif;
    color: rgb(119, 118, 118);
}

.ui-bizagi-grid-alternativePaginator {
    overflow: hidden;
    margin-right: 81px;
    margin-left: 81px;
    padding-top: 10px!important;
    height: 50px;
}
.ui-bizagi-grid-pagerArrowLeftFast {
    width: 40px;
    height: 50px;
    position: absolute;
    left: 0px;
    z-index: 1;
    background: rgba(10,36,61,0.2);
    padding-left: 4px;
}
.ui-bizagi-grid-arrowLeftFast1{
	width: 15px; 
	height: 30px; 
	background: url('../ios/images/bizagi-flat-tablet-sprite-2x.png') 0 0 no-repeat rgba(152, 151, 151, 0);
	background-position: -554px -412px;
    margin-top: 15px;
}
.ui-bizagi-grid-arrowLeftFast2{
	width: 25px;
    height: 20px;
    background: url('../ios/images/bizagi-flat-tablet-sprite-2x.png') 0 0 no-repeat rgba(152, 151, 151, 0);
    background-position: -545px -413px;
    margin-top: -29px;
}
.ui-bizagi-grid-pagerArrowLeft{
    left: 41px;
    width: 40px;
    height: 50px;
    position: absolute;
    z-index: 1;
    background: rgba(10,36,61,0.2);
    padding-left: 3px;
}
.ui-bizagi-grid-arrowLeft{
	width:25px; 
	height: 20px; 
	background: url('../ios/images/bizagi-flat-tablet-sprite-2x.png') 0 0 no-repeat rgba(152, 151, 151, 0);
	background-position: -549px -412px;
    margin-top: 15px;
}
.ui-bizagi-grid-pagerArrowRight{
    width: 40px;
    height: 50px;
    position: absolute;
    margin-top: -50px;
    right: 41px;
    z-index: 1;
    background: rgba(10,36,61,0.2);
    border-top: 1px solid rgba(255,255,255,0.3);
    padding-left: 3px;
}
.ui-bizagi-grid-arrowRight{
    width: 25px;
    height: 20px;
    background: url('../ios/images/bizagi-flat-tablet-sprite-2x.png') 0 0 no-repeat rgba(152, 151, 151, 0);
    background-position: -150px -204px;
    margin-top: 15px;
}
.ui-bizagi-grid-pagerArrowRightFast{
	width: 40px;
    height: 50px;
    position: absolute;
    margin-top: -50px;
    right: 0;
    z-index: 1;
    border-top: 1px solid rgba(255,255,255,0.3);
    background: rgba(10,36,61,0.2);
    padding-left: 6px;
}
.ui-bizagi-grid-arrowRightFast1{
	width: 15px;
    height: 20px;
    background: url('../ios/images/bizagi-flat-tablet-sprite-2x.png') 0 0 no-repeat rgba(152, 151, 151, 0);
    background-position: -156px -204px;
    margin-top: 15px;
}
.ui-bizagi-grid-arrowRightFast2{
	width: 25px;
    height: 20px;
    background: url('../ios/images/bizagi-flat-tablet-sprite-2x.png') 0 0 no-repeat rgba(152, 151, 151, 0);
    background-position: -148px -203px;
    margin-top: -21px;
}