﻿#bz-render-drawer .km-header,
#bz-render-drawer .km-content {
    background-color: #0C1C2B;
    color: #FFF;
}

#content-render-drawer .bz-header_select .bz-wp-tabs-ui > span {
    min-width: 50%;
}

#bz-render-drawer .bz-wp-item-container {
    border-top: 1px solid #153C52;
    border-bottom: 1px solid #153C52;
    padding: 10px 0 15px 0;
}

#bz-render-drawer .km-button {
    border: 1px solid #195891;
}

#bz-render-drawer .km-state-active {
    color: #FFF;
}

#bz-render-drawer .ui-bizagi-summary-tabs {
}

#bz-render-drawer .ui-bizagi-summary-items ul {
    list-style-type: none;
}

#bz-render-drawer .ui-bizagi-summary-items > span {
    vertical-align: middle;
}

/* case item */
#content-render-drawer .bz-item-case {
    color: #37B9EB;
    min-height: 50px;
    text-align: justify;
}

#content-render-drawer .bz-item-date {
    width: 50px;
    position: relative;
    display: inline-block;
    float: left;
    border-radius: 4px;
    margin: 5px 5px 10px 5px;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    font-size: 12px;
    padding: 7px 0 0;
    min-height: 30px;
}

#content-render-drawer .bz-item-date.overdue {
        color: #EC3939;
        background-color: #FDEBEB;
    }

    #content-render-drawer .bz-item-date.today {
        color: #CFBB38;
        background-color: #FAF7EA;
    }

    #content-render-drawer .bz-item-date.tomorrow {
        color: #CFBB38;
        background-color: #FAF7EA;
    }

    #content-render-drawer .bz-item-date.upcoming {
        color: #26A023;
        background: #E8F5E8;
    }

#content-render-drawer .bz-item-maindata {
    min-height: 35px;
    display: inline;
    min-width: 50%;
    word-break: normal;
    overflow: visible;
}

.without-namecase {
    font-style: italic;
}

#content-render-drawer .bz-subitem.activity {
    margin: 0;
    font-size: 15px;
    min-height: 7px;
    word-break: normal;
    width: 190px;
    overflow: hidden;
}

#content-render-drawer .bz-subitem.processname {
    margin: 0;
    font-size: 10px;
    background: #6C747C;
    border-radius: 3px;
    display: inline;
    word-break: normal;
    width: 170px;
    overflow: hidden;
    padding: 2px 5px 2px 5px;
}

#content-render-drawer .bz-subitem.user {
    margin: 0;
    display: inline;
}

/* summary */
ul.bz-wp-summary-list, ul.bz-wp-comment-list {
    margin: 0;
    padding: 5px;
}

.bz-wp-comment-list > li {
}

.bz-wp-reply-list {
    padding: 0 0 0 12px;
}

    .bz-wp-reply-list ul {
        list-style-type: none;
    }

    .bz-wp-reply-list li {
        list-style-type: none;
    }

ul.bz-wp-summary-list li, ul.bz-wp-reply-list li {
    padding: 0 0 1px;
}

ul.bz-wp-comment-list li {
    padding: 0 0 5px;
}


ul.bz-wp-summary-list li > div {
}

.bz-wp-summary-content,
.bz-wp-comment-content {
    position: relative;
}

.bz-wp-summary-title,
.bz-wp-comment-title {
    color: #E4E7E9;
    font-weight: 100;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    text-align: left;
    vertical-align: top;
}

.bz-wp-summary-title {
    margin: 5px 10px 0;
}

.bz-wp-comment-title {
    margin: 5px 10px -4px 15px;
    font-size: 12px;
}

.bz-wp-summary-value,
.bz-wp-comment-value {
    color: #D7DDDF;
    font-weight: 100;
    position: relative;
    font-size: 12px;
    text-align: left;
    white-space: normal;
    padding: 5px;
    background: rgba(228,232,233,0.1);
    border-radius: 3px;
    word-break: break-word;
    margin: 5px 10px 0;
}

.bz-wp-comment-time {
    color: #777;
    font-weight: 100;
    position: relative;
    font-size: 10px;
    text-align: left;
    white-space: normal;
    padding: 5px;
    border-radius: 3px;
    word-break: break-word;
    margin: 5px 10px 0;
    margin: -4px 10px 0;
    font-style: italic;
    text-align: right;
}

.summaryLink {
    color: #37BAEC;
    cursor: pointer;
    font-style: italic;
}

button.bz-wp-summary-release {
    background-color: transparent;
    border: 1px solid #37B9EB;
    padding: 8px 15px;
    color: #37B9EB;
    border-radius: 4px;
    margin: 5px 15px;
    float: right;
    font-size: 13px;
}

.wp-rendering-container > div {
    display: inline-block;
}

    .wp-rendering-container > div:first-child {
        width: 30%;
    }

.summaryLink {
    color: #37BAEC;
    cursor: pointer;
    font-style: italic;
}
