﻿
.wp-homeportal #menuHome .km-widget.km-navbar{
    background-color: #154b7c;
}

#homePortal .search-container{
    position: relative;
    font-size: 12px;
    border-bottom: 1px solid #D5D5D5;
}

#menuHome header{
    border: 0;
}

#homePortal .search-container input{
    background-color: rgba(178, 180, 183, 0.2);
    color: rgba(178, 180, 183, 0.8);
    -webkit-appearance: none;
    font-size: 13px;
    border: none;
    border-radius: 5px;
    height: 30px;
    margin: 10px 0 10px 0;
    width: 92%;
    padding: 0 0 0 31px;
    align-content: center;
    position: relative;
    left: 4%;
}

label.bz-wp-menu-search-icon.km-icon.km-search {
    position: absolute;
    left: 4%;
    font-size: 15px;
    padding-left: 10px;
    margin: 18px 0;
    color: #37BAEC;
}


.bz-menu-home-content
{
    border-right: 1px solid #BDBDBD;
    position: absolute;
    height: 100%;
    width: 100%;
}