<script type="text/x-kendo-template" id="menuHome">
    <div class="bz-menu-home" >
        <div class="bz-menu-home-content"  data-role="scroller">
            <!--<div class="search-container">-->
                <!--<input id="search-lft-mh" name="search-lft-mh" type="text" placeholder="Search">-->
                <!--<label for="search-lft-mh" class="bz-wp-menu-search-icon km-icon km-search" />-->
            <!--</div>-->

            <div class="bz-db-tab-navigator-container">
                <div class="bz-db-tab" data-tab="metrics">
                    <div class="bz-wp-db-metrics-icon"></div>
                    <div class="bz-db-tab-title">%{workportal-widget-dashboard-metrics}</div>
                </div>
                <div class="bz-db-tab" data-tab="cases">
                    <a class="km-widget km-button">
                        <span class="km-icon km-process-full km-notext"></span>
                    </a>
                    <div class="bz-db-tab-title">%{workportal-widget-dashboard-cases}</div>
                </div>
                <div class="bz-db-tab" data-tab="stuff">
                    <div class="bz-wp-db-stuff-icon"></div>
                    <div class="bz-db-tab-title">%{workportal-widget-dashboard-stuff}</div>
                </div>
            </div>

            #for(var item in data.homePortalLayoutPositions){ #
                <div id="#= data.homePortalLayoutPositions[item].canvas#"></div>
            #}#
        </div>
    </div>
</script>