#messageDiv
{
    position: absolute;
    width: 200;
    height: 100;
    background-position: center center;
    visibility: visible;
    display: block;
    border: 0px;
    background-repeat: no-repeat;
    z-index: 150;
}

#messageBackgroundDiv
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: visible;
    display: block;
    border: 0px;
    background-repeat: no-repeat;
    background-color: #DCDCDC;
    z-index: 140;
}

.messageBackgroundDiv
{
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;
}

.readOnlyBackgroundDiv
{
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    opacity: 0.3;
}

.readOnlyMessage
{
    top: 80%;
    left: 2%;
    border: solid 1px purple;
    background-image: url(../img/graphicanalysis/infoboard.gif);
}

.waitMessage
{
    top: 45%;
    left: 43%;
    background-image: url(../img/graphicanalysis/WaitBoard.gif);
}
.infoMessage
{
    top: 45%;
    left: 43%;
    background-image: url(../img/graphicanalysis/infoboard.gif);
}
.errorMessage
{
    top: 45%;
    left: 43%;
    background-image: url(../img/graphicanalysis/errorboard.gif);
}

.bordered
{
    border-left-color: red;
    border-bottom-color: red;
    border-top-style: solid;
    border-top-color: red;
    border-right-style: solid;
    border-left-style: solid;
    border-right-color: red;
    border-bottom-style: solid;
}

#textContainer
{
    font-family: NeoSansStdRegular,Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin: 2px;
    border: 0px;
    width: 100px;
    height: 75px;
    white-space: normal;
    position: relative;
    top: 10px;
    left: 80px;
    z-index: 151;
}

.dropContainer
{
    border-right: black thin solid;
    border-top: black thin solid;
    border-left: black thin solid;
    width: 100%;
    border-bottom: black thin solid;
    position: static;
    height: 100%;
}

/* Policy Rule Selector styles */
.selectorTree
{
    font-family: NeoSansStdRegular;
    font-size: 11px;
    left: 5%;
    width: 45%;
    position: absolute;
    top: 10%;
    height: 90%;
}
.floatingTree
{
    font-family: NeoSansStdRegular;
    font-size: 11px;
    left: 50%;
    width: 45%;
    position: absolute;
    top: 10%;
    height: 80%;
}
.documentationBox
{
    font-family: NeoSansStdRegular;
    font-size: 11px;
    left: 50%;
    width: 45%;
    top: 10%;
    position: absolute;
}
.definitionEditor
{
    width: 95%;
    height: 100%;
    padding: 10px;
}
/* Item Toolbox Styles */
.itemPropertyLabel
{
    font-weight: bold;
    text-align: left;
    padding-left: 15px;
}
.itemPropertyValue
{
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: right;
}
.itemPropertyExtendable
{
    width: 100%;
}
.itemPropertyRow
{
    height: 60px;
}

.hiddenRow
{
    display: none;
    visibility: hidden;
    background-color: Red;
    font-weight: bold;
    font-size: 32px;
    color: Black;
}
.visibleRow
{
    visibility: visible;
}
.conditionTypeLink
{
    font-weight: bold;
    font-size: 14px;
}
.conditionTypeBox
{
    border-right: #e8eff6 2px solid;
    border-top: #e8eff6 2px solid;
    font-size: 28px;
    border-left: #e8eff6 2px solid;
    border-bottom: #e8eff6 2px solid;
}
.policyRule
{
    border: 1px solid #cccccc;
}
.elseCheckContainer
{
    border-right: #cccccc 1px solid;
    padding-right: 2px;
    border-top: #cccccc 1px solid;
    padding-left: 20px;
    font-weight: bold;
    padding-bottom: 2px;
    border-left: #cccccc 1px solid;
    width: 150px;
    padding-top: 5px;
    border-bottom: #cccccc 1px solid;
    height: 28px;
    background-color: white;
    float: right;
}
.ifThenBox
{
    border-right: #cccccc 1px solid;
    background-position: left 50%;
    border-top: #cccccc 1px solid;
    background-image: url(../img/BusinessPolicies/Editor-Background.jpg);
    overflow: auto;
    border-left: #cccccc 1px solid;
    width: 98%;
    border-bottom: #cccccc 1px solid;
    background-repeat: repeat-y;
    height: 200px;
    background-color: #ffffff;
}
.definition
{
    height: 16px;
    margin: 1px 1px 1px 1px;
    padding-left: 2px;
    padding-right: 2px;
    color: #0099CC;
    text-decoration: none;
    cursor: pointer;
    font-weight: normal;
}
.definitionHover
{
    height: 16px;
    color: #0099CC;
    text-decoration: none;
    padding-left: 2px;
    padding-right: 2px;
    border: 1px solid #0099cc;
    cursor: pointer;
    font-weight: normal;
}
.argumentConstant
{
    height: 16px;
    margin: 1px 1px 1px 1px;
    padding-left: 2px;
    padding-right: 2px;
    color: #669900;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    font-weight: normal;
}
.argumentConstantHover
{
    height: 16px;
    color: #669900;
    padding-left: 2px;
    padding-right: 2px;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #669900;
    cursor: pointer;
    font-weight: normal;
}
.function
{
    height: 16px;
    margin: 1px 1px 1px 1px;
    color: #666699;
    text-decoration: none;
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
    cursor: pointer;
}
.functionHover
{
    height: 16px;
    color: #666699;
    text-decoration: none;
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
    border: 1px solid #666699;
    cursor: pointer;
}
.operator
{
    height: 16px;
    color: #006699;
    margin: 1px 1px 1px 1px;
    text-decoration: none;
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
    cursor: pointer;
}
.operatorHover
{
    height: 16px;
    color: #006699;
    text-decoration: none;
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
    border: 1px solid #006699;
    cursor: pointer;
}
.operatorValue
{
    padding-right: 10px;
    padding-left: 10px;
}
.setDefinition
{
    height: 16px;
    margin: 1px 1px 1px 1px;
    padding-left: 2px;
    padding-right: 2px;
    color: #0066CC;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}
.setDefinitionHover
{
    height: 16px;
    color: #0066CC;
    text-decoration: none;
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
    border: 1px solid #0066CC;
    cursor: pointer;
}
.setDefinitionValue
{
    padding-right: 20px;
}
.deleteRow
{
    width: 24px;
    height: 100%;
    background-image: url(../img/BusinessPolicies/delete.gif);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    text-decoration: none;
}
.rowArrow
{
    width: 16px;
    height: 16px;
    border: 1px solid #eeeeee;
}
.condition
{
    height: 16px;
    background-position: left 50%;
    margin-top: 1px;
    background-image: url(../img/BusinessPolicies/Row-Background.jpg);
    margin-bottom: 1px;
    background-repeat: repeat-y;
    background-color: #eeeeee;
    white-space: nowrap;
}
.executionStatement
{
    height: 16px;
    background-position: left 50%;
    margin-top: 1px;
    background-image: url(../img/BusinessPolicies/Row-Background.jpg);
    margin-bottom: 1px;
    background-repeat: repeat-y;
    background-color: #eeeeee;
    white-space: nowrap;
}
.popupDiv
{
    border: 1px outset;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    visibility: visible;
    background-position: top;
    background-repeat: repeat-x;
}
.popupIFrame
{
    visibility: visible;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%; /*filter: alpha(style=1, opacity=0, finishOpacity=70);*/
    filter: alpha(style=0, opacity=50);
    mozopacity: 0.50;
    opacity: 0.50;
}
.label
{
    font-weight: bold;
    text-align: left;
    padding-left: 15px;
}
.addbtn
{
    width: auto;
    height: 20px;
    margin-left: 16px;
    background-image: url(../img/BusinessPolicies/AddBtnfond.gif);
    background-position: 0 0;
    background-repeat: repeat-x;
    text-decoration: none;
    color: #666666;
    margin: 5px;
}
.panelHeader
{
    height: 20px;
    text-align: right;
    vertical-align: top;
}
.conditionType
{
    background: #ffffff;
    color: #666666;
    border-top-style: none;
    font-family: NeoSansStdRegular, Verdana;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
}

/* Decision Table styles */

#frmPolicyItem  #parentContainer tbody {
    vertical-align: top;
}

#frmPolicyItem  #decisionTableCells {
    overflow-y: scroll;
}


.decisionTablePanel
{
    border: 1px solid #cccccc;
    background-color: #FFFFFF;
    background-image: url(../img/BusinessPolicies/Editor-Background.jpg);
    background-position: left;
    background-repeat: repeat-y;
    z-index: 5;
    left: 0px;
    overflow: scroll;
    width: 100%;
    height: 100%;
}
.ruleTablePanel
{
    border: 1px solid #cccccc;
    background-color: #FFFFFF;
    background-image: url(../img/BusinessPolicies/Editor-Background.jpg);
    background-position: left;
    background-repeat: repeat-y;
    z-index: 5;
    left: 0px;
    width: 100%;
    height: 100%;
}
.rulePreviewPanel
{
    background-color: #FFFFFF;
    background-image: url(../img/BusinessPolicies/RulePreview-Background.jpg);
    background-position: top;
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    font-size: small;
    overflow: auto;
    width: 100%;
    height: 0%;
}
.columnBox
{
    background-position: 50% bottom;
    font-weight: bold;
    z-index: 5;
    background-image: url(../img/BusinessPolicies/Column-Background.jpg);
    vertical-align: baseline;
    height: 100%;
    overflow: hidden;
    cursor: auto;
    background-repeat: repeat-x;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #ffffff;
    text-align: center;
    text-decoration: underline;
}
.columnArgumentBox
{
    background-position: 50% bottom;
    font-weight: bold;
    z-index: 5;
    background-image: url(../img/BusinessPolicies/Column-Background.jpg);
    vertical-align: baseline;
    overflow: hidden;
    cursor: auto;
    background-repeat: repeat-x;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #ffffff;
    text-align: center;
    text-decoration: underline;
    height: 24px;
}
.columnBoxGet
{
    color: #669900;
}
.columnBoxSet
{
    color: #336699;
}
.columnDivision
{
    float: right;
    z-index: 6;
    width: 2px;
    height: 100%;
    cursor: e-resize;
    background-color: white;
}
.ruleCode
{
    border-right: white 1px;
    background-position: left 50%;
    border-top: white 1px solid;
    background-image: url(../img/BusinessPolicies/Row-Background.jpg);
    border-left: white 1px;
    border-bottom: white 1px solid;
    background-repeat: repeat-y;
    background-color: #eeeeee;
    overflow: hidden;
    cursor: pointer;
}
.selectedRuleCode
{
    border-right: white 1px;
    border-top: white 1px solid;
    border-left: white 1px;
    border-bottom: white 1px solid;
    background-color: #d1dfef;
    cursor: pointer;
}
.cell
{
    border-right: white 1px;
    background-position: left 50%;
    border-top: white 1px solid;
    background-image: url(../img/BusinessPolicies/Row-Background.jpg);
    border-left: white 1px;
    cursor: default;
    border-bottom: white 1px solid;
    background-repeat: repeat-y;
    background-color: #eeeeee;
    overflow: hidden;
}
.cellArgument
{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 100%;
    width: 100%;
    color: #999999;
    text-align: center;
    display: block;
}
.ruleTableCell
{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 100%;
    width: 100%;
    color: #999999;
    text-align: center;
    display: block;
}
.selectedCell
{
    border-right: white 1px;
    border-top: white 1px solid;
    border-left: white 1px;
    border-bottom: white 1px solid;
    cursor: default;
    background-color: #d1dfef;
    vertical-align: middle;
    overflow: hidden;
    height: 100%;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.cellOperatorBox
{
    float: left;
    width: 48px;
    height: 90%;
    text-align: center;
    color: #999999;
    text-decoration: none;
    font-weight: bold;
}
.cellBox
{
    overflow: hidden;
    text-align: center;
}
.cellDeleteBox
{
    float: right;
    width: 16px;
    height: 16px;
    background-image: url(../img/BusinessPolicies/delete.gif);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    text-decoration: none;
    cursor: pointer;
    display: none;
}
.ifThenLabel
{
    font-size: 35px;
    filter: progid:DXImageTransform.Microsoft.Alpha( style=1,opacity=100,finishOpacity=30, startX=0, finishX=0, startY=0, finishY=100) progid:DXImageTransform.Microsoft.Glow(Color=#ffffff,Strength=2), progid:DXImageTransform.Microsoft.Blur(PixelRadius='2'),;
    color: #ff0000;
    height: 1;
}

.ifThenLabelSmall
{
    font-size: 20px;
    filter: progid:DXImageTransform.Microsoft.Alpha( style=1,opacity=100,finishOpacity=30, startX=0, finishX=0, startY=0, finishY=100) progid:DXImageTransform.Microsoft.Glow(Color=#ffffff,Strength=2), progid:DXImageTransform.Microsoft.Blur(PixelRadius='2'),;
    color: #ff0000;
    height: 1;
}

.fondAndOrLabel
{
    background-position: right top;
    background-image: url(../img/BusinessPolicies/Bracket.gif);
    background-repeat: no-repeat;
    width: 81px;
    height: 100%;
    display: block;
}

.andOrLabel
{
    position: relative;
    top: 56px;
    font-size: 22px;
    filter: progid:DXImageTransform.Microsoft.Alpha( style=1,opacity=100,finishOpacity=30, startX=0, finishX=0, startY=0, finishY=100), progid:DXImageTransform.Microsoft.Glow(Color=#6699cc,Strength=2), progid:DXImageTransform.Microsoft.Blur(PixelRadius= '2' );
    color: #336699;
    height: 30px;
    text-align: right;
}
.ruleTableColumnIf
{
    color: #336699;
}
.ruleTableColumnThen
{
    color: #669900;
}
.ruleTableColumnElse
{
    color: #6699CC;
}
.addItem
{
    clear: left;
    padding-right: 5px;
    padding-left: 5px;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
    cursor: pointer;
}

.bpDocumentation
{
    width: 16px;
    height: 16px;
    display: inline;
    float: left;
    cursor: pointer;
    margin-left: 10px;
}

#floatingTree .top td:nth-child(2)
{
	background: url('../img/graphicanalysis/marc_sup_cent.gif');
}
#floatingTree .middle > td:nth-child(1)
{
	background: url('../img/graphicanalysis/marc_left_Cent.gif');
}
#floatingTree .middle > td:nth-child(3)
{
	background: url('../img/graphicanalysis/marc_der_cent.gif');
}
#floatingTree .bottom td:nth-child(2)
{
	background: url('../img/graphicanalysis/marc_inf_cent.gif');
}

html[data-useragent*='MSIE 10.0'] #floatingTree .top 
{
	position: absolute;
	width: 100%;
	top: -12px;
}
html[data-useragent*='MSIE 10.0'] #floatingTree .top td:nth-child(2)
{
	background: url('../img/graphicanalysis/marc_sup_cent.gif') repeat-x 0px 2px;
	width:100%;
}
html[data-useragent*='MSIE 10.0'] #floatingTree .middle > td:nth-child(1)
{
	background: url('../img/graphicanalysis/marc_left_Cent.gif') repeat-y;
}
html[data-useragent*='MSIE 10.0'] #floatingTree .middle > td:nth-child(3)
{
	background: url('../img/graphicanalysis/marc_der_cent.gif') repeat-y;
}
html[data-useragent*='MSIE 10.0'] #floatingTree .bottom td:nth-child(2)
{
	background: url('../img/graphicanalysis/marc_inf_cent.gif') repeat-x 0px 2px;
	width:100%;
}