﻿<script id="ui-bizagi-webpart-render" type="text/x-jquery-tmpl">
    <div id="ui-bizagi-webpart-render-container" {{loading}}>     
		
    </div> 
</script>

<script id="ui-bizagi-webpart-workitems-render" type="text/x-jquery-tmpl">
    <div class="ui-bizagi-webpart-workitems-container">
        {{each(i, workitem) workitems}}
                
                 <div id="case-task-item" class="ui-bizagi-webpart-workitems-pivot ${workitem.colorState}" data-idworkitem="${workitem.idWorkItem}" data-idcase="${workitem.idCase}" data-displayname="${workitem.displayName}">

               <i class="case-task-state-color"></i>
               <div class="case-task-state" >
                   <h2 class="case-task-title">${workitem.displayName}</h2>
                   <p class="case-task-date">Solution date <span>${workitem.estimatedSolutionDate}</span></p>
               </div>
               <!--end .case-task-state-->
               <div class="case-task-work">
                   <button class="case-task-work-button" aria-label="Work on it" type="button">&#XE1E4;</button>
                   <span class="case-task-work-button-text">Work on it</span>
               </div>
               <!--end .case-task-work-->
           </div>
            <!--end .case-task-item-->
        {{/each}}
    </div>
</script>

<script id="infoRenderForm" type="text/x-jquery-tmpl">
    <div id="child_infoRenderForm" class="info_render_form info-render">
        <span class="info-render-face">:)</span>
        <h2>{{html message}}</h2>
        <button class="ui-bizagi-info-message-button">{{html button}}</button>
    </div> 
</script>

<div id="ui-bizagi-wp-async-wrapper" {{adjustable}}>    
    <div id="ui-bizagi-wp-async">
        <div id="ui-bizagi-wp-async-box" class="ui-widget-content ui-corner-all">    
            <div class="ui-bizagi-wp-async-case-number">
                ${radNumber}
            </div>
            {{if errorMessage.length == 0 }}
                <div>
                    <dl class="ui-bizagi-wp-async-description">
                        <dt>%{workportal-async-processing-name}</dt> 
                        <dd>${taskName}</dd>
                    </dl>
                </div>
                
                <div class="ui-bizagi-wp-waiting-message">
                    <div class='ui-bizagi-loading-icon'></div>
                    <progress class="win-ring win-large ringProgressWebparts"></progress>
                    <div class='ui-bizagi-wp-waiting-message-text'>%{render-form-waiting-message}</div>
                </div>
            {{else}}
                <div class="ui-bizagi-wp-async-error ui-widget-content ui-state-error">
                    ${errorMessage}
                </div>
            {{/if}}
        </div>
    </div>
</div>
<div id="footer" >
</div>