<script id="typedinamic-frame" type="text/x-jquery-tmpl">
    <div class="typedinamic-container ui-control-container">
        <label class="typedinamic-name">${caption}</label>
        <div class="typedinamic-group-container ui-control-editor">
        </div>
    </div>
</script>

<script id="typedinamic-frame-edit" type="text/x-jquery-tmpl">
    <i class="biz-ico editor-ico-edit"></i>
</script>