<div data-role="view" id="initKendo">
</div>
<div data-role="drawer" id="menu-drawer" data-title="left" data-views="['homePortal']">
    <div id="content-menu-drawer" data-role="content">
    </div>
</div>
<div data-role="drawer" id="newCase-drawer" data-position="right" class="newCase-drawer"
    data-views="['homePortal']">
    <div id="content-newCase-drawer">
    </div>
</div>
<div data-role="drawer" id="bz-render-drawer" data-position="right" class="bz-render-drawer">
    <div id="content-render-drawer" data-role="content">
    </div>
</div>
