#content-menu-drawer, #content-menu-drawer .km-listview-wrapper li
{
    background-color: #0C1C2B;
    color: white;
}

#content-menu-drawer .km-listview-wrapper li
{
    padding: 20px 10px;
    cursor: pointer;
}

#content-menu-drawer .km-listview-wrapper li.bz-menu-selected
{
    background-color: rgba(228,232,233,0.1);
}

#content-menu-drawer .km-listinset, .km-listgroupinset
{
    margin: 70px 0;
}

#content-menu-drawer .km-listview-wrapper span.km-icon
{
    float: left;
}

#content-menu-drawer .km-listview-wrapper div
{
    position: relative;
    top: 4px;
}

.bz-wp-list-quantity
{
    float: right;
    margin: 0;
    padding: 0;
}

/* REPORTS */
#content-menu-drawer .km-list > li
{
    border: rgba(0,0,0,0.1);
    border-width: 0 0 1px 0;
}

#bz-menu-list-reports div.bz-wp-list-header {
    top: 0px;
}

#bz-menu-list-reports .bz-wp-list-subitems {
    display: none;
}


#content-menu-drawer .bz-wp-list-items,
#content-menu-drawer .bz-wp-list-subitems
{    
    list-style-type: none;
    padding: 0;
    margin: 15px 0 0 0;
    margin-left: 20px;
    height: auto;
}

#content-menu-drawer .bz-wp-list-items li,
#content-menu-drawer .bz-wp-list-subitems li
{
    background: rgba(228,232,233,0);
    border-width: 0 0 1px 0;
    padding: 0px 0px 5px 10px;
    margin: 5px 0 5px 0;
}

#content-menu-drawer .bz-wp-list-items {
    display: none;
}

#content-menu-drawer .bz-wp-list-subitems {
    display: block;
}

#content-menu-drawer .bz-wp-list-subitems li
{   
    padding: 0px 0px 5px 20px; 
}

#content-menu-drawer .bz-wp-list-subitems .bz-wp-widget-reportsmenu-item
{
    border-bottom: 1px solid #3C4955;    
    padding-bottom: 5px;    
    padding-top: 5px;  
}

#content-menu-drawer ul.bz-wp-list-subitems
{
    list-style-type: none;
    margin: 0;
}


#content-menu-drawer .bz-wp-list-items .km-listinset, 
#content-menu-drawer .bz-wp-list-items .km-listgroupinset
{    
    margin: 0;
}

.bz-wp-list-items .km-listview-wrapper div {    
    top: 0;
}


/* Icons */
.km-BAM:before, .km-BAM:after, 
.km-Analytics:before, .km-Analytics:after, 
.km-AnalyticsSensor:before, .km-AnalyticsSensor:after,
.km-AnalyticsQuery:before, .km-AnalyticsQuery:after {
	content: "\e610";
}

.km-BAMProcess:before, .km-BAMProcess:after,
.km-AnalyticsProcess:before, .km-AnalyticsProcess:after {
    content: "\e612";
}

.km-BAMTask:before, .km-BAMTask:after, 
.km-AnalyticsTask:before, .km-AnalyticsTask:after {
    content: "\e625";
}

.km-BAMResourceMonitor:before, .km-BAMResourceMonitor:after {
	content: "\e602";
}

.km-AnalyticsQueryItems:before, .km-AnalyticsQueryItems:after {
    content: "\e602";
}