<script id="ui-bz-wp-webpart-menu-main" type="text/x-kendo-template">
    <ul  data-type="group" class="bz-wp-menu-list">
        # if (data.authNewCase) { #
        <li data-icon="new-smallsize" data-bz-menu-action="newCase">        
            <span class="bz-wp-list-title">%{workportal-menu-new}</span>                    
        </li>
        # } #        
        <li data-icon="all-cases-01" data-bz-menu-action="taskfeed">
            <span class="bz-wp-list-title">Task Feed</span>
        </li>
        # if (data.authAnalysisReports) { #
        <li data-icon="chart-bar" data-bz-menu-action="reports" id="bz-menu-list-reports">
            <div  class="bz-wp-list-header">
                <span class="bz-wp-list-title">%{workportal-menu-reports}</span>        
                <ul class="bz-wp-list-items">Subitems</ul>
            </div>            
        </li>
        # } # 
        # if (data.authEnableSettings) { #
        <li data-icon="settings-small" data-bz-menu-action="preferences">        
            <span class="bz-wp-list-title">%{workportal-menu-preferences}</span>
        </li>
        # } # 
        # if (data.authEnableLogOut) { #
        <li data-icon="log-out-small" data-bz-menu-action="logout">
            <span class="bz-wp-list-title">%{workportal-menu-logout}</span>        
        </li>
         # } #
    </ul>
</script>
<script id="ui-bz-wp-webpart-menu-report-items" type="text/x-kendo-template">        
    # $.each (data, function (i, val) { #
        # if (val.show) { #
            <li data-icon="#=val.icon#" data-subitems="#=val.subItems#" data-endpoint="#=val.endPoint#" data-displayname="#=val.displayName#" class="cf bz-wp-widget-reportsmenu-item bz-wp-widget-reportsmenu-readmode">
                <!-- <span class="bz-wp-widget-reportsmenu-item-icon #=val.icon#"></span>-->
                <span class="bz-wp-widget-reportsmenu-item-title">#=val.displayName#</span>
                # if(val.endPoint == "") { #
                    <ul class='bz-wp-list-subitems'></ul>
                # } #
            </li>
        # } #
    #}); #
</script>

<script id="ui-bz-wp-webpart-menu-report-noitems" type="text/x-kendo-template" > 
    <div>%{workportal-widget-reports-no-queries}</div>
</script>