/* FORM
========================================*/
.ui-bizagi-form
{
    color: #195891;
    font-size: 15px;
    padding: 0 0 1% 0;
    background: #EBEDF1 !important
}

.bz-wp-case-name-form
{
    background: #DADDE0;
    color: #195891;
    text-align: left;
    border-bottom: 1px solid #37BAEC;
    border-top: 1px solid rgba(0,0,0,0.1);
    padding: 10px 0px 10px 20px;
}

.bz-wp-case-path-form
{
    background: #DADDE0;
    color: #195891;
    text-align: left;
    border-bottom: 1px solid #37BAEC;
    padding: 15px 5px 5px 20px;
}

.bz-wp-casePathForm-next
{
    display: inline-block;
    top: 2px;
    margin: 0 5px;
}

.bz-wp-casePathForm-item
{
    display: inline-block;
    margin-bottom: 10px;
}

span.bz-wp-casePathForm-next.ui-bizagi-next
{
    font: 1em/1em "bizagiflat";
    color: #195891;
}

span.bz-wp-casePathForm-next.ui-bizagi-next:after
{
    content: "\e615";
}

.ui-bizagi-form-warnings, .ui-bizagi-form-errors
{
    list-style: none;
    -webkit-box-shadow: 0 2px 10px #777;
    text-align: center;
    width: 90%;
    -webkit-border-radius: 0px;
    border: solid #FFF 3px;
    position: relative;
    margin: 26px auto;
    border-radius: 8px;
    font-weight: bold;
    color: #555;
}

.ui-bizagi-container-search-criteria
{
}

.ui-bizagi-form-warnings
{
    background-image: -webkit-gradient( linear, left top, left bottom, from(hsl(50,100%,70%)), to(hsl(50,100%,60%)) );
}

.ui-bizagi-form-errors
{
    background-image: -webkit-gradient( linear, left top, left bottom, from(hsla(0,80%,50%, .9)), to(hsla(0,60%,30%, .9)) );
}

.ui-bizagi-form-warnings li, .ui-bizagi-form-errors li
{
    margin: 16px 0;
}

.ui-bizagi-form-warnings button, .ui-bizagi-form-errors button
{
    -webkit-appearance: none;
    color: #FFF;
    text-transform: uppercase;
    border: transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(.5, hsla(0, 0%, 80%, .6)), color-stop(.5, hsla(0, 0%, 80%, .4)));
    -webkit-box-shadow: 0 1px 0 #555, 0 -1px 0 #FFF, 0 2px 0 hsla(0, 80%, 50%, .3), 0 0 4px #000;
    position: absolute;
    width: 24px;
    height: 24px;
    right: 10px;
    top: 14px;
    font-size: 10px;
    -webkit-border-radius: 6px;
    color: #444;
}

/* RENDERS
========================================*/

.ui-bizagi-render
{
    padding: 15px 10px;
    display: -webkit-box;
    position: relative;
}

.ui-bizagi-render-block:first-child
{
    padding: 15px 10px;
    display: block;
    position: relative;
    border-radius: 0 0 8px 8px;
    background-color: #ececec;
}

.ui-bizagi-render-block
{
    padding: 15px 10px;
    border-bottom: 1px solid #c0c6cb;
    display: block;
    position: relative;
    border-radius: 8px;
    background-color: #ececec;
}

.ui-bizagi-render.ui-bizagi-state-loading > .ui-bizagi-label, .ui-bizagi-render.ui-bizagi-state-loading > .ui-bizagi-render-control, .ui-bizagi-render.ui-bizagi-state-loading > .ui-bizagi-helptext
{
    opacity: 0.3;
}

.ui-bizagi-render-loading.ui-bizagi-loading
{
    position: absolute;
    background-image: url('images/waiting.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.2);
    display: inline-block;
    width: 98% !important;
    min-height: 32px;
    top: 8px;
    bottom: 8px;
    float: left;
}

.ui-bizagi-render-error:before
{
    background: #EF3648;
    color: #FFF;
    font: 12px Helvetica, Arial, Georgia, sans-serif;
    padding: 5px 10px;
    content: attr(data-error);
    -webkit-border-radius: 6px;
    -webkit-box-shadow: 1px 1px 1px #888;
    display: inline-block;    
    position: absolute;
    right: 48px;
    top: -18px;
    z-index: 101;
}
.ui-bizagi-render-error-firstControl:before
{
    background: #EF3648;
    color: #FFF;
    font: 12px Helvetica, Arial, Georgia, sans-serif;
    padding: 5px 10px;
    content: attr(data-error);
    -webkit-border-radius: 6px;
    -webkit-box-shadow: 1px 1px 1px #888;
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    right: 48px;
    top: -18px;
    z-index: 101;
}

.bz-rn-autocomplete{
    left: 0px;
    border-radius: 6px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
    -webkit-appearance: none;
    color: #3E515A;
    padding: 0 10px;
    background: white;
    z-index: 10;
    position: absolute;
    cursor: default;
    max-height: 120px;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 30px;
}
.bz-rn-autocomplete-item{
    list-style: none;
    height: 30px;
    padding: 10px 0;
}

/* Triangle */
.ui-bizagi-render-error:after
{
    border-width: 8px;
    border-style: solid;
    border-color: #EF3648 transparent transparent transparent;
    display: block;
    content: "";
    height: 1px;
    width: 1px;
    position: absolute;
    top: 6px;
    right: 55px;
    z-index: 102;
}

.ui-bizagi-render-error-firstControl:after
{
    border-width: 8px;
    border-style: solid;
    border-color: #EF3648 transparent transparent transparent;
    display: block;
    content: "";
    height: 1px;
    width: 1px;
    position: absolute;
    top: 6px;
    right: 55px;
    z-index: 102;
}

.ui-bizagi-render .ui-bizagi-render-control-required
{
    width: 1px;
    background-color: #EF3648;
    position: absolute;
    -webkit-border-radius: 2px 0px 0px 2px;
    padding: 0;
    padding-left: 2px;
    z-index: 10;
    top: 18px;
    bottom: 17px;
}

/* REQUIRED CONTROL
========================================*/

.ui-bizagi-render-boolean-yesno .ui-bizagi-render-control-required, 
.ui-bizagi-render-control-radio .ui-bizagi-render-control-required
{
    width: 13px;
    background-color: rgb(230, 230, 230);
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0;
    padding-left: 0;
    left: 0;
}

.ui-bizagi-render-boolean-yesno .ui-bizagi-render-control-required:before, 
.ui-bizagi-render-control-radio .ui-bizagi-render-control-required:before
{
    content: "*";
    position: absolute;
    top: 50%;
    left: 2px;
    color: #EF3648;
    font-size: 22px;
    margin-top: -9px;
}

/* HELP TEXT
========================================*/
.ui-bizagi-helptext
{
    -webkit-box-pack: center;
    margin: 0;
    width: 5% !important;
    border-radius: 0 6px 6px 0;
}

.ui-bizagi-helptext-msg:before
{
    background: #37BAEC;
    color: #FFF;
    font: 12px Helvetica, Arial, Georgia, sans-serif;
    padding: 5px 10px;
    content: attr(data-helptext);
    -webkit-border-radius: 6px;
    -webkit-box-shadow: 1px 1px 1px #888;
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    right: 1%;
    top: -16px;
    z-index: 101;
}

/* Triangle */
.ui-bizagi-helptext-msg:after
{
    border-width: 8px;
    border-style: solid;
    border-color: #37BAEC transparent transparent transparent;
    display: block;
    content: "";
    position: absolute;
    top: 8px;
    right: 2%;
    z-index: 102;
}

.ui-bizagi-helptext-msg-down:before
{
    background: #37BAEC;
    color: #FFF;
    font: 12px Helvetica, Arial, Georgia, sans-serif;
    padding: 6px 10px;
    content: attr(data-helptext);
    -webkit-border-radius: 6px;
    -webkit-box-shadow: 1px 1px 1px #888;
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    right: 0px;
    top: 43px;
    z-index: 101;
}

.ui-bizagi-helptext-msg-down:after
{
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #37BAEC transparent;
    display: block;
    content: "";
    position: absolute;
    top: 28px;
    right: 17px;
    z-index: 102;
}


.ui-bizagi-helptext .bz-rn-icon-heltext
{
    background-position: -253px -273px;
    top: 20px;
    right: 20px;
    display: block;
}

.ui-helper-hidden-accessible
{
    display: none;
}

/* RENDER RADIO
========================================*/

.ui-radio
{
    height: 36px;
    width: 55px;
    margin: 0 0 0 10px;
}

.ui-bizagi-render-boolean-yesno
{
    height: auto;
    min-width: 49px;
}

.ui-bizagi-render-control label.ui-bizagi-render-yesno
{
    background: white;
    border-radius: 20px;
    padding: 5px 10px 3px 5px;
    margin: 10px 10px 5px 0;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    color: rgb(65,89,104);
    font-size: 15px;
    display: inline-block;
}


label .ui-bizagi-render-boolean-radio
{
    display: inline-block;
    font-size: 15px;
    line-height: 1em;
    padding: 0;
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
    -webkit-appearance: none;
    background-position: -185px -242px;
    background-color: transparent;
    border-radius: 20px;
}

.ui-bizagi-render-boolean-radio.ui-radio-state-checked
{
    background-position: -134px -242px;
}

/* RENDER CHECKBOX
========================================*/
.ui-checkbox
{
    background-color: #D6D6D6;
    border: 1px solid #BDBDBD;
    border-radius: 4px;
}

.ui-checkbox label
{
    display: block;
    width: 22px;
    height: 22px;
}

.ui-checkbox .ui-checkbox-state-checked
{
    background-position: -367px -137px !important;
}

.ui-checkbox-align-right
{
    margin: 0 0 0 90%;
}

/* RENDER DISPLAY TYPES
========================================*/

.ui-bizagi-render-display-normal
{
    /*-webkit-box-orient: horizontal;*/
}

.ui-bizagi-render.ui-bizagi-render-display-normal > .ui-bizagi-render-boolean-yesno
{
    margin: 0 0 0 0;
}

.ui-bizagi-render-display-normal > div
{
    display: -webkit-box;
    box-sizing: border-box;
    -webkit-box-align: center;
}

.ui-bizagi-render-display-normal > div:nth-child(1)
{
    -webkit-box-ordinal-group: 1;
    width: 45%;
    padding: 0 5px;
}

/*.ui-bizagi-label*/
.ui-bizagi-render-display-normal > div:nth-child(2)
{
    -webkit-box-ordinal-group: 2;
    width: 50%; /*padding: 0 5px;*/
}

/*.ui-bizagi-render-control*/
.ui-bizagi-render-display-normal > div:nth-child(3)
{
    -webkit-box-ordinal-group: 3;
    width: 5%;
}
/*.ui-bizagi-helptext*/

.ui-bizagi-render-display-reversed
{
    -webkit-box-orient: horizontal;
}

.ui-bizagi-render-display-reversed > div
{
    display: -webkit-box;
    box-sizing: border-box;
    -webkit-box-align: center;
}

.ui-bizagi-render-display-reversed > div:nth-child(1)
{
    -webkit-box-ordinal-group: 2;
    width: 50%;
    padding: 0 5px;
}
/*.ui-bizagi-label*/
.ui-bizagi-render-display-reversed > div:nth-child(2)
{
    -webkit-box-ordinal-group: 1;
    width: 45%;
    padding: 0 5px;
}
/*.ui-bizagi-render-control*/
.ui-bizagi-render-display-reversed > div:nth-child(3)
{
    -webkit-box-ordinal-group: 3;
    width: 5%;
}
/*.ui-bizagi-helptext*/

.ui-bizagi-label > label
{
    color: #195891;
    text-transform: capitalize;
    font-weight: bold;
    width: 100%;
    position: relative;
    font-size: 15px;
    background: transparent;
    box-shadow: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}

.ui-bizagi-render-display-label
{
    -webkit-box-orient: horizontal;
}

.ui-bizagi-render-display-label > div
{
    display: -webkit-box;
    box-sizing: border-box;
    -webkit-box-align: center;
}

.ui-bizagi-render-display-label > div:nth-child(1)
{
    -webkit-box-ordinal-group: 1;
    width: 95%;
    padding: 0 5px;
    overflow: hidden;
}
/*.ui-bizagi-label*/
.ui-bizagi-render-display-label > div:nth-child(2)
{
    -webkit-box-ordinal-group: 2;
    display: none;
}
/*.ui-bizagi-render-control*/
.ui-bizagi-render-display-label > div:nth-child(3)
{
    -webkit-box-ordinal-group: 3;
    width: 5%;
}
/*.ui-bizagi-helptext*/

.ui-bizagi-render-display-value
{
    -webkit-box-orient: horizontal;
}

.ui-bizagi-render-display-value > div
{
    display: -webkit-box;
    box-sizing: border-box;
    -webkit-box-align: center;
}

.ui-bizagi-render-display-value > div:nth-child(1)
{
    -webkit-box-ordinal-group: 1;
    display: none;
    padding: 0 5px;
}
/*.ui-bizagi-label*/
.ui-bizagi-render-display-value > div:nth-child(2)
{
    -webkit-box-ordinal-group: 2;
    width: 95%;
}
/*.ui-bizagi-render-control*/
.ui-bizagi-render-display-value > div:nth-child(3)
{
    -webkit-box-ordinal-group: 3;
    width: 5%;
}
/*.ui-bizagi-helptext*/

.ui-bizagi-render-display-vertical
{
    -webkit-box-orient: vertical;
}

.ui-bizagi-render-display-vertical > div
{
    display: -webkit-box;
    box-sizing: border-box;
    -webkit-box-align: center;
}

.ui-bizagi-render-display-vertical > div:nth-child(1).ui-bizagi-required-vertical
{
    padding: 0 10px;
}

.ui-bizagi-render-display-vertical > div:nth-child(1)
{
    -webkit-box-ordinal-group: 1;
    width: 100%;
    padding: 0 5px;
}
/*.ui-bizagi-label*/
.ui-bizagi-render-display-vertical > div:nth-child(2)
{
    -webkit-box-ordinal-group: 2;
    width: 100%;
}
/*.ui-bizagi-render-control*/
.ui-bizagi-render-display-vertical > div:nth-child(3)
{
    -webkit-box-ordinal-group: 2;
    width: 5%;
}
/*.ui-bizagi-helptext*/

.ui-bizagi-render-align-left
{
    -webkit-box-pack: start;
    -webkit-box-align: left;
}

.ui-bizagi-render-align-center
{
    -webkit-box-pack: center;
}

.ui-bizagi-render-align-right
{
    -webkit-box-pack: end;
}

/* BUTTONS
========================================*/

.ui-bizagi-button-container, .ui-slide-button-container
{
    display: block;
    text-align: center;
    margin: 26px 0;
    position: relative;
    width: 100%;
}

.ui-bizagi-button-container .ui-button
{
}

.ui-bizagi-button-container div.action-button, .ui-slide-button-container div.action-button, .ui-bizagi-resolutionUploadFrame button
{
    background: whitesmoke;
    color: #195891;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 0;
    border: 1px solid rgba(180,180,180,0.5);
    font-size: 15px;
    font-weight: normal;
    line-height: 1.5em;
    text-transform: uppercase;
    word-wrap: break-word;
    width: 45%;
    position: relative;
    align-items: flex-start;
    display: inline-block;
}

.ui-bizagi-button-container div.action-button:active, .ui-slide-button-container div.action-button:active
{
    background-color: #37BAEC;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    color: white;
}

.ui-bizagi-button-container div.action-button:disabled
{
    opacity: 0.3;
    -webkit-box-shadow: none;
    color: lightgray;
    text-shadow: none;
}

/* CONTAINERS
========================================*/
.ui-bizagi-form-group
{    
    margin: 15px 0 5px 0;    
    border-bottom: 1px dashed #91D4eF;
}

.ui-bizagi-form-group .headertitle
{
    min-height: 35px;
    height: 25px;
    position: relative;
    display: inline-table;
    width: 100%;
    color: #195891;
    font-size: 13px;
    background-color: #D8E6EF;
    text-transform: uppercase;
}

.ui-bizagi-form-group .headertitle .container-left
{
    display: table-cell;
    vertical-align: middle;
}

.bz-container-rtl.ui-bizagi-form-group .headertitle .container-left
{
    text-align: right;
    float: right;
    margin: 10px 25px 0 0;
    border-right: none;
}

.ui-bizagi-form-group .headertitle .container-right
{
    display: table-cell;
    vertical-align: middle;
    width: 45px;
    background: rgba(55,186,236,0.1);
}

.bz-container-rtl.ui-bizagi-form-group .headertitle .container-right
{
    float: left;
    margin-top: 1px;
    height: 35px;
}

/* header-title */
.ui-bizagi-form-group > .headertitle .bz-rn-hd-title
{
    padding: 12px 0 10px 10px;
    margin-left: 0;
    margin-right: 0;
    min-height: 16px;
    font-size: 13px;
    color: #195891;
    text-transform: uppercase;
}

.ui-bizagi-form-group .arrow
{
    font: 1em/1em "bizagiflat";
    position: absolute;
    border-style: solid;
    border-width: 7px;
}

.ui-bizagi-form-group .arrow.up
{
    position: relative;
    color: #195891;
    font-size: 20px;
    top: 0;
    left: 12px;
}

.ui-bizagi-form-group .arrow.down
{
    position: relative;
    color: #195891;
    font-size: 20px;
    top: 0;
    left: 12px;
}

.ui-bizagi-form-group .arrow.up:after
{
    display: block;
    width: 35px;
    height: 20px;
    content: "\e604";
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    margin-top: 15px;
    margin-left: -8px;
}

.ui-bizagi-form-group .arrow.down:after
{
    position: relative;
    display: block;
    width: 35px;
    height: 20px;
    content: "\e626";
}

.childrenContainer
{
    height: auto; /*margin-top: -9px;*/
    border-radius: 0 0 6px 6px;
    border-bottom: none;
}

.childrenContainer:last-child
{
    border-bottom: none;
}

/*
.childrenContainer.hideGroup {    
    height: 0px;
    -webkit-transition: -webkit-transform 3s ease-in;
}*/

/* WIDGET SLIDER STYLES
========================================*/

.slide-container
{
    width: 100%; /*overflow: auto;         overflow-y: scroll;*/
    padding-bottom: 5px;
    position: relative;
    top: 0;
    left: 0;
    min-height: 60%;
    height: auto;
}

.slide-container .slide-container-applied
{
    display: block;
    border-bottom: 1px dashed #37BAEC;
}

.slide-container .ui-bizagi-form
{
    padding: 3% 0 10% 0;
}

.slide-container .ui-bizagi-form
{
    overflow-y: auto;
    -webkit-overflow-scroll: auto !important;
    padding-bottom: 0px !important;
    display: block;
}

.slide-container .slide-container-applied .ui-bizagi-form .slide-container
{
    height: 100%;
    position: relative;
    min-height: 350px;
    padding-top: 0;
    -webkit-box-shadow: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
}

.slide-container .slide-container-applied .ui-bizagi-form .slide-container .ui-bizagi-form.ui-bizagi-rendering-mode-execution
{
    margin-top: 0;
}

/*
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)
{
    .slide-container
    {        
        height: 655px;
    }
}
@media only screen and (min-device-width: 481px) and (max-device-768px: width) and (orientation:portrait)
{
    .slide-container
    {
        height: 970px;
    }
}*/

/*
@-webkit-keyframes slideFormEntrance
{
    0% { -webkit-transform: translate3d(0,-4000px,0); }
    100% { -webkit-transform: translate3d(0,0,0); }
}

@-webkit-keyframes slideFormExit
{
    0% { -webkit-transform: translate3d(0,0,0); }
    100% { -webkit-transform: translate3d(0,-4000px,0); }
}*/

.slide-container .slide-bt-container
{
    display: block;
    text-align: center;
    margin-bottom: 40px;
}

/* Scrolling Attachments */

#scroll-wrap
{
    position: relative;
    width: 100%;
    height: 500px;
    overflow: scroll;
}

@media only screen and (orientation:landscape)
{
    #scroll-wrap
    {
        position: relative;
        width: 100%;
        height: 500px;
        overflow: scroll;
    }
}

@media only screen and (orientation:portrait)
{
    #scroll-wrap
    {
        position: relative;
        width: 100%;
        height: 800px;
        overflow: scroll;
    }
}

#scroll-overlay
{
    position: absolute;
    width: 100%;
    height: auto;
    overflow: visible;
}

iframe
{
    height: auto;
    overflow: visible;
}


/* ERROR FORM 
============================*/

.ui-bizagi-error-message span.ui-icon.ui-icon-close.ui-widget-content
{
    display: inline;
    position: relative;
}

.ui-bizagi-error-message span.ui-icon.ui-icon-close.ui-widget-content:after
{
    font-family: "bizagiflat";
    content: "\e629";
    color: white;
    font-size: 25px;
}

.ui-bizagi-div-error-container .ui-bizagi-error-message
{
    width: 100%;
    left: 2px;
    font-size: 12px;
    margin: 3px 0;
    padding-left: 10px;
}

.ui-bizagi-error-message.ui-widget-header.ui-state-error
{
    border: 1px solid #EF3648;
    color: rgba(255,255,255,0.8);
    background: #EF3648;
    border-radius: 6px;
    box-shadow: 1px 1px 1px #888;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    display: inline-flex;
    padding: 10px;
    width: 98%;
    margin: 10px;
    vertical-align: middle;
}

span.ui-bizagi-error-message-text
{
    text-align: justify;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    padding-left: 5px;
    padding: 0 5px 0 5px;
    margin: auto 0 auto 10px;
}

span.ui-icon.ui-icon-close.ui-widget-content
{
    display: inline-block;
    margin-right: 10px;
}

/* READONLY CONTROLS
========================================*/

.bz-rn-read-only
{
    background: #E3E5E9;
    padding: 0 5px;
    border: none;
    min-height: 30px;
    -webkit-appearance: none;
    color: #576870;
    box-shadow: none;
}

.ui-bizagi-cell-readonly
{
    background: none;
}

/* COMPLEX GATEGAY
========================================*/

.ui-bizagi-container-complexgateway
{
    position: relative;
    z-index: 10;
    width: auto;
    margin: 10px 10px 10px 10px;
    border-radius: 0;
    background: #E2E4E8;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgba(58,81,90,0.3);
}

.bz-rn-cg-headercontainer
{
    position: relative;
    margin: 0;
    background: #B6BCC4;
    height: 40px;
    border-radius: 0;
}

.bz-rn-cg-headertitle
{
    height: 25px;
    margin: 15px 0 10px 0;
    font-size: 15px;
    text-align: left;
    position: relative;
    top: 15px;
    color: #41535b;
    text-transform: uppercase;
}

.bz-rn-cg-row
{
    display: table;
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid #D1D4D9;
}

.bz-rn-cg-row:last-child
{
    border-bottom: none;
}

.bz-rn-cg-row-element-text
{
    display: table-cell;
    width: 80%;
}


.bz-rn-cg-row-element-button
{
    display: table-cell;
    width: 20%;
}

span.bz-rn-cg-row-element-text
{
    text-align: left;
    padding-left: 20px;
    color: #8d8d8e;
}

.ui-checkbox.bz-cm-icon.bz-rn-cg-checkbox,
.ui-checkbox.bz-rn-cg-checkbox
{
    background: none;
}

.bz-rn-cg-checkbox label
{
    background: rgba(255,255,255,0.7);
    border-radius: 20px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
    width: 20px;
    height: 20px;
    padding: 0;
}

.bz-rn-cg-checkbox label.ui-checkbox-state-checked:after
{
    content: "\e628";
    font: 1em/1em "bizagiflat";
    color: #195891;
    font-size: 20px;
    position: relative;
}

#render-content
{
    overflow: hidden;
}

/* Panel - Horizontal */
.ui-bizagi-form-container-horizontal 
{
}

.ui-bizagi-render-last     
{
}

/* ICONS FLAT (km-icon)
============================*/

.km-rn-ecm-attached-file:before, 
.km-rn-ecm-attached-file:after {
	content: "\e62e";
}

/* ICONS 
============================*/
.ui-bizagi-form .bz-cm-icon, .ui-bizagi-render-edition-arrow .bz-cm-icon, .bz-rn-ecm-menu-container .bz-cm-icon, .bz-wp-render .bz-cm-icon, .ui-bizagi-render-geolocation .bz-cm-icon, .render-content .bz-cm-icon, .ui-bizagi-container .bz-cm-icon, .bz_clone_active .bz-cm-icon
{
    background-image: url('images/bizagi-flat-tablet-sprite-1x.png');
    -webkit-appearance: none;
    border: none;
    min-height: 20px;
    min-width: 20px;
    margin: 0 auto;
}


/* Media Query Android*/
@media only screen and (-webkit-min-device-pixel-ratio: 2 ), only screen and (min-device-pixel-ratio: 2)
{
    .ui-bizagi-form .bz-cm-icon, .bz-rn-ecm-menu-container .bz-cm-icon, .bz-wp-render .bz-cm-icon, .ui-bizagi-render-geolocation .bz-cm-icon, .ui-bizagi-render-edition-arrow .bz-cm-icon, .render-content.bz-cm-icon, .ui-bizagi-container.bz-cm-icon, .bz_clone_active .bz-cm-icon
    {
        background-image: url('images/bizagi-flat-tablet-sprite-2x.png');
        background-size: 500px 500px;
    }
}

