﻿#menuHome
{
    background-color: #f3f7fa;
}

.wp-clear
{
    clear: both;
}

.wp-homeportal .km-widget.km-navbar
{
    color: #ffffff;
    height: 50px;
    font-weight: 100 !important;
}

.wp-homeportal .km-button
{
    color: #ffffff;
    font-size: 18px;
}
.wp-homeportal .km-button:active
{
    color: #ffffff;
}

/*
toca moverlo a general*/

ul.wp-home-list
{
    margin: 0;
}

.km-flat ul.wp-home-list.km-listgroupinset ul.km-list > li:last-child
{
    border-bottom: 1px solid #E5E5E5;
}

.km-flat ul.wp-home-list.km-listgroupinset ul.km-list > li
{
    border-bottom: 0;
    text-transform: capitalize;
    font-weight: lighter;
}

.wp-home-list.km-listview .km-icon
{
    float: left;
    color: #195891;
}

.wp-home-list .bz-wp-home-list-category
{
    color: #195891;
    margin-left: 20px;
    text-transform: uppercase;
}

.wp-home-list div
{
}

.wp-home-list div.bz-wp-list-title
{
    color: #787878;
}

.wp-home-list span.bz-wp-list-quantity
{
    position: absolute;
    top: 15px;
    right: 10px;
    padding: 5px 12px;
    border-radius: 10px;
    background-color: #f2f5f8;
    color: #2e3e4e;
}

ul.wp-home-list ul.km-list li
{
    position: relative;
    padding: 20px 50px 20px 30px;
}

ul.wp-home-list ul.km-list
{
    margin-top: 15px;
}

.wp-home-list hr
{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #E5E5E5;
    padding: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 22px;
}

/*Left Pane */
.bz-wp-home-left-pane
{
    min-width: 250px;
}

/* Offline */

#homePortal .bz-wp-home-offline-menu-container
{
    display: none;
    position: absolute;
    z-index: 9999;
    border: none;
    background-color: #FEFEFE;
    box-sizing: border-box;
    width: 100%;
    box-shadow: 0px 1px 1px 0px #B2B2B2;
}

#homePortal .bz-wp-home-offline-menu-item span.bz-wp-home-offline-menu-list-title
{
    color: #787878;
}

#homePortal li.bz-wp-home-offline-menu-item
{
    padding: 15px 0 15px 20px;
}

#homePortal .bz-wp-home-offline-menu-item span.km-icon
{
    color: #8CABC8;
    font-size: 20px;
}

#homePortal ul.bz-wp-home-offline-menu-list:before
{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 25px;
    content: "";
    display: block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #154b7c;
    z-index: 9999;
}

/* Selected */
#homePortal .km-listview-wrapper li.bz-offline-selected, li.bz-wp-home-offline-menu-item.bz-offline-selected
{
    background: #E4E8E9;
}

.bz-wp-offline-menu-opacity
{
    opacity: 0.5;
}

.bz-header-offline-display
{
    display: none;
}

#homePortal .km-flat .km-list > li, .bz-wp-home-offline-menu-container ul > li.bz-wp-home-offline-menu-item
{
    background: #fcfcfc;
    border: 1px solid #E5E5E5;
    border-width: 0 0 1px 0;
}

/* Offline message */

#homePortal .bz-wp-status-container
{
    display: -webkit-inline-flex; /* Safari */
    display: inline-flex;
    background: #30699C;
    border-radius: 5px;
    margin: 10px;
}

#homePortal .bz-wp-status-notification
{
    text-transform: uppercase;
    font-size: 15px;
}

#homePortal .bz-wp-status-notification.offline
{
    background: #D90000;
}

#homePortal .bz-wp-status-notification.online
{
    background: #51e009;
}

#homePortal .bz-wp-status-notification.online, .bz-wp-status-notification.offline
{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin: 10px;
}

#homePortal .bz-wp-status-title
{
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    margin: auto;
    margin-right: 10px;
}