<script type="text/x-kendo-template" id="homePortalSplitView">
    <div data-role="splitview" id="homePortal"  class="wp-homeportal" >
        <div id="left-pane" data-role="pane" data-layout="side-default" class="bz-wp-home-left-pane" data-collapsible="true">

            #for(var item in data.homePortalLayoutPositions){ if(data.homePortalLayoutPositions[item].direction === 'left'){#
                <div data-role="view" id="#= data.homePortalLayoutPositions[item].canvas #" data-title="#= data.homePortalLayoutPositions[item].title #"> </div>
            #}}#

            <div data-role="layout" data-id="side-default" data-show="toggleBackButton">
                <div data-role="header">
                    <div data-role="navbar">
                        <a data-role="button" data-rel="drawer" data-icon="render-slider" class="bz-header-left-btn" data-align="left"></a>
                        <span data-role="view-title"></span>      
                        #if (typeof (data.hasOfflineForm) !== 'undefined' && data.hasOfflineForm) { # 
                            <a data-role="button" data-icon="three-points-landscape" class="bz-header-offline-btn" data-align="right" data-transition="pop""></a>
                         # } #                        
                    </div>
                    
                    <!-- Offline Menu -->                                 
                    <div class="bz-wp-home-offline-menu-container"></div>
                </div>
            </div>
        </div>

        <div id="right-pane" data-role="pane" data-layout="main-default" data-navigate="bizagi.util.mobility.homePortalNavigate" data-view-show="bizagi.util.mobility.homePortalViewShown">

            #for(var item in data.homePortalLayoutPositions){ if(data.homePortalLayoutPositions[item].direction === 'right'){#
                <div data-role="view" id="#= data.homePortalLayoutPositions[item].canvas #" data-init="bizagi.util.mobility.homePortalViewInit" data-title="#= data.homePortalLayoutPositions[item].title #"  data-layout="#= data.homePortalLayoutPositions[item].layout#"> </div>
            #}}#

            <div data-role="layout" data-id="main-default" data-show="toggleBackButton" data-init="bizagi.util.mobility.homePortalLayoutInit">
                <div data-role="header">
                    <div data-role="navbar">
                        
                        <div class="bz-wp-status-container" data-align="left">              
                            <div class="bz-wp-status-notification online">        
                            </div>
                                <span data-role="view-title" class="bz-wp-status-title" >
                                    %{workportal-offline-status-online}
                                </span>                            
                        </div>

                        <span data-role="view-title"></span>
                        <a data-role="button" data-rel="drawer" data-icon="new-smallsize" class="bz-header-right-btn" id="bz-workarea-newcase" data-align="right"></a>
                    </div>
                </div>
            </div>
            
             <div data-role="layout" data-id="main-default-close" data-show="toggleBackButton" data-init="bizagi.util.mobility.homePortalLayoutInit">
                <header data-role="header">
                    <div data-role="navbar">
                        <a data-role="button" data-align="left" data-icon="cancel"  class="bz-header-left-btn btn-close"></a>
                        <span data-role="view-title"></span>
                    </div>
                </header>
            </div>

            <div data-role="layout" data-id="main-default-back" data-show="toggleBackButton" data-init="bizagi.util.mobility.homePortalLayoutInit">
                <header data-role="header">
                    <div data-role="navbar">
                        <a data-role="button" data-align="left" data-icon="back"  class="bz-header-left-btn btn-back" data-role="backbutton"></a>
                        <span data-role="view-title"></span>
                        <a data-role="button" data-rel="drawer" data-icon="new-smallsize" class="bz-header-right-btn" id="bz-workarea-newcase" data-align="right"></a>
                    </div>
                </header>
            </div>
        </div>

    </div>
</script>
<!-- Offline Menu -->
<script id="ui-bz-wp-webpart-home-menu-offline" type="text/x-kendo-template">                                                   
    <ul class="bz-wp-home-offline-menu-list">
        <li data-icon="inbox-small-box" data-tray="inbox" class="bz-wp-home-offline-menu-item #if (!data.online) { # bz-wp-offline-menu-opacity # } #">
            <span class="bz-wp-home-offline-menu-list-title">%{workportal-menu-inbox}</span>
        </li>
        <li data-icon="outbox" data-tray="outbox" class="bz-wp-home-offline-menu-item">                                
            <span class="bz-wp-home-offline-menu-list-title">%{workportal-menu-outbox}</span>
        </li>
        <li data-icon="drafts" data-tray="drafts" class="bz-wp-home-offline-menu-item">
            <span class="bz-wp-home-offline-menu-list-title">%{workportal-menu-drafts}</span>                                
        </li>
    </ul>
</script>
