﻿#ui-bizagi-render-encrypt-passwords {
    font-family: "Neo Sans Regular", Tahoma, Geneva, sans-serif !important;
    margin: 0 auto;    
    padding-left: 15px;
    padding-top: 10px;
    width: 221px;
}

.ui-bizagi-render-encryptPasswords-wrapper .title {
    display: block;
    padding: 3px 0px; 
}

.auth-form-table{   
    margin: 0 auto;    
    padding-top: 30px;
    width: 220px;
}

.auth-form-table .auth-form-row {  
    overflow: hidden;
    padding-top: 2px;
}

.auth-form-table .auth-form-row .auth-form-cell{    
    box-sizing: border-box;
    min-width: 200px;
    float: left;
}

.auth-form-table .auth-form-row .auth-form-cell .auth-render-field {
    width:70%
}

#ui-bizagi-render-encrypt-passwords .ui-dialog-buttonset {
    text-align: center;
    margin: 5px 0;
    padding-top: 10px;
}

.auth-text, .auth-datepicker{
    display: inline-block;
    height: 24px;
    max-height: 24px;
    padding: 0 4px;
    line-height: 24px;
    vertical-align: middle;
    width:210px
}

.auth-textArea{
    width:210px;
}