/*///////global  modal container styles//////////////*/
.modalMenuBt{    
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius:  4px 4px 4px 4px;
    width:300px;
}
#modalMenuBtHeader{
    position:relative;
    margin-bottom:5px;
}
#modalMenuBtList{
    background:#cecece url("images/dots_columns.png") 0 0 repeat;
    padding:10px;
    -moz-border-radius: 4px;
    -webkit-border-radius:4px;
    border-radius:4px;
}

#queryFormShortcut > #modalMenuBtList{
    padding:0px 0px 0px 0px;
}

.categoryTree {
    padding:0 10px 5px !important;
    margin-bottom:10px !important;
    border-bottom: 1px solid #acacac;
    box-shadow:0 1px 0 0 rgba(255,255,255,0.2);
    overflow:hidden;
}
.categoryTree  li{
    list-style: none;
    display: inline-block;
    /*display:inline;
	float:left;*/
    /* font-family: 'NeoSansStdRegular';*/
    color:#1f74b2;
}
.categoryTree li:hover{    
    cursor: pointer;
    text-decoration:underline;
}

.modalMenuBt #categories{   
    overflow: hidden;
    max-height: 430px;
}

#modalMenuBtList > div ul{    
    padding: 1px;
    margin: 0;
    position:relative;
    background:#e6e6e6;
    border:1px solid #98a1a8;
    -moz-border-radius: 6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    margin-top:4px;
}
#modalMenuBtList > div ul:first-child{
    margin-top:0;
}
#modalMenuBtList > div ul li{
    overflow:hidden;
    list-style: none outside none;
    padding:5px 30px 5px 45px;
    position: relative;
    -moz-border-radius: 4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    color:#444444;
    min-height:26px;
}
#modalMenuBtList > div ul li.process{
    padding-right:10px;
}

#modalMenuBtList > div li:hover{
    cursor: pointer;
    background: #b1b8bc; /* Old browsers */
    background-image:url("images/lines.png");
    background-image: url("images/lines.png"), -moz-linear-gradient(top, rgba(191,197,200,1) 0%, rgba(155,164,168,1) 100%); /* FF3.6+ */
    background-image: url("images/lines.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,197,200,1)), color-stop(100%,rgba(155,164,168,1))); /* Chrome,Safari4+ */
    background-image: url("images/lines.png"), -webkit-linear-gradient(top, rgba(191,197,200,1) 0%,rgba(155,164,168,1) 100%); /* Chrome10+,Safari5.1+ */
    background-image: url("images/lines.png"), -o-linear-gradient(top, rgba(191,197,200,1) 0%,rgba(155,164,168,1) 100%); /* Opera11.10+ */
    background-image: url("images/lines.png"), -ms-linear-gradient(top, rgba(191,197,200,1) 0%,rgba(155,164,168,1) 100%); /* IE10+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfc5c8', endColorstr='#9ba4a8',GradientType=0 ); /* IE6-9 */
    background-image: url("images/lines.png"), linear-gradient(top, rgba(191,197,200,1) 0%,rgba(155,164,168,1) 100%); /* W3C */	
}

#modalMenuBtList > div li h3{
    font-family: 'NeoSansStdRegular'; 
    font-size: 115% !important;
    color: #283238;
    margin:3px 0;
    font-weight:normal;
    text-shadow: 0 1px 0 rgba(255,255,255,0.4);
    width: 140px;
}
#modalMenuBtList > div li.category h3{
    /*margin:3px 0px;*/
    /*line-height:35px;*/
}
#modalMenuBtList > div li p{
    margin:0 0 5px 0;
    color:#666;
}
#modalMenuBtList > div li:hover p{
    color:#444444;
}
#modalMenuBtList > div li #arrow{
    background: url(images/sprite.png) -187px -145px no-repeat;
    height:20px;
    width:20px;
    text-indent:-9999px;
    position:absolute;
    right:5px;
    top:50%;
    margin-top:-10px;
}

#modalMenuBtList > div li .processIco,
#modalMenuBtList > div li .categoryIco, 
#modalMenuBtList > div li .categoryLinkIco{
    position:absolute;
    left:10px;
    top:50%;
    margin-top:-13px;
    background-image: url(images/sprite.png);
    width: 26px;
    height: 26px;
}
#modalMenuBtList > div li .categoryIco{
    background-position: -75px -173px;
}
#modalMenuBtList > div li .categoryLinkIco{
    background-position:  -215px -209px;
}
#modalMenuBtList > div li:hover .categoryLinkIco{
    background-position:  -215px -244px;
}

#modalMenuBtList > div li .processIco{
    background-position: -146px -207px;
}
#modalMenuBtList > div li:hover .processIco{
    background-position: -146px -242px;
}

#modalMenuBtList > div .BAMProcess .processIco{
    background-position: -110px -278px;
}
#modalMenuBtList > div .BAMProcess:hover .processIco{
    background-position: -110px -312px;
}
#modalMenuBtList > div .BAMTask .processIco{
    background-position: -75px -278px;
}
#modalMenuBtList > div .BAMTask:hover .processIco{
    background-position: -75px -313px;
}
#modalMenuBtList > div .AnalyticsProcess .processIco{
    background-position: -40px -278px;
}
#modalMenuBtList > div .AnalyticsProcess:hover .processIco{
    background-position: -40px -313px;
}
#modalMenuBtList > div .AnalyticsTask .processIco{
    background-position: -05px -278px;
}
#modalMenuBtList > div .AnalyticsTask:hover .processIco{
    background-position: -05px -313px;
}
#modalMenuBtList > div .AnalyticsSensor .processIco{
    background-position: -250px -208px;
}
#modalMenuBtList > div .AnalyticsSensor:hover .processIco{
    background-position: -250px -243px;
}
#modalMenuBtList > div .AnalysisQueries .processIco{
    background-position: -333px -350px;
}
#modalMenuBtList > div .AnalysisQueries:hover .processIco{
    background-position: -333px -382px;
}
#modalMenuBtList > div .BAMResourceMonitor .processIco{
    background-position: -366px -412px;
}
#modalMenuBtList > div .BAMResourceMonitor:hover .processIco{
    background-position: -366px -381px;
}

#modalMenuBtList > div li .processIco.wait{
    background: url(images/loading_cube_mini.png) 0 0 no-repeat;   
    background-position: center center;
    background-repeat: no-repeat;
}

/* /////////////////  Edit and delete button /////////////////////*/

#modalMenuBtList > div li .deleteButton,#modalMenuBtList > div li .editButton,#modalMenuBtList > div li .addButton{
    position:absolute;
    background: url(images/sprite.png) 0 0 no-repeat;
    width: 13px;
    height: 13px;
}

#modalMenuBtList > div li .deleteButton, #modalMenuBtList > div li .editButton,#modalMenuBtList > div li .addButton{
    visibility: hidden;
    display:inline-block;
    width:16px;
    height: 16px;
    margin-top: 5px;
}

#modalMenuBtList > div li:hover .deleteButton, #modalMenuBtList > div li:hover .editButton, #modalMenuBtList > div li:hover .addButton{
    visibility: visible;
}

#modalMenuBtList > div li:hover .deleteButton {
    background-position: -296px -89px;
    right:5px;
}
#modalMenuBtList > div li .deleteButton:hover{
    background-position: -312px -89px;
}
#modalMenuBtList > div li:hover .editButton {
    background-position: -264px -89px;
    right:25px;
}
#modalMenuBtList > div li .editButton:hover{
    background-position: -280px -89px;
}
#modalMenuBtList > div li .addButton{
    background-position: -328px -89px;
    right:42px;
    top:-2px;
}
#modalMenuBtList > div li .addButton:hover{
    background-position: -344px -89px;
}


/*//////////Admin Modal icons//////////////////*/
#modalMenuBtList > div li.LanguageAdmin .categoryIco{
    background-position: -205px -456px;
}
#modalMenuBtList > div li.LanguageAdmin:hover .categoryIco{
    background-position: -230px -456px;
}
#modalMenuBtList > div li.UserAdmin .categoryIco{
    background-position: -6px -418px;
}
#modalMenuBtList > div li.UserAdmin:hover .categoryIco{
    background-position: -6px -453px;
}
#modalMenuBtList > div li.EntityAdmin .categoryIco{
    background-position: -181px -278px;
}
#modalMenuBtList > div li.EntityAdmin:hover .categoryIco{
    background-position: -181px -313px;
}
#modalMenuBtList > div li.CaseAdmin .categoryIco{
    background-position: -250px -348px;
}
#modalMenuBtList > div li.CaseAdmin:hover .categoryIco{
    background-position: -250px -383px;
}
#modalMenuBtList > div li.AlarmAdmin .categoryIco{
    background-position: -214px -348px;
}
#modalMenuBtList > div li.AlarmAdmin:hover .categoryIco{
    background-position: -214px -383px;
}
#modalMenuBtList > div li.EncryptionAdmin .categoryIco{
    background-position: -180px -348px;
}
#modalMenuBtList > div li.EncryptionAdmin:hover .categoryIco{
    background-position: -180px -383px;
}
#modalMenuBtList > div li.MobileUpdatesAdmin .categoryIco{
    background-position: -110px -278px;
}
#modalMenuBtList > div li.MobileUpdatesAdmin:hover .categoryIco{
    background-position: -110px -312px;
}
#modalMenuBtList > div li.AsynchronousWorkitemRetries .categoryIco{
    background-position: -145px -348px;
}
#modalMenuBtList > div li.AsynchronousWorkitemRetries:hover .categoryIco{
    background-position: -145px -383px;
}
#modalMenuBtList > div li.UserPendingRequests .categoryIco{
    background-position: -40px -348px;
}
#modalMenuBtList > div li.UserPendingRequests:hover .categoryIco{
    background-position: -40px -383px;
}
#modalMenuBtList > div li.AuthenticationLogQuery .categoryIco{
    background-position: -110px -348px;
}
#modalMenuBtList > div li.AuthenticationLogQuery:hover .categoryIco{
    background-position: -110px -383px;
}
#modalMenuBtList > div li.CasesMonitor .categoryIco{
    background-position: -75px -348px;
}
#modalMenuBtList > div li.CasesMonitor:hover .categoryIco{
    background-position: -75px -383px;
}
#modalMenuBtList > div li.BusinessPolicies .categoryIco{
    background-position: -217px -278px;
}
#modalMenuBtList > div li.BusinessPolicies:hover .categoryIco{
    background-position: -217px -313px;
}
#modalMenuBtList > div li.Profiles .categoryIco{
    background-position: -05px -348px;
}
#modalMenuBtList > div li.Profiles:hover .categoryIco{
    background-position: -05px -383px;
}
#modalMenuBtList > div li.UserDefaultAssignation .categoryIco{
    background-position: -250px -278px;
}
#modalMenuBtList > div li.UserDefaultAssignation:hover .categoryIco{
    background-position: -250px -313px;
}
#modalMenuBtList > div li.LocationResources .categoryIco{
    background-position: -145px -278px;
}
#modalMenuBtList > div li.LocationResources:hover .categoryIco{
    background-position: -145px -313px;
}
#modalMenuBtList > div li.Licenses .categoryIco{
    background-position: -286px -282px;
}
#modalMenuBtList > div li.Licenses:hover .categoryIco{
    background-position: -286px -317px;
}
#modalMenuBtList > div li.GRDimensionAdmin .categoryIco{
    background-position: -328px -282px;
}
#modalMenuBtList > div li.GRDimensionAdmin:hover .categoryIco{
    background-position: -328px -315px;
}
#modalMenuBtList > div li.ProcessAdmin .categoryIco{
    background-position: -289px -352px;
}
#modalMenuBtList > div li.ProcessAdmin:hover .categoryIco{
    background-position: -289px -385px;
}
#modalMenuBtList > div li.ThemeBuilder .categoryIco{
    background-position: -217px -207px;
}
#modalMenuBtList > div li.ThemeBuilder:hover .categoryIco{
    background-position: -217px -242px;
}
/*//////////Report Modal icons//////////////////*/
#modalMenuBtList > div li.BAMProcess .categoryIco{
    background-position: -110px -278px;
}
#modalMenuBtList > div li.BAMProcess:hover .categoryIco{
    background-position: -110px -312px;
}
#modalMenuBtList > div li.BAMTask .categoryIco{
    background-position: -75px -278px;
}
#modalMenuBtList > div li.BAMTask:hover .categoryIco{
    background-position: -75px -313px;
}
#modalMenuBtList > div li.AnalyticsProcess .categoryIco{
    background-position: -40px -278px;
}
#modalMenuBtList > div li.AnalyticsProcess:hover .categoryIco{
    background-position: -40px -313px;
}
#modalMenuBtList > div li.AnalyticsTask .categoryIco{
    background-position: -05px -278px;
}
#modalMenuBtList > div li.AnalyticsTask:hover .categoryIco{
    background-position: -05px -313px;
}
#modalMenuBtList > div li.AnalyticsSensor .categoryIco{
    background-position: -250px -208px;
}
#modalMenuBtList > div li.AnalyticsSensor:hover .categoryIco{
    background-position: -250px -243px;
}
#modalMenuBtList > div li.AnalysisQueries .categoryIco{
    background-position: -333px -350px;
}
#modalMenuBtList > div li.AnalysisQueries:hover .categoryIco{
    background-position: -333px -382px;
}
#modalMenuBtList > div li.BAMResourceMonitor .categoryIco{
    background-position: -333px -350px;
}
#modalMenuBtList > div li.BAMResourceMonitor:hover .categoryIco{
    background-position: -333px -382px;
}

/*///////////////new case header/////////////////*/ 
.modalMenuBt #bt-back{
    float:left;
    height:22px;
    width:22px;
    padding:1px;
    margin-top:4px;
    cursor: pointer;
    position:relative;
    cursor: pointer;
    background:url(images/sprite.png) -185px -117px no-repeat;
    position:relative;
}
.modalMenuBt #bt-back span{
    display:block;
    height:22px;
    width:22px;
    background:url(images/sprite.png) 1px -68px no-repeat;
}
.modalMenuBt #bt-back:hover span{
    background:url(images/sprite.png) -22px -68px no-repeat;
}



/*/////////////////////////view option////////////*/
#newcase-view-options{
    float:right;
}

#newcase-view-options li{
    float:left;
    display:inline;
    cursor: pointer;
    height:25px; 
    width:25px;
    padding:3px;
    position:relative;
    margin-left:1px;
    margin-right: 4px;
}
#newcase-view-options li span{
    background:url(images/sprite.png) 0 0 no-repeat;
    height:25px;
    width:25px;
    display:block;
}
#newcase-view-options #frecuentCases span{
    background-position:-270px -51px;
}
#frecuentCases:hover span, #frecuentCases.frecuentCasesOn span{
    background-position:-340px -51px;
}
#search span{
    background-position:-99px -51px;
    width:30px;
}
#search:hover span, #search.searchOn span{
    background-position:-191px -51px;
    width:30px;
}
#newcase-view-options #casesList span{
    background-position:-235px -51px;
}
#casesList:hover span, #casesList.casesListOn span{
    background-position:-305px -51px;
}
.frecuentCasesOn, #casesList.casesListOn, #frecuentCases:hover, #casesList:hover{
    background-color:rgba(0,0,0,0.1);
    /*box shadow*/
    box-shadow:inset 0 1px 8px 2px rgba(0,0,0,0.3);
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius:  4px 4px 4px 4px;
    background-color: #2E3941;
}
.ie8 .frecuentCasesOn,.ie8 #casesList.casesListOn,.ie8 #frecuentCases:hover,.ie8 #casesList:hover{
    background: transparent;-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000)"; /* IE8
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);   /* IE6 & 7 */      /*zoom: 1;*/
}

.frecuentCasesOn:before, #casesList.casesListOn:before, #frecuentCases:hover:before, #casesList:hover:before, #search:hover:before{
    content:"";
    color:white;
    box-shadow:0 1px 0 0 rgba(255,255,255,0.1); 
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius:  4px 4px 4px 4px;
}

#ui-bizagi-wp-app-search.searchNewCase{
    width: 100% !important;
    margin: 2px 0;
}




/* Modal definition for new case action */
.modalNewCaseOverlay{
    display: none;
}
.modalNewCaseOverlayShow{
    display: inline;
    position: fixed;
    z-index: 1010;
}

#modalNewCaseMessage{
    display: none;    
}
#modalNewCaseMessage.show{        
    display: inline;
    position: fixed;
    z-index: 1011;
    width: 350px;
    height: auto;
    box-shadow: 0 0 13px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 13px 2px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 13px 2px rgba(0,0,0,0.5);    
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;     
    background-color: #FFFFFF;   
}
#modalNewCaseMessage #case{
    color: #2F526C;
    font-family: 'NeoSansStdMedium';
    font-size: 22.5px;
    font-weight: normal;
    text-align: center;
}
#modalNewCaseMessage #loading{
    height: 50px;
}


.loadMoreElements{
    width: 100%;
    /*height: 40px;*/
    text-align: center;
    margin: 15px 0 10px;
    /*padding:5px 0px;*/
    cursor: pointer;
}
.loadMoreElements span{
    display:inline-block;
    vertical-align: middle;
}
.loadMoreElements span.plus_load_icon{
    background: url("images/sprite.png") -328px -89px no-repeat;
    height: 16px;
    width: 16px;
    margin-right: 5px;
}
.loadMoreElements span.loading_icon{
    background-image: url("images/loading_cube_mini.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 16px;
    margin-right: 5px;    
    width: 16px;
}
.loadMoreElements:hover span.plus_load_icon{
    background-position: -344px -89px;
}
.loadMoreElements:hover span{
    color: #1F74B2;
    text-decoration: underline;
}

.new-case-organization-list-content {
    margin: 5px 0;
}

.new-case-organization-list-content .ui-dialog-buttonset {
    text-align: right;
}


.new-case-organization-list-content form {
    background: #e6e6e6;
    border: 1px solid #98a1a8;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    padding : 8px;
}

.new-case-organization-list-content p {
    margin: 0;
}

.new-case-organization-list-content #organization-list {
    margin: 5px 0;
}