.modal .content .complex-frame {
    margin: 4px;
    background-color: #dedede;
}

.complex-content caption {
    border-bottom: 1px solid #13212c;
    background: #396585;
    background: url(images/noise.png), -moz-linear-gradient(top, #396585 0%, #193245 100%);
    background: url(images/noise.png), -webkit-linear-gradient(top, #396585 0%, #193245 100%);
    background: url(images/noise.png), -o-linear-gradient(top, #396585 0%, #193245 100%);
    background: url(images/noise.png), -ms-linear-gradient(top, #396585 0%, #193245 100%);
    font-family: 'NeoSansStdRegular';
    font-weight: normal;
    font-size: 135%;
    line-height: 30px;   
    text-shadow: 0px -1px 0px rgba(0, 0, 0, .35);
    color: #f5f5f5;
}

.complex-content tr:hover td {
    background: rgb(191,197,200); /* Old browsers */
    background-image: url("images/lines.png");
    background-image: url("images/lines.png"), -moz-linear-gradient(top, rgba(191,197,200,1) 0%, rgba(155,164,168,1) 100%); /* FF3.6+ */
    background-image: url("images/lines.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,197,200,1)), color-stop(100%,rgba(155,164,168,1))); /* Chrome,Safari4+ */
    background-image: url("images/lines.png"), -webkit-linear-gradient(top, rgba(191,197,200,1) 0%,rgba(155,164,168,1) 100%); /* Chrome10+,Safari5.1+ */
    background-image: url("images/lines.png"), -o-linear-gradient(top, rgba(191,197,200,1) 0%,rgba(155,164,168,1) 100%); /* Opera11.10+ */
    background-image: url("images/lines.png"), -ms-linear-gradient(top, rgba(191,197,200,1) 0%,rgba(155,164,168,1) 100%); /* IE10+ */
    background-image: url("images/lines.png"), linear-gradient(top, rgba(191,197,200,1) 0%,rgba(155,164,168,1) 100%); /* W3C */	   
}

.complex-content .complex-row {
    cursor: pointer;
}

.complex-content .complex-row-check > span {
    -webkit-transition: background-color 0.35s;
    -moz-transition: background-color 0.35s;
    display: inline-block;
    width: 10px;
    height: 10px;
}
.complex-content .complex-row-check > span.ui-icon {
    background: url(images/sprite.png) no-repeat;
    width: 24px;
    height: 24px;
}

.complex-content .complex-row-check:hover > span.ui-icon,
.complex-content .complex-row-check > span.ui-icon:hover { background-position: -75px -455px; }

.complex-content .complex-row-check > span[data-state=uncheck] { background-position: -41px -455px; }

.complex-content .complex-row-check:hover > span[data-state=check],
.complex-content .complex-row-check > span[data-state=check] { background-position: -109px -455px; }

.complex-content .complex-row-check > span[data-state=check]:hover { background-position: -109px -455px; }

.complex-content th,
.complex-content td {
    text-align: center;
    max-width: 250px;
    min-width: 120px;
}

.complex-content th {
    height: 30px;
	padding: 8px;
    border-top: none;
    border-bottom: 1px solid #3c4046; 
    background: #5d6771; /* Old browsers */
    background: -moz-linear-gradient(top, #7b8b9a 0%, #4a4f56 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7b8b9a), color-stop(100%,#4a4f56)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7b8b9a 0%,#4a4f56 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7b8b9a 0%,#4a4f56 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #7b8b9a 0%,#4a4f56 100%); /* IE10+ */
    background: linear-gradient(top, #7b8b9a 0%,#4a4f56 100%); /* W3C */
    font-size: 115%;
    font-family: 'NeoSansStdRegular';
    font-weight: normal;    
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: normal;
    vertical-align: middle;    
    color: #f5f5f5;
}

.complex-content td {
    padding: 6px 4px;
    border-top: 1px solid #b8b8b8;
    text-align: center;
}