#modal-about-wrapper {
	height: 130px !important;
    margin: 1em auto;
}

#modal-about-wrapper #modal-about-content {
	height: 100%;
}

#modal-about-wrapper .logo {
    background: url(../desktop/images/logobizagi.png) no-repeat transparent;
	height: 82px;
	width: 206px;
}

#modal-about-wrapper .content {
	position: relative;
	width: 100%;
	text-align: right;
}

#modal-about-wrapper .content span {
	display: block;
}