/*
    Document   : inbox
    Created on : May 10, 2011, 9:40:40 AM
    Author     : Edward Morales edward.morales{_at_}bizagi.com
    Description:
        Purpose of the stylesheet follows.
*/

/*/////////////////////view subheader options///////////////////////////////*/
#ui-bizagi-workportal-widget-view-options{
    margin:0;
    float:right;
    padding:2px;
}
#ui-bizagi-workportal-widget-view-options li{
    display:inline;
    cursor: pointer;
    position:relative;
}
#ui-bizagi-workportal-widget-view-options li span{
    display:block;
    position:absolute;
    top:0;
    left:0;
    width: 42px;
    height: 21px;
}
#ui-bizagi-workportal-widget-view-options li span:first-child{
    display:block;
    position:relative;
    z-index:100;
}

#ui-bizagi-wp-app-inbox-bt-eye{
    background-image: url(images/sprite.png);
    background-position: -48px -53px;
}
#ui-bizagi-wp-app-inbox-bt-eye:hover, #ui-bizagi-wp-app-inbox-bt-eye:active{
    background-position: -140px -53px;
}
#ui-bizagi-wp-app-inbox-bg-eye{
    background-color:rgba(0,0,0,0.1);
    /*box shadow*/
    box-shadow:inset 0 1px 5px 2px rgba(0,0,0,0.3);
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius:  4px 4px 4px 4px;
}
.ie8 #ui-bizagi-wp-app-inbox-bg-eye{
    background: transparent;-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C0000,endColorstr=#4C0000)"; /* IE8 */
}
#ui-bizagi-wp-app-inbox-bg-eye:before{
    content:"";
    color:white;
    box-shadow:0 1px 0 0 rgba(255,255,255,0.15);
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius:  4px;
}

.eye-focus-on{
    visibility: visible;
}
.eye-focus-off{
    visibility: hidden;
}

/*/////////////////////global subheader options///////////////////////////////*/
#ui-bizagi-workportal-widget-global-options{
    margin:0 0 0 -15px;
    float:left;
    padding:0;
}
#ui-bizagi-workportal-widget-global-options li{
    float:left;
    display:inline;
    height:22px;
    width:22px;
    padding:1px;
    margin-left:10px;
    position:relative;
    cursor: pointer;
    background:url(images/sprite.png) -185px -117px no-repeat;
}
#ui-bizagi-workportal-widget-global-options li:first-child{
    margin-left:0;
}
.ui-bizagi-wp-app-inbox-bt-back span{
    display:block;
    height:22px;
    width:22px;
    background:url(images/sprite.png) 1px -68px no-repeat;
}
#ui-bizagi-workportal-widget-global-options li.ui-bizagi-wp-app-inbox-bt-back:hover  span{
    background-position: -22px -68px;
}


/*-----------------------------------------------------------------*/


/*        ACTIONS NAVIGATION      */
/*--------------------------------*/

#ui-bizagi-wp-app-inbox-bt-comments{
    background-image: url(images/sprite.png);
    background-position: -473px -48px;
    width: 20px;
    height: 18px;
}

.ui-bizagi-wp-app-inbox-bt-comments{
    position: relative;
    top:3px;
    left:0;
    padding-left: 20px;
    padding-bottom: 10px;
}


#ui-bizagi-wp-app-inbox-bt-undo{
    background-image: url(images/sprite.png);
    background-position: -503px -48px;
    width: 19px;
    height: 18px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.ui-bizagi-wp-app-inbox-bt-undo{
    position: relative;
    top:3px;

    left:10px;
}


#ui-bizagi-wp-app-inbox-bt-folder{
    background-image: url(images/sprite.png);
    background-position: -534px -48px;
    width: 19px;
    height: 18px;

}

.ui-bizagi-wp-app-inbox-bt-folder{
    position: relative;
    top:3px;
    left:20px;
    padding-left: 20px;
    padding-bottom: 10px;
}

#ui-bizagi-wp-app-inbox-bt-trash{
    background-image: url(images/sprite.png);
    background-position: -569px -48px;
    width: 13px;
    height: 18px;
}

.ui-bizagi-wp-app-inbox-bt-trash{
    position: relative;
    top:3px;
    left:34px;
    padding-left: 20px;
}

#ui-bizagi-wp-app-inbox-bt-row-back{
    background-image: url(images/sprite.png);
    background-position: -599px -48px;
    width: 11px;
    height: 18px;
}

.ui-bizagi-wp-app-inbox-bt-row-back{
    position: relative;
    top:12px;
    left:70px;
    padding-left: 15px;
}

#ui-bizagi-wp-app-inbox-bt-row-forward{
    background-image: url(images/sprite.png);
    background-position: -623px -48px;
    width: 11px;
    height: 18px;
}

.ui-bizagi-wp-app-inbox-bt-row-forward{
    position: relative;
    top:12px;
    left:75px;
    padding-left: 15px;
}

#ui-bizagi-wp-app-inbox-actions-separator{
    width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #aaaaaa;
}

.ui-bizagi-wp-app-inbox-actions-separator{
    position: relative;
    top:1px;
    left: 50px;
    padding-bottom: 23px;
}


/*-------------------------------------------------------*/
/*-------------------------------------------------------*/

/*    FRAMEWORK      */
#contentInbox{
    height: 27px;
    width:100%;
    position:relative;
    background: #396585; /* Old browsers */
    background: -moz-linear-gradient(top, #396585 0%, #193245 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#396585), color-stop(100%,#193245)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #396585 0%,#193245 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #396585 0%,#193245 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #396585 0%,#193245 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#396585', endColorstr='#193245',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #396585 0%,#193245 100%); /* W3C */
    -webkit-box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
    z-index:49;
}

#contentInbox h2{
    cursor: pointer;
    margin:0 0 0 10px;
    color:#f5f5f5;
    font-weight:normal;
    font-size:135%;
    line-height:25px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.35);
    float:left;
}
#contentInbox h2:hover{
    text-shadow: 0 0 5px #FFFFFF;
    color:#ffffff;
}

#contentInbox h2.widget-title{
	float: inherit;
    font-size: 120%;
}



#innerContentInbox{
    height: 25px;
    background:url(images/noise.png) 0 0 repeat;
    border-bottom:1px solid rgb(33,43,49);
    border-bottom:1px solid rgba(0,0,0,0.4);
    border-top:1px solid rgb(69,109,138);
    border-top:1px solid rgba(255,255,255,0.1);
    padding:0 20px 0 20px;
    min-width: 960px;
}

#contentFramework{
    width:100%;
    min-height:100%;
    height:auto;
    position:relative;
}

#contentFramework > ul{
    list-style: none;
    padding:0;
    margin:0;
    vertical-align:top;
    width:100%;
    overflow:hidden;
}

#contentFramework > ul > li{
    display: inline-block;
    float:left;
}

#contentProc, #contentCases{
    width:260px;
    position:absolute;
    border-right:2px solid #9b9b9b;
    -webkit-box-shadow: 2px 0 3px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 0 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 2px 0 3px 0 rgba(0, 0, 0, 0.2);
    background:#cecece url("images/dots_columns.png") 0 0 repeat;
}
#contentProc{
    left:0;
    z-index:2;
}
#contentCases{
    left:260px;
    background:#dedede url("images/dots_columns.png") 0 0 repeat;
}
#contentCases.casesGrid{
    width:100%;
    position: relative;
    border:none;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    left:0;
    background:#dedede url("images/dots_columns.png") 0 0 repeat;
}
#contentCases.casesGrid > div{
    padding-left:260px;
}

#contentDesc{
    width: 100%;
}
#contentDesc > div{
    padding-left:520px;
}



/*      processes      */

#ui-bizagi-wp-app-inbox-processes-container, #ui-bizagi-wp-app-inbox-cases-container{
    padding:10px 20px 15px 15px;
	overflow-x: hidden;
}

#ui-bizagi-wp-app-inbox-processes-container > div{
    margin-top:15px;
}
#ui-bizagi-wp-app-inbox-processes-container > div:first-child{
    margin-top:0;
    min-width: 225px;
}

#ui-bizagi-wp-app-inbox-processes-container ul{
    padding: 0;
    margin: 0;
    position:relative;
    background:#e6e6e6;
    border:1px solid #98a1a8;
    padding:1px;
    -moz-border-radius: 6px;
    -webkit-border-radius:6px;
    border-radius:6px;
}

#ui-bizagi-wp-app-inbox-processes-container ul li:first-child{
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius:4px 4px 0 0;
    border-radius:4px 4px 0 0;
    border:none;
}
#ui-bizagi-wp-app-inbox-processes-container ul li:last-child{
    -moz-border-radius:0 0 4px 4px;
   -webkit-border-radius:0 0 4px 4px;
    border-radius:0 0 4px 4px;
}
#ui-bizagi-wp-app-inbox-processes-container ul li:only-child{
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
}
#ui-bizagi-wp-app-inbox-processes-container .scrollProcess > div:first-child+ul li{
    min-height:inherit;
}
#ui-bizagi-wp-app-inbox-processes-container li{
    overflow:hidden;
    min-height: 37px;
    list-style: none outside none;
    padding:5px 42px 5px 30px;
    position: relative;
    border-top:1px solid #b8b8b8;
}
#ui-bizagi-wp-app-inbox-processes-container li span{
    display:inline-block;
}
#ui-bizagi-wp-app-inbox-processes-container li:nth-child(2n){
    background-color: #dadada;
}


#ui-bizagi-wp-app-inbox-processes-container .selected,
#ui-bizagi-wp-app-inbox-processes-container li.selected:hover,
#ui-bizagi-wp-app-inbox-processes-container li:nth-child(2n).selected,
#ui-bizagi-wp-app-inbox-cases-container .selected,
#ui-bizagi-wp-app-inbox-cases-container li:nth-child(2n).selected,
#ui-bizagi-wp-app-inbox-cases-container li.selected:hover
{
    cursor: pointer;
    background: #a6aeb2 !important; /* Old browsers */
    background-image:url("images/lines.png");
    background-image:  -moz-linear-gradient(top, rgba(191,197,200,1) 0%, rgba(155,164,168,1) 100%); /* FF3.6+ */
    background-image:  -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,197,200,1)), color-stop(100%,rgba(155,164,168,1))); /* Chrome,Safari4+ */
    background-image:  -webkit-linear-gradient(top, rgba(191,197,200,1) 0%,rgba(155,164,168,1) 100%); /* Chrome10+,Safari5.1+ */
    background-image:  -o-linear-gradient(top, rgba(191,197,200,1) 0%,rgba(155,164,168,1) 100%); /* Opera11.10+ */
    background-image:  -ms-linear-gradient(top, rgba(191,197,200,1) 0%,rgba(155,164,168,1) 100%); /* IE10+ */
    background-image: linear-gradient(top, rgba(191,197,200,1) 0%,rgba(155,164,168,1) 100%); /* W3C */
}
#ui-bizagi-wp-app-inbox-processes-container li:hover,
#ui-bizagi-wp-app-inbox-cases-container li:hover
{
    cursor: pointer;
    background: #cbd0d1; /* Old browsers */
    background: -moz-linear-gradient(top, #d8dbdc 0%, #c6cbcd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d8dbdc), color-stop(100%,#c6cbcd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d8dbdc 0%,#c6cbcd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d8dbdc 0%,#c6cbcd 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #d8dbdc 0%,#c6cbcd 100%); /* IE10+ */
    background: linear-gradient(top, #d8dbdc 0%,#c6cbcd 100%); /* W3C */
}
.ui-bizagi-wp-app-inbox-processes-ncase{
    -moz-border-radius: 7px;
    -webkit-border-radius:7px;
    border-radius:7px;
    background: #f2f2f2 url("images/lines.png") 0 0 repeat;
    padding:1px 3px;
    text-align: center;
    width:35px;
    color:#333333;
    display:block;
    font-weight:bold;
    position:absolute;
    right:5px;
    top:50%;
    margin-top:-9px;
    box-shadow:inset 0 2px 3px 0 rgba(0,0,0,0.3);
}

#ui-bizagi-wp-app-inbox-processes-container .selected .ui-bizagi-wp-app-inbox-processes-ncase,
#ui-bizagi-wp-app-inbox-processes-container li:hover .ui-bizagi-wp-app-inbox-processes-ncase{
    background-color: #f2f2f2;
    box-shadow:inset 0 2px 3px 0 rgba(0,0,0,0.5);
}

.ui-bizagi-wp-app-inbox-processes-title{
    border-bottom: 1px solid #717578;
    color: #525252;
    font-size: 115%;
    font-weight:normal;
    padding: 5px;
    border-bottom:1px solid #acacac;
    margin-bottom:10px;
    box-shadow:0 1px 0 0 rgba(255,255,255,0.2);
    position:relative;
    cursor: pointer;
    min-height: 30px;
}
#contentProc .ui-bizagi-wp-app-inbox-processes-title{
    padding: 5px 5px 5px 20px;
    margin-top:10px;
}
#contentProc .scrollProcess > div:first-child{
    margin-top:0;
}
#contentProc .ui-bizagi-wp-app-inbox-processes-title .arrow{
    height:0;
    width:0;
    font-size:0;
    line-height:0;
    background:none;
    position:absolute;
    top:50%;
}
#contentProc .ui-bizagi-wp-app-inbox-processes-title .arrow.Right{
    border-left:5px solid #525252;
    border-top:4px solid transparent;
    border-bottom:4px solid transparent;
    border-right:0 solid transparent;
    margin-top:-5px;
    left:5px;
}

.ui-bizagi-wp-app-inbox-processes-title .arrow.Down{
    border-left:4px solid transparent;
    border-top:4px solid #525252;
    border-bottom:0 solid transparent;
    border-right:4px solid transparent;
    margin-top:-3px;
    left:3px;
}

.ui-bizagi-wp-app-inbox-processes-title .arrow.Left{
    border-left: 0 solid transparent;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 6px solid #0072BC;
    margin-top: -5px; left: 5px;
}

.ui-bizagi-wp-app-inbox-processes-start{
    display:block;
    height:16px;
    width:16px;
    background-image: url(images/sprite.png);
    position:absolute;
    top:25px;
    left: 5px;
}

.ui-bizagi-wp-app-inbox-processes-start.on{
    background-position: -214px -121px;
}


.ui-bizagi-wp-app-inbox-processes-start-wait{
    background-image: url(images/loading_cube_mini.png);
    height:16px;
    width:16px;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top:25px;
    left: 5px;
}

.ui-bizagi-wp-app-inbox-processes-start.off{
    background-position: -214px -148px;
}

#ui-bizagi-wp-app-inbox-processes-ico-paper{
    background-image: url(images/sprite.png);
    background-position: -7px -173px;
    width: 16px;
    height: 16px;
    position: absolute;
    left:5px;
    top:5px;
}


.ui-bizagi-wp-app-inbox-processes-name{
    font-size: 115%;
    color:#444444;
    color: #283238;
    font-weight:normal;
    text-shadow: 0 1px 0 rgba(255,255,255,0.4);
    vertical-align:top;
    overflow: hidden;
}


/*          CASES         */

#ui-bizagi-wp-app-inbox-cases-container{
    min-width: 225px;
}

.ui-bizagi-wp-app-inbox-cases-container ul{
    padding: 1px;
    margin: 0;
    position:relative;
    background:#e6e6e6;
    border:1px solid #98a1a8;
    -moz-border-radius: 6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    margin-top:4px;
}
.ui-bizagi-wp-app-inbox-cases-container ul:first-child{
    margin:0;
}

#ui-bizagi-wp-app-inbox-cases-container li{
    overflow:hidden;
    list-style: none outside none;
    padding:6px;
    position: relative;
    -moz-border-radius: 4px;
    -webkit-border-radius:4px;
    border-radius:4px;
}
#ui-bizagi-wp-app-inbox-cases-container #caseId{
    overflow:hidden;
    position: relative;
    margin-bottom:5px;
}
#ui-bizagi-wp-app-inbox-cases-container #caseId h3{
    font-weight: normal;
    margin:0;
    font-family: 'NeoSansStdMedium';
    font-size:135%;
    float:left;
    text-shadow: 0 1px 0 rgba(255,255,255,0.4);
    color:#283238;
}

.ui-bizagi-wp-app-inbox-cases-start{
    position: relative;
    display:block;
    background-image: url(images/sprite.png);
    width:16px;
    height:16px;
    float:left;
    margin-right:5px;
    cursor: pointer;
}

.ui-bizagi-wp-app-inbox-cases-start-wait{
    background-image: url(images/loading_cube_mini.png);
    height:16px;
    width:16px;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    display:block;
    float:left;
    margin-right:5px;
}

.ui-bizagi-inbox-folder.inboxGridFolder{
    background-position: -147px -421px;
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 5px;
    position: relative;
    top: 3px;
}
.ui-bizagi-inbox-folder.inboxGridFolder:hover{
    background-position: -76px -421px;
    cursor:pointer;
}

.ui-bizagi-wp-app-inbox-cases-start.on{
    background-position: -214px -121px;
}
.ui-bizagi-wp-app-inbox-cases-start.off{
    background-position: -214px -148px;
}

#ui-bizagi-wp-app-inbox-cases-container #caseActivity{
    font-size:115%;
    font-weight:normal;
    overflow:hidden;
    border-bottom:1px solid #bcbcbc;
    border-top:1px solid #bcbcbc;
    padding:3px 0;
    margin-bottom:8px;
}
#ui-bizagi-wp-app-inbox-cases-container .selected  #caseActivity{
    border-color:#878889;
}

#ui-bizagi-wp-app-inbox-cases-container #caseActivity span{
    float:left;
    margin-bottom:3px;
    color:#2f526c;
}

#ui-bizagi-wp-app-inbox-cases-container #caseActivity #ui-bizagi-wp-app-inbox-activity-name{
    max-width: 180px;
}

#ui-bizagi-wp-app-inbox-cases-container #caseActivity .ui-bizagi-wp-app-inbox-cases-ico-state{
    clear:left;
}


.ui-bizagi-wp-app-inbox-cases-ico-view{
    float:left;
    height:22px;
    width:22px;
    position:relative;
    cursor: pointer;
    padding:1px;
}
.ui-bizagi-wp-app-inbox-processes-title .ui-bizagi-wp-app-inbox-cases-ico-view{
    position: relative;
    margin-right: 10px;
    top:-5px;
}
.ui-bizagi-wp-app-inbox-cases-ico-view span{
    background: url(images/sprite.png) 0 -90px no-repeat;
    display: block;
    height: 22px;
    width: 22px;
    cursor: pointer;
}
.ui-bizagi-wp-app-inbox-cases-ico-view:hover span{
    background-position:-22px -90px;
}



#ui-bizagi-wp-app-inbox-cases-ico-close{
    /*display: block;
    float: left;
    padding-left: 9px;*/
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-right: 6px;
    width: 16px;
}

#ui-bizagi-wp-app-inbox-cases-ico-close + span{
    display: inline-block;
    vertical-align: middle;
}

#ui-bizagi-wp-app-inbox-cases-ico-close span{
    background:url(images/sprite.png) -278px -116px no-repeat;
    display: block;
    height:16px;
    width: 16px;
    position: relative;
}

#ui-bizagi-wp-app-inbox-cases-ico-event{
    display: block;
    float: left;
    position: relative;
}
#ui-bizagi-wp-app-inbox-cases-ico-event span{
    background: url(images/isevent.png);
    display: block;
    height: 16px;
    width: 16px;
    margin-right: 6px;
    position: relative;
    background-repeat: no-repeat;
}

.ui-bizagi-wp-app-inbox-cases-aborted{
	float: left;
    height: 16px;
    left: 5px;
    position: relative;
    top: 5px;
    width: 16px;
	background: url(images/sprite.png) -296px -89px no-repeat;
}

.ui-bizagi-wp-app-inbox-cases-aborted-summary{
	float: left;
    height: 16px;
    position: relative;
    width: 16px;
    background: url(images/sprite.png) -296px -89px no-repeat;
}

#ui-bizagi-wp-app-inbox-cases-container li .ui-bizagi-wp-app-inbox-cases-ico-state{
    background:url(images/sprite.png) 0 0 no-repeat;
    width:16px;
    height:16px;
    display:block;
    float:left;
    margin:2px 5px 0 0;
}

#ui-bizagi-wp-app-inbox-cases-container li #ui-bizagi-wp-app-inbox-cases-ico-state-Green{
    background-position: -236px -148px;
}
#ui-bizagi-wp-app-inbox-cases-container li #ui-bizagi-wp-app-inbox-cases-ico-state-Red{
    background-position: -236px -116px;
}

#ui-bizagi-wp-app-inbox-cases-container li #ui-bizagi-wp-app-inbox-cases-ico-state-Yellow{
    background-position: -236px -132px;
}

#ui-bizagi-wp-app-inbox-cases-container li dl {

    color:#666;
    font-size:95%;
    padding:0 5px;
    overflow:hidden;
    width: 100%;
}

#ui-bizagi-wp-app-inbox-cases-container li:hover dl, #ui-bizagi-wp-app-inbox-cases-container li.selected dl {
    color:#444;
}

#ui-bizagi-wp-app-inbox-cases-container li dl dt, #ui-bizagi-wp-app-inbox-cases-container li dl dd {
    width:50%;
}

#ui-bizagi-wp-app-inbox-cases-container li dl dt {
    clear: left;
    float: left;
    font-weight: bold;
    margin-top: 0;
    margin-right: 7%;
    margin-left: 0;
}

#ui-bizagi-wp-app-inbox-cases-container li dl dt,
#ui-bizagi-wp-app-inbox-cases-container li dl dd {
    font-size: 11px;
}

#ui-bizagi-wp-app-inbox-cases-container li dl dd.longContent {
    width: 100%;
    margin-left: 0;
}

#ui-bizagi-wp-app-inbox-cases-container li dl dd{
    float: left;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    width:40%;
}

#ui-bizagi-wp-app-inbox-cases-container li dl dd div{
    word-wrap: break-word;
}

/*         DESCRIPTION       */

#formSummary > .ui-bizagi-container-form {
	margin: 0;
	padding: 0;
}
#ui-bizagi-wp-app-inbox-description-container .scrollSummary{
    padding:10px 40px 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ui-bizagi-wp-app-inbox-activity-description{
    background-color: #f2f2f2;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    position:relative;
    border:1px solid #98A1A8;
    padding:1px;
    color:#444444;
    margin-bottom:20px;
}
#ui-bizagi-wp-app-render-desc-panel .ui-bizagi-wp-app-inbox-activity-description > div{
    padding-right:25px;
}
.ui-bizagi-wp-app-inbox-activity-description > div{
    position:relative;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding:7px 25px 7px 25px;
    background:#e6e6e6;
}
.ui-bizagi-wp-app-render-desc-panel .ui-bizagi-wp-app-inbox-activity-description{
    background-color: #e6e6e6;
}
.ui-bizagi-wp-app-render-desc-panel .ui-bizagi-wp-app-inbox-activity-description > div{
    background-color: #dadada;
}
.ui-bizagi-wp-app-inbox-activity-description h2{
    font-family: 'NeoSansStdMedium';
    font-size: 175%;
    font-weight:normal;
    color: #2f526c;
    margin: 5px 0 15px;
    padding: 0 0 10px;
    border-bottom: 1px solid #ccc;
}

.ui-bizagi-wp-app-inbox-activity-description .ui-bizagi-wp-app-inbox-cases-description-ico-state{
    width:8px;
    height:100%;
    position:absolute;
    float:left;
    background:url("images/lines.png") 0 0 repeat;
    left:0;
    top:0;
    border-right:1px solid #b8b8b8;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.ui-bizagi-wp-app-inbox-activity-description #ui-bizagi-wp-app-inbox-cases-ico-state-Red{
    background: rgb(235,44,44); /* Old browsers */
    background-image:url("images/lines.png");
    background-image: -moz-linear-gradient(top, rgba(235,44,44,1) 0%, rgba(159,20,20,1) 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,44,44,1)), color-stop(100%,rgba(159,20,20,1))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, rgba(235,44,44,1) 0%,rgba(159,20,20,1) 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, rgba(235,44,44,1) 0%,rgba(159,20,20,1) 100%); /* Opera11.10+ */
    background-image: -ms-linear-gradient(top, rgba(235,44,44,1) 0%,rgba(159,20,20,1) 100%); /* IE10+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb2c2c', endColorstr='#a12222',GradientType=0 ); /* IE6-9 */
    background-image: linear-gradient(top, rgba(235,44,44,1) 0%,rgba(159,20,20,1) 100%); /* W3C */
}
.ui-bizagi-wp-app-inbox-activity-description #ui-bizagi-wp-app-inbox-cases-ico-state-Green{
    background: rgb(16,114,28); /* Old browsers */
    background-image:url("images/lines.png");
    background-image:  -moz-linear-gradient(top, rgba(55,156,68,1) 0%, rgba(16,114,28,1) 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(55,156,68,1)), color-stop(100%,rgba(16,114,28,1))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, rgba(55,156,68,1) 0%,rgba(16,114,28,1) 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, rgba(55,156,68,1) 0%,rgba(16,114,28,1) 100%); /* Opera11.10+ */
    background-image: -ms-linear-gradient(top, rgba(55,156,68,1) 0%,rgba(16,114,28,1) 100%); /* IE10+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#379c44', endColorstr='#10721c',GradientType=0 ); /* IE6-9 */
    background-image: linear-gradient(top, rgba(55,156,68,1) 0%,rgba(16,114,28,1) 100%); /* W3C */
}
.ui-bizagi-wp-app-inbox-activity-description #ui-bizagi-wp-app-inbox-cases-ico-state-Yellow{
    background: #d4bd09; /* Old browsers */
    background-image:url("images/lines.png");
    background-image: -moz-linear-gradient(top, rgba(241,224,4,1) 0%, rgba(180,150,15,1) 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(241,224,4,1)), color-stop(100%,rgba(180,150,15,1))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, rgba(241,224,4,1) 0%,rgba(180,150,15,1) 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, rgba(241,224,4,1) 0%,rgba(180,150,15,1) 100%); /* Opera11.10+ */
    background-image: -ms-linear-gradient(top, rgba(241,224,4,1) 0%,rgba(180,150,15,1) 100%); /* IE10+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e004', endColorstr='#b4960f',GradientType=0 ); /* IE6-9 */
    background-image: linear-gradient(top, rgba(241,224,4,1) 0%,rgba(180,150,15,1) 100%); /* W3C */
}


.ui-bizagi-wp-app-inbox-activity-description .box-description{
    overflow:hidden;
    margin:0;
}

.box-description .activity-separator:only-child{
    border: none;
    box-shadow: none;
}
.activity-separator{
    border-bottom: 1px solid #ACACAC;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2);
    color: #525252;
    margin-bottom: 15px;
}


#ui-bizagi-details-tabs {
   /* overflow:hidden;*/
    overflow: inherit !important;
    margin:0 0 15px 0;
    width: 100%;
}

#ui-bizagi-details-tabs #ui-bizagi-details-tabs-container{
    overflow: hidden;
}

#ui-bizagi-details-tabs dt, .box-description dt{
    float:left;
}
#ui-bizagi-details-tabs dt, .box-description dt{
    clear:left;
    padding:5px;
}
#ui-bizagi-wp-app-render-desc-content .box-description dt{
    width:35%;
}
#ui-bizagi-details-tabs dd, .box-description dd{
    margin-bottom:5px;
    margin-left:110px;
    background:#dadada;
    -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
    padding:5px;
    min-height: 15px;
}
/*/////////////////////jQuery ui tabs//////////////////////*/
#ui-bizagi-details-tabs .ui-tabs-panel{
    -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
}

.ui-bizagi-wp-app-inbox-description-start{
    padding-left: 20px;
    position:relative;
    top:5px;
    left:14px;
}

.ui-bizagi-wp-app-inbox-description-ico-view{
    position: relative;
    top: 9px;
    left: 10px;
}


.ui-bizagi-wp-app-inbox-description-start{
    position: relative;
    top: 6px;
    left: 14px;
    padding-left: 10px;
}


#ui-bizagi-wp-app-inbox-description-bt{
    position: absolute;
    right: 20px;
    top:30px;
}

#description{
    position: relative;
    top: -300px;
    left: 500px;
}

.ui-tabs-panel a{
    color: #1F74B2;
}

/*////////////////////////tabs de colores////////////////////////*/

#ui-bizagi-wp-app-inbox-tab-container{
    height: 30px;
    min-width:260px;
    width: auto;
    border-right:2px solid #9b9b9b;
    /*float:left;*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
}
#ui-bizagi-wp-app-inbox-tab-container ul{
    margin:0;
    padding:0;
    /* overflow:hidden;*/
    position:relative;
    height:30px;
}
#ui-bizagi-wp-app-inbox-tab-container ul li.ui-bizagi-wp-app-inbox-tab{
    display: inline;
    float: left;
    height: 30px;
    width: 33px;
    cursor:pointer;
    border-left:1px solid #9b9b9b;
    padding:0 5px;
    position: relative;
}
#ui-bizagi-wp-app-inbox-tab-container ul li.ui-bizagi-wp-app-inbox-tab#favourites{
    width: 34px;
}
#ui-bizagi-wp-app-inbox-tab-container ul li.ui-bizagi-wp-app-inbox-tab#red,
#ui-bizagi-wp-app-inbox-tab-container ul li.ui-bizagi-wp-app-inbox-tab#yellow,
#ui-bizagi-wp-app-inbox-tab-container ul li.ui-bizagi-wp-app-inbox-tab#green{
    min-width: 52px;
    width: auto;
}
#ui-bizagi-wp-app-inbox-tab-container ul li.ui-bizagi-wp-app-inbox-tab.active,
#ui-bizagi-wp-app-inbox-tab-container ul li.ui-bizagi-wp-app-inbox-tab:hover{
    background: rgb(191,197,200); /* Old browsers */
    background-image:url("images/lines.png");
    background-image:  -moz-linear-gradient(top, rgba(191,197,200,1) 0%, rgba(155,164,168,1) 100%); /* FF3.6+ */
    background-image:  -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,197,200,1)), color-stop(100%,rgba(155,164,168,1))); /* Chrome,Safari4+ */
    background-image:  -webkit-linear-gradient(top, rgba(191,197,200,1) 0%,rgba(155,164,168,1) 100%); /* Chrome10+,Safari5.1+ */
    background-image:  -o-linear-gradient(top, rgba(191,197,200,1) 0%,rgba(155,164,168,1) 100%); /* Opera11.10+ */
    background-image:  -ms-linear-gradient(top, rgba(191,197,200,1) 0%,rgba(155,164,168,1) 100%); /* IE10+ */
    background-image: linear-gradient(top, rgba(191,197,200,1) 0%,rgba(155,164,168,1) 100%); /* W3C */
}
#ui-bizagi-wp-app-inbox-tab-container ul li.ui-bizagi-wp-app-inbox-tab.active{
    box-shadow:inset 0 1px 8px 2px rgba(0,0,0,0.3);
}
#ui-bizagi-wp-app-inbox-tab-container ul li.ui-bizagi-wp-app-inbox-tab.active .toolTip,
#ui-bizagi-wp-app-inbox-tab-container ul li.ui-bizagi-wp-app-inbox-tab:hover .toolTip
{
    background-color: #F2F2F2;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5) inset;
}
.ui-bizagi-wp-app-inbox-tab .text{
    display:inline-block;
    text-indent:-9999px;
    background:url(images/sprite.png) 0 0 no-repeat;
}

#ui-bizagi-wp-app-inbox-tab-container ul li.ui-bizagi-wp-app-inbox-tab#all .text
{
    background-position: -105px -171px;
}
#ui-bizagi-wp-app-inbox-tab-container ul li.ui-bizagi-wp-app-inbox-tab#all .toolTip{
    display:none;
}

#ui-bizagi-wp-app-inbox-tab-container ul li.ui-bizagi-wp-app-inbox-tab#favourites .text
{
    background-position: -245px -170px;
}
#ui-bizagi-wp-app-inbox-tab-container ul li.ui-bizagi-wp-app-inbox-tab#favourites .text,#ui-bizagi-wp-app-inbox-tab-container ul li.ui-bizagi-wp-app-inbox-tab#all .text{
    height:30px; width:34px;
}
#ui-bizagi-wp-app-inbox-tab-container ul li.ui-bizagi-wp-app-inbox-tab#red .text
{
    background-position: -236px -116px;
}
#ui-bizagi-wp-app-inbox-tab-container ul li.ui-bizagi-wp-app-inbox-tab#yellow .text
{
    background-position: -236px -132px;
}
#ui-bizagi-wp-app-inbox-tab-container ul li.ui-bizagi-wp-app-inbox-tab#green .text
{
    background-position: -236px -148px;
}
#ui-bizagi-wp-app-inbox-tab-container ul li.ui-bizagi-wp-app-inbox-tab#green .text, #ui-bizagi-wp-app-inbox-tab-container ul li.ui-bizagi-wp-app-inbox-tab#red .text, #ui-bizagi-wp-app-inbox-tab-container ul li.ui-bizagi-wp-app-inbox-tab#yellow .text{
    height:16px; width:16px; vertical-align:middle;
}
#ui-bizagi-wp-app-inbox-tab-container .toolTip{
    background: url("images/lines.png") repeat 0 0 #f2f2f2;
    -moz-border-radius: 7px;
    -webkit-border-radius:7px;
    border-radius: 7px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3) inset;
    color: #333333;
    font-weight: bold;
    display: inline-block;
    padding: 1px 11px;
    text-align: center;
    width: auto;
    margin-top:6px;
    font-size:0.8em;
}

#footer #ui-bizagi-wp-app-inbox-tab-container ul li.ui-bizagi-wp-app-inbox-tab {
	padding: 0 3px;
}

#footer #ui-bizagi-wp-app-inbox-tab-container #favourites {
	padding: 0 4px;
}

/*////////////////////////paginación////////////////////////*/
#casesPagination{
    height: 30px;
    width:258px;
    border-right:2px solid #9b9b9b;
    /*float:left;*/
    left:262px;
    position: absolute;
}
#casesPagination.gridCasePagination{
    width:100%;
    float: none;
    border:none;
    position: relative;
    left:0;
}
#casesPagination.gridCasePagination ul{
    position: relative;
    min-width: 1024px;
    width: auto;
    padding-left:260px;
}
#casesPagination ul{
    margin:0 auto;
    height:24px;
    padding:6px 0 0 0;
    width:100%;
    text-align:center;
}
#casesPagination ul li{
    list-style:none;
    /*float:left;*/
    display:inline-block;
    color:#787878;
    /*font-family: 'NeoSansStdMedium';*/
    /*font-size:115%;/*
    /*background:url(images/sprite.png) 900px 900px no-repeat;*/
    /*width:18px;
    height:26px;*/
    text-align:center;
    margin-left:0;
    cursor:pointer;
    padding:2px 5px;
    min-width: 10px;
}
#casesPagination ul li:first-child{
    margin:0;
}
#casesPagination ul li:hover span{
    color:#525252;
}
#casesPagination ul li.active, #casesPagination ul li.active:hover{
    color:#f5f5f5;
    background-color: rgb(148,148,148);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.3) inset;
}
#casesPagination ul li.active:hover span{
    color:#f5f5f5;
}
#casesPagination ul li span{
    display:block;
}
#casesPagination ul li.active span{
    text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
}

#casesPagination ul  .next 
{
	/*margin-left:30px;*/
}

#casesPagination ul  .prev 
{
	margin-left:5px;
}

#tooltipPagination{
    width: 86px;
    height: 17px;
    text-align: center;
    background-color: #F4F4F4;
    visibility: hidden;
}

.gridCasePagination #tooltipPagination{
    position: absolute;
    top: -25px;
    left: 50%;
    margin-left: -43px;
    padding: 4px 0;
    border-radius: 6px 6px 0 0;

}

.detailsPagination #tooltipPagination{
    position: absolute;
    top: -17px;
    left: 100px;

}




/*////////////////////////////////////// INBOX GRID /////////////////////////////////*/

.scrollCasesGrid{
	padding: 10px 50px;
	overflow: auto;
}
.ui-bizagi-wp-app-inbox-grid-cases-container table, .personalizedColumnsContainer table{
    /*border-collapse:collapse;*/
    width:100%;
    margin: 0;
    background:#e6e6e6;
    border:1px solid #98a1a8;
    padding: 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius:6px;
    border-radius:6px;
}
.ui-bizagi-wp-app-inbox-grid-cases-container table td, .personalizedColumnsContainer table td{
    padding:4px;
    border-top: 1px solid #b8b8b8;
    text-align: center;
}
.ui-bizagi-wp-app-inbox-grid-cases-container table tbody tr:first-child td, .personalizedColumnsContainer table tbody tr:first-child td{
    border-top:none;
}
.ui-bizagi-wp-app-inbox-grid-cases-container table tbody tr td:first-child{
    width:83px;
}
.ui-bizagi-wp-app-inbox-grid-cases-container table tbody tr:last-child td:first-child, .personalizedColumnsContainer table tbody tr:last-child td:first-child{
    border-radius:0 0 0 4px;
}
.ui-bizagi-wp-app-inbox-grid-cases-container table tbody tr:last-child td:last-child, .personalizedColumnsContainer table tbody tr:last-child td:last-child{
    border-radius:0 0 4px 0;
}
.ui-bizagi-wp-app-inbox-grid-cases-container thead td, .personalizedColumnsContainer table thead td{
    padding:8px 20px 8px 8px;
    color: #f5f5f5;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    font-size:115%;
    background: #5d6771; /* Old browsers */
    background: -moz-linear-gradient(top, #7b8b9a 0%, #4a4f56 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7b8b9a), color-stop(100%,#4a4f56)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7b8b9a 0%,#4a4f56 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7b8b9a 0%,#4a4f56 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #7b8b9a 0%,#4a4f56 100%); /* IE10+ */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b8b9a', endColorstr='#4a4f56',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #7b8b9a 0%,#4a4f56 100%); /* W3C */
    border-top: 1px solid #5D6771 !important;
    border-bottom: none !important;
    position:relative;
}

.ui-bizagi-wp-app-inbox-grid-cases-container thead td > div{
    position:relative;
}
.ui-bizagi-wp-app-inbox-grid-cases-container thead td.sortColumnsData{
    cursor: pointer;
}

#ui-bizagi-wp-app-inbox-grid-cases tbody .event, .personalizedColumnsContainer table tbody .event{
    background-color: #DADADA;
}
#ui-bizagi-wp-app-inbox-grid-cases .selected td, .ui-bizagi-wp-app-inbox-grid-cases-container tbody tr:hover td, .personalizedColumnsContainer table tbody tr:hover td{

    background: #b1b8bc; /* Old browsers */
    background-image:url("images/lines.png");
    background-image: url("images/lines.png"), -moz-linear-gradient(top, rgba(191,197,200,1) 0%, rgba(155,164,168,1) 100%); /* FF3.6+ */
    background-image: url("images/lines.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,197,200,1)), color-stop(100%,rgba(155,164,168,1))); /* Chrome,Safari4+ */
    background-image: url("images/lines.png"), -webkit-linear-gradient(top, rgba(191,197,200,1) 0%,rgba(155,164,168,1) 100%); /* Chrome10+,Safari5.1+ */
    background-image: url("images/lines.png"), -o-linear-gradient(top, rgba(191,197,200,1) 0%,rgba(155,164,168,1) 100%); /* Opera11.10+ */
    background-image: url("images/lines.png"), -ms-linear-gradient(top, rgba(191,197,200,1) 0%,rgba(155,164,168,1) 100%); /* IE10+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfc5c8', endColorstr='#9ba4a8',GradientType=0 ); /* IE6-9 */
    background-image: url("images/lines.png"), linear-gradient(top, rgba(191,197,200,1) 0%,rgba(155,164,168,1) 100%); /* W3C */
}

.ui-bizagi-wp-app-inbox-grid-cases-container td .ui-bizagi-wp-app-inbox-cases-start{
    margin-top:5px;
}
.gridListWorkItems{
    margin:0;
    padding:0;
}
.gridListWorkItems li{
    overflow:hidden;
    list-style-type:none;
    display:block;
    margin-top:5px;
}
.gridListWorkItems li:first-child{
    margin:0;
}
.gridListWorkItems li span{
    float:left;
    display:block;
    text-align:left;
}
.gridListWorkItems li .ui-bizagi-wp-app-inbox-cases-grid-ico-state{
    background:url(images/sprite.png) 0 0 no-repeat;
    width:16px;
    height:16px;
    display:block;
    float:left;
    margin:0 5px 0 0;
}
.gridListWorkItems li #ui-bizagi-wp-app-inbox-cases-ico-state-Green{
    background-position: -236px -148px;
}
.gridListWorkItems li #ui-bizagi-wp-app-inbox-cases-ico-state-Red{
    background-position: -236px -116px;
}
.gridListWorkItems li #ui-bizagi-wp-app-inbox-cases-ico-state-Yellow{
    background-position: -236px -132px;
}
.gridListWorkItems li .ui-bizagi-wp-app-inbox-activity-name{
    color: #1F74B2;
    cursor: pointer;
}
.gridListWorkItems li .ui-bizagi-wp-app-inbox-activity-name:hover{
    text-decoration:underline;
}

.sortColumnsDataDownIcon, .sortColumnsDataUpIcon, .sortColumnsDataIcon{
    position:absolute;
    height:12px;
    width:8px;
    cursor: pointer;
    margin-top:-6px;
    top:50%;
    right: -15px;
}
.arrowDownIcon{
    border-top:5px solid rgb(131,139,144);
    border-top:5px solid rgba(255,255,255,.2);
    border-left:4px solid transparent;
    border-right:4px solid transparent;
    border-bottom:0 solid transparent;
}
.arrowUpIcon{
    border-top:0 solid transparent;
    border-left:4px solid transparent;
    border-right:4px solid transparent;
    border-bottom:5px solid rgb(125,133,141);
    border-bottom:5px solid rgba(255,255,255,.2);
}
.arrowDownIcon, .arrowUpIcon{
    float:none;
    margin:0;
    position:absolute;
}
.arrowDownIcon{
    bottom:0;
    left:0;
}
.arrowUpIcon{
    top:0;
    left:0;
}

.sortColumnsDataDownIcon .arrowDownIcon{
    border-top-color:#f5f5f5;
}
.sortColumnsDataUpIcon .arrowUpIcon{
    border-bottom-color:#f5f5f5;
}

/*////// Inbox Modal ////////////*/
.ui-dialog #ui-bizagi-wp-app-inbox-description-container{
    padding:0 25px;
}
.ui-dialog #ui-bizagi-wp-app-inbox-description-container .scrollSummary{
    padding:0;
    height: auto !important;
}


/*///////////////////Buttons/////////////////////*/
#ui-bizagi-wp-app-inbox-grid-cases tr:hover .workonitrow.ui-button 
{
    background: url(images/lupa-on.png);
    background-color: rgb(182, 182, 182) !important;
    transition: none;
    
}
.ui-bizagi-wp-app-inbox-activity-description .workonitRow{
    position: absolute;
    right: 30px;
    top: 10px;
    background-color: rgb(182, 182, 182) !important;
}

.workonitRow.showDesc.ui-button.bizagi-ui-icon-show-summary-grid {
    background-image: url(images/lupa-off.png);  
    width: 16px;
    height: 16px; 
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.workonitRow.showDesc.ui-button.bizagi-ui-icon-show-summary-grid span {
    display: none;
}

.workonitRow.showDesc.ui-button.bizagi-ui-icon-show-summary-grid:hover {
    background-image: url(images/lupa-on.png);
    background-color: rgb(182, 182, 182) !important;
    transition: none;
}

.ui-bizagi-wp-app-inbox-activity-description .workonitRow.render{
    margin-top:5px;
}

.viewSummaryBT{
    position:absolute;
    top:50%;
    right:30px;
    margin-top:-18px;
}

/*////////////////////////Eye Popup//////////////////////*/
.modalEyePopup {
	min-width: 129px;
}

.modalEyePopup li{
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius:  4px 4px 4px 4px;
    cursor: pointer;
    float:left;
    display:inline;
    text-align: center;
    padding:0 4px 4px;
    margin-left:5px;
    position:relative;	
    width: 50px;
}
.modalEyePopup li:first-child{
    margin:0;
}
.modalEyePopup li:active{
    background-color:rgba(0,0,0,0.1);
    /*box shadow*/
    box-shadow:inset 0 1px 8px 2px rgba(0,0,0,0.3);
    /*box-shadow:0 1px 0 0 rgba(255,255,255,0.1);*/
}
.ie8 .modalEyePopup li:active{
    background: transparent;-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000)"; /* IE8 */
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);   /* IE6 & 7 */     /* zoom: 1;*/
}
.modalEyePopup li:active:before{
    content:"";
    color:white;
    box-shadow:0 1px 0 0 rgba(255,255,255,0.1);
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
/*box-shadow:inset 0 2px 1px 0 red; */
#ui-bizagi-wp-app-inbox-bt-modal-view{
    width: 35px;
    height: 35px;
    background-image: url(images/sprite.png);
    position:relative;
    margin:0 auto;
}

.ui-bizagi-wp-app-inbox-bt-modal-view-details{
    background-position: -105px -81px;
}
.modalEyePopup li:hover .ui-bizagi-wp-app-inbox-bt-modal-view-details{
    background-position: -175px -81px;
}

.ui-bizagi-wp-app-inbox-bt-modal-view-grid{
    background-position: -70px -81px;
}
.modalEyePopup li:hover .ui-bizagi-wp-app-inbox-bt-modal-view-grid{
    background-position: -140px -81px;
}

.modalEyePopup li span{
    position:relative;
    width: 57px;
    display:block;
    color:rgb(131,139,144); color:rgba(255,255,255,0.4);
    word-wrap: break-word;
    z-index:100;
}
.modalEyePopup li:hover span{

    text-shadow: 0 0 5px #ffffff; color:#ffffff;

}
