.modal
{
	position:absolute;
	z-index:199;
	margin:0; 
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	/*bg gradient*/
	background: #37464f; /* Old browsers */
	background: -moz-linear-gradient(top, #37464f 20%, #161b1e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#37464f), color-stop(100%,#161b1e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #37464f 20%,#161b1e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #37464f 20%,#161b1e 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #37464f 20%,#161b1e 100%); /* IE10+ */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37464f', endColorstr='#161b1e',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #37464f 20%,#161b1e 100%); /* W3C */ 
	/*box shadow*/
	-webkit-box-shadow: 0 0 5px 0 #000000;
	-moz-box-shadow: 0 0 5px 0 #000000;
	box-shadow: 0 0 5px 0 #000000; 
	border:1px solid #51616A;
}

.modal .selectarrow{
    width:13px; 
    height:9px; 
    left:50%;
	top:-9px;
    z-index:500; 
	position:absolute; 
    margin-left:-7px;
    background: url(images/modalBgArrow.png) 0 0 no-repeat;
}
.ie8 .modal .selectarrow{
	background: url(images/modalBgArrowIE8.png) 0 0 no-repeat;
}

.modal .content
{
	padding:2px;
	background: url('images/dots_header.png') 0 0 repeat;
}
.modal .content ul
{
	margin:0;
	padding:0;
}
.modal #modalTitle
{
	color:#f5f5f5;
	font-size:135%;
	font-family: 'NeoSansStdRegular';
	font-weight: normal;
	float:left;
	margin-left:10px;
	line-height:31px;
	height:31px;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.35); 
}



.modal .rowScroll{
    background-image: url(images/sprite.png);
    background-position: -50px -275px;
    width: 68px;
    height: 23px;
    position: relative;
    top: -6px;
    float: right;
}
.modal .rowScrollUp{
    background-image: url(images/sprite.png);
    background-position: -6px -272px;
    width: 15px;
    height: 9px;
    position: relative;
    left: 15px;
    top:5px;
    cursor: pointer;
}

.modal .rowScrollUp:hover{
    background-position: -6px -289px;    
}

.modal  .rowScrollDown{
    background-image: url(images/sprite.png);
    background-position: -24px -272px;
    width: 15px;
    height: 9px;
    position: relative;
    left:38px;
    top: -3px;
    cursor: pointer;   
}

.modal .rowScrollDown:hover{
    background-position: -24px -289px;
}