.async-act-refreshPage {
    padding: 30px 0px;    
}

.async-act-refresh-label {
    display: inline;    
    float: left;
    cursor: pointer; 
}

.async-act-refresh-icon 
{
    display: inline;
    background-image: url(images/sprite.png);
    background-position: -159px -124px;
    width: 16px;
    height: 16px;
    float: left;
}

.async-act-tabs {    
    width: 100%;
}

.async-act-tabs-li
{
  border: 1px solid #9B9B9B; 
}

.async-act-tabs-content {
    border: 1px solid #9B9B9B;
    padding: 10px 10px;
}

.async-act-icon {
    vertical-align: middle;
    text-align: center;
    margin-left: auto;    
    align: center;
    
    background: url("images/sprite.png") 0 0 no-repeat;
    
    /* -chrome- */
    transform: scale(0.7);
    transform-origin: 100% 0% 0px;    
    zoom: 0.7;
    
    /* -FireFox- */
    -moz-transform:scale(0.7);    
    
    /* -ie- */ 
    -ms-zoom: 0.9;
    cursor: pointer;   
}

.async-act-retry-icon {       
    background-position: -97px -5px;
    height: 37px;
    width: 37px;  
     margin-right: 0px;/*Firefox*/
    margin-right: 0px;/*IE*/
    margin-right: auto;
}

.async-act-log-icon {
    background-position: -187px -3px;
    height: 37px;
    width: 44px;
     margin-right: 0px;/*Firefox*/
    margin-right: 0px;/*IE*/
    margin-right: auto; 
}

.async-act-processing {
    text-align: center;
}

.async-case-click,
.async-activity-click {
    text-decoration: underline;
}

.async-act-childs {
    display: none;    
}

.async-act-childs-text {
    color: grey;
}

.async-act-group-header {
    padding-bottom: 6px;
}

.async-act-error-page {
    padding-top: 30px;
}


/* Styles for Microsoft Edge browser */
@supports (-ms-accelerator:true) {



    .async-act-log-icon {
        background-position: -270px -5px;
        height: 52px;
        width: 50px;
        margin-right: 0px; /*Firefox*/
        margin-right: 0px; /*IE*/
        margin-right: auto;
    }


    .async-act-retry-icon {
        background-position: -140px -5px;
        height: 48px;
        width: 50px;
        margin-right: 0px; /*Firefox*/
        margin-right: 0px; /*IE*/
        margin-right: auto;
    }
}