{
  "base_workportal_tablet": "<div data-role=\"view\" id=\"initKendo\">\r\n</div>\r\n<div data-role=\"drawer\" id=\"menu-drawer\" data-title=\"left\" data-views=\"['homePortal']\">\r\n    <div id=\"content-menu-drawer\" data-role=\"content\">\r\n    </div>\r\n</div>\r\n<div data-role=\"drawer\" id=\"newCase-drawer\" data-position=\"right\" class=\"newCase-drawer\"\r\n    data-views=\"['homePortal']\">\r\n    <div id=\"content-newCase-drawer\">\r\n    </div>\r\n</div>\r\n<div data-role=\"drawer\" id=\"bz-render-drawer\" data-position=\"right\" class=\"bz-render-drawer\">\r\n    <div id=\"content-render-drawer\" data-role=\"content\">\r\n    </div>\r\n</div>\r\n"
}