.ui-bizagi-workportal-inbox-column
{
	position: absolute;
	border: 1px solid #CCC;
	top: 0;	
}

.scroll-content
{
	/* It sucks that when appending content the iOS 5 native scrolling fails */
	/*I know, right? Anyhow, iOS 6 is out as of this writing*/
	-webkit-overflow-scrolling: touch;
	overflow-y: scroll;
	margin: 42px 5px 0 5px;
	height: 100%;
}

#process-column,
#case-column,
#summary-column
{
	background-color:#F2F2F2;	
}


#process-column
{ 
	width: 33%;
	height: 100%;
	background-color: #E8E8E8;
	overflow-y: hidden;
}

#process-column .processes-not-found
{
	margin: 20px 0 0 30px;
	font-size: 180%;
	font-weight: bold;	
	color: transparent;
	-webkit-text-stroke: 0;
	-webkit-background-clip: text;
	background-color: hsla(0, 0%, 0%, .4);

}

.ui-bizagi-workportal-inbox-grid #process-column {
width: 33%;
background-color: #E8E8E8;
height: 100%;
box-shadow: none;
}


#process-column .scroll-content.ui-bizagi-component-loading .categories-group-container:last-child
{
	padding-bottom: 70px;
}

.categories-group-container { border-radius: 6px; width:95%; margin-left:5px; }

.categories-group-container h3
{
	color: #185891;
	font-weight: normal;
	padding: 5px 0 3px 5px;
	margin-bottom: 0;
	border-bottom: 1px solid #185891;
	text-transform:uppercase;
}

.categories-group-container ul 
{
	margin: 0 0 18px 0;
	padding: 0;
}

.categories-group-container ul li
{
	list-style-type: none;
	min-height: 40px;
	padding: 6px;
}

.categories-group-container span
{ 
	display: inline-block; 
	vertical-align: top;
}

.categories-group-container .workflow-name
{	
	min-height: 38px;
	line-height: 16px;
	margin: 4px 0 0 2px;
	text-overflow: ellipsis;
	overflow: hidden;
	padding:7px 0 0 0;
	white-space:nowrap;
}

@media only screen 
{
    .categories-group-container .workflow-cases-count 
    {
        margin-top: 3%;
	    text-align: center;
	    padding: 2px 15px;
	    font-weight: bold;
	    display:inline-block!important;
	    float:right;
	    position:relative;
	    min-width:7%;           
    }
    
    .categories-group-container .workflow-name
    {
        width: 38%;
    }
}

@media only screen and (max-width: 750px) and (orientation: portrait)
{
    .categories-group-container .workflow-cases-count 
    {
        margin-top: -20px;	        
        text-align: left;
	    padding: 2px 15px 2px 60px;
	    font-weight: bold;
	    display:block;		    
	    float:none;
	    position:relative;
	    min-width:7%;		    
    }
    .categories-group-container .workflow-name
    {
        width: 50%;
    }
}

#process-column ul li:first-child
{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#process-column ul li:last-child
{
}

#process-column ul li:nth-child(even)
{
   /* background-color:#e6e6e6;*/
}

#process-filters ul li:nth-child(even)
{
    background-color:transparent;
}

#case-column {
   background-color:#EEEEEE;
    width:32%;
    height: 100%;
	overflow-y: hidden;
	left: 33%;
}

#case-column .cases-list
{
	padding: 0;
	list-style-type: none;
	width:98%;
	margin-bottom:100px;
}

#case-column .cases-list > li
{	
	color: hsl(0, 0%, 30%);
	border-bottom: 1px solid #CCCCCC;
	margin: 6px 8px;
	min-height: 100px;
	position:relative;
	
}

#case-column .cases-list > li:after {
	bottom: 2%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#case-column .cases-list > li:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #aaaaaa;
	border-width: 0 0 10px 10px;
	left: 100%;
	margin-left: -10px;
}

.cases-list-displayName {
    word-break: break-word;
}

#case-column .rad-number
{
	display: inline-block;
	vertical-align: top;
	margin: 5px 0 5px 10px;
	font-weight: bold;
	color:#185891;
}

#case-column .activity-list
{
	margin: 0 8px;
	padding: 6px 0;
	border-top: 1px solid #185891;
	list-style-type: none;
}

#case-column .activity-list li { margin: 0 0 6px 0; }
#case-column .activity-list li:last-child { margin: 0; }

.state-light
{
	display: inline-block;
	height: 10px;
	width: 10px;	
	border-radius: 5px;
	vertical-align: top;	
	margin: 2px 4px;
	
}

.state-color-green { background: -webkit-gradient(radial, center center, 0, center center, 10, from(hsl(127, 75%, 40%)), to(hsl(127, 75%, 5%))); }
.state-color-yellow { background: -webkit-gradient(radial, center center, 0, center center, 10, from(hsl(53, 90%, 60%)), to(hsl(50, 90%, 10%))); }
.state-color-red { background: -webkit-gradient(radial, center center, 0, center center, 10, from(hsl(0, 80%, 55%)), to(hsl(0, 80%, 10%))); }

.activity-name
{
	display: inline-block;
	vertical-align: top;
	max-width: 190px;
}

#case-column dl
{ 
	margin: 10px;
	line-height:12px;
}

#case-column dt.long_text
{ 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

#case-column dl dd 
{ 
	padding: 1%;	
}

#case-column dl dt, #case-column dl dd
{ 
	display: inline-block;
	vertical-align: top;
	width: 48%;
	margin: 0 0 6px 0;
}

#case-actions { text-align: center;
                position: absolute;
                bottom: 0px;
                
                  }

/* CASES PAGER
=========================================================*/
.pager-container
{
    height: 43px;
    position: relative;
    display: inline-block;
    list-style-type: none;
    white-space: nowrap;
    overflow-x: scroll;
    width: 94%;
    margin-left:6%;
	-webkit-overflow-scrolling: touch;
}

.pager-container button
{
    -webkit-appareance: none;
    display: inline-block;
    vertical-align: middle;
    height: 100%;   
  /*  margin: -4px 0 0 0;    */
    text-align: center;
    font-size: 12px;
    font-weight: normal;    
 
    -webkit-border-radius: 3px;
    color: hsl(0, 0%, 50%);
   
 /*   padding:0 5px 20px 5px;*/
    width:20%;
    border-left: 1px solid #B1B0AB;
    border-right: 1px solid transparent;
    border-top:none;
    border-bottom:none;
    border-radius:0;
   /* padding-top:4px;*/
    background:transparent;
}

#case-column-grid .pager-container button
{
    -webkit-appareance: none;
    display: inline-block;
    vertical-align: middle;
    height: 100%;   
  /*  margin: -4px 0 0 0;    */
    text-align: center;
    font-size: 12px;
    font-weight: normal;    
    -webkit-border-radius: 3px;
    color: hsl(0, 0%, 50%);
   
 /*   padding:0 5px 20px 5px;*/
    width:10%;
    border-left: 1px solid #B1B0AB;
    border-right: 1px solid transparent;
    border-top:none;
    border-bottom:none;
    border-radius:0;
   /* padding-top:4px;*/
    background:transparent;
    height:43px;
}

.pager-container button:first-child { margin-left: 0; }
.pager-container button:last-child { margin-right: 0; }

.pager-container .current-page {
	color: hsl(0, 0%, 35%);
	background:#C5C2BD;
    width: 20%;
    font-size:12px;
    font-weight:bold;
    height:43px;

}

#case-column-grid .pager-container .current-page {
	color: hsl(0, 0%, 35%);
	background:#C5C2BD;
    width: 10%;
    font-size:12px;
    font-weight:bold;
}

#summary-column
{
	z-index: 21;
	background-color: #F2F2F2;
	width: 35%;
	height: 100%;
	overflow-y: hidden;
	left: 65%;
}

#summary-column div.scroll-content h3
{
	color: #185891;
	font-weight:normal;
	padding: 5px 0;
	border-bottom: 1px solid #185891;
	margin-bottom: 8px;
}

#summary-column .activity-box
{	
	border-radius: 0;
	position: relative;
	padding: 10px 25px;	
	margin: 0 0 14px 0;
	background-color: #f2f2f2;
	border-bottom:1px solid #cccccc; 
	}

#summary-column .activity-box .activity-indicator
{
	display: inline-block;
	position: absolute;
	top: 2px; left: 2px; bottom: 2px;
	width: 5px;
}


.list-item-selected
{
    background: #D3D9DF;
}


.categories-group-container ul li
{
	border-bottom: 1px solid #C0C6CB;
	position:relative;
	height:40px;
}

.categories-group-container ul li:after {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.categories-group-container ul li:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #aaaaaa;
	border-width: 0 0 10px 10px;
	left: 100%;
	margin-left: -10px;
	margin-bottom:-49px;
}

.categories-group-container span { color: #444444; }

.indicator-green { background:  -webkit-gradient(linear, left top, left bottom, from(hsl(127, 75%, 40%)), to(hsl(127, 75%, 20%))); }
.indicator-yellow { background:  -webkit-gradient(linear, left top, left bottom, from(hsl(50, 90%, 60%)), to(hsl(50, 90%, 40%))); }
.indicator-red { background: -webkit-gradient(linear, left top, right bottom, from(hsl(0, 80%, 55%)), to(hsl(0, 80%, 35%))); }

#summary-column .activity-box .activity-name { margin: 0 0 10px 0; }

#summary-column .activity-box > dl dd,
#summary-column div.activity-box > dl dt
{
	display: inline-block;
	vertical-align: top;
	border-radius: 2px;
	line-height: 16px;
	margin: 0 0 6px 0;
}

#summary-column .activity-box input[type="button"]
{
	color: #FFF;
	border: 1px solid #0f3558;
	background: #0f3558;
	position: absolute;
	right: 5px;
	top: 5px;
	padding: 8px 10px;
}

#summary-column .activity-box > dl dd { width: 60%; }
/*#summary-column .activity-box > dl dd:last-child { width: 90%; margin-left: 20px; }*/
#summary-column .activity-box > dl dt { width: 35%; }

#summary-column .box-description dt,
#summary-column .box-description dd
{
	display: inline-block;
	margin-bottom: 6px;
	vertical-align: middle;
}

#summary-column .box-description dt { width: 35%; }

#summary-column .box-description dd
{
	width: 50%;	
	-webkit-border-radius: 4px;
	padding: 6px 8px;
}

.ui-bizagi-workportal-inbox-column .column-footbar
{
	height: 45px;
	border-top: 1px solid #8C8C8C;
	position: absolute;
	left: 0;
	right: 0;
	background-color: #D8D5D0;
	bottom: 0;                         
                                
}
#process-filters ul {
	top: 0;
	margin: 0;
	padding: 0;
	list-style: none;
}
#process-filters ul li 
{
	position: relative;
	width: 19%;
	height: 42px;
	float:left;
	margin:0;
}

#process-filters ul li button
{
	-webkit-appearance: none;
	width: 55px;
	height: 45px;
	border: 0;
	margin: 0 -12px 0 0;
	background-color: transparent;
	background-image: url('../../../../common/base/css/tablet/android/images/bizagi-tablet-sprite-s.png');
	top: 0px;
	position: absolute;
}


#process-filters ul li#all button,
#process-filters ul li#starred button
{
	top: 0px;
}
@media only screen {
    #process-filters ul li .toolTip
    {

        position: absolute;
	    top: 17px;
	    left: 30px;
	    text-align:center;
	    width: 0;
	    min-height: 11px;
	    font-size: 11px;
	    color:Gray;
	    padding-left:4px;
    }
}

@media only screen and (max-width: 750px) and (orientation: portrait) {
    #process-filters ul li .toolTip
    {
        position: absolute;
	    top: 17px;
	    left: 12px;
	    text-align:center;
	    width: 0;
	    min-height: 11px;
	    font-size: 11px;
	    color:Gray;
	    padding: 15px 0px 0px 0px;
    }
}

#process-filters li.filter-active
{ 
    border-width: 0 2px 0 2px;
    -webkit-border-image: url('images/selectedFilter.png') 0 2 0 2;
}
#process-filters .filter-none{ background-position:  -285px  -86px; }
#process-filters .filter-red{ background-position: -137px -89px; left:-10px; }
#process-filters .filter-yellow{ background-position: -185px -90px; left:-10px; }
#process-filters .filter-green{ background-position: -235px -91px; left:-10px;}
#process-filters .filter-starred
{ 
    background-position: -402px -53px; 
    height:20px;
    width:20px;
    margin:10px 0 0 20px;
    }

#process-filters .filter-active
{ 
    border-width: 0 2px 0 2px;
    -webkit-border-image: url('images/selectedFilter.png') 0 2 0 2;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2 ), 
only screen and (min-device-pixel-ratio: 2) {
    #process-filters ul li button, #process-filters .filter-none, #process-filters .filter-red, #process-filters .filter-yellow, #process-filters .filter-green, #process-filters .filter-starred
	{
		background-image:url('images/bizagi-tablet-sprite.png');
         background-size: 450px 300px;
	}
	
}

#summary-column-slider,
#render-column-slider
{
	-webkit-appearance: none;
	border: 0;
	background-color: transparent;
	position: absolute;	
	left: 3px;
	top: 3px;
	padding: 7px 19px 11px 11px;
	background-position:-47px -50px;
}

.slide-render-column-to-right-grid, .slide-render-column-to-top-grid
	{
	    height:89%;
	    }

/* SLIDE CONFIGURATION THAT APPLIES FOR BOTH ORIENTATIONS
 ========================================================*/
.slide-summary-column-to-default,
.slide-case-column-to-default 
{ 
    /*-webkit-transform: translate3d(0,0,0); 
    -webkit-transition-property: translate3d!important;*/
}

/* ICON SET
=========================================================*/
.cases-list > li span.icon
{
	float:right;
}

.cases-list > li span.icon.favorite-false {
background-position:-334px -53px;
}


.icon
{
	display: inline-block;
	vertical-align: top;
	background: url('../../../../common/base/css/tablet/android/images/bizagi-tablet-sprite-s.png');
	height: 30px;
	width: 30px;
	margin-top: 4px;
	background-size:450px 300px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2 ), 
only screen and (min-device-pixel-ratio: 2) {
    .icon,
	{
		background-image:url('images/bizagi-tablet-sprite.png');
         background-size: 450px 300px;
	}
	
}

.favorite-true { background-position: -365px -51px; float:left; margin-left:-5px;}
.favorite-false { background-position: -333px -47px; float:left; margin-left:-5px; }
.favorite-none { visibility: hidden;
                 float: left;
                 margin-left: -5px;
                  }
.icon-notepad { background-position: -202px -272px; float:left; margin-left:4px; }

@media only screen and (-webkit-min-device-pixel-ratio: 2 ), 
only screen and (min-device-pixel-ratio: 2) {
    .icon, .favorite-true, favorite-false, favorite-none, icon-notepad
	{
		background-image:url('images/bizagi-tablet-sprite.png');
        background-size: 450px 300px;
	}
	
}


/* RENDER STYLES
================================================*/

#contentFramework .scroll-content > h3
{
	color: #185891;
	padding: 0 0 5px 21px;
	border-bottom: 1px solid #185891;
	margin-bottom: 8px;
	width:86%;
	font-weight:normal;
	text-transform:uppercase;
}

#contentFramework .activity-box
{	
	border-bottom:1px solid #ccc;
    background-color: transparent;
    margin:0 5px 0 5px;
	border-radius: 0;
	position: relative;
	padding: 10px 25px;
}

#contentFramework .activity-box .activity-name { margin: 0 0 10px 0; }

#contentFramework .activity-box > dl > dt,
#contentFramework .activity-box > dl > dd
{
	display: inline-block;
	vertical-align: middle;
	border-radius: 2px;
	line-height: 16px;
	margin: 0 0 6px 0;	
	min-height: 18px;
}

#contentFramework .activity-box > dl dt { width: 40%; }

#contentFramework .activity-box > dl dd
{ 
	width: 52%;	
	padding: 2px 8px;
	-webkit-border-radius: 4px;
}



#contentFramework .activity-box .activity-indicator
{
	display: inline-block;
	position: absolute;
	top: 2px; left: 2px; bottom: 2px;
	width: 5px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}


.render-case-summary .box-description dt,
.render-case-summary .box-description dd
{
	display: block;
	margin-bottom: 2px;
}

.render-case-summary .box-description dd
{
	-webkit-border-radius: 4px;
	padding: 2px 8px;
	line-height: 18px;
	margin: 0 0 14px 0;	
}


#contentFramework .render-case-summary .activity-box dl dt,
#contentFramework .render-case-summary .activity-box dl dd
{
	width: 100%;
}


#contentFramework .render-case-summary
{
	position: absolute;
	background: #e8e8e8;
}

#contentFramework .render-form
{
	position: absolute;
	background: #f2f2f2;
}

.ui-bizagi-workportal-render-framework
{
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}

.ui-bizagi-workportal-render-framework .render-case-summary
{
	position: relative !important;
	width: 35%;
}

.ui-bizagi-workportal-render-framework .render-form
{
	position: relative !important;
	-webkit-box-flex: 1;
	border:none;
	/*-webkit-transition: -webkit-transform .3s ease-in-out;*/
}

.ui-bizagi-workportal-render-framework .scroll-content
{
	width: 100%;
	margin-left: 0;
}

.ui-bizagi-workportal-render-framework .column-footbar { bottom: 0; }

#renderFramework
{
	padding: 0;
	width: 100%;
	position: absolute;
	min-height: 100%;
}

#contentFramework > ul
{
	list-style: none;
	padding:0;
	margin:0;
	vertical-align:top;
	width:100%;
	overflow:hidden;
}

#contentFramework > ul > li { display: inline-block; }

/* jQuery UI TABS
=======================================================*/

.ui-bizagi-wp-app-inbox-description-start
{
	padding-left: 20px;
	position:relative;
	top:5px;
	left:14px;
}

.ui-bizagi-wp-app-inbox-description-ico-view{
	position: relative;
	top: 9px;
	left: 10px;
}

.ui-bizagi-wp-app-inbox-description-start
{
	position: relative;
	top: 6px;
	left: 14px;
	padding-left: 10px;
}


#ui-bizagi-wp-app-inbox-description-bt
{
	position: absolute;
	right: 20px;
	top:30px;    
}

#description
{
	position: relative;
	top: -300px;
	left: 500px;
}

.ui-tabs-panel a { color: #1F74B2; }

#contentFramework .render-case-summary .ui-tabs .ui-tabs-nav { padding: 0 2px; }
#contentFramework .render-case-summary .ui-tabs .ui-tabs-nav li a { padding: 6px 8px; }

.overlay
{
	position: absolute;
	top: 0; right:0; bottom: 0; left: 0;
	background: hsla(0,0%,0%, .5);
	/*-webkit-transition: background 2s;*/
}

.overlay .top-bar > #btnDestroyOverlay
{
	-webkit-appearance: none;
	-wekit-border-radius: 5px;
	color: #555;
	padding: 12px 24px;
	border: 1px solid #999;	
	background-color: hsl(0,0%,90%);
	font-weight: bold;
}

/* INBOX MODAL
=======================================================*/
.ui-dialog #ui-bizagi-wp-app-inbox-description-container { padding: 0 25px; }
.ui-dialog #ui-bizagi-wp-app-inbox-description-container .scrollSummary
{
    padding: 0;
    overflow: hidden;
}


/* BUTTONS
=======================================================*/
.ui-bizagi-wp-app-inbox-activity-description .workonitRow
{
    position:absolute;
    top:50%;
    right:30px;
    margin-top:-18px; 
}

.ui-bizagi-wp-app-inbox-activity-description .workonitRow.render { margin-top:5px; }

.viewSummaryBT
{
    position:absolute;
    top:50%;
    right:30px;
    margin-top:-18px; 
}

/* GENERAL LAYOUTS MEDIA-QUERIES (MUST BE > 1280 to avoid android tablet crashes)
=========================================================*/
@media only screen and (min-width: 1281px)
{
/*	#process-column,
	#case-column,
	#summary-column { height: 726px; }

	.scroll-content { height: 640px; }*/
    
	/* Summary column slide effects */
	/*.slide-summary-column-to-left
	{
		 
		 left: 280px !important;
		 width: 742px !important;
	}*/
	
	/*.slide-case-column-to-left
	{
	
		left: 0 !important;
	}*/

	/* Slide render column to left */
	/*.slide-render-column-to-left {
		-webkit-transform: translate3d(-343px,0,0); 
		width: 1024px !important;
	}*/
	/*.hide-case-summary .render-case-summary
	{
		width: 0 !important;
		display: none;
	}*/
	
	/*.hide-case-summary .render-form
	{
		width: 100% !important;
		border-left: none;
	}*/

	/*#contentFramework .render-case-summary,
/*	#contentFramework .render-form { height: 726px;	}*/
	
/*	.slide-render-column-to-left-grid
	{
		 left: 0 !important;
		
	}*/
}

/* case render*/

.hide-case-summary .render-case-summary
	{
		width: 0 !important;
		display: none;
	}

.hide-case-summary .render-form
{
		width: 100% !important;
		border-left: none;
}


/* INBOX GRID
=========================================================*/


	


.slide-render-column-to-left-grid
	{
		left: 0 !important;
		width: 100% !important;
	}

#case-column-grid
{
	width: 67%; 
	left: 33%;
	z-index: 20;
	border-left: 1px solid hsl(0,0%,65%);
	
	background:#f2f2f2;
	height: 100%;
    overflow-y: hidden;
	
}

.slide-render-column-to-right-grid
	{
		width: auto ;
		height:100%;
	}

/* LANDSCAPE LAYOUTS ONLY MEDIA-QUERIES
=========================================================*/
/*
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)
{
	#process-column,
	#case-column,
	#summary-column { height: 670px; }

	.scroll-content { height: 584px; }
    
	
	.slide-summary-column-to-left {
		
		left: 280px !important;
		width: 742px !important;
	}
	
	.slide-case-column-to-left 
	{
		
		left: 0 !important;
	}
    
	.hide-case-summary .render-case-summary
	{
		display: none;
		width: 0 !important;
	}
	
	.hide-case-summary .render-form
	{
		width: 100% !important;
		border-left: none;		
	}
	
	#contentFramework .render-form {  }

	#contentFramework .render-case-summary, #contentFramework .render-form {   height: 670px;	 }
	
	.slide-render-column-to-left-grid
	{
		 left: 0 !important;
		 width: 1020px !important;
	}
	 #process-column
	{ 
		height:670px; 
	}
	
	
	#case-column-grid {
		height:89%; 
	}
	
	.slide-render-column-to-right-grid
	{
		width: auto ;
		height:100%;
	}
	
	.slide-render-column-to-top-grid
	{
		min-height:300px !important	;
	}
	

}*/


.slide-summary-column-to-left {
    left: 32%!important;
    width: 68% !important;
}

.slide-case-column-to-left {
		width: 33%;
		left: 0px !important;
	}


	

/* PORTRAIT LAYOUTS ONLY MEDIA-QUERIES
=========================================================
@media only screen and (min-device-width: 481px) and (max-device-width: 768px) and (orientation:portrait)
{
	#process-column,
	#case-column,
	#summary-column { height: 926px; }

	.scroll-content { height: 840px; }
    

	.slide-summary-column-to-left
	{
		 
		 left: 280px !important;
		 width: 486px !important;
	}
	.slide-case-column-to-left {
		width: 722px;
		left: 0px !important;
	}

	.hide-case-summary .render-case-summary
	{
		width: 0 !important;
		display: none;
	}
	
	.hide-case-summary .render-form
	{
		width: 100% !important;
		border-left: none;
	}

	#contentFramework .render-case-summary,
	#contentFramework .render-form { height: 1002px; }
	
	.slide-render-column-to-left-grid
	{
		 left: 0 !important;
		 width: 766px !important;
	}
	
	
	.slide-render-column-to-right-grid
	{
		width: 470px ;
	}
	
	.slide-render-column-to-top-grid
	{
		min-height:830px	;
	}
	
	
	
	#case-column-grid {
		
		height:960px;	
		
   }
   
   
   
}
**/



/*=========================================================*/
#case-column-grid .ui-bizagi-wp-app-inbox-processes-title
{
	border-bottom: 1px solid #185891;
	margin-bottom: 10px;
	padding: 5px;
	width:95%;
	margin-left:6px;
}
#case-column-grid .ui-bizagi-wp-app-inbox-processes-title ul {
margin-bottom:-2px;	
}


.ui-bizagi-wp-app-inbox-processes-title ul
{
	list-style: none;
}

#case-column-grid .ui-bizagi-wp-app-inbox-processes-title li {
	cursor: pointer;
	text-decoration: none;
	list-style: none;
	display: inline-block;
	color: #1F74B2;
	text-transform:uppercase;
}

#case-column-grid table { width: 97%; margin-left:1%; }

.ui-bizagi-component-loading > .ui-bizagi-wp-app-inbox-grid-cases-container{
	padding-bottom:100px;
}

.ui-bizagi-wp-app-inbox-grid-cases-container table tbody td,
.personalizedColumnsContainer table tbody td
{
	padding: 4px;
	vertical-align: middle;
}

.ui-bizagi-wp-app-inbox-grid-cases-container thead td,
.personalizedColumnsContainer table thead td
{
	padding: 8px 20px 8px 8px;
	border-top: none;
	text-align: center;
	vertical-align: middle;
}

.ui-bizagi-wp-app-inbox-grid-cases-container thead td > div { position:relative; }

.ui-bizagi-wp-app-inbox-grid-cases-container td .ui-bizagi-wp-app-inbox-cases-start { margin: 5px 0 0 7px; }

.gridListWorkItems
{    
	margin:0; 
	padding:0;
}

.gridListWorkItems li
{
	overflow:hidden;
	list-style-type:none;
	display:block;
	margin-top:5px;
}

.gridListWorkItems li:first-child {	margin:0; }

.gridListWorkItems li .ui-bizagi-wp-app-inbox-cases-grid-ico-state
{
	width:16px;
	height:16px;
	display:block;
	float:left;
	margin:0 5px 0 0;
}

.ui-bizagi-wp-app-inbox-cases-start
{
	display:block;
	/*background-image: url(images/sprite_inbox.png);*/
	width:18px;
	height:18px;
}

.ui-bizagi-wp-app-inbox-cases-start-wait
{
	/*background-image: url(images/loading_cube_mini.png);*/
	height:16px;
	width:16px;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	display:block;
	float:left;
	margin-right:5px;              
}

.ui-bizagi-wp-app-inbox-cases-start.on { background-position: -369px -55px; }

.ui-bizagi-wp-app-inbox-cases-start.off { background-position: -339px -55px; }

.gridListWorkItems li #ui-bizagi-wp-app-inbox-cases-ico-state-Green,
.gridListWorkItems li #ui-bizagi-wp-app-inbox-cases-ico-state-Red,
.gridListWorkItems li #ui-bizagi-wp-app-inbox-cases-ico-state-Yellow
{
	display: inline-block;
	width: 8px;
	height: 8px;
	-webkit-border-radius: 8px;
	vertical-align: top;	
	margin: 4px 4px 2px 2px;
}

.gridListWorkItems li #ui-bizagi-wp-app-inbox-cases-ico-state-Green
{
    background: -webkit-gradient(radial, center center, 0, center center, 10,
				from(hsl(127, 75%, 40%)), to(hsl(127, 75%, 5%)));
}

.gridListWorkItems li #ui-bizagi-wp-app-inbox-cases-ico-state-Red
{    
    background: -webkit-gradient(radial, center center, 0, center center, 10,
				from(hsl(0, 80%, 55%)), to(hsl(0, 80%, 10%)));
}

.gridListWorkItems li #ui-bizagi-wp-app-inbox-cases-ico-state-Yellow
{
	background: -webkit-gradient(radial, center center, 0, center center, 10,
				from(hsl(53, 90%, 60%)), to(hsl(50, 90%, 10%)));
}

.sortColumnsDataDownIcon,
.sortColumnsDataUpIcon,
.sortColumnsDataIcon
{
    position:absolute;
    height:12px;
    width:8px;
    margin-top:-6px;
    top:50%;
    right:-14px;
}

.arrowDownIcon
{
    border-top:5px solid rgb(131,139,144);
    border-top:5px solid rgba(255,255,255,.2);   
    border-left:4px solid transparent;
    border-right:4px solid transparent;
    border-bottom:0 solid transparent;
}

.arrowUpIcon
{
    border-top:0 solid transparent;  
    border-left:4px solid transparent;
    border-right:4px solid transparent;
    border-bottom:5px solid rgb(125,133,141);
    border-bottom:5px solid rgba(255,255,255,.2);
}

.arrowDownIcon,
.arrowUpIcon
{
    margin: 0;
    position:absolute;
}

.arrowDownIcon
{
    bottom: 0;
    left: 0;
}

.arrowUpIcon
{
    top:0;
    left:0;
}

#case-column-grid table button
{
	padding: 4px;
	color: #FFF;
    border: 1px solid #2b323b;
    background: #0E385E;
}

.gridListWorkItems li .ui-bizagi-wp-app-inbox-activity-name, .ui-bizagi-wp-app-inbox-activity-name
{
    color: #1F74B2;
    cursor: pointer;
}

#ui-bizagi-wp-app-inbox-cases-ico-close{
    /*display: block;
    float: left;
    padding-left: 9px;*/
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-right: 6px;
    width: 16px;
}

#ui-bizagi-wp-app-inbox-cases-ico-close + span{
    display: inline-block;
    vertical-align: middle;
}

#ui-bizagi-wp-app-inbox-cases-ico-close span{
    background:url(images/bizagi-tablet-sprite-s.png) -356px -276px no-repeat;
    display: block;
    height:16px;
    width: 16px;
    position: relative;
}

.bz-wp-status-notification {
    float: right;
    margin-top: 15px;
    margin-right: 20px;
    text-transform:uppercase;
    font-size:13px;
    display: none; /* Deshabilitar offline */
}

.bz-wp-status-notification.offline
{
    color:#D90000;
}

.bz-wp-status-notification.online
{
    color:#468C00;
}