<script id="textformat-frame" type="text/x-jquery-tmpl">
    <div class="textformat-container ui-control-container">
        <label class="textformat-name">${caption}</label>
        <div class="textformat-actions"></div>
        <div class="textformat-preview">%{formmodeler-component-editor-textformat-preview}</div>
        <div class="textformat-size-value"></div>
        <i class="biz-ico textformat-image-reset" title="%{formmodeler-component-editor-all-set-default}"></i>
    </div>
</script>

<script id="textformat-frame-bold" type="text/x-jquery-tmpl">
    <i class="biz-ico textformat-primary-control textformat-image-bold${selected}" data-preview-style="bold" data-property="${property}.bold" ></i>
</script>

<script id="textformat-frame-italic" type="text/x-jquery-tmpl">
    <i class="biz-ico textformat-primary-control textformat-image-italic${selected}" data-preview-style="italic" data-property="${property}.italic"></i>
</script>

<script id="textformat-frame-underline" type="text/x-jquery-tmpl">
    <i class="biz-ico textformat-primary-control textformat-image-underline${selected}" data-preview-style="underline" data-property="${property}.underline"></i>
</script>

<script id="textformat-frame-strikeout" type="text/x-jquery-tmpl">
    <i class="biz-ico textformat-primary-control textformat-image-strikeout${selected}" data-preview-style="strikeout" data-property="${property}.strikethru"></i>
</script>

<script id="textformat-frame-font" type="text/x-jquery-tmpl">
    <input type="text" class="ui-control-input textformat-secondary-control textformat-image-font" data-property="${property}.font" />
</script>

<script id="textformat-frame-background" type="text/x-jquery-tmpl">
    <input type="text" class="ui-control-input textformat-secondary-control textformat-image-background" data-property="${property}.background" />
</script>

<script id="textformat-frame-size" type="text/x-jquery-tmpl">
    <div class="textformat-size-container">
        <i class="biz-ico textformat-tertiary-control textformat-image-size-plus" data-property="${property}.size"></i>
        <i class="biz-ico textformat-tertiary-control textformat-image-size-minus" data-property="${property}.size"></i>
    </div>
</script>