<div id = "modal-about-wrapper">
    <div id="modal-about-content">
        <div class="logo"></div>

        <div class="content">
        	<span>Bizagi</span>
        	<span>Version ${build}</span>

        	</br>
        	</br>
        	<span class="copyright">Copyright &copy; Bizagi Ltd 2002-2014</span>
        </div>
    </div>
</div>