{{css "jquery/workportal/css/desktop/bizagi.workportal.menu.css"}}
<script id="ui-bizagi-workportal-widget-menu" type="text/x-jquery-tmpl"> 
    <div id="ui-bizagi-wp-app-menu-container">
        <div id="ui-bizagi-wp-app-menu-logo-container">
            <div id="ui-bizagi-wp-app-menu-logo-client">
                <img {{if base64image !== ""}}src="data:image/png;base64,${base64image}"{{else}}src=""{{/if}}>
            </div>        
        </div>  
        <div id="ui-bizagi-wp-app-menu-selector" class="vertical_division"></div>  
        <div id="ui-bizagi-wp-widget-searchContainer">
            <div id="ui-bizagi-wp-widgetpc" class="ui-bizagi-wp-widgetpc">
                <div class="top">
                    <span></span>
                </div>
                <div class="content"><span></span>
                    <!--widget content-->
                    <input type="hidden" name="categoryProceccess" value="1" />
                    <input type="hidden" name="categoryCases" value="1" />
                    <input type="hidden" name="categoryQueries" value="1" />
                    <div >
                        <ul id="widgetContent">
                            <li>
                                <input type="radio" id="testRadioB">
                                <label for="testRadioB"><div class="ui-bizagi-wp-app-menu-ico-search-miniproc-on">%{workportal-menu-process}</div></label>
                            </li><li>
                                <input type="radio" id="testRadioC">
                                <label for="testRadioC"><div class="ui-bizagi-wp-app-menu-ico-search-minicases-on">%{workportal-menu-cases}</div></label>
                            </li><li>
                                <input type="radio" id="testRadioD">
                                <label for="testRadioD"><div class="ui-bizagi-wp-app-menu-ico-search-miniqueries-off">%{workportal-menu-queries}</div></label>                                    
                            </li>
                        </ul>
                    </div>
                    <!--end widget content-->
                </div>
                <div class="bottom"><span></span></div>
            </div>
            <div id="ui-bizagi-wp-app-search" class="ui-bizagi-wp-app-menu-search-off">
                <div id="ui-bizagi-wp-app-bt-search"></div>
                <input type="text" name="menuQuery"  id="menuQuery" onfocus="if(this.value=='%{workportal-menu-search}') this.value='';" onblur="if(this.value=='') this.value='%{workportal-menu-search}';" value="%{workportal-menu-search}"/>
                <div id="searchNotFound" class="nodisplay">%{workportal-menu-search-found-no-cases}</div>
            </div>       
        </div>
        <div id="ui-bizagi-wp-app-menu-selector" class="vertical_division"></div>  
        <div id="ui-bizagi-wp-app-menu-bt-container">
            <ul id="main_menu">         
                {{component menuItems}}                        
                <!-- empty space -->                        
            </ul>
        </div>

        <div id="userprofile">
            <span class="ui-bizagi-wp-bt-font">A</span>
            <div id="ui-bizagi-wp-app-menu-selector" class="vertical_division"></div>
            <div id="ui-bizagi-wp-menu-username"><span class="text">${userFullName}</span></div>
            <div id="ui-bizagi-wp-app-menu-selector" class="vertical_division"></div>
            <button type="button" id="logout">%{workportal-menu-logout}</button>

            <div id="ui-bizagi-wp-app-menu-selector" class="vertical_division about-division"></div>
            <button type="button" id="about">%{workportal-menu-about}</button>
       	</div>

         <!--{{if environment == "debug"}}
            <div id="build">${build}</div>
        {{/if}}-->
        <div id="contentSearchResults" class="hidden nodisplay"></div>
    </div>

</script>

<script id="ui-bizagi-workportal-widget-menu-permissions" type="text/x-jquery-tmpl">    

    <!--<li id="menuListWidget">
                <a href="javascript:void(0);">
                    <span class="icon widgets"></span>
                    <span class="text">widgets</span>
                </a>
                <span id="ui-bizagi-wp-mini-arrow" class="ui-bizagi-wp-mini-arrow"></span>
            </li>-->
    {{if NewCase}}
    <li  id="menuListNew">
        <a href="javascript:void(0);">
            <span class="icon new"></span>
            <span class="text">%{workportal-menu-new}</span>
        </a>
        <span id="Span1" class="ui-bizagi-wp-mini-arrow"></span>
    </li>
    {{/if}}
    <!-- <li id="menuListFavorites">
         <a href="javascript:void(0);">
             <span class="icon favorites"></span>
             <span class="text">%{workportal-menu-favorites}</span>
         </a>
     </li>-->
    <li  id="menuListInbox">
        <a href="javascript:void(0);">
            <span class="icon inbox"></span>
            <span class="text">%{workportal-menu-inbox-msg}</span>
        </a>        
    </li>
    {{if $item.reportsSecurity()}}
    <li  id="menuListReports">
        <a href="javascript:void(0);">
            <span class="icon reports"></span>
            <span class="text">%{workportal-menu-reports}</span>
        </a>
        <span id="Span2" class="ui-bizagi-wp-mini-arrow"></span>
    </li>
    {{/if}}
	{{if BizagiQueries}}
    <li  id="menuListQueries">
        <a href="javascript:void(0);">
            <span class="icon queries"></span>
            <span class="text">%{workportal-menu-queries}</span>
        </a>
        <span id="Span1" class="ui-bizagi-wp-mini-arrow"></span>
    </li>
	{{/if}}
    {{if authEntities}}
    <li  id="tempEntities">
        <a href="javascript:void(0);">
            <span class="icon admin"></span>
            <span class="text">Entities</span>
        </a>
        <span id="Span4" class="ui-bizagi-wp-mini-arrow"></span>
    </li>
    {{/if}}
    {{if Admin}}
    <li  id="menuListAdmin">
        <a href="javascript:void(0);">
            <span class="icon admin"></span>
            <span class="text">%{workportal-menu-admin}</span>
        </a>
        <span id="Span3" class="ui-bizagi-wp-mini-arrow"></span>
    </li>
    {{/if}}
    {{if CurrentUserAdministration}}
    <li  id="menuListPreferences">
        <a href="javascript:void(0);">
            <span class="icon preferences"></span>
            <span class="text">%{workportal-menu-preferences}</span>
        </a>
    </li>
    {{/if}}
    <!-- CUSTOM ITEMS -->
</script>

<script id="ui-bizagi-workportal-widget-menu-custom-button" type="text/x-jquery-tmpl">
    <li id="${id}">
        <a href="javascript:void(0);">
            <span class="${className}"></span>
            <span class="text" >${text}</span>
        </a>
        {{if submenu}}
        <span class="ui-bizagi-wp-mini-arrow"></span>
        {{/if}}
    </li>
</script>

<script id="ui-bizagi-workportal-widget-menu-submenu" type="text/x-jquery-tmpl">
    <div class="modalMenuBt Admin Reports">       
        <div id="modalMenuBtList" class="clearfix">            
            <div id="categories" {{loading}}>
            </div>
        </div>
    </div> 
</script>

<script id="ui-bizagi-workportal-widget-menu-submenu-list" type="text/x-jquery-tmpl">  
    {{each listmenu}}
    <ul>       
        <li class="category ${categoryKey}" data-id="${categoryKey}">
            {{if categoryClassName}}
                <div class="customCategoryIcon ${categoryClassName}"></div>
            {{else}}
                <div class="categoryIco"></div>
            {{/if}}
            <h3>${categoryName}</h3>                            
            <span id="arrow">&GT;</span>
            <input type="hidden" id="categoryUrl" value="${categoryUrl}" />
        </li>            
    </ul>
    {{/each}}
</script>
