
/*----------------- ActionSheet ---------------------*/

.km-phone .km-flat .km-actionsheet-wrapper {
    background-color: transparent;
}


/* LOADING
=========================================================*/

.k-loading-color,
.k-loading-text {
    display: none;
}

.k-loading-mask {
    background: rgba(37, 44, 51, 0.50);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 9999;
}

.k-loading-image {
    width: 155px;
    height: 190px;
    border: 2.5px solid transparent;
    background: url(images/loader-sprite.png) no-repeat;
    position: absolute;
    z-index: 10000;
    left: 50%;
    top: 50%;
    -webkit-animation: frame-animation 1s steps(6) infinite;
    -moz-animation: frame-animation 1s steps(6) infinite;
    -ms-animation: frame-animation 1s steps(6) infinite;
    -o-animation: frame-animation 1s steps(6) infinite;
    animation: frame-animation 1s steps(6) infinite;
    -webkit-transform: translate(-50%, -50%) scale(0.2, 0.2);
    -moz-transform: translate(-50%, -50%) scale(0.2, 0.2);
    -ms-transform: translate(-50%, -50%) scale(0.2, 0.2);
    -o-transform: translate(-50%, -50%) scale(0.2, 0.2);
    transform: translate(-50%, -50%) scale(0.2, 0.2);
}

@keyframes frame-animation {
    0% {
        background-position: -5px -5px;
    }

    100% {
        background-position: -965px -5px;
    }
}

@-webkit-keyframes frame-animation {
    0% {
        background-position: -5px -5px;
    }

    100% {
        background-position: -965px -5px;
    }
}

/* Push to refresh
=========================================================*/

span.km-loading.km-spin,
span.km-loading-left,
span.km-loading-right,
.km-scroller-pull span.km-icon {
    display: none !important;
}

.km-scroller-pull.km-scroller-refresh,
.km-scroller-pull.km-scroller-refresh,
.km-scroller-pull {
    background: transparent !important;
    -webkit-transform: translate(-50%, -120%);
    -moz-transform: translate(-50%, -120%);
    -ms-transform: translate(-50%, -120%);
    -o-transform: translate(-50%, -120%);
    transform: translate(-50%, -120%);
}

span.km-template {
    left: 0 !important;
    top: -10px !important;
}

.km-loader-widget-pull,
.km-loader-widget-refresh {
    background-color: transparent;
    background-image: url(images/loading-animation.gif) !important;
    background-repeat: no-repeat;
    background-position: 100% 100% !important;
    -ms-background-size: 40px 40px;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
}

/* ICON MENU
=========================================================*/

.km-all-cases-01:before,
.km-all-cases-01:after {
    font: 1em/1em "mobileflat-icons";
    content: "\f109" !important;
}
