<script id="xpath-frame" type="text/x-jquery-tmpl">
    <div class="xpath-container ui-control-container">
        <label class="xpath-name">${caption}</label>
        <input type="text" class="xpath-value ui-control-input" readonly="readonly" value="${value.baxpath.xpath}" />
        {{if readonly == false}}
            <i class="biz-ico xpath-image-world" title="%{formmodeler-component-editor-xpath-show-data}"></i>
            <i class="biz-ico biz-ico-default" title="%{formmodeler-component-editor-all-set-default}"></i>
        {{/if}}
        <div class="xpath-frame-component"></div>
    </div>
</script>

<script id="xpath-xpathfromentity" type="text/x-jquery-tmpl">
    <div class="xpath-container ui-control-container">
        <label class="xpath-name">${caption}</label>
        <input type="text" class="xpath-value ui-control-input" readonly="readonly" value="${value.baxpath.xpath}" />
        {{if readonly == false}}
            <i class="biz-ico xpath-from-entity xpath-image-world" title="%{formmodeler-component-editor-xpath-show-data}"></i>
            <i class="biz-ico biz-ico-default" title="%{formmodeler-component-editor-all-set-default}"></i>
        {{/if}}
    </div>
</script>

<script id="xpath-xpathtosimple" type="text/x-jquery-tmpl">
    <div class="xpath-container ui-control-container">
        <label class="xpath-name">${caption}</label>
        <input type="text" class="xpath-value ui-control-input" readonly="readonly" value="${value.baxpath.xpath}" />
        {{if readonly == false}}
            <i class="biz-ico xpath-to-simple xpath-image-world" title="%{formmodeler-component-editor-xpath-show-data}"></i>
            <i class="biz-ico biz-ico-default" title="%{formmodeler-component-editor-all-set-default}"></i>
        {{/if}}
    </div>
</script>

<script id="xpath-xpathtoentity" type="text/x-jquery-tmpl">
    <div class="xpath-container ui-control-container">
        <label class="xpath-name">${caption}</label>
        <input type="text" class="xpath-value ui-control-input" readonly="readonly" value="${value.baxpath.xpath}" />
        {{if readonly == false}}
            <i class="biz-ico xpath-to-entity xpath-image-world" title="%{formmodeler-component-editor-xpath-show-data}"></i>
            <i class="biz-ico biz-ico-default" title="%{formmodeler-component-editor-all-set-default}"></i>
        {{/if}}
    </div>
</script>

<script id="xpath-xpathtocollection" type="text/x-jquery-tmpl">
    <div class="xpath-container ui-control-container">
        <label class="xpath-name">${caption}</label>
        <input type="text" class="xpath-value ui-control-input" readonly="readonly" value="${value.baxpath.xpath}" />
        {{if readonly == false}}
            <i class="biz-ico xpath-to-collection xpath-image-world" title="%{formmodeler-component-editor-xpath-show-data}"></i>
            <i class="biz-ico biz-ico-default" title="%{formmodeler-component-editor-all-set-default}"></i>
        {{/if}}
    </div>
</script>