<script id="bz-rn-search" type="text/x-kendo-template">
    <div class="ui-bizagi-render-search-container">
        <input class="ui-bizagi-render-search" type="text" #if(!data.allowTyping){# readonly #}# />
         #if(data.advancedSearch){#
               <div class="bz-cm-icon bz-rn-search-button" ></div>
        #}#
    </div>
</script>

<script id="bz-rn-search-item" type="text/x-kendo-template">
    <li class="ui-bizagi-render-search-item">
        <a>
            <label class="ui-bizagi-render-search-item-label">#=data.label#</label>
        </a>
    </li>
</script>