﻿/* Search */

.bz-menu-search
{
    display: none;
}

.search-container{
    margin: 10px 3px 15px 8px;        
    position:  relative;
    font-size: 12.5px;
}

input.bz-wp-mu-input-search-menu
{
    background: #253341;
    -webkit-appearance: none;
    border: none;
    border-radius: 15px;
    height: 30px;
    margin: 15px 0 0 20px;
    width: 85%;
    color: #e5e5e5;
    padding: 0 0 0 30px;
}

span.bz-wp-menu-search-icon.km-icon.km-search
{  
    position: absolute;
    bottom: 8px;
    left: 30px;
    color: #37BAEC;
    font-size: 13px;
}

div.bz-wp-mu-button-search
{
    color: #37BAEC;
    font-size: 12.5px;
    right: 3%;
    position: absolute;
    top: 5px;
    min-height: 50px;
    text-align: justify;
    padding-top: 15px;
}


/* Task feed lists */

#content-menu-drawer .km-listview-wrapper .bz-list-item-date {
    width: 50px;
    height: 30px;
    position: relative;
    display: inline-block;
    float: left;
    border-radius: 4px;
    margin: 4px 10px 25px 10px;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    font-size: 12px;
    padding: 7px 0 0 0;
    font-weight: 500;
}

#content-menu-drawer .km-listview-wrapper .bz-list-item-date.overdue
{
    color: #EC3939;
    background-color: #FDEBEB;
}

#content-menu-drawer .km-listview-wrapper .bz-list-item-date.today
{
    color: #CFBB38;
    background-color:#FAF7EA;
}
#content-menu-drawer .km-listview-wrapper .bz-list-item-date.tomorrow
{
    color: #CFBB38;
    background-color: #FAF7EA;
}

#content-menu-drawer .km-listview-wrapper .bz-list-item-date.upcoming
{
    color: #26A023;
    background: #E8F5E8;
}

.bz-list-item-date.gray {
    color: #C0C2C4;
    background: #EFEFF0;
}

#content-menu-drawer .km-listview-wrapper .bz-list-item-maindata
{
    min-height: 35px;
    display: inline;
    min-width: 50%;
    padding: 0;
}


#content-menu-drawer .km-listview-wrapper .bz-list-subitem.activity
{
    margin: 0;
    font-size: 15px;
    color: white;
}

#content-menu-drawer .km-listview-wrapper .bz-list-subitem.processname
{
    margin: 0;
    font-size: 10px;
    background: #6C747C;
    border-radius: 3px;
    padding: 2px 5px;
    display: inline;
}

#content-menu-drawer .km-listview-wrapper .bz-list-subitem.user
{
    margin: 0;
    display: inline;
}

#content-menu-drawer .km-listview-wrapper .bz-menu-search li:first-child
{
    border-top: 1px solid #153C52;
    margin-top: 20px;
}

#content-menu-drawer .km-listview-wrapper .bz-menu-search li
{
    border-bottom: 1px solid #153C52;
    margin: 0 15px 0 15px;
}

#content-menu-drawer .km-listview-wrapper .bz-wd-search-container-noresults > span
{
    padding: 17px 0 0 17px;
    color: #C0C0C0;
}
