﻿#content-menu-drawer, #content-menu-drawer .km-listview-wrapper li
{
    background-color: #0C1C2B;
    color: white;
}

#content-menu-drawer .km-listview-wrapper li.bz-menu-li
{
    border: 1px solid white;
    border-width: 0 0 1px 0;
}

.bz-menu-title
{
    color: #195891;
    text-transform: uppercase;
    width: 100%;
    border-bottom: 1px solid #3C4955;
    display: inline-block;
    padding: 0 0 0 15px;
}

#content-menu-drawer .km-listview-wrapper li.bz-menu-li
{
    border-bottom: 1px solid #3C4955;
    padding-bottom: 14px;
    padding-top: 14px;
    margin-left: 15px;
}

#content-menu-drawer .km-listview-wrapper li.bz-menu-li:last-child
{
    margin: 10px 0 36px 0;
    padding: 0 0 0 29px;
    height: 36px;
}