<script id="ui-bz-wp-webpart-menu-main" type="text/x-kendo-template">
<div class="search-container">
    <input type="text" class="bz-wp-mu-input-search-menu">
        <span class="bz-wp-menu-search-icon km-icon km-search"></span>
    </input>
    <div class="bz-wp-mu-button-search">Cancel</div>
</div>
<ul data-type="group" class="bz-menu component-menu">
    <li><span class="bz-menu-title">Menu</span>           
        <ul class="menu-items">
            # if (data.authNewCase) { #
            <li class="bz-menu-li new-case" data-icon="new-smallsize" data-role="listview-link">
                <span>%{workportal-menu-new}</span>
            </li>
            # } #            

            # if (data.enableTaskfeed) { #
            <li class="bz-menu-li task-feed" data-icon="all-cases-01" data-role="listview-link">                
                <span>Task Feed</span>
            </li>
            # } #

            # if (data.authInbox) { #
            <li class="bz-menu-li inbox-shortcut" data-icon="inbox-small" data-role="listview-link">
                <span class="bz-wp-inbox-label-text">%{workportal-menu-inbox-msg}</span>
            </li>
            # } #
            # if (data.authAnalysisReports) {#
            <li class="bz-menu-li" data-icon="stats-small" data-role="listview-link">
                <span>%{workportal-menu-reports}</span>
            </li>
            # } # 
            # if (data.authAdmin) {#
            <li class="bz-menu-li " data-icon="home" data-role="listview-link">
                <span>%{workportal-menu-admin}</span>
            </li>
            # } # 
            # if (data.authCurrentUserAdministration) { #
            <li class="bz-menu-li " data-icon="settings-small" data-role="listview-link">
                <span>%{workportal-menu-preferences}</span>
            </li>
            # } # 
             # if (data.enableSettings) { #
            <li class="bz-menu-li settings" data-icon="settings-small" data-role="listview-link">
                <span>%{workportal-menu-preferences}</span>
            </li>
            # } # 
            # if (data.enableLogOut) { #
            <li class="bz-menu-li logout" data-icon="log-out-small" data-role="listview-link">
                <span>%{workportal-menu-logout}</span>
            </li>
            # } # 
        </ul>
    </li>
</ul>
<div data-role="scroller">
    <ul data-role="listview" data-style="inset" class="bz-menu-search bz-wp-group-container"></ul>
</div>
</script>
<script id="ui-bz-wp-webpart-menu-search-item" type="text/x-kendo-template">
    # if (typeof(data.noResults) != 'undefined' && data.noResults) {#
        <div class="bz-wd-search-container-noresults">
            <span>#= data.message #</span>
        </div>
    # } else { #
        <div class="bz-wp-item-container" data-case="#= data[0] #">
            <div class="bz-wp-item-maindata-header">
                <span class="bz-list-item-date #=data.state#">#= data[3] #</span>
            </div> 
            <div class="bz-wp-item-maindata-container">            
                <span class="bz-list-item-maindata">
                    <h3 class="bz-list-subitem activity">#= data[5] #</h3>
                    <p class="bz-list-subitem processname">#= data[4] #</p>
                     #if (data.radNumber && data.radNumber != null){#
                        <p class="bz-list-subitem user">#= data.radNumber #</p>
                      #} else {#
                        <p class="bz-list-subitem user">#= data[0] #</p>
                      #}#   
                </span>
              </div>
        </div>
   # } #
</script>

