﻿<script id="bz-rp-analytics-process-processactivity-main" type="text/x-jquery-tmpl">
<div class="row">
    <div class="large-4 columns">
        <div class="bz-rp-report">
            {{component analytics-process-processactivity-trend}}
        </div>
    </div>
    <div class="large-4 columns">
        <div class="bz-rp-report">
            {{component analytics-process-processactivity-processactivity}}
        </div>
    </div>
    <div class="large-4 columns">
        <div class="bz-rp-report">
            {{component analytics-process-processactivity-activitysummary}}
        </div>
    </div>
</div>
</script>

<script id="bz-rp-analytics-process-processactivity-activitysummary" type="text/x-jquery-tmpl">
<table class="bz-rp-summary">
    <thead>
        <tr>
            <th colspan="2">
                <span class="bz-rp-summary-head">%{analytics-process-processactivity-activitysummary-title}</span>
                <i class="bz-rp-icon bz-rp-icon-24 bz-rp-icon-export-excel-dark bz-rp-export-excel"></i>
                <i class="bz-rp-icon bz-rp-icon-24 bz-rp-icon-toggle-summary bz-rp-toggle-summary"></i>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>%{analytics-process-processactivity-newcases}</th> <td>${newCases}</td>
        </tr>
        <tr>
            <th>%{analytics-process-processactivity-closedcases}</th> <td>${closedCases}</td>
        </tr>
        <tr>
            <th>%{analytics-process-processactivity-abortedcases}</th> <td>${abortedCases}</td>
        </tr>
        <tr>
            <th>%{analytics-process-processactivity-effectiveness}</th> <td>${effectiveness}%</td>
        </tr>
    </tbody>
</table>
</script>

<script id="bz-rp-analytics-process-processactivity-processactivity" type="text/x-jquery-tmpl">
<div class="bz-rp-chart">
    <div class="custom-overlay"><p class="message">%{bz-rp-nodata}</p></div>
</div>
<div class="bz-rp-info">
    <h6 class="bz-rp-info-breadcrumb">%{analytics-title} / %{analytics-process-processactivity-title}</h6>
    <h3 class="bz-rp-info-title">%{analytics-process-processactivity-title}</h3>
    <p class="bz-rp-info-description">%{analytics-process-processactivity-description}</p>
</div>
</script>

<script id="bz-rp-analytics-process-processactivity-trend" type="text/x-jquery-tmpl">
<div class="bz-rp-chart">
    <div class="custom-overlay"><p class="message">%{bz-rp-nodata}</p></div>
</div>
<div class="bz-rp-info">
    <h6 class="bz-rp-info-breadcrumb">%{analytics-title} / %{analytics-process-processactivity-title} / %{analytics-process-processactivity-trend-title}</h6>
    <h3 class="bz-rp-info-title">%{analytics-process-processactivity-trend-title}</h3>
    <p class="bz-rp-info-description">%{analytics-process-processactivity-trend-description}</p>
</div>
</script>