<script id="searchform-frame" type="text/x-jquery-tmpl">
    <div class="searchform-container">
        <label>${caption}</label>
        <div class="searchform-button-container">
            <span class="searchform-button-caption biz-action-btn ui-corner-left ui-ellipsis" title="${caption}"> &nbsp; </span><div class="searchform-button-dropdown biz-action-btn ui-corner-right"><i class="biz-btn-caret"></i></div>
            <ul class="searchform-menu biz-border-all biz-light-border-color ui-corner-all biz-shadow-down">
                <li class="searchform-menu-section">%{formmodeler-component-editor-searchform-selection}
                    <ul class="searchform-submenu biz-border-all biz-light-border-color ui-corner-all"></ul>
                </li>
            </ul>
        </div>
    </div>
</script>

<script id="searchform-frame-empty" type="text/x-jquery-tmpl">
    <div class="searchform-container">
        <label>${caption}</label>
        <div class="searchform-button-container">
            <div class="searchform-captions"></div><div class="searchform-button-dropdown biz-action-btn ui-corner-right"><i class="biz-btn-caret"></i></div>
            <ul class="searchform-menu biz-border-all biz-light-border-color ui-corner-all biz-shadow-down">
                <li class="searchform-menu-section">%{formmodeler-component-editor-searchform-selection}
                    <ul class="searchform-submenu biz-border-all biz-light-border-color ui-corner-all"></ul>
                </li>
            </ul>
        </div>
    </div>
</script>

<script id="searchform-caption" type="text/x-jquery-tmpl">
    <span class="searchform-button-caption biz-action-btn ui-corner-left ui-ellipsis">{{tmpl "#searchform-item-version"}}${caption}</span>
</script>

<script id="searchform-newform" type="text/x-jquery-tmpl">
    <li class="searchform-menu-event searchform-newform biz-btn-horizontal"><div class="biz-btn">%{formmodeler-component-editor-searchform-newform}</div></li>
</script>

<script id="searchform-none" type="text/x-jquery-tmpl">
    <li class="searchform-menu-event searchform-none biz-btn-horizontal"><div class="biz-btn">%{formmodeler-component-editor-searchform-none}</div></li>
</script>

<script id="searchform-item-parent-no-children-checked" type="text/x-jquery-tmpl">
    <li class="biz-btn-horizontal searchform-item-selectable" data-selected="true"><div class="biz-btn" title="${displayname}"><i class="biz-ico searchform-image-form"></i><span class="searchform-submenu-text searchform-no-children ui-ellipsis" title="${displayname}">{{tmpl "#searchform-item-version"}}${displayname}</span><i class="biz-ico ui-comboBox-image-small-check"></i></div></li>
</script>

<script id="searchform-item-parent-no-children-unchecked" type="text/x-jquery-tmpl">
    <li class="biz-btn-horizontal searchform-item-selectable" data-selected="false"><div class="biz-btn" title="${displayname}"><i class="biz-ico searchform-image-form"></i><span class="searchform-submenu-text searchform-no-children ui-ellipsis" title="${displayname}">{{tmpl "#searchform-item-version"}}${displayname}</span><i class="biz-ico ui-comboBox-image-small-uncheck"></i></div></li>
</script>

<script id="searchform-item-parent-children-checked" type="text/x-jquery-tmpl">
    <li class="searchform-item-expandable searchform-item-selectable"><div class="biz-btn" title="${displayname}"><span class="searchform-image-minus"></span><i class="biz-ico searchform-image-form"></i><span class="searchform-submenu-text ui-ellipsis" title="${displayname}">{{tmpl "#searchform-item-version"}}${displayname}</span><i class="biz-ico ui-comboBox-image-small-check"></i></div><ul></ul></li>
</script>


<script id="searchform-item-parent-children-unchecked" type="text/x-jquery-tmpl">
    <li class="searchform-item-expandable searchform-item-selectable"><div class="biz-btn" title="${displayname}"><span class="searchform-image-minus"></span><i class="biz-ico searchform-image-form"></i><span class="searchform-submenu-text ui-ellipsis" title="${displayname}">{{tmpl "#searchform-item-version"}}${displayname}</span><i class="biz-ico ui-comboBox-image-small-uncheck"></i></div><ul></ul></li>
</script>

<script id="searchform-item-child-unchecked" type="text/x-jquery-tmpl">
    <li class="biz-btn-horizontal searchform-item-selectable" data-selected="false"><div class="biz-btn" title="${displayname}"><span class="searchform-image-corner"></span><i class="biz-ico searchform-image-form"></i><span class="searchform-submenu-text ui-ellipsis" title="${displayname}">{{tmpl "#searchform-item-version"}}${displayname}</span><i class="biz-ico ui-comboBox-image-small-uncheck"></i></div></li>
</script>

<script id="searchform-item-child-checked" type="text/x-jquery-tmpl">
    <li class="biz-btn-horizontal searchform-item-selectable" data-selected="true"><div class="biz-btn" title="${displayname}"><span class="searchform-image-corner"></span><i class="biz-ico searchform-image-form"></i><span class="searchform-submenu-text ui-ellipsis" title="${displayname}">{{tmpl "#searchform-item-version"}}${displayname}</span><i class="biz-ico ui-comboBox-image-small-check"></i></div></li>
</script>

<script id="searchform-item-version" type="text/x-jquery-tmpl">
    {{if version}}<span class="bizagi_editor_searchform-version ui-badge ui-arrow-right biz-third-font">${version}</span>{{else}} &nbsp; {{/if}}
</script>