<div class="biz-ui-theme-pre-build biz-theme-category">
	<h3 title="%{widget-theme-builder-controls-label-select-predefined-theme}" class="biz-ui-selected-theme">
		<span class="biz-theme-name biz-theme-ellipsis">{{each themes}}{{if $value.published === 'true'}} ${$value.name} is selected{{/if}}{{/each}}</span>
		<span class="biz-theme-arrow-button">
			<div class="biz-theme-arrow"></div>
		</span>
		<span class="biz-ui-thumbs-theme">
			{{each selectedThumbs}}<span style="background-color:${$value.color};"></span>{{/each}}
		</span>
	</h3>
	<div class="biz-theme-controls isClose">
		{{each themes}}
			{{if $value.active === 'false'}}
				<!-- $value.active is inactive -->
			{{else}}
				<div class="biz-ui-theme-part  {{if $value.published}}biz-ui-active {{/if}}" id="${$value.id}" {{if type != 'saved'}} title="${$value.image}" {{else}} data-save {{/if}}>
					<h4 class="biz-theme-ellipsis">${$value.name}</h4>
					<span class="biz-ui-thumbs-theme">
						{{each thumbs}}<span style="background-color:${$value};"></span>{{/each}}
					</span>
					<input type="hidden" value="${$value.value}" data-version="${$value.version}">
					<div class="biz-theme-button-side-bar">
						<button class="biz-ui-button biz-theme-publish {{if $value.published}} biz-ui-active{{/if}}" title="%{widget-theme-builder-controls-label-publish-theme}"><i class="biz-ui-icon ui-icon ui-icon-check"></i><span>Publish</span></button>
						{{if type == 'saved'}}
						<button class="biz-ui-button  biz-theme-delete" title="%{widget-theme-builder-controls-label-delete-theme}"><i class="biz-ui-icon ui-icon ui-icon-closethick"></i><span>%{widget-theme-builder-controls-label-close}</span></button>
						{{else}}
						<span class="biz-ui-button-spacer"></span>
						{{/if}}
					</div>
				</div>
			{{/if}}
		{{/each}}
	</div>
</div>