<script id="booleandisplay-frame" type="text/x-jquery-tmpl">
    <div class="booleandisplay-container ui-control-container">
        <label class="booleandisplay-name">${caption}</label>
        <div class="booleandisplay-group-container ui-control-editor">
        </div>
    </div>
</script>

<script id="booleandisplay-frame-edit" type="text/x-jquery-tmpl">
    <i class="biz-ico editor-ico-edit"></i>
</script>