/**********************************
*  Filename: bizagi.css
*  Create Date: 2012-06-27
*  Author: oscar.osorio@bizagi.com
* 
*  ==STRUCTURE=====================
*  $__common to use to the maximum they are the re-usable classes in the app.(images,common resets)
*  $__font  load fonts 
* 
***********************************/
html {-webkit-text-size-adjust:none}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
} 

body 
{
	font-family:'Droid Sans', sans-serif, "OriyaSangamMN","Thonburi","Roboto" "Droid Sans", Geneva, Arial,sans-serif;
	font-size:100%;
	margin: 0px;
	background-color: #F2F2F2;
	line-height: 100%;
}


input[type="checkbox"]:checked, input[type="radio"]:checked {
/*background-color: transparent;*/

}


@media only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min-device-pixel-ratio: 2) {
	.bz-menu-visible-bar
	{
		background-image:url('images/noise-2x.png');
       background-size:20px;
	}
	
}
/* __common
**********************************/

.bz-common-webkit-reset-ul
{
	-webkit-padding-start: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-before: 0px;    
	margin: 0;
	display: inline-block;
}
.bz-common-webkit-reset-dl
{
	margin: 0;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	display: inline-block;
}
.bz-common-off{display:none;}
.bz-common-ul-align-vertical{
	width: 100%;
	float: left;
	position: relative;
	top: 0px;
	display: inline-block;
	margin: 0;
}
.bz-common-li-item-align-vertical {
	float: left;
	list-style: none outside none;
	text-align: center;
	display: inline-block;
	position: relative;
	top: 0px;
	vertical-align: middle;
}
.bz-common-li-item-3{width: 32%;}
.bz-common-li-item-5{width: 20%;}
.bz-common-li-item-6{width: 17%;}
.bz-common-li-item-1{width: 100%;}
.bz-common-li-item-center
{
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.bz-cm-width{width: 100%;}
.bz-cm-icon
{
	background-image:url('images/bizagi-mobile-sprite-s.png');
	-webkit-appearance: none;
	border: none;
	min-height: 25px;
	min-width: 29px;
	margin: 0 auto;
	display: block;
}


@media only screen and (-webkit-min-device-pixel-ratio: 2 ), 
only screen and (min-device-pixel-ratio: 2) {
    .bz-cm-icon
	{
		background-image:url('images/bizagi-mobile-sprite.png');
         background-size: 450px 300px;
	}
	
}





.bz-cm-ib{display: inline-block;}
.bz-cm-tbl{display:table;width:100%}
.bz-cm-tbl-row{display: table-row;width:100%}
.bz-cm-tbl-cell{display: table-cell;text-align: left; }
.bz-cm-font-red{color:Red;}
.ui-bizagi-loading-icon{
    background: url("images/loader.gif" ) no-repeat 0px;
    width: 32px;
    height: 32px;
    position:relative;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min-device-pixel-ratio: 2) {
    .ui-bizagi-loading-icon
	{
		background: url("images/loader-2x.gif" );
		background-size: 32px 32px;
	}
	
}

.ui-bizagi-render-waiting-message
{
	top: 50%;
	left: 40%;
	margin: 0px;
	position: absolute;
}

.bz-cm-span-box{background-color:hsla(0, 0%,40%, .1);}

/*
__font
**********************/

.bz-wp-nc-categories.ui-bizagi-component-loading{
	/*background-color: #f2f2f2;*/
	border-radius: 0px 0px 6px 6px;
}
.moreload{
	text-align: center;
	font-size: 12px;
	color: #535B61;
	padding: 8px 0px;
	background-color: rgba(255,255,255,.2);
	border-radius: 6px;
}


.bz-cm-info-message-text
{
	border-radius: 6px;
	background: #f2f2f2;
	border-bottom: none;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .15);
	padding: 20px;
	font-size: 13px;
	color: #535B61;
	border-top:1px solid white;
}


/* __animations */
/*base jquery mobile plugin and jquery mobile concept
http://jquerymobile.com/demos/1.0a4.1/docs/pages/docs-transitions.html
https://github.com/jquery/jquery-mobile/wiki/Page-Transition-Plugins
https://github.com/watusi/jquery.mobile.simultaneous-transitions/blob/master/lib/jquery.mobile.simultaneous-transitions-replace.css
http://jquerymobile.com/demos/1.1.0-rc.1/docs/pages/page-customtransitions.html
*/



	.slide.in {
		-webkit-transform: translateX(0);
		-webkit-animation-name: slideinfromright;
			
	}

	.slide.out {
		-webkit-transform: translateX(-105%);
		-webkit-animation-name: slideouttoleft;
	
	}


	@-webkit-keyframes slideinfromright {
		from { -webkit-transform: translateX(100%); }
		to { -webkit-transform: translateX(0); }
}
		
	@-webkit-keyframes slideouttoleft {
		from { -webkit-transform: translateX(0);
			opacity:0;
		 }

		to { -webkit-transform: translateX(-100%); 
		     opacity:0;
		   height: 10px;
	     }
	}
		
	.slide.in.reverse {
		-webkit-transform: translateX(0);
		-webkit-animation-name: slideinfromleft;
	}

	.slide.out.reverse {
		-webkit-transform: translateX(100%),opacity;
		-webkit-animation-name: slideouttoright;
	}

	@-webkit-keyframes slideinfromleft {
		from { -webkit-transform: translateX(-100%); }
		to { -webkit-transform: translateX(0);  }
	}

	@-webkit-keyframes slideouttoright {
		from { -webkit-transform: translateX(0);  opacity:1;}
		to { -webkit-transform: translateX(100%); opacity:0; }
	}
				
	.in {
		-webkit-animation-timing-function: ease-in;
		-webkit-animation-duration: 90ms;

	}

	.out {
		-webkit-animation-timing-function: ease-in;
		-webkit-animation-duration: 90ms;
			
	}
		
		
		
/*
__loading smartphone
*/

.bz-util-loading-container
{
			display: inline-block;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 8;
            top: 0;
            left: 0;
}

.bz-util-loading
{
			left: 50%;
            top: 50%;
            margin-top: -16px;
            margin-left: -16px;
            position: absolute;

}