@font-face {
  font-family: 'bizagi-flat';
  src: url('fonts/bizagiflat2015.eot?-od8v5y');
  src: url('fonts/bizagiflat2015.ttf?-od8v5y') format('truetype'),url('fonts/bizagiflat2015.woff?-od8v5y') format('woff');
  font-weight: normal;
  font-style: normal;
}

.bz-icon {
  font-family: 'bizagi-flat';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bz-icon:after, .bz-icon:before {
  font: 1em/1em 'bizagi-flat';
}

.bz-icon:after, .bz-icon:before, .bz-contactadd:after, .bz-contactadd:before, .bz-rowdelete:after, .bz-rowdelete:before, .bz-rowinsert:after, .bz-rowinsert:before, .bz-detaildisclose:after, .bz-detaildisclose:before, .bz-loading:after, .bz-filter-wrap:before {
  height: inherit !important;
}

.bz-fullinbox:before {
  content: '\e66b';
}

.bz-inquiry:before {
  content: '\e66c';
}

.bz-papers:before {
  content: '\e66d';
}

.bz-sidebox:before {
  content: '\e66e';
}

.bz-tablet-right-slider:before {
  content: '\e66f';
}

.bz-edit-icon:before {
  content: '\e600';
}

.bz-workonit:before {
  content: '\e601';
}

.bz-action-icon-01:before {
  content: '\e602';
}

.bz-add-case:before {
  content: '\e603';
}

.bz-calendar-input:before {
  content: '\e604';
}

.bz-check-symbol:before {
  content: '\e605';
}

.bz-coin-input:before {
  content: '\e606';
}

.bz-counterclock-input:before {
  content: '\e607';
}

.bz-favorites-filter:before {
  content: '\e608';
}

.bz-geo-icon-full:before {
  content: '\e609';
}

.bz-inbox-icon:before {
  content: '\e60a';
}

.bz-information-icon:before {
  content: '\e60b';
}

.bz-lock-icon:before {
  content: '\e60c';
}

.bz-number-input:before {
  content: '\e60d';
}

.bz-overdue-icon-small:before {
  content: '\e60e';
}

.bz-refresh-icon:before {
  content: '\e60f';
}

.bz-search-input:before {
  content: '\e610';
}

.bz-settings-icon:before {
  content: '\e611';
}

.bz-specialnumbers-input:before {
  content: '\e612';
}

.bz-tag-icon:before {
  content: '\e613';
}

.bz-time-icon:before {
  content: '\e614';
}

.bz-today-icon:before {
  content: '\e615';
}

.bz-trash-icon:before {
  content: '\e616';
}

.bz-unlock-icon:before {
  content: '\e617';
}

.bz-upcoming-icon:before {
  content: '\e618';
}

.bz-user-icon:before {
  content: '\e619';
}

.bz-view-icon:before {
  content: '\e61a';
}

.bz-warning-full:before {
  content: '\e61b';
}

.bz-warning-icon:before {
  content: '\e61c';
}

.bz-add-full:before {
  content: '\e61d';
}

.bz-add:before {
  content: '\e61e';
}

.bz-cloud:before {
  content: '\e61f';
}

.bz-drafts:before {
  content: '\e620';
}

.bz-edit2-full:before {
  content: '\e621';
}

.bz-edit2:before {
  content: '\e622';
}

.bz-eye-full:before {
  content: '\e623';
}

.bz-eye:before {
  content: '\e624';
}

.bz-inbox-small-box:before {
  content: '\e625';
}

.bz-inbox-small:before {
  content: '\e626';
}

.bz-info:before {
  content: '\e627';
}

.bz-menu-slider-small:before {
  content: '\e628';
}

.bz-minus-full:before {
  content: '\e629';
}

.bz-minus:before {
  content: '\e62a';
}

.bz-outbox:before {
  content: '\e62b';
}

.bz-overdue-filter-icon:before {
  content: '\e62c';
}

.bz-process-full:before {
  content: '\e62d';
}

.bz-reback:before {
  content: '\e62e';
}

.bz-send:before {
  content: '\e62f';
}

.bz-today-filter-icon:before {
  content: '\e630';
}

.bz-trash:before {
  content: '\e631';
}

.bz-upcoming-filter-icon:before {
  content: '\e632';
}

.bz-user:before {
  content: '\e633';
}

.bz-attach-audio:before {
  content: '\e634';
}

.bz-attach-file:before {
  content: '\e635';
}

.bz-attach-photo:before {
  content: '\e636';
}

.bz-attach-video:before {
  content: '\e637';
}

.bz-attached:before {
  content: '\e638';
}

.bz-back:before {
  content: '\e639';
}

.bz-cancel:before {
  content: '\e63a';
}

.bz-check:before {
  content: '\e63b';
}

.bz-complex-actions:before {
  content: '\e63c';
}

.bz-down:before {
  content: '\e63d';
}

.bz-edit:before {
  content: '\e63e';
}

.bz-favorites-full:before {
  content: '\e63f';
}

.bz-favorites:before {
  content: '\e640';
}

.bz-home:before {
  content: '\e641';
}

.bz-image:before {
  content: '\e642';
}

.bz-inbox-combo:before {
  content: '\e643';
}

.bz-inbox:before {
  content: '\e644';
}

.bz-log-out-small:before {
  content: '\e645';
}

.bz-log-out:before {
  content: '\e646';
}

.bz-menu-slider:before {
  content: '\e647';
}

.bz-new-case:before {
  content: '\e648';
}

.bz-new-smallsize:before {
  content: '\e649';
}

.bz-next:before {
  content: '\e64a';
}

.bz-plus:before {
  content: '\e64b';
}

.bz-process-empty:before {
  content: '\e64c';
}

.bz-process-small:before {
  content: '\e64d';
}

.bz-process:before {
  content: '\e64e';
}

.bz-render-edit:before {
  content: '\e64f';
}

.bz-render-slider:before {
  content: '\e650';
}

.bz-search:before {
  content: '\e651';
}

.bz-setting:before {
  content: '\e652';
}

.bz-settings-small:before {
  content: '\e653';
}

.bz-stats-small:before {
  content: '\e654';
}

.bz-stats:before {
  content: '\e655';
}

.bz-three-points-full:before {
  content: '\e656';
}

.bz-three-points:before {
  content: '\e657';
}

.bz-unchecked:before {
  content: '\e658';
}

.bz-up:before {
  content: '\e659';
}

.bz-home3:before {
  content: '\e902';
}

.bz-file-empty:before {
  content: '\e924';
}

.bz-files-empty:before {
  content: '\e925';
}

.bz-file-text2:before {
  content: '\e926';
}

.bz-file-picture:before {
  content: '\e927';
}

.bz-file-music:before {
  content: '\e928';
}

.bz-file-play:before {
  content: '\e929';
}

.bz-file-video:before {
  content: '\e92a';
}

.bz-file-zip:before {
  content: '\e92b';
}

.bz-copy:before {
  content: '\e92c';
}

.bz-paste:before {
  content: '\e92d';
}

.bz-stack:before {
  content: '\e92e';
}

.bz-compass:before {
  content: '\e949';
}

.bz-compass2:before {
  content: '\e94a';
}

.bz-map2:before {
  content: '\e94c';
}

.bz-alarm:before {
  content: '\e950';
}

.bz-stopwatch:before {
  content: '\e952';
}

.bz-stats-bars:before {
  content: '\e99c';
}

.bz-accessibility:before {
  content: '\e9b2';
}

.bz-clipboard:before {
  content: '\e9b8';
}

.bz-bookmark:before {
  content: '\e9d2';
}

.bz-bookmarks:before {
  content: '\e9d3';
}

.bz-star-empty:before {
  content: '\e9d7';
}

.bz-star-half:before {
  content: '\e9d8';
}

.bz-star-full:before {
  content: '\e9d9';
}

.bz-checkmark:before {
  content: '\ea10';
}

.bz-checkmark2:before {
  content: '\ea11';
}

.bz-play3:before {
  content: '\ea1c';
}

.bz-checkbox-checked:before {
  content: '\ea52';
}

.bz-checkbox-unchecked:before {
  content: '\ea53';
}

.bz-radio-checked:before {
  content: '\ea54';
}

.bz-radio-checked2:before {
  content: '\ea55';
}

.bz-radio-unchecked:before {
  content: '\ea56';
}

.bz-insert-template:before {
  content: '\ea72';
}

.bz-file-pdf:before {
  content: '\eada';
}

.bz-file-openoffice:before {
  content: '\eadb';
}

.bz-file-word:before {
  content: '\eadc';
}

.bz-file-excel:before {
  content: '\eadd';
}

.bz-libreoffice:before {
  content: '\eade';
}

.bz-heart:before {
  content: '\e65a';
}

.bz-star:before {
  content: '\e65b';
}

.bz-video:before {
  content: '\e65c';
}

.bz-trash2:before {
  content: '\e65d';
}

.bz-settings:before {
  content: '\e65e';
}

.bz-camera:before {
  content: '\e65f';
}

.bz-tag:before {
  content: '\e660';
}

.bz-location:before {
  content: '\e661';
}

.bz-bubble:before {
  content: '\e662';
}

.bz-news:before {
  content: '\e663';
}

.bz-photo:before {
  content: '\e664';
}

.bz-note:before {
  content: '\e665';
}

.bz-params:before {
  content: '\e666';
}

.bz-data:before {
  content: '\e667';
}

.bz-clip:before {
  content: '\e668';
}

.bz-calendar:before {
  content: '\e669';
}