.ui-bizagi-form
{
	color: #195891 !important;
	background: #EBEDF1 !important;
}

.bz-wp-rn-main-container
{
	margin: 57px 7px 20px;
	min-width: 280px;
}

.ui-bizagi-container-children-form > div:last-child
{
	border-radius: 6px;
	margin-top: 5px;
}

.ui-bizagi-form > .ui-bizagi-container-children-form > .ui-bizagi-form-group:first-child > .headertitle
{
}

.bz-rn-expand.bz-rn-expand-active:after
{
	content: "\e626";
	font: 1em/1em "bizagiflat";
	color: #195891;
	font-size: 20px;
	padding: 0 0 0 9px;
	top: 1px;
	position: relative;
}

.bz-rn-expand.bz-rn-expand-inactive:after
{
	content: "\e626";
	font: 1em/1em "bizagiflat";
	color: #195891;
	font-size: 20px;
	padding: 0 0 0 7px;
	top: 2px;
	position: relative;
}


.bz-cm-icon.bz-rn-expand.bz-rn-expand-inactive
{
	transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
}

.bz-container-rtl .bz-rn-expand-active
{
	background-position: -93px -96px;
}

.bz-container-rtl .bz-rn-expand-inactive
{
	background-position: -48px -95px;
}

.ui-bizagi-form-panel
{
}

.bz-command-edit-inline [data-bizagi-component="cellContent"] .ui-bizagi-render:last-child
{
	border-bottom: 1px solid #c0c6cb;
}

.ui-bizagi-render:last-child
{
	border-bottom: none;
}

.ui-bizagi-form-group > .childrenContainer > .ui-bizagi-render:last-child
{
	border-bottom: none;
	border-radius: 6px;
}

.bz-container-render-item
{
	display: block;
}

.ui-bizagi-form ui-bizagi-rendering-mode-execution > .ui-bizagi-container-children-form > .ui-bizagi-render
{
	border-radius: 0 0 6px 6px;
}

.childrenContainer > .ui-bizagi-render:last-child > .bz-container-render-item:first-child
{
	border-radius: 0 0 6px 6px;
}

.ui-bizagi-form-group > .childrenContainer .bz-container-render-item:first-child
{
	margin-top: 0;
}

.ui-bizagi-form-group > .childrenContainer > div:last-child
{
	padding-bottom: 5px;
}

.ui-bizagi-label
{    
	padding: 5px 1px 5px 10px;
	word-break: normal;
}

.bz-rn-ecm-header .bz-rn-required
{
	margin: 0;
	position: absolute;
	top: -3px;
	border-radius: 0;
}

.childrenContainer > .ui-bizagi-render:last-child > .bz-container-render-item .ui-bizagi-label > .bz-rn-required:last-child
{
	border-radius: 0 0 0 6px;
}

.ui-bizagi-label:last-child
{
	border-radius: 0 0 0 6px;
}

.ui-bizagi-render-control
{
	padding: 0 10px;
}

.ui-bizagi-form-group .childrenContainer .ui-bizagi-render-control
{
	padding: 0;
}

.ui-bizagi-render-upload-container
{
	list-style: none;
	color: transparent;
}

.ui-bizagi-render-upload-container ul
{
	list-style: none;
}

.ui-bizagi-render-upload-container .noFiles
{   
	display: block;
	background: rgba(62,81,90,0.05);    
	padding: 5px 12px;    
	border: none;    
	border-radius: 0;    
	min-height: 30px;    
	-webkit-appearance: none;    
	color: rgba(62,81,90,0.85);    
	box-shadow: none;
	height: auto;
}

.bz-rn-upload-show-menu
{
	width: 100%;
	display: inline-block;
}

.ui-bizagi-render-edition-arrow
{
	height: 20px;
	width: 20px;
	vertical-align: middle;
	display: block;
	float: right;
	position: relative;
	right: 40px;
	top: -20px;
}

.bz-command-edit-inline .ui-bizagi-render-edition-arrow > .bz-cm-icon, 
.bz-command-not-edit .ui-bizagi-render-edition-arrow > .bz-cm-icon
{
	top: 0;
}

.bz-command-edit-inline > .bz-container-render-item > .bz-container-render-cell1 > .ui-bizagi-render-edition-arrow, 
.bz-command-not-edit > .bz-container-render-item > .bz-container-render-cell1 > .ui-bizagi-render-edition-arrow, 
.bz-rn-input-icon-list
{
	visibility: hidden;
}

.bz-command-not-edit .ui-bizagi-render-control .bz-rn-text
{
}

.bz-render-reversed .bz-command-not-edit .bz-rn-text
{
	text-align: left;
}

.ui-bizagi-render-edition-arrow > .bz-cm-icon
{
	background-position: -330px -95px;
	width: 30px;
}

.ui-bizagi-render-edition-arrow > .bz-cm-icon.edit-point-icon
{
	background-position: -287px -271px;
}

.bz-container-rn-helptext > .bz-rn-icon-heltext
{
	background-position: -246px -269px;
	left: 6px;
	position: relative;
}

.bz-container-render-item > .bz-container-render-cell1 > .bz-container-rn-helptext {
	right: -2px;
	top: 25px;
}

.bz-rn-messages.display
{
	display: inline-block !important;
}

.bz-rn-text, .ui-bizagi-render-edit-date, 
.ui-bizagi-render-edit-date-time
{
	display: block;
	cursor: default;
	border: none;
	padding: 0;
	font-size: 16px;
	width: 100%;
}

.bz-rn-text[disabled]
{
}

.ui-bizagi-render-control > input.ui-bizagi-render-edit-date, 
.ui-bizagi-render-control > input.ui-bizagi-render-edit-date-time
{
	-webkit-appearance: none;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
	padding: 5px 0 0 5px;
	color: #3E515A;
	width: 100%;
	min-height: 30px;
}

.ui-bizagi-render-control > input.ui-bizagi-render-edit-date.ui-bz-render-iosDate, 
.ui-bizagi-render-control > .ui-bizagi-render-edit-date-time.ui-bz-render-iosDate
{
	width: 48%;
}

.ui-bizagi-render-control > input.ui-bizagi-render-edit-date.ui-bz-render-iosDate
{
	float: left;
}

.ui-bizagi-render-control > .ui-bizagi-render-edit-date-time.ui-bz-render-iosDate
{
	float: right;
}

#container-items-edit
{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	margin: 57px 7px 20px;
	box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, .2);
	border-radius: 6px 6px 6px 6px;
	min-width: 280px;
	z-index: 5;
	background-color: #f2f2f2;
	display: none;
}

#container-items-edit.slide.in
{
	display: block;
}

#container-items-edit .ui-bizagi-container-children-form #container-items-edit
{
	margin: 0;
}

.bz-cn-label > label
{
	color: #31414c;
	position: relative;
	left: 10px;
	margin-left: 4px;
	font-weight: bold;
	text-shadow: 0 1px 0 #D5D8DB;
	font-size: 13px;
	top: 5px;
}

.input-edit
{
	width: 90%;
	margin: 5%;
	border-radius: 6px;
}

.bz-wp-tabs-arrow
{
	width: 100px;
	height: 100px;
	display: inline-block;
	background-position: 297px -191px;
	height: 40px;
}

.bz-wp-tabs-arrow-down
{
	width: 32px;
	height: 30px;
	border-left: 1px solid #ccc;
	border-radius: 0 5px 5px 0;
	margin: -87% 0 0 -700%;
}

.ui-bizagi-container-inputs
{
	width: 100%;
	position: relative;
}

.bz-wp-tabs-arrow-up
{
	width: 32px;
	height: 30px;
	border-left: 1px solid #ccc;
	background-image: url('images/pattern4.png'),-webkit-linear-gradient(top, white, #e4e4e4);
	border-radius: 0 5px 5px 0;
	margin: -87% 0 0 -700%;
}

.ui-bizagi-container-button-edit
{
	text-align: center;
	display: none;
}

.ui-bizagi-render-button[disabled]
{
	background: #B5B5B5;
	-webkit-box-shadow: none;
}

#iPhone,
.ui-bizagi-container-tab
{
	background: transparent;
}

.ui-bizagi-container
{
	position: relative;
}

.ui-bizagi-container-children-form .ui-bizagi-form-group
{
	position: relative;
}

.bz-rn-cm-icons-list
{
	-webkit-appearance: none;
}

.ui-bizagi-container-tabItem
{
	display: none;
}

.ui-bizagi-container-tabItem
{
	width: 100%;
}

.ui-bizagi-form-container-horizontal
{
}

.ui-bizagi-form-container-horizontal > .ui-bizagi-form-panel > .headertitle
{
}

.ui-bizagi-button-container
{
	text-align: center;
	padding: 0 4px 15px;
	border-radius: 3px;
	margin-top: 30px;
}

.cell
{
	-webkit-border-radius: 6px 6px 0 0;
	border: thin solid #efeeee;
	background-image: -webkit-gradient(linear, left top, left bottom, from( white ), to( #F1F1F1 ));
	background: #eee;
}

.bz-container-items-tabs:first-child
{
	margin: 0;
}

.bz-container-items-tabs:active
{
	background: none;
	color: #31414c;
}

.bz-tabs-display-name
{
	text-decoration: none;
}

.bz-tabs-narrow
{
	position: relative;
	float: right;
	right: 50px;
}

.ui-bizagi-render-edit-text-search
{
	overflow: hidden;
	margin: 10px 0 0;
	display: block;
	border-radius: 20px;
	width: 100%;
	position: absolute;
	height: 35px;
	box-shadow: 2px 2px 3px #666;
	padding: 4px 7px;
	outline: 0;
}

.ui-bizagi-render-edit-date, .ui-bizagi-render-edit-date-time
{
	display: block;
	-webkit-appearance: textfield;
}

.bz-command-not-edit .ui-bizagi-render-edition-arrow
{
}

.ui-geolocation-cordinate
{
	background: rgba(62,81,90,0.05);
	padding: 5px 12px;
	border: none;
	border-radius: 0px;
	min-height: 30px;
	-webkit-appearance: none;
	color: rgba(62,81,90,0.85);
	box-shadow: none;
	width: 100%;
}

.bz-rn-combo-list-edit > .bz-rn-combo-selected
{
}

.bz-rn-combo-text
{
	text-align: left;
	position: relative;
	text-shadow: 0 1px 1px white;
	width: 75%;
	padding-left: 15px;
}

.bz-rn-combo-list-edit > .bz-rn-combo-selected > span.bz-rn-combo-check
{
	display: inline;
}

.bz-rn-combo-list
{
	cursor: pointer;
	left: 0;
	top: 5px;
	position: absolute;
	height: 5em;
	max-height: 100%;
	width: 100%;
	min-height: 100%;
	opacity: 0;
}

.bz-rn-combo-cn-select-div
{
	text-align: right;
}

.bz-rn-combo-select.disabled > span.bz-rn-combo-icon-arrow
{
	display: none;
}

.bz-rn-combo-cn-select-div.disabled
{
	background: none;
	box-shadow: none;
}

.bz-rn-combo-select
{
	padding: .5em 0px;
	text-overflow: ellipsis;
	overflow: hidden;
	position: relative;
	color: #6B7E87;
	min-height: 15px;
}

.bz-rn-cm-text-label
{
	overflow: hidden;
}

.bz-rn-combo-icon-arrow
{
	display: none;
}

.bz-rn-link-icons
{
	background-position: -52px -98px;
	display: block;
	float: left;
}

.ui-bizagi-render-link
{
	left: 5px;
	position: relative;
}

.bz-rn-letter
{
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, white), color-stop(100%, #E2DEDE));
	border-radius: 8px;
	margin: 10px;
	padding: 10px;
	border: 1px solid #9C9EA5;
	box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0;
	overflow: hidden;
}

.ui-bizagi-render
{
}

.bz-command-edit-inline > .ui-bizagi-render-edition-arrow
{
	display: none;
}

.bz-container-render-cell
{
	width: 95%;
	min-height: 55px;
	position: relative;
	display: block;
}

.ui-bizagi-render-edition-arrow
{
}

.arrow
{
	position: absolute;
	border-style: solid;
	border-width: 7px;
}

.arrow.up
{
	border-color: hsl(0, 0%, 95%) transparent transparent transparent;
	top: 13px;
	right: 15px;
}

.arrow.down
{
	border-color: transparent hsl(0, 0%, 95%) transparent transparent;
	top: 9px;
	right: 18px;
}

.bz-label-reversed > label
{
	float: right;
}

.bz-check-control
{
	top: 10px;
	position: absolute;
}

.bz-check-label
{
	float: left;
	top: 10px;
	position: absolute;
	left: 35px;
}

.ui-bizagi-render-image-image
{
	position: relative;
	height: auto;
	width: auto;
}

.ui-bizagi-render-image-image:active .ui-bizagi-render-upload-item-delete
{
	visibility: visible;
}

.ui-bizagi-render-image-image .ui-bizagi-render-upload-item-delete
{
	background-color: #F4F4F4;
	border: 1px solid #555;
	border-radius: 5px 5px 5px 5px;
	left: 0;
	position: absolute;
	visibility: hidden;
}

.ui-bizagi-render-image-item
{
	border: 0 !important;
	padding: 3px 30px 3px 3px;
	position: relative;
	height: auto;
	width: auto;
	overflow: hidden;
	background: transparent !important;
	margin-bottom: 2px;
}

.ui-bizagi-render-upload-wrapper.image-wrapper > a
{
	display: inline;
	position: relative;
}

.ui-bizagi-render-upload-wrapper.image-wrapper img
{
	border: 1px solid white;
	background: transparent;
	padding: 10px 10px 0;
	position: relative;
	max-width: 100%;
	max-height: 100%;
}

.ui-bizagi-render-align-right .image-wrapper
{
	float: right !important;
}

.ui-bizagi-render-align-left .image-wrapper
{
	float: left !important;
}

.ui-bizagi-render-align-center .image-wrapper
{
	margin-left: 30% !important;
}

.ui-bizagi-render-upload-queue.image-queue .uploadifyQueueItem
{
	width: 128px;
}

.ui-bizagi-render-upload-queue.image-queue .uploadifyQueueItem .cancel, 
.ui-bizagi-render-upload-queue.image-queue .uploadifyQueueItem .percentage
{
	display: none;
}

.ui-bizagi-render-documentgenerator
{
	display: block;
}

.ui-bizagi-document-upload-item
{
	padding-right: 5px;
}

.ui-bizagi-document-extension
{
	background-image: url("images/file_extensions_sprite_32.png");
	background-position: 0 -520px;
	margin: .5em .5em -.5em .5em;
}

.ui-bizagi-document-type
{
	width: 16px;
	height: 16px;
	display: inline-block;
}

.ui-bizagi-document-upload-item-doc
{
	background-position: -20px -482px;
}

.ui-bizagi-document-upload-item-xls
{
	background-position: -20px -500px;
}

.ui-bizagi-document-upload-item-pdf
{
	background-position: -4px -482px;
}

.ui-bizagi-document-preview
{
	height: 24px;
	width: 24px;
	top: 7px;
	position: relative;
	border: 0px solid transparent;
	cursor: pointer;
}

.ui-bizagi-button-documentgenerator
{
}

.ui-bizagi-button-documentgenerator:active
{
}

.ui-bizagi-div-button-documentgenerator
{
	float: left;
	width: 100%;
}

.ui-bizagi-div-documentgenerator
{
	width: 100%;
	display: block;
	margin-left: 8px;
}

.ui-bizagi-render-documentgenerator
{
	display: block;
}

.ui-bizagi-document-extension
{
	background-image: url("images/file_extensions_sprite_32.png");
	min-height: 19px;
	min-width: 19px;
	margin: 0 auto;
	border: none;
	-webkit-appearance: none;
	background-position: 0 -520px;
	margin: .5em -.5em -.5em .5em;
}

.ui-bizagi-document-type
{
	width: 16px;
	height: 16px;
	display: inline-block !important;
}

.ui-bizagi-document-upload-item-doc
{
	background-position: -163px -1000px;
}

.ui-bizagi-document-upload-item-pdf
{
	background-position: -144px -1000px;
}

.ui-bizagi-document-upload-item-xls
{
	background-position: -163px -1018px;
}

.ui-bizagi-document-preview
{
	height: 24px;
	width: 24px;
	top: 7px;
	position: relative;
	border: 0px solid transparent;
	cursor: pointer;
}

.ui-bizagi-button-documentgenerator
{
}

.ui-bizagi-button-documentgenerator:active
{
	color: white;
}

.ui-bizagi-div-button-documentgenerator
{
	float: left;
	width: 100%;
}

.ui-bizagi-div-documentgenerator
{
	width: 100%;
	display: block;
}

.ui-bizagi-container-documents
{
	list-style: none;
	padding: 0;
	margin-top: 10px;
}

.ui-bizagi-container-documents span:nth-child(2)
{
	position: relative;
	display: inline-block;
	padding: 3px;
	margin: 1px 0 1px 5px;
	text-decoration: none;
	padding-left: 15px;
	transition: all .3s ease-out;
}

.ui-bizagi-container-documents span:nth-child(2):active
{
}

.ui-bizagi-container-documents span:nth-child(2):before
{
	position: absolute;
	left: -2.5em;
	top: 50%;
	margin-top: -1em;
	background: #2F3B45;
	height: 2em;
	width: 2em;
	line-height: 2em;
	text-align: center;
	font-weight: bold;
}

.ui-bizagi-container-documents span:nth-child(2):after
{
	position: absolute;
	content: '';
	border: .5em solid transparent;
	left: -1em;
	top: 50%;
	margin-top: -.5em;
	transition: all .3s ease-out;
}

.ui-bizagi-container-documents span:nth-child(2):active:after
{
	left: 1px;
	border-left-color: #2F3B45;
}

.bz-rn-text.bz-render-reversed
{
	text-align: left;
}

.bz-render-reversed.bz-cn-grid
{
	padding-right: 0;
}

/* ASSOCIATION RENDER
=========================================================*/

.bz-wp-render-association .association-label
{
	position: relative;
	overflow: hidden;
	font-size: 13px;
	color: #F4FAFA;
	display: block;
	text-align: left;
	background: rgba(15,53,88,0.5);
	padding: 7px 0 7px 7px;
	margin: 0 0 4px;
}

.bz-wp-render-association .association-label > label, 
.bz-wp-render-association .association-flip-button
{
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

.bz-wp-render-association .association-label > label
{
	word-break: normal;
}

.association-container h3
{
	margin: 0;
	padding: 0;
	border: 0;
}

.bz-wp-render-association .association-flip-button
{
	position: absolute;
	top: 0;
	right: 0;
	background: rgba(15,53,88,0.2);
	width: 40px;
	height: 30px;
	padding: 6px 0 0 10px;
}

div.bz-cm-icon.association-flip-button:after
{
	content: "\e60e";
	font: 1em/1em "bizagiflat";
	font-size: 20px;
}

.bz-wp-render-association
{
	width: 100%;
	border: 1px solid rgba(15,53,88,0.5);
}

.bz-wp-render-association .ui-state-hover
{
	color: #31414C;
}

.bz-wp-render-association .association-container
{
	position: relative;
	border: none;
	margin-top: -4px;
	margin-bottom: 0;
	background: rgba(62, 81, 90, 0.05);
    border: 1px solid rgba(62, 81, 90, 0.1);
	border-radius: 0;
}

.bz-wp-render-association .bz-rn-association-header
{
	padding: 5px 0 5px 15px;
	position: relative;
	display: table;
	width: 100%;
	color: #3E515A;
	font-weight: 100;
	border-radius: 0;
	border-top: 1px solid rgba(15, 53, 88, 0.1);
    background: rgba(15, 53, 88, 0.1);
}


.bz-wp-render-association .ui-accordion-header-active
{
	background: rgba(15,53,88,0.3);
	color: #3E515A;
}

.bz-wp-render-association .bz-rn-association-header-title
{
	text-shadow: none;
	text-align: left;
	font-weight: bold;
	border-bottom: 1px solid rgba(62, 81, 90, 0.1);
	width: 100%;
}

.bz-wp-render-association .ui-bz-rn-check-list
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.bz-wp-render-association .ui-bz-rn-check-item
{
	text-align: left;
	border-bottom: 1px solid #CAD3D5;
	padding: 0;
	vertical-align: middle;
	height: 35px;
}

.bz-wp-render-association .ui-bz-rn-check-item:nth-child(even)
{
	background: rgba(62,81,90,0.05);
}

.bz-wp-render-association span.bz-rn-checkbox-label
{
	left: 25px;
}

.bz-wp-render-association .ui-accordion-content ul li label
{
	display: inline-block;
	vertical-align: middle;
	text-transform: capitalize;
}

.bz-wp-render-association .bz-rn-association-header a
{
	margin-left: 10px;
	text-align: left;
	color: inherit;
	text-decoration: none;
}

.bz-wp-render-association label .ui-bz-rn-boolean-check
{
	top: 4px;
}

.bz-wp-render-association label .ui-bz-rn-boolean-check:checked:after
{
	font-size: 22px;
	left: -2px;
	position: relative;
	top: -1px;
}


/* GEOLOCATION RENDER
=========================================================*/

.ui-geolocation > *
{
	display: inline-block;
}

.ui-geolocation
{
	position: relative;
}

.ui-bizagi-render-geolocation > .bz-rn-icon-geolocation
{
	background-position: -322px 2px;
	height: 24px;
	min-width: 19px;
	width: 19px;
	margin-left: 15px;
}

.ui-bizagi-render-geolocation
{
	position: absolute;
	right: 3px;
	top: 3px;
}

/* COMPLEX GATEWAY
=========================================================*/

.ui-bizagi-container-complexgateway
{
	position: relative;
	z-index: 10;
	width: auto;
	margin: 10px;
	border: 1px solid rgba(58,81,90,0.3);
	border-radius: 0;
	background: #E2E4E8;
	text-align: center;
	vertical-align: middle;
}

.bz-rn-cg-headercontainer
{
	position: relative;
	margin: 0;
	background: #B6BCC4;
	height: 40px;
	border-radius: 0;
	text-align: left;
}

.bz-rn-cg-headertitle
{
	height: 25px;
	margin: 15px 0 10px 20px;
	font-size: 15px;
	text-align: left;
	position: relative;
	top: 15px;
	color: #41535b;
	text-transform: uppercase;
}

.bz-rn-cg-checkbox label
{
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor: pointer;
	border-radius: 10px;
	background-color: rgba(25, 88, 145, 0.15);
}

.bz-rn-cg-checkbox label.ui-checkbox-state-checked
{
	background-color: #195891;
}

.bz-rn-cg-row
{
	display: table;
	width: 100%;
	margin: 10px 0;
	border-bottom: 1px solid #D1D4D9;
	padding-bottom: 10px;
}

.bz-rn-cg-row-element
{
	display: table-cell;
	width: 50%;
}

span.bz-rn-cg-row-element
{
	text-align: left;
	padding-left: 20px;
	color: #8d8d8e;
	vertical-align: middle;
}

div > .bz-rn-cg-row:last-child
{
	border-bottom: none;
	padding-bottom: 0;
}

/* ========================================================= */

.bz-wp-caseNumberForm
{
	width: 100%;
	min-height: 33px;
	background: rgba(25,88,145,0.1);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 0;
	font-size: 12px;
	padding-top: 9px;
	padding-left: 10px;
	color: rgb(65,89,104);
}

.bz-wp-caseNameForm
{
	font-size: 20px;
	font-weight: 100;
	margin: 15px 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #CAD3D5;
	text-transform: capitalize;
	color: #3E515A;
	padding: 0 10px 10px;
}

.bz-wp-casePathForm
{
	font-size: 15px;
	font-weight: 100;
	text-transform: capitalize;
	padding: 15px 5px 5px 20px;
	background: #DADDE0;
	color: #195891;
	text-align: left;
	border-bottom: 1px solid #37BAEC;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.bz-wp-casePathForm-next
{
	display: inline-block;
	top: 2px;
	margin: 0 5px;
}

.bz-wp-casePathForm-item
{
	display: inline-block;
	margin-bottom: 10px;
}

span.bz-wp-casePathForm-next.ui-bizagi-next
{
	font: 1em/1em "bizagiflat";
	color: #195891;
}

span.bz-wp-casePathForm-next.ui-bizagi-next:after
{
	content: "\e615";
}

.inputEditionContent .bz-wp-caseNameForm
{
	display: none;
}

/* - - - - - FLAT STYLES - - - - -  */

.bz-wp-rn-main-container
{
	margin: 57px 0 20px;
	min-width: 280px;
}

.ui-bizagi-container-children-form > div:last-child
{
	border-radius: 3px;
}

/*
__headergroups 

**************/

.childrenContainer
{
	padding: 0 10px;
}

.ui-bizagi-form-group .headertitle
{
	min-height: 35px;
	height: 25px;
	position: relative;
	display: inline-table;
	width: 100%;
	color: #195891;
	font-size: 13px;
	background-color: rgba(55, 186, 236, 0.1);
	text-transform: uppercase;
}

.ui-bizagi-form-group .headertitle .container-left
{
	display: table-cell;
	vertical-align: middle;
}

.bz-container-rtl.ui-bizagi-form-group .headertitle .container-left
{
	text-align: right;
	float: right;
	margin: 10px 25px 0 0;
	border-right: none;
}

.ui-bizagi-form-group .headertitle .container-right
{
	display: table-cell;
	vertical-align: middle;
	width: 45px;
	background: rgba(55,186,236,0.1);
}

.bz-container-rtl.ui-bizagi-form-group .headertitle .container-right
{
	float: left;
	margin-top: 1px;
	height: 35px;
}

.ui-bizagi-form > .ui-bizagi-container-children-form > .ui-bizagi-form-group > .headertitle .bz-rn-hd-title,
.ui-bizagi-container-tab .bz-rn-hd-title
{
	color: #195891;
	position: relative;
	left: 15px;
	font-size: 13px;
	font-weight: bold;
}

.bz-rn-expand
{
	position: relative;
	display: block;
	width: 35px;
	height: 20px;
	left: 4px;
}

.bz-container-rtl .bz-rn-expand-active,
.bz-container-rtl .bz-rn-expand-inactive
{
	position: relative;
	padding: 5px 0 0 0;
}

/*
__renderscontainer
**************/

.ui-bizagi-form-panel
{
}

.bz-command-edit-inline [data-bizagi-component="cellContent"] .ui-bizagi-render:last-child
{
	border-bottom: none;
}

.ui-bizagi-render:last-child
{
	border-bottom: none;
}

.ui-bizagi-form-group > .childrenContainer > .ui-bizagi-render:last-child
{
	border-bottom: none;
}

.bz-container-render-item
{
	display: block;
}

.ui-bizagi-render-control label.bz-rn-yesno
{
	background: white;
	border-radius: 20px;
	padding: 5px 10px 5px 5px;
	margin: 10px 10px 5px 5px;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	color: rgb(65,89,104);
	font-size: 15px;
}

.ui-bizagi-render-upload-container
{
	list-style: none;
	color: transparent;
}

.ui-bizagi-render-upload-container ul
{
	list-style: none;
}

.ui-bizagi-render-upload-container .noFiles
{
	display: none;
}

.bz-rn-upload-show-menu
{
	width: 100%;
	display: inline-block;
}

.bz-rn-upload-show-menu .bz-cm-icon 
{
	font: 1em/1em "bizagiflat";
	left: 50%;
	position: absolute !important;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

li.bz-rn-upload-show-menu > span:after
{
	content: "\e62e";
	color: rgb(65, 89, 104);
	font-size: 16px;
}

li.bz-rn-upload-show-menu
{
	text-align: center;
}

.bz-rn-upload-delete-icon
{
	display: inline-block;
	position: absolute;
	color: rgba(86, 84, 84, 0.82);
	float: right;
	padding-top: 7px;
	font-weight: bold !important;
	right: 10px;
	width: 25px;
	padding-left: 7px;
}

.bz-command-edit-inline .ui-bizagi-render-control .bz-rn-text,
input[readonly].bz-rn-text
{
	height: 30px;
	border-radius: 6px;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	-webkit-appearance: none;
	color: #3E515A;
	padding: 0 30px 0 10px;
}

.bz-command-edit-inline .ui-bizagi-render-control .bz-rn-text.scientific
{
	display: none;
}

.bz-command-edit-inline .ui-bizagi-render-control .bz-rn-text.display-only.scientific
{
	display: block;
}

.bz-command-not-edit .ui-bizagi-render-control .bz-rn-text
{
	background: rgba(62,81,90,0.05);
	padding: 5px 12px;
	border: none;
	border-radius: 0px;
	min-height: 30px;
	-webkit-appearance: none;
	color: rgba(62,81,90,0.85);
	box-shadow: none;
	height: auto;
}

.bz-render-reversed .bz-command-not-edit .bz-rn-text
{
	text-align: left;
}

.bz-container-rn-helptext
{
	height: 16px;
	width: 18px;
	position: absolute;
	right: 5px;
	top: 4px;
	background: #CBCBCB;
	border-radius: 2px;
	padding-top: 2px;
}

.bz-container-rn-helptext:after
{
	content: "?";
	color: white;
	font-size: 10px;
	font-weight: bold;
	top: -2px;
	position: relative;
	left: 7px;
}

.bz-container-rn-helptext > .bz-rn-icon-heltext
{
	background-position: -246px -269px;
	left: 6px;
	position: relative;
}

.bz-rn-helptext
{
	background-color: #37BAEC;
	width: 100%;
	display: inline-block;
	position: relative;
	font-size: 13px;
	text-align: center;
	color: white;
	border-radius: 4px;
	margin-top: 5px;
	padding: 10px 0 10px 0;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.5);
}

.bz-rn-helptext:after
{
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(55, 186, 236, 0);
	border-bottom-color: #37BAEC;
	border-width: 6px;
	margin-left: -6px;
}

.bz-rn-messages.display
{
	display: inline-block !important;
}

/************
__editItems  Edit Items

*****/

#container-items-edit
{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	margin: 57px 0 20px;
	min-width: 280px;
	z-index: 5;
	display: none;
}

#container-items-edit.slide.in
{
	display: block;
}

#container-items-edit .ui-bizagi-container-children-form #container-items-edit
{
	margin: 0;
}

.bz-cn-label
{
	min-height: 35px;
	height: 35px;
	position: relative;
	border-bottom: 1px solid #37BAEC;
	display: inline-table;
	width: 100%;
	background: rgba(62, 81, 90, 0.1);
	padding: 0 10px 10px 0;
}

.bz-cn-label > label
{
	color: #195891;
	position: relative;
	left: 10px;
	margin-left: 4px;
	font-weight: bold;
	font-size: 13px;
	top: 10px;
	text-transform: uppercase;
}

.input-edit
{
	width: 90%;
	margin: 5%;
	border-radius: 6px;
}

.bz-wp-tabs-arrow-container .bz-wp-tabs-arrow,
.bz-wp-tabs-arrow
{
	display: inline-block;
	background-position: 55px -195px;
	height: 30px;
	float: right;
	width: 30px;
}

.bz-wp-tabs-arrow-container.show-pluss .bz-cm-icon.bz-wp-tabs-arrow:after
{
	content: "\e613";
	font: 1em/1em "bizagiflat";
	color: #37B9EB;
	font-size: 18px;
	top: 8px;
	position: relative;
	right: -8px;
}

.bz-wp-tabs-arrow-container
{
	padding: 0 1px 0 0;
	position: absolute;
	display: none;
	right: 0;
	top: 0;
	width: 30px;
	height: 33px;
	float: right;
}

.bz-wp-tabs-arrow-container.show-pluss
{
	display: block;
}

.bz-wp-tabs-arrow-down
{
	width: 32px;
	height: 30px;
	border-left: 1px solid #ccc;
	border-radius: 0px 5px 5px 0px;
	margin: -87% 0 0 -700%;
}

.ui-bizagi-container-inputs
{
	width: 100%;
	position: relative;
	padding: 0 5px;
}

.ui-bizagi-container-inputs img
{
	max-width: 100%;
}

.bz-wp-tabs-arrow-up
{
	width: 32px;
	height: 30px;
	border-left: 1px solid #ccc;
	background-image: url('images/pattern4.png'),-webkit-linear-gradient(top, white, #e4e4e4);
	border-radius: 0px 5px 5px 0px;
	margin: -87% 0 0 -700%;
}

.ui-bizagi-container-button-edit
{
	text-align: center;
	margin: 0 10px 10px;
	border: 0;
	border-radius: 3px;
	display: none;
}
.ui-bizagi-render-button
{
	padding: 7px 10px;
	background: #3E515A;
	color: #E4E8E9;
	border: 1px solid transparent;
	margin: 10px;
	font-size: 11px;
	max-width: 250px;
	position: relative;
	word-wrap: break-word;
	min-width: 40%;
	margin-top: 30px;
	border-bottom: 4px solid #798A92;
}

.ui-bizagi-form-button
{
	background: whitesmoke;
	color: #195891;
	word-wrap: break-word;
	width: 100%;
	font-size: 15px;
	font-weight: normal;
	line-height: 2.5em;
	border: 1px solid rgba(180,180,180,0.5);
	text-transform: uppercase;
	margin-bottom: 3px;
}


.ui-bizagi-form-button:last-child
{
	margin-bottom: 0;
}

.ui-bizagi-form-button:active
{
	background-color: #37BAEC;
	color: white;
}


.ui-bizagi-render-button
{
	margin-top: 5px;
	background: #2F3B45;
}


.ui-bizagi-render-button[disabled]
{
	background: #B5B5B5;
	-webkit-box-shadow: none;
	color: rgba(62,81,90,0.85);
}


/**

end $__editItems

**/


/****

end $__commonItems

******/

.ui-bizagi-form > .ui-bizagi-container-children-form > .ui-bizagi-form-group:last-child
{
}



/****

__generalLayout

******/

#iPhone,
.ui-bizagi-container-tab
{
	background: transparent;
}

.ui-bizagi-container
{
	position: relative;
	margin-bottom: 5px;
}

.ui-bizagi-container.ui-bizagi-container-tab
{
	padding: 15px 0 35px;
}

.ui-bizagi-container.ui-bizagi-container-tab .ui-bizagi-container-tabItem > .ui-bizagi-container-children-form .ui-bizagi-form-group
{
	padding: 0 !important;
}

.ui-bizagi-form-group
{
	border-bottom: 1px dashed rgba(55,186,236,0.5);
	margin: 15px 0 0;
}

.ui-bizagi-container-children-form .ui-bizagi-form-group
{
	position: relative;
	margin: 15px 0 5px;
}

.bz-rn-cm-icons-list
{
	-webkit-appearance: none;
}

.ui-bizagi-container-tabItem
{
	display: none;
}


/****************

__render

**********/


.ui-bizagi-container-tabItem
{
	width: 100%;
}

.ui-bizagi-form-container-horizontal
{
}

.ui-bizagi-form-container-horizontal > .ui-bizagi-form-panel > .headertitle
{
}

.childrenActive
{
	display: inline-block !important;
}


/**********

plugin tabs for smartphones

*****/

.bz-header_select
{
	display: inline-block;
	box-sizing: border-box;
	min-height: 35px;
	max-height: 35px;
	width: 100%;
	position: relative;
	color: black;
	margin: 0;
	border-top: 1px solid #37BAEC;
	background-color: transparent;
	border-bottom: 1px solid #37BAEC;
	overflow: hidden;
	float: left;
}

.bz-header_select.show-pluss
{
	padding-right: 30px;
}
.bz-wp-tabs-ui.bz-wp-no-border > span
{
	border-right: none;
}

.bz-header_select .bz-wp-tabs-ui > span
{
	color: #37B9EB;
	text-decoration: none;
	padding: 9px 10px 0;
	font-size: 13px;
	float: left;
	white-space: nowrap;
	font-weight: 500;
	text-transform: capitalize;
	border-right: 1px solid #37B9EB;
	height: 33px;
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
}

.bz-header_select .bz-wp-tabs-ui-active
{
	width: 100%;
	border-radius: 5px 5px 0 0;
	height: 30px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.bz-header_select .bz-wp-tabs-ui-active > span
{
	color: #37B9EB;
	text-decoration: none;
	padding: 7px 11px 5px 10px;
	font-size: 13px;
	float: left;
	white-space: nowrap;
	font-weight: 500;
	text-transform: capitalize;
	border-right: 1px solid #37B9EB;
	background: #37B9EB;
	height: 29px;
	min-width: 57px;
	border-radius: 4px 0 0 4px;
}

.isTab
{
	position: absolute;
	z-index: 1144;
	right: 3px;
	top: 53px;
	border: none;
	background-color: rgba(255,255,255,0.95);
	box-sizing: border-box;
	min-width: 43%;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
	padding: 5px 10px 10px;
	border-radius: 6px;
}

.isTab::before
{
	content: "";
	display: block;
	position: absolute;
	top: -10px;
	right: 5px;
	content: "";
	display: block;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid rgba(255,255,255,0.95);
	margin-left: -10px;
	z-index: 2;
}

.isTab::after
{
	content: "";
	display: block;
	position: absolute;
	top: -12px;
	right: 9px;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	border-bottom: 12px solid transparent;
	margin-left: -10px;
}

.bz-wp-tabs-ui
{
	display: inline-block;
	width: 100%;
	height: 35px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.cell.bz-container-items-tabs.show
{
	display: block;
}

.bz-container-items-tabs
{
	border: none;
	display: none;
	font-size: 13px;
	font-weight: bold;
	padding: 12px 15px;
	background: none;
	color: #3E515A;
	border-bottom: 1px solid #E4E8E9;
}

.bz-container-items-tabs.tabSelected
{
	min-height: 35px;
	max-height: 35px;
	padding: 9px 0 0 10px;
	border-bottom: 1px solid #CCC;
	border-radius: 0;
	color: #1A2126;
}

.bz-wp-tabs-ui.tabSelected > span
{
	color: #FFF;
	background-color: #37B9EB;
}

.bz-container-items-tabs:active
{
	background: none;
	color: #31414c;
}

.bz-tabs-display-name
{
	text-decoration: none;
}

.bz-tabs-narrow
{
	position: relative;
	float: right;
	right: 50px;
}


/* end tab.tmpl*/

.bz-rn-text-extended
{
	text-align: left;
	vertical-align: middle;
	min-height: 88px;
	padding: 2px 0 0 10px;
	font-size: 14px;
	color: #3E515A;
	overflow: auto;
	position: relative;
	display: block;
	border: none;
	margin-top: 5px;
	background: white;
	width: 100%;
	border-radius: 6px;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	-webkit-appearance: none;
}


/* Error Message */

.ui-bizagi-error-message span.ui-icon.ui-icon-close.ui-widget-content
{
	display: inline;
	position: relative;
}

.ui-bizagi-error-message span.ui-icon.ui-icon-close.ui-widget-content:after
{
	font-family: "bizagiflat";
	content: "\e629";
	color: white;
	font-size: 25px;
}

.ui-bizagi-div-error-container .ui-bizagi-error-message
{
	width: 100%;
	left: 2px;
	padding: 0 15px;
	font-size: 11px;
	margin: 3px 0;
}

.ui-bizagi-error-message.ui-widget-header.ui-state-error
{
	border: 1px solid #EF3648;
	color: rgba(255,255,255,0.8);
	background: #EF3648;
	border-radius: 6px;
	box-shadow: 1px 1px 1px #888;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
	display: inline-flex;
	padding: 10px;
}


span.ui-bizagi-error-message-text
{
	text-align: justify;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
	padding-left: 5px;
	padding: 0 5px;
	margin: auto 0 auto 20px;
}

/* Search */
.ui-bizagi-render-edit-text-search
{
	overflow: hidden;
	margin: 10px 0 0;
	display: block;
	border-radius: 20px;
	width: 100%;
	position: absolute;
	height: 35px;
	padding: 4px 7px;
	outline: 0;
}

.ui-bizagi-render-edit-text-extended
{
	width: 100%;
	position: relative;
	border-radius: 6px;
	border: none;
	background-color: white;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	margin: 10px 0 0;
	vertical-align: middle;
	text-align: left;
	padding: 7px 0 0 15px;
	min-height: 88px;
}

.ui-bizagi-render-edit-date, .ui-bizagi-render-edit-date-time
{
	display: block;
	-webkit-appearance: textfield;
}

.bz-command-not-edit .ui-bizagi-render-edition-arrow
{
}

label .bz-rn-boolean-radio, label .ui-bz-rn-boolean-check
{
	display: inline-block;
	font-size: 15px;
	line-height: 1em;
	margin: 0 .25em 0 0;
	padding: 0;
	width: 20px;
	height: 20px;
	vertical-align: text-bottom;
	-webkit-appearance: none;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 20px;
}

label .ui-bz-rn-boolean-check:checked:after
{
	content: "\e628";
	font: 1em/1em "bizagiflat";
	color: #195891;
	font-size: 20px;
	top: -1px;
	left: -1px;
	position: relative;
}

label .ui-bz-rn-boolean-check
{
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
	position: relative;
	left: 10px;
	background: white;
}

.bz-rn-boolean-radio:after
{
	content: "\e605";
	font: 1em/1em "bizagiflat";
	color: #CBCBCB;
	font-size: 20px;
	position: relative;
}

.bz-rn-boolean-radio:checked:after
{
	content: "\e628";
	font: 1em/1em "bizagiflat";
	color: #195891;
	font-size: 20px;
}

.bz-rn-combo-list-edit > div
{
	display: block;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CAD3D5;
	padding: 10px 0px 0px 0px;
	min-height: 40px;
	font-size: 13px;
}

.bz-rn-combo-list-edit > .bz-rn-combo-selected
{
}

.bz-rn-combo-text
{
	text-align: left;
	position: relative;
	width: 75%;
	padding-left: 15px;
}

.bz-rn-combo-list-edit > div > span.bz-rn-combo-check
{
	position: absolute;
	top: 10px;
	padding: 0;
	right: 20px;
	width: 18px;
	height: 18px;
	text-align: left;
	-webkit-border-radius: 9px;
	background: white;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}

.bz-rn-combo-list-edit > .bz-rn-combo-selected > span.bz-rn-combo-check
{
	display: inline;
}

.bz-rn-combo-list-edit > .bz-rn-combo-selected > span.bz-rn-combo-check:after
{
	content: "\e628";
	font: 1em/1em "bizagiflat";
	color: #195891;
	font-size: 20px;
	padding: 0;
	margin: 0;
}

.bz-rn-combo-select.disabled > span.bz-rn-combo-icon-arrow
{
	display: none;
}

.bz-rn-combo-cn-select-div.disabled
{
	background: none;
	box-shadow: none;
}

.ui-bizagi-render-control .bz-wp-render-association span,
.ui-bizagi-render-control .ui-bizagi-grid span
{
	position: relative;
}

span.bz-rn-combo-select
{
	padding: .5em 0;
	text-overflow: ellipsis;
	overflow: hidden;
	position: relative;
	color: #6B7E87;
	min-height: 15px;
	right: 0;
}

.bz-rn-cm-text-label
{
	overflow: hidden;
}

.bz-rn-combo-icon-arrow
{
	display: none;
}

/* AUTOCOMPLETE / SUGGEST
========================================*/

.ui-bizagi-render-search-container
{
	position: relative;
	width: 100%;
	padding: 0;
}

.ui-bizagi-render-search-item,
.ui-menu > .ui-menu-item
{
	width: 100%;
	border-top: 1px solid #EDEDED;
	border-bottom: 1px solid #9C9EA5;
	padding: 5px 0;
	background: white;
}

.ui-bizagi-render-search
{
	width: 100%;
	display: inline;
	float: left;
	background: white;
	min-height: 30px;
	height: 30px;
	border-radius: 6px;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3) !important;
	position: relative;
	margin: 10px 0 0;
	border: none;
	-webkit-appearance: none;
	padding: 0 0 0 10px;
}

.bz-rn-search-button
{
}

.bz-rn-search-button:after
{
	content: "\e60b";
	font: 1em/1em "bizagiflat";
	color: #3E515A;
	font-size: 20px;
	padding: 5px 0 0 5px;
	position: absolute;
	right: 10px;
	top: 10px;
	background: rgba(26, 33, 38, 0.2);
	width: 25px;
	height: 25px;
	border-radius: 6px;
}

.ui-autocomplete
{
	z-index: 10;
	position: absolute;
	cursor: default;
	max-height: 120px;
	overflow-y: scroll;
	overflow-x: hidden;    
	top: 40px !important;
}

.ui-padding-bottom-10
{
	padding-bottom: 10px !important;
}

.ui-bizagi-render-search-icon.disable-search
{
	cursor: default !important;
}

.ui-bizagi-search-control-list .ui-menu
{
	list-style: none;
	padding: 2px;
	margin: 0;
	display: block;
	float: left;
}

.ui-widget-content.ui-bizagi-search-control-list
{
	border-radius: 6px;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	-webkit-appearance: none;
	color: #3E515A;
	padding: 0 10px;
	background: white;
}

.ui-bizagi-search-control-list > .ui-menu-item
{
	list-style: none;
	width: 100%;
	border-bottom: 1px solid #EDEDED;
	padding: 10px 0;
	background: white;
	float: left;
	position: relative;
}

.ui-bizagi-search-control-list > li .ui-menu-item a
{
	text-decoration: none;
	display: block;
}

.ui-bizagi-search-control-list > li:first-child
{
	border-top: 1px solid #EDEDED;
}

.ui-bizagi-search-control-list > li:last-child
{
	border-bottom: none;
}

.ui-bizagi-search-control-list > li:active
{
	border: thin solid #efeeee;
	background-color: rgba(62, 81, 90, 0.05);
	width: 100%;
}

/********

__radios

*********/

.ui-bz-render-radio
{
	position: relative;
	width: 100%;
}

.ui-bz-render-radio fieldset
{
	position: relative;
	text-align: left;
	border: none;
}

.ui-bz-rn-radio-item
{
	position: relative;
	margin: 5px 0 0;
	line-height: 20px;
}

.ui-bz-rn-radio-item > label
{
	cursor: pointer;
	position: relative;
	background: transparent;
	box-shadow: none;
	display: inline;
	vertical-align: top;
	line-height: 28px;
	color: rgb(65, 89, 104);
}

.ui-bz-rn-radio-item > input
{
	display: inline-block;
	border: none;
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	background: white;
	border-radius: 20px;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}

.ui-bz-rn-radio-item.checked > input.bz-cm-icon:after
{
	content: "\e628";
	font: 1em/1em "bizagiflat";
	color: #195891;
	font-size: 20px;
	padding: 0;
	margin: 0;
}

/* link */

/* link icon */

.bz-rn-link-icons
{
	background-position: -52px -98px;
	display: block;
	float: left;
}

.ui-bizagi-render-link
{
	left: 5px;
	position: relative;
}


/* letter */

.bz-rn-letter
{
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, white), color-stop(100%, #E2DEDE));
	border-radius: 8px;
	margin: 10px;
	padding: 10px;
	border: 1px solid #9C9EA5;
	overflow: hidden;
}


/* RENDER CONTROLS */

/*basic controls text, radio, etc*/


.ui-bizagi-render
{
}

.bz-command-edit-inline > .ui-bizagi-render-edition-arrow
{
	background-position: -287px -263px;
}

.bz-command-edit-inline > .ui-bizagi-render-edition-arrow > .bz-cm-icon
{
	background-position: -287px -263px;
	min-height: 33px;
	margin: 10px 0 0;
}

.bz-container-render-cell
{
	width: 95%;
	min-height: 55px;
	position: relative;
	display: block;
}

.ui-bizagi-form-group
{
}

.arrow
{
	position: absolute;
	border-style: solid;
	border-width: 7px;
}

.arrow.up
{
	border-color: hsl(0, 0%, 95%) transparent transparent transparent;
	top: 13px;
	right: 15px;
}

.arrow.down
{
	border-color: transparent hsl(0, 0%, 95%) transparent transparent;
	top: 9px;
	right: 18px;
}

.bz-label-reversed > label
{
	float: right;
	right: 0;
	text-align: right;
}

/**
	peronalize check display
****/

.bz-check-control
{
	top: 10px;
	position: absolute;
}

.bz-check-label
{
	float: left;
	top: 10px;
	position: absolute;
	left: 35px;
}


/*__upload*/

li.ui-bizagi-render-upload-item:last-child
{
	margin-bottom: 10px;
}

.ui-bizagi-render-upload-container li,
.ui-bizagi-render-upload-container a
{
}

.ui-bizagi-render-upload-item a
{
	border: none;
	min-height: 30px;
	color: rgba(62,81,90,0.85);
	box-shadow: none;
	position: relative;
	display: inline-block;
	-webkit-appearance: none;
}

.ui-bizagi-render-upload-item .ui-bizagi-render-upload-item-span
{
	color: rgba(62,81,90,0.85);
	box-shadow: none;
	position: relative;
	display: inline-block;
	-webkit-appearance: none;
	min-height: 30px;
	text-decoration: underline;
	max-width: 70%;
	word-break: break-word;
}

.ui-bizagi-render-upload-container
{
}


/* upArrow */

.bz_rn_upload_container_upload_items.upArrow:after,
.bz_rn_upload_container_upload_items.upArrow:before
{
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.bz_rn_upload_container_upload_items.upArrow:after
{
	border-color: rgba(212, 214, 216, 0);
	border-bottom-color: #e6e6e6;
	border-width: 13px;
	left: 50%;
	margin-left: -15px;
}

.bz_rn_upload_container_upload_items.upArrow:before
{
	border-color: rgba(252, 245, 255, 0);
	border-bottom-color: #155376;
	border-width: 16px;
	left: 50%;
	margin-left: -18px;
}


/* bottomArrow */

.bz_rn_upload_container_upload_items.bottomArrow:after,
.bz_rn_upload_container_upload_items.bottomArrow:before
{
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.bz_rn_upload_container_upload_items.bottomArrow:after
{
	border-color: rgba(212, 214, 216, 0);
	border-top-color: white;
	border-width: 13px;
	left: 40%;
}

.bz_rn_upload_container_upload_items.bottomArrow:before
{
	border-color: rgba(252, 245, 255, 0);
	border-top-color: rgba(0,0,0,0.3);
	border-width: 14px;
	left: 40%;
}

.bz_rn_upload_container_upload_items.bottomArrow
{
	top: -186px;
}

/* container item upload inline*/
.bz_rn_upload_container_upload_items_inline
{
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	background-color: white;
	padding: 0 5px;
	border-top: 1px solid #CAD3D5;
}


/* container item upload */

.bz_rn_upload_container_upload_items_inline .bz-rn-upload-options
{
	margin: 0;
	display: block;
	text-align: right;
}

.bz_rn_upload_container_upload_items
{
	position: absolute;
	z-index: 99999999; 
	display: inline-block;
	border-radius: 6px;
	background-color: white;
	height: auto;
	display: none;
	padding: 4px 5px 1px;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}

.bz_rn_upload_container_upload_items > span
{
	text-align: center;
	display: block;
	margin: 0 0 5px;
	padding: 5px 0 0;
	font-weight: bold;
}

.bz-rn-upload-options
{
	position: relative;
	-webkit-padding-start: 0px;
	-webkit-margin-after: 5px;
	-webkit-margin-before: 5px;
	display: inline-block;
}

.bz-rn-upload-options > li
{
	display: inline-block;
	position: relative;
}

.bz-upload-button
{
	width: 59px;
	height: 60px;
	color: black;
	font: 1em/1em "bizagiflat";
	font-size: 20px;
	background: transparent;
	border: none;
	-webkit-appearance: none;
}

.bz_rn_upload_container_upload_items_inline button.bz-cm-icon.bz-upload-button.options
{
	height: 42px;
}

.bz-upload-button.options:after
{
	color: #798A93;
	top: 0;
	position: relative;
}

.bz-upload-button.options:after
{
	content: "\e613";
}

.bz-upload-button.file
{
	display: none;
}

li.bz-rn-upload-show-menu
{
	background: white;
	height: 50px;
	width: 50px;
	border-radius: 6px;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
	left: 50%;
	position: relative;
}


/*__image control*/

.ui-bizagi-render-image-image
{
	position: relative;
	height: auto;
	width: auto;
}

.ui-bizagi-render-image-image:active .ui-bizagi-render-upload-item-delete
{
	visibility: visible;
}

.ui-bizagi-render-image-image .ui-bizagi-render-upload-item-delete
{
	background-color: #F4F4F4;
	border: 1px solid #555;
	border-radius: 5px 5px 5px 5px;
	left: 0;
	position: absolute;
	visibility: hidden;
}

.ui-bizagi-render-upload-wrapper .image-file
{
	height: 32px;
	display: block;
	width: 100%;
}

.ui-bizagi-render-image-item
{
	border: 0 !important;
	padding: 3px 30px 3px 3px;
	position: relative;
	height: auto;
	width: auto;
	overflow: hidden;
	background: transparent !important;
	margin-bottom: 2px;
}

.ui-bizagi-render-align-right .image-wrapper
{
	float: right !important;
}

.ui-bizagi-render-align-left .image-wrapper
{
	float: left !important;
}

.ui-bizagi-render-align-center .image-wrapper
{
	margin-left: 30% !important;
}

.ui-bizagi-render-upload-queue.image-queue .uploadifyQueueItem
{
	width: 128px;
}

.ui-bizagi-render-upload-queue.image-queue .uploadifyQueueItem .cancel,
.ui-bizagi-render-upload-queue.image-queue .uploadifyQueueItem .percentage
{
	display: none;
}


/*__DocumentTemplates */

.ui-bizagi-render-documentgenerator
{
	display: block;
}

.ui-bizagi-document-upload-item
{
}

.ui-bizagi-document-extension
{
	background-image: url("images/file_extensions_sprite_32.png");
	background-position: 0 -520px;
	margin: .5em -.5em -.5em .5em;
}

.ui-bizagi-document-type
{
	width: 16px;
	height: 16px;
	display: inline-block;
}

.ui-bizagi-document-upload-item-doc
{
	background-position: -20px -482px;
}

.ui-bizagi-document-upload-item-xls
{
	background-position: -20px -500px;
}

.ui-bizagi-document-upload-item-pdf
{
	background-position: -4px -482px;
}


.ui-bizagi-document-preview
{
	height: 24px;
	width: 24px;
	top: 7px;
	position: relative;
	border: 0px solid transparent;
	cursor: pointer;
}

.ui-bizagi-button-documentgenerator
{
}

.ui-bizagi-button-documentgenerator:active
{
}

.ui-bizagi-div-button-documentgenerator
{
	float: left;
	width: 100%;
}

.ui-bizagi-div-documentgenerator
{
	width: 100%;
	display: block;
	margin-left: 8px;
}

/* __DocumentTemplates */

.ui-bizagi-render-documentgenerator
{
	display: block;
}

.ui-bizagi-document-extension
{
	background-image: url("images/file_extensions_sprite_32.png");
	background-position: 0 -520px;
	margin: .5em -.5em -.5em .5em;
}

.ui-bizagi-document-type
{
	width: 16px;
	height: 16px;
	display: inline-block;
}

.ui-bizagi-document-upload-item-doc
{
	background-position: -20px -482px;
}

.ui-bizagi-document-upload-item-pdf
{
	background-position: -118px -571px;
	display: inline-block !important;
}

.ui-bizagi-document-upload-item-xls
{
	background-position: -20px -500px;
}

.ui-bizagi-document-upload-item-generic-file
{
	background-position: 0 -500px;
}

.ui-bizagi-document-preview
{
	height: 24px;
	width: 24px;
	top: 7px;
	position: relative;
	border: 0px solid transparent;
	cursor: pointer;
}

.ui-bizagi-button-documentgenerator
{
}

.ui-bizagi-button-documentgenerator:active
{
	color: white;
}

.ui-bizagi-div-button-documentgenerator
{
	float: left;
	width: 100%;
}

.ui-bizagi-div-documentgenerator
{
	width: 100%;
	display: block;
}

.bz-rn-text.bz-render-reversed
{
	text-align: left;
}

.bz-render-reversed.bz-cn-grid
{
	padding-right: 0;
}

.bz-rn-display-value
{
	text-align: justify;
	padding-top: 25px;
}


/* ECM RENDER
=========================================================*/

.biz-render-ecm-delete-confirmation
{
	display: none;
}

.biz-render-ecm-view-default,
.biz-render-ecm-view-default ul
{
	list-style: none;
}

.biz-render-ecm-view-default > li:first-child
{
	display: none;
}

.biz-render-ecm-view-default > li:nth-child(2n)
{
}

.ecm-file-name
{
}

.ecm-file-name .modal-ecm,
.ecm-file-name .selectarrow,
.ecm-file-name .content,
.ecm-file-name .emc-options
{
	display: none;
}


.biz-render-ecm-view-default table
{
	display: none;
}

.bz-rn-ecm-container
{
	margin: 10px;
	background-color: rgba(62, 81, 90, 0.05);
    border: 1px solid rgba(62, 81, 90, 0.1);
}


.bz-rn-ecm-menu-container .bz-common-webkit-reset-ul
{
	-webkit-padding-start: 0;
	-webkit-margin-after: 0;
	-webkit-margin-before: 0;
	margin: 0;
	display: inline-block;
}

.ui-bizagi-grid-smartphone .bz-rn-ecm-container
{
	background-color: #f2f2f2;
	padding: 6px;
	border-radius: 0;
}

.ui-bizagi-grid-smartphone .bz-rn-ecm-container .bz-rn-ecm-metadata
{
	background-color: #e6e6e6;
	padding: 5px;
	border-radius: 0 0 6px 6px;
	margin-top: -3px;
}

.bz-rn-ecm-header
{
	background: rgba(15, 53, 88, 0.5);
	display: inline-block;
	width: 100%;
	color: #F4FAFA;
	border-radius: 0;
	text-align: left;
	min-height: 30px;
}

.bz-rn-ecm-header span
{
	display: table-cell;
	padding: 5px 0 5px 15px;
	text-align: left;
}

.bz-rn-ecm-menu-container ul
{
	overflow: hidden;
	list-style: none;
	position: relative;
	width: 100%;
}

.bz-rn-ecm-menu-container ul li
{
	float: left;
	display: none;
}

.bz-ecm-delete,
.bz-ecm-edit,
.bz-ecm-lock,
.bz-ecm-unlock,
.bz-ecm-upgrade
{
	font-size: 10px;
	width: 40px;
	text-align: center;
}

.bz-ecm-delete span.bz-cm-icon,
.bz-ecm-edit span.bz-cm-icon,
.bz-ecm-lock span.bz-cm-icon,
.bz-ecm-unlock span.bz-cm-icon,
.bz-ecm-upgrade span.bz-cm-icon
{
	height: 20px;
	width: 20px;
	display: inline-block;
}

.bz-ecm-delete span
{
	background-position: -236px 0;
}

.bz-ecm-edit span
{
	background-position: -164px 0;
}

.bz-ecm-lock span
{
	background-position: -200px 0;
}

.bz-ecm-unlock span
{
	background-position: -217px 0;
}

.bz-ecm-upgrade span
{
	background-position: -184px 0;
}

.bz-rn-ecm-extension span
{
	width: 40px;
	text-align: center;
}

.bz-ecm-checkout-true
{
	background-position: -389px -269px;
	display: none !important;
}

.bz-ecm-checkout-false
{
	background-position: -359px -269px;
	display: none !important;
}

span.bz-cm-icon.bz-rn-ecm-btn-attach-file:after,
.bz-rn-ecm-btn-activate-menu:after
{
	font: 1em/1em "bizagiflat";
	color: #74CFF1;
	font-size: 20px;
}

.bz-rn-ecm-upload > span
{
	height: 20px;
	width: 20px;
	display: inline-block;
	margin-top: 5px;
}

span.bz-cm-icon.bz-rn-ecm-btn-attach-file:after
{
	content: "\e62e";
}

.bz-rn-ecm-activate-menu
{
	display: table-cell;
	height: 30px;
	width: 30px;
	vertical-align: middle;
	text-align: center;
}

.bz-rn-ecm-btn-activate-menu:after
{
	content: "\e60c";
}

.bz-rn-ecm-menu-container ul li.bz-ecm-item-menu-enable
{
	display: inline-block;
	border-left: 1px solid #E4E8E9;
	margin: 0 5px 0 -1px;
	padding: 0 5px;
}

.bz-rn-ecm-container .bz-rn-ecm-metadata
{
	border-bottom: 1px solid rgba(62, 81, 90, 0.1);
	padding: 5px;
}

.bz-rn-ecm-container .bz-rn-ecm-metadata > span
{
	margin: 5px 20px 0 0;
}

.bz-rn-ecm-container .bz-rn-ecm-metadata:last-child
{
	border-bottom: none;
}

.bz-rn-ecm-metadata-item
{
	display: table;
	text-align: left;
	width: 100%;
	position: relative;
}

.bz-rn-ecm-title-item
{
	display: table-cell;
	padding: 5px 1px 5px 10px;
	text-align: left;
	word-break: break-all;
	overflow: hidden;
	color: #B0B2B2;
	vertical-align: middle;
}

.bz-rn-ecm-title-item label
{
	color: #31414C;
	text-shadow: 0 1px 0 #DDD;
}

.bz-rn-ecm-header .bz-rn-required
{
	margin: 0;
	position: absolute;
	top: -3px;
	border-radius: 0;
}

.bz-rn-ecm-required
{
	color: red;
}

.bz-rn-ecm-metadata-value
{
	display: table-cell;
	padding: 5px 1px 5px 10px;
	text-align: left;
	word-break: break-all;
	overflow: hidden;
	vertical-align: middle;
}

.bz-rn-ecm-file-container ul
{
	list-style: none;
	overflow: hidden;
}

.bz-rn-ecm-file-container ul li
{
	float: left;
}

.bz-rn-ecm-metadata-items
{
	display: none;
}

.bz-rn-ecm-menu-container
{
	display: none;
	position: absolute;
	z-index: 99999999;
	background-color: rgba(255, 255, 255, 0.95);
	box-sizing: border-box;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
	border-radius: 6px;
	padding: 5px 1px 1px 5px;
	margin: 1px 0 0 -20px;
	height: 45px;
}

.bz-rn-ecm-menu-container:after,
.bz-rn-ecm-menu-container:before
{
	left: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.bz-rn-ecm-menu-container:after
{
	border-color: rgba(230, 230, 230, 0);
	border-left-color: #e6e6e6;
	border-width: 5px;
	top: 50%;
	margin-top: -5px;
}

.bz-rn-ecm-menu-container:before
{
	border-color: rgba(21, 83, 118, 0);
	border-left-color: rgba(255,255,255,0.95);
	border-width: 8px;
	top: 15px;
	z-index: 99999999;
}

.bz-rn-ecm-file-container
{
	display: inline-table;
	width: 100%;
}

.bz-rn-ecm-extension
{
	display: table-cell;
	vertical-align: middle;
	padding: 5px 1px 5px 10px;
	text-align: left;
	word-break: break-all;
}

.bz-rn-ecm-url
{
	display: table-cell;
	vertical-align: middle;
	padding: 0 0 0 10px;
	color: #6b7e87;
	font-size: 13px;
	text-align: right;
}

.bz-rn-ecm-url a:link
{
	color: #52595F;
	text-decoration: none;
}

.bz-rn-ecm-metadata-container
{
	display: none;
	margin: 10px 20px;
	border-radius: 0;
	color: #4c5356;
	background: #EBEDF1;
	font-size: 11px;
	border: 1px solid rgba(62,81,90,0.1);
}

.bz-rn-ecm-metadata-container .bz-rn-ecm-title-item
{
	background-color: rgba(10, 36, 61, 0.2);
	min-width: 85px;
	border-top: 1px solid #B5B9BD;
}

.bz-rn-ecm-metadata-container .bz-rn-ecm-metadata-item:first-child .bz-rn-ecm-title-item
{
	border-radius: 0;
}

.bz-rn-ecm-metadata-container .bz-rn-ecm-metadata-item:last-child .bz-rn-ecm-title-item
{
	border-radius: 0;
	border-bottom: none;
}

.bz-rn-ecm-metadata-container .bz-rn-ecm-metadata-value
{
	width: 100%;
	border-bottom: 1px solid #CACDCF;
}

.bz-rn-ecm-metadata-container .bz-rn-ecm-metadata-item:first-child .bz-rn-ecm-metadata-value
{
	border-radius: 0;
	border-top: none;
}

.bz-rn-ecm-metadata-container .bz-rn-ecm-metadata-item:last-child .bz-rn-ecm-metadata-value
{
	border-radius: 0;
	border-bottom: none;
}

input.bz-cm-icon.bz-rn-ecm-boolean
{
	-webkit-appearance: none;
	display: inline-block;
	font-size: 15px;
	width: 20px;
	height: 20px;
	vertical-align: text-bottom;
	background-color: white;
	border-radius: 20px;
	color: white;
	padding: 0;
}

.bz-rn-ecm-metadata-container .bz-rn-ecm-metadata-value > input[type="radio"]:after
{
	border: none;
	display: inline-block;
	content: "\e605";
	font: 1em/1em "bizagiflat";
	color: #CBCBCB;
	font-size: 20px;
	padding: 0;
	position: relative;
}

.bz-rn-ecm-metadata-container .bz-rn-ecm-metadata-value > input[type="radio"]:checked:after
{
	content: "\e628";
	font: 1em/1em "bizagiflat";
	color: #195891;
	font-size: 20px;
	border: none;
}

.bz-rn-ecm-upload > span
{
	height: 20px;
	width: 20px;
	background-position: -300px -142px;
	display: inline-block;
	margin-top: 5px;
}

.bz-rn-ecm-menu-container.active
{
	display: inline;
	border: 2px solid;
	border-radius: 1em;
	width: auto;
	position: absolute;
	display: inline-block;
	z-index: 4;
	background: rgba(15,53,88,0.1);
	top: 43px;
	right: 20px;
}

.bz-rn-ecm-metadata-container .bz-rn-ecm-metadata-value > input[type="date"], 
.bz-rn-ecm-metadata-item input[type="text"], 
.bz-rn-ecm-metadata-item input[type="number"], 
.bz-rn-ecm-metadata-item input[type="datetime"]
{
	background: rgba(255,255,255,0.95);
	border: none;
	width: 95%;
	height: 30px;
	border-radius: 6px;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	-webkit-appearance: none;
	color: #3E515A;
	padding: 0 30px 0 10px;
}

.bz-rn-ecm-buttons-container
{
	position: relative;
	margin: 0 auto;
	text-align: right;
	padding: 5px 0;
}

.bz-rn-ecm-buttons-container button
{
	padding: 7px 10px;
	background: #3E515A;
	color: #E4E8E9;
	border: 1px solid transparent;
	margin: 10px;
	font-size: 11px;
	max-width: 250px;
	position: relative;
	word-wrap: break-word;
	min-width: 40%;
	border-bottom: 4px solid #798A92;
}

/* grid image bug fixing*/

.ui-bizagi-grid-smartphone .ui-bizagi-render .ui-bizagi-render-image-wrapper img
{
	max-width: 100%;
}

.ui-bizagi-render-image-wrapper
{    
	background: white;
	min-height: 30px;
	width: 100%;
	border-radius: 5px;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
	position: relative;
}

.ui-bizagi-render-image-wrapper:after
{
	content: "\e620";
	font: 1em/1em "bizagiflat";
	color: #AAA;
	font-size: 25px;
	position: absolute;
	top: 5px;
	left: 9px;
}

.ui-bizagi-render-image-wrapper.no-after-image:after
{
	content: "";
}

/****
concepto 
***/

.ui-bizagi-render
{
	border-bottom: none;
}

.ui-bizagi-label
{
	margin-bottom: 6px;
	margin-left: 10px;
	padding: 0 0 0 5px;
	word-break: normal;
	padding-right: 30px;
}

.ui-bizagi-label > label
{
	color: #195891;
	text-transform: capitalize;
	font-weight: bold;
	width: 100%;
	position: relative;
	font-size: 15px;
	background: transparent;
	box-shadow: none;
}

.ui-bizagi-grid .ui-bizagi-grid-smartphone .ui-bizagi-label > label
{
	margin-left: 10px;
}

.ui-bizagi-form-group .childrenContainer .ui-bizagi-label
{
	margin-left: 0;
}

.bz-rn-cm-text-label.bz-rn-text
{
	position: relative;
	border: none;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	padding: 5px 12px;
	box-sizing: border-box;
	color: #A4A4A4;
	background: white;
	-webkit-appearance: none;
}

input.bz-rn-text.bz-render-reversed
{
	top: 0;
	text-align: right;
	padding: 0 25px 0 0;
}

.ui-bizagi-grid-smartphone .bz-command-not-edit .ui-bizagi-render-control
{
	background: none;
	box-shadow: none;
}

.ui-bizagi-grid .ui-bizagi-grid-smartphone .ui-bizagi-render-control
{
	padding: 0 10px;
}

.ui-bizagi-render-control.bz-control-reversed .bz-rn-text.bz-render-reversed
{
	padding: 0 35px 0 0;
}

.ui-bizagi-grid-smartphone .ui-bizagi-render
{
	margin-top: 10px;
	margin-left: 0;
	margin-right: 0;
}

.ui-bizagi-render
{
	margin-top: 8px;
	position: relative;
}

.ui-bizagi-render-edition-arrow > .bz-cm-icon
{
	top: -4px;
	height: 20px;
	width: 20px;
	position: absolute;
	right: 0;
	left: 30px;
	bottom: 0;
}

.ui-bizagi-render-edition-arrow > .bz-cm-icon:after
{
	content: "\e61e";
	font: 1em/1em "bizagiflat";
	color: #CAD3D5;
	font-size: 12px;
	visibility: visible;
}

.bz-command-edit-inline .ui-bizagi-render-edition-arrow > .bz-cm-icon:after
{
	content: "\e600";
	font: 1em/1em "bizagiflat";
	color: #CAD3D5;
	font-size: 13px;
	visibility: visible;
	position: absolute;
	top: 0;
	left: 2px;
}

.bz-command-not-edit .ui-bizagi-render-edition-arrow > .bz-cm-icon:after
{
	display: none;
}

.ui-bizagi-render-edition-arrow > .bz-cm-icon.edit-combo-arrow
{
	background-position: -369px -129px;
	height: 35px;
}

.ui-bizagi-render-edition-arrow > .bz-cm-icon.edit-combo-arrow:after
{
	content: "\e61e";
	font: 1em/1em "bizagiflat";
	color: #CAD3D5;
	font-size: 12px;
}

.bz-rn-required
{    
	float: left;
	width: 4px;
	margin: 0 0 0 -10px;
	position: relative;
	top: 0;
	height: 11px;
}

.bz-rn-required:before
{
	content: '*';
	color: #ED3333;
	font-weight: bold;
}

.bz-rn-ecm-header .bz-rn-required
{
	margin: 0;
	position: absolute;
	top: -3px;
	border-radius: 0;
}

div.ui-bizagi-render-control.bz-control-reversed
{
	padding: 0 5px;
	top: 2px;
	position: relative;
}

div.ui-bizagi-label.bz-label-reversed
{
	position: relative;
	padding-bottom: 17px;
}

.bz-label-reversed .bz-rn-required
{
	right: 0;
	border-radius: 0;
	top: 0;
	left: 10px;
	float: right;
}

.bz-control-reversed .ui-bizagi-render-upload-item
{
	text-align: right;
}
/******
	Prueba validaciones ios
***/

/*.bz-rn-err:after
{
	border-radius: 0;
}*/

.bz-cm-tbl-row.bz-rn-messages
{
	display: inline-block;
	width: 100%;
}

/* ICONS */

.bz-rn-renderedition .km-navbar
{
	background: linear-gradient(to bottom, #ffffff 0%,#f1f2f4 100%);
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	border-bottom: 1px solid white;
	height: 55px;
	color: #61819E;
	font-weight: 100;
}


.ui-bizagi-render-link
{
	background: rgba(62,81,90,0.05);
	padding: 5px 12px;
	border: none;
	border-radius: 0px;
	min-height: 30px;
	color: rgba(62,81,90,0.85);
	box-shadow: none;
	position: relative;
	width: 99%;
	display: inline-block;
	margin-bottom: 5px;
}


.ui-bizagi-render-edition-arrow .bz-cm-icon, 
.bz-rn-ecm-menu-container .bz-cm-icon, 
.bz-wp-render .bz-cm-icon, 
.ui-bizagi-render-geolocation .bz-cm-icon
{
	background-image: url('images/bizagi-flat-smartphone-sprite-1x.png');
	-webkit-appearance: none;
	border: none;
	min-height: 20px;
	min-width: 20px;
	margin: 0 auto;
	display: block;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
{
	.bz-rn-ecm-menu-container .bz-cm-icon, 
	.bz-wp-render .bz-cm-icon, 
	.ui-bizagi-render-geolocation .bz-cm-icon, 
	.ui-bizagi-render-edition-arrow .bz-cm-icon
	{
		background-image: url('images/bizagi-flat-smartphone-sprite-2x.png');
		background-size: 256px 100px;
	}
}

.bz-cm-icon.bz-rn-input-icon-date, 
.bz-command-edit-inline .bz-cm-icon.bz-rn-input-icon-coin, 
.bz-command-edit-inline .bz-cm-icon.bz-rn-input-icon-numeric, 
.bz-command-edit-inline .bz-cm-icon.bz-rn-input-icon-numeric-scientific, 
.bz-command-edit-inline .bz-cm-icon.bz-rn-input-icon-search, 
.bz-command-edit-inline .bz-cm-icon.bz-rn-input-icon-geo, 
.bz-command-edit-inline .bz-cm-icon.bz-rn-input-icon-time
{
	top: 0;
	position: absolute;
	left: 28px;
	width: 9px;
	visibility: visible;
}

.bz-command-not-edit .bz-cm-icon.bz-rn-input-icon-date, 
.bz-command-not-edit .bz-cm-icon.bz-rn-input-icon-coin, 
.bz-command-not-edit .bz-cm-icon.bz-rn-input-icon-numeric
{
	visibility: hidden;
}

.bz-cm-icon.bz-rn-input-icon-date
{
	background-position: 4px -5px;
}

.bz-cm-icon.bz-rn-input-icon-coin
{
	background-position: -17px -3px;
}

.bz-cm-icon.bz-rn-input-icon-numeric
{
	background-position: -33px -3px;
}

.bz-cm-icon.bz-rn-input-icon-numeric-scientific
{
	background-position: -68px -25px;
}

.bz-cm-icon.bz-rn-input-icon-search
{
	background-position: -50px -3px;
	min-width: 15px;
	margin-right: -25px;
}

.bz-cm-icon.bz-rn-input-icon-geo
{
	background-position: -68px -3px;
}

.bz-cm-icon.bz-rn-input-icon-time
{
	background-position: -90px -3px;
}

.ui-bizagi-render-edition-arrow > .bz-cm-icon.bz-rn-input-icon-date:after, 
.ui-bizagi-render-edition-arrow > .bz-cm-icon.bz-rn-input-icon-coin:after, 
.ui-bizagi-render-edition-arrow > .bz-cm-icon.bz-rn-input-icon-numeric:after, 
.ui-bizagi-render-edition-arrow > .bz-cm-icon.bz-rn-input-icon-numeric-scientific:after, 
.ui-bizagi-render-edition-arrow > .bz-cm-icon.bz-rn-input-icon-search:after
{
	visibility: hidden;
}


.ui-bizagi-form-group > .childrenContainer > .ui-bizagi-form-group
{
	margin: 5px -10px;
}

.bz-rn-container-date > input.ui-bizagi-render-edit-date
{
	height: 30px;
	border-radius: 6px;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	-webkit-appearance: none;
	color: #3E515A;
	padding: 5px 0 0 10px;
	position: relative;
	margin-top: 10px;
	font-size: 16px;
}

.bz-rn-container-date > input.ui-bizagi-render-edit-date-time
{
	height: 30px;
	border-radius: 6px;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	-webkit-appearance: none;
	color: #3E515A;
	padding: 5px 0 0 10px;
	width: 100%;
	border: none;
	position: relative;
	margin-top: 10px;
	font-size: 16px;
}

.ui-bizagi-render.ui-bz-rn-label-only .bz-container-render-item
{
	height: auto;
}

/* Layout Controls */
.ui-bizagi-render .ui-bizagi-render-control .bz-rn-layout-text
{
	background: rgba(62,81,90,0.05);
	padding: 5px 12px;
	border: none;
	border-radius: 0px;
	min-height: 30px;
	-webkit-appearance: none;
	color: rgba(62, 81, 90, 0.85);
	box-shadow: none;
	display: block;
}

/* End Layout Controls */

/* Arrow */
span.bz-cm-icon.edit-combo-arrow
{
	background-image: none;
}

/**
* DATE CONTROL
*/
span.bz-rn-input-icon-date{
    position:absolute;
    right: 6%;
    top: 18px;
}

.ui-bizagi-render-control.bz-rn-read-only{
    padding-left: 7px;
}
/* END DATE CONTROL */

/**
* LIST CONTROL
*/
.ui-bizagi-wrapper-render-list .see-more-icon{
    border-top: 1px solid #CBCBCB;
    color: #37BAEC;
    font: 20px Arial;
    padding: 0 45%;
    text-align: center;
}

.see-more-icon span.km-icon.km-three-points-full.km-notext:after{
    -webkit-transform: rotate(90deg);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.ui-bizagi-render-list .hidden{
    display: none;
}

.ui-bizagi-wrapper-render-list ul{
	margin: 0;
	padding: 0;
	background-color: white;
	border-radius: 6px;
	border: none;
	color: #3E515A;
	box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.ui-bizagi-render-list li{
	border-bottom: 1px solid #EAEAEA;
	cursor: pointer;
	font: 13.3333px Arial;
	line-height: 30px;
	list-style-type: none;
	margin-left: 5px;
	margin-right: 5px;
	min-height: 30px;
	padding-left: 0.2em;
}

.ui-bizagi-render-list .ui-selected{
	background: rgb(55, 185, 235);
	border: 1px solid rgb(55, 185, 235);
	border-radius: 6px;
	color: white;
	margin: 0;
}

.bz-rn-autocomplete{
    left: 0px;
    border-radius: 6px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
    -webkit-appearance: none;
    color: #3E515A;
    padding: 0 10px;
    background: white;
    z-index: 10;
    position: absolute;
    cursor: default;
    max-height: 120px;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 40px ;
}
.bz-rn-autocomplete-item{
    list-style: none;
}

/*END LIST CONTROL*/