﻿<ul id="actionsheet-#=data.id#" class="bz-actionsheet">
    #for(var i = 0, lenght = data.actions.length; i < lenght; i++){# 
        <li class="bz-render-as-option #if(i === lenght-1){#bz-render-last-child#}#">
            <a #if(data.actions[i].guid !== "back"){ #data-bz-ordinal="#= data.actions[i].guid #" #} else{# data-bz-ordinal="-1"# }#>
                #= data.actions[i].displayName # 
            </a>
        </li> 
    #}# 
</ul>