﻿<div class="biz-dialog-send-email">
    <div class="biz-dialog-send-email-message">
    </div>
    <div class="biz-dialog-send-email-content">
        <h3 class="biz-dialog-send-email-title">%{render-dialog-sendemail}</h3>
        <div class="biz-dialog-send-email-row">
            <label for="to">%{render-dialog-sendemail-to}: </label>
            <input type="text" id="to" />
        </div>
        <div class="biz-dialog-send-email-row">
            <label for="subject">%{render-dialog-sendemail-subject}: </label>
            <input type="text" id="subject" />
        </div>
        <div class="biz-dialog-send-email-row">
            <label for="message">%{render-dialog-sendemail-message}: </label>
            <textarea  id="message" ></textarea>
        </div>
        <div class="biz-dialog-send-email-documents">
            <h3>%{render-dialog-sendemail-documents}</h3>
            {{if items.length > 0}}
            <ul id="selected-files">
                {{each items}}
                    <li> <input type="checkbox" checked="checked" data-id="${$value.id}"/> ${$value.name}</li>
                {{/each}}
            </ul>
            {{else}}
                %{render-dialog-sendemail-no-documents}
            {{/if}}
        </div>
    </div>
</div>
 