<script id="thumbnail-frame" type="text/x-jquery-tmpl">
    <div class="thumbnail-container ui-control-container">
        <label class="thumbnail-name">${caption}</label>
        <div class="thumbnail-group-container ui-control-input">
        </div>
    </div>
</script>

<script id="thumbnail-frame-option" type="text/x-jquery-tmpl">
    <div class="thumbnail-group biz-btn-vertical" data-firstSubproperty="${value.firstSubproperty}" data-secondSubproperty="${value.secondSubproperty}">
        <div class="biz-btn">
            <i class="biz-ico thumbnail-image-small-${name}"></i>
            <span class="thumbnail-value">${option}</span>
            <span class="thumbnail-dimension">${value.firstSubproperty} x ${value.secondSubproperty}</span>
        </div>
    </div>
</script>

<script id="thumbnail-frame-check" type="text/x-jquery-tmpl">
    <i class="biz-ico thumbnail-image-icon-uncheck"></i>
</script>


<script id="thumbnail-frame-values" type="text/x-jquery-tmpl">
    <div class="thumbnail-values thumbnail-close">
    </div>
</script>