/* 1 */
/**********************************************************************
 * Filename    : bizagi.editor.component.xpathnavigator.css (document)
 * Create Date : 16mar12
 * Author      : David Montoya david.montoya@bizagi.com / Alexander Diaz alexander.diaz@bizagi.com
 * Description : associated with the xpath navigator component
 * Template    : 'jquery\editor\component\xpathnavigator\tmpl\bizagi.editor.component.xpathnavigator.tmpl.html'

 ==STRUCTURE======================================================
 
  $__types Data types supported in the xpath navigator.


**********************************************************************/

/*Avoid flicker when the element is hovered*/

/**********************************************************************
 * Filename    : bizagi.editor.component.xpathnavigator.css (document)
 * Create Date : 16mar12
 * Author      : David Montoya david.montoya@bizagi.com / Alexander Diaz alexander.diaz@bizagi.com
 * Description : associated with the xpath navigator component
 * Template    : 'jquery\editor\component\xpathnavigator\tmpl\bizagi.editor.component.xpathnavigator.tmpl.html'

 ==STRUCTURE======================================================
 
  $__types Data types supported in the xpath navigator.


**********************************************************************/

/*Avoid flicker when the element is hovered*/

.bizagi_editor_xpathnavigator_overlay .bizagi_editor_component_xpathnavigator
body >.bizagi_editor_xpathnavigator_container{
	width:270px;
	height:250px;
	overflow:visible;
	border: 2px solid hsl(215, 33%, 60%);
	background: -webkit-linear-gradient(top, hsla(198, 0%, 100%, 1) 0%,hsla(198, 4%, 100%, 1) 100%);
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .3);
	border-radius:6px;
	padding:0px;
	position : absolute;
	z-index: 999;	
}

.bizagi_editor_xpathnavigator_overlay{
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    position: absolute
}



.bizagi_editor_xpathnavigator_overlay .bizagi_editor_component_xpathnavigator > .bizagi_editor_xpathnavigator_list,
body >.bizagi_editor_xpathnavigator_container > .bizagi_editor_xpathnavigator_list{
	margin:0px;
	padding:12px;
	-webkit-box-sizing:border-box;
	height:246px;
}

.bizagi_editor_xpathnavigator_overlay .bizagi_editor_component_xpathnavigator > .bizagi_editor_xpathnavigator_list{
	margin-top: 29px;
	overflow: auto;
	height: 85%;
	padding:0px !important;
	width: 100%;
}

.bizagi_editor_xpathnavigator_overlay .bizagi_editor_component_xpathnavigator > .xpathnavigator-node-container{
	margin-top: 29px;
	overflow: auto;
	height: 85%;
	padding:0px !important;
	width: 100%;
}

.bizagi_editor_xpathnavigator_overlay .bizagi_editor_component_xpathnavigator .xpathnavigator-close,
body >.bizagi_editor_xpathnavigator_container .xpathnavigator-close{
	position:absolute;
	left:-9px;
	top:-9px;
	z-index:1;
	border: 1px solid rgba(155, 158, 162,0.5);
	background:-webkit-linear-gradient(top, hsla(359, 0%, 96%, 1) 0%,hsla(240, 0%, 82%, 1) 100%);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .2);
}

.ui-bizagi-draggable-item.bizagi_editor_xpathnavigator_data
{
	border: solid transparent 1px;
	white-space: nowrap;
}

.bizagi_editor_xpathnavigator_container
{
	overflow:auto;
	-webkit-box-flex: 1;
	height:100%;
	padding:12px;
	-webkit-box-sizing:border-box;
}
.bizagi_editor_xpathnavigator_container > ul:first-child{
	margin:0px;
}
.bizagi_editor_xpathnavigator_list
{
	list-style-type:none; 
	padding: 0px;
	margin:0px;
	margin:2px 0px 2px 9px;
	position:relative;
}
.bizagi_editor_xpathnavigator_list .biz-btn{
	display: -webkit-box;
  	-webkit-box-orient: horizontal;

  	overflow: hidden;
}

.bizagi_editor_xpathnavigator_list label.ui-ellipsis{
	color:hsl(209, 19%, 45%);
    width:140px;
}
.bizagi_editor_xpathnavigator_list .bizagi_editor_xpathnavigator_data{
	border-radius:4px;
	margin-left:15px;
	-webkit-box-sizing:border-box;
	position:relative;
	border:1px solid transparent;
	width:200px;
}
.bizagi_editor_xpathnavigator_list .bizagi_editor_xpathnavigator_data.ui-state-hover{
	border:1px solid hsl(195, 0%, 88%);
	background:white;
	box-shadow: inset 0px 1px 3px 0px hsla(195, 0%, 78%, .2);
}
.bizagi_editor_xpathnavigator_list .bizagi_editor_xpathnavigator_data.ui-state-active,
.bizagi_editor_xpathnavigator_list .bizagi_editor_xpathnavigator_data.ui-state-highlight
{
	border: 1px solid #f0cb54;
	background: -webkit-linear-gradient(top, #fcedb2, #fce289 30%, #fce289 60%, #fdfae0);
}
.bizagi_editor_xpathnavigator_hover_cursor { cursor: pointer; white-space: nowrap;}
.bizagi_editor_xpathnavigator_expand_icon, .bizagi_editor_xpathnavigator_collapse_icon{
	position:absolute;
	display:block;
	height:16px;
	width:16px;
	margin:0px !important;
	padding:0px !important;
	left:-16px; 
}

.bizagi_editor_xpathnavigator_expand_icon { 
	background:transparent url("images/sprite_icons_16px.png") no-repeat -192px -32px; 
	padding:0 0 0 20px; 
	margin: 0; 
	margin-top:5px; 
}

.bizagi_editor_xpathnavigator_collapse_icon
{ 
	background:transparent url("images/sprite_icons_16px.png") no-repeat -192px -48px; 
}

.bizagi_editor_xpathnavigator_highlight_xpath
{
	font-weight: bold;
}

.bizagi_editor_xpathnavigator_container .bizagi_editor_xpathnavigator_container-close-image
{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("images/sprite_icons_16px.png") no-repeat -48px -16px;
    cursor: pointer;
    text-align: right;
	margin:1px;
}

/*  __types
-------------------------------------------*/

/* {... Definition of types for elements in the nodes of the xpath navigator ...}*/
.bizagi_editor_xpathnavigator_image_padding
{
	padding:0 0 0 20px; 
	margin:0px 0px 0px 2px; 
}

.ui-bizagi-type-attribute-string	{	background:transparent url(images/bas/AttributeString.png) no-repeat left center; }
.ui-bizagi-type-attribute-number	{	background:transparent url(images/bas/AttributeNumber.png) no-repeat left center; }
.ui-bizagi-type-attribute-oracleNumber	{	background:transparent url(images/bas/AttributeNumber.png) no-repeat left center; }
.ui-bizagi-type-attribute-date		{	background:transparent url(images/bas/AttributeDate.png) no-repeat left center; }
.ui-bizagi-type-attribute-boolean	{	background:transparent url(images/bas/AttributeBoolean.png) no-repeat left center; }
.ui-bizagi-type-attribute-float		{	background:transparent url(images/bas/AttributeFloat.png) no-repeat left center; }
.ui-bizagi-type-attribute-letter    {	background:transparent url(images/bas/AttributeLetter.png) no-repeat left center; }
.ui-bizagi-type-attribute-attachment {	background:transparent url(images/bas/AttributeAttachment.png) no-repeat left center; }
.ui-bizagi-type-attribute-currency  {	background:transparent url(images/bas/AttributeCurrency.png) no-repeat left center; }
.ui-bizagi-type-attribute			{	background:transparent url(images/bas/Attribute.png) no-repeat left center; }
.ui-bizagi-type-collection			{	background:transparent url(images/bas/AttributeCollection.png) no-repeat left center; }
.ui-bizagi-type-entity-application  {	background:transparent url(images/bas/EntityApplication.png) no-repeat left center; }
.ui-bizagi-type-entity-master		{	background:transparent url(images/bas/EntityMaster.png) no-repeat left center; }
.ui-bizagi-type-entity-parametric	{	background:transparent url(images/bas/EntityParameter.png) no-repeat left center; }
.ui-bizagi-type-entity-system		{	background:transparent url(images/bas/EntitySystem.png) no-repeat left center; }
.ui-bizagi-type-scope-attribute		{	background:transparent url(images/bas/Entity.png) no-repeat left center; }
.ui-bizagi-type-forms				{	background:transparent url(images/bas/Form.png) no-repeat left center; }
.ui-bizagi-type-form				{	background:transparent url(images/bas/Form.png) no-repeat left center; }
.ui-bizagi-type-scope-entity		{	background:transparent url(images/bas/Entity.png) no-repeat left center; }
.ui-bizagi-type-scope-fact			{	background:transparent url(images/bas/Facts.png) no-repeat left top; }


#bizagi_editor_xpathnavigator-helper{
    border: 1px solid rgba(179,179,179,0.3);
    -webkit-border-radius: 4px;
    margin: 0px!important;
    height: 18px!important;
    display: inline-block;
    position: absolute;

    text-align: left;
    padding: 2px 15px 2px 5px!important;

    background-color: rgb(239,240,241);
    z-index: 600;

     -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, .2);
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, .2);
}

#bizagi_editor_xpathnavigator-helper label{
    margin-left: 8px;
    font-size: 12px;
    display: inline-block;
}

#bizagi_editor_xpathnavigator-helper .xpathnavigator-item-image,
{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0px 5px;
    vertical-align: top;
}

#bizagi_editor_xpathnavigator-helper .mtool-image-plus {
    position: absolute;
    left: 15px;
    top: 8px;
}

.bizagi_editor_xpathnavigator_overlay .bizagi_editor_component_xpathnavigator{
	position: absolute;
	top: 100%;
	left:0px;
	z-index: 2000;
	height: 200px;
	width: 250px;
	line-height: 16px;
}

.ui-decorator-xpath.bizagi_editor_component_xpathnavigator > .bizagi_editor_xpathnavigator_list{
	margin-top: 15px;
}