﻿<div class="ui-bizagi-container ui-bizagi-container-contentpanel ${cssClass}" guid="${guid}" data-unique-id="${uniqueId}">

    {{if mode !== "execution"}}
    <div class="ui-bizagi-container-contentpanel-header-container">
        <span class="ui-bizagi-container-contentpanel-header">${displayName}</span>
    </div>
    {{/if}}
    {{if mode == "design" && messageValidation}}
    <span class="ui-icon ui-icon-help ui-bizagi-render-icon-msg-validation" title="${messageValidation}" style="display:inline-block"></span>
    {{/if}}

    {{children}}
</div>