/********
* Filename: bizagi.editor.component.editor.retype.css
* Create Date: 2012-06-26
* Author: Rhony Pedraza Rhony.Pedraza@bizagi.com
*
* $__retype
*
********/

/* __retype
--------*/

.bizagi_editor_component_editor_retype .retype-group-container{
	width:85%;
}

.bizagi_editor_component_editor_retype .ui-bizagi-editor-uiControls-comboBox [class^="ui-comboBox-image-large-"]{
	background: transparent url("images/sprite-retype.png") no-repeat
}


.bizagi_editor_component_editor_retype .ui-bizagi-editor-uiControls-comboBox  .ui-comboBox-image-large-duplicate
{
    background-position:top left;
}

.bizagi_editor_component_editor_retype .ui-bizagi-editor-uiControls-comboBox .ui-comboBox-image-large-double
{
     background-position:0 -25px;
}

.bizagi_editor_component_editor_retype .ui-bizagi-editor-uiControls-comboBox  .ui-comboBox-image-large-none
{
     background-position:0 -51px;
}
