﻿<script id="bz-rn-date" type="text/x-kendo-template">
    <div class="bz-rn-container-date">
        <input type="text" class="bz-rn-text ui-bizagi-render-edit-date new-mobiscroll-date-control" />
    </div>
</script>