﻿<script id="bz-document-generator" type="text/x-kendo-template">
    <div class="ui-bizagi-render-documentgenerator">
        <div class="ui-bizagi-div-button-documentgenerator">
            #if (typeof data.allowgenerate !== 'undefined'){#
            <button class="ui-bizagi-render-button ui-widget ui-corner-all ui-bizagi-button-documentgenerator" type="button" onclick="">#= data.caption #</button>
            #}#
            <div class="ui-bizagi-div-error-container"></div>
            <div class="ui-bizagi-div-documentgenerator">
                <ol class="ui-bizagi-container-documents">
                    {{files}}
                    #if (typeof data.noFiles !== 'undefined'){#
                    <li><span></span></li>
                    #}#
                </ol>
            </div>
        </div>
    </div>
</script>

<script id="bz-document-generator-item" type="text/x-kendo-template">
    <li class="ui-bizagi-document-upload-item" data-filename="#= data.filename #"
    #if (typeof data.joined !== 'undefined'){#
    data-joined="#= data.joined #"
    #}#
    >
    <span class="ui-bizagi-document-type"></span>
    <span data-url="#= data.url #"
    title="#= data.filename #">
    <span>#= data.filename #</span></span>
    </li>
</script>

<script id="bz-document-generator-item-preview" type="text/x-kendo-template">
    <object width="100%" height="99%" type="application/pdf" data="#= data.url#" id="ui-bizagi-document-pdf-preview">
        <p>The pdf cannot be displayed, please click <a href="#= data.url#">here></a> to open the file</p>
    </object>
</script>

