﻿<script id="bz-rn-ecm-view-default-item" type="text/x-kendo-template">    
    <div class="bz-rn-ecm-container">
        <div class="bz-rn-ecm-header">
            <span> #= data.displayName #</span>                        
        </div>        
        # $.each (data.value, function (i, value) { # 
            <div class="#= data.id #-#= value[0] # bz-rn-ecm-metadata">
               {{#= data.id #-#= value[0] #}}
            </div>
        #}); #
        # if (data.editable){ #
            <div class="no-event bz-rn-ecm-metadata bz-rn-ecm-upload">
                <span class="bz-cm-icon bz-rn-ecm-btn-attach-file"></span>
            </div>
        #}#
    </div>
    <div class="bz_rn_upload_container_upload_items">
        <ul class="bz-rn-upload-options">
            <li><button type="button"  class="bz-cm-icon bz-upload-button image "></button></li>
            <li><button type="button"  class="bz-cm-icon bz-upload-button cimage"></button></li>
            <li><button type="button"  class="bz-cm-icon bz-upload-button caudio"></button></li>
            <li><button type="button"  class="bz-cm-icon bz-upload-button cvideo"></button></li>
            <li><button type="button"  class="bz-cm-icon bz-upload-button file"></button> </li>
        </ul>
    </div>
</script>

<script id="biz-render-ecm-view-default-yesno" type="text/x-kendo-template">    
    <div class="ecm-metadata-field-edit biz-render-ecm-upload-boolean">
        <label for="biz-render-ecm-upload-boolean-radio1">
            <input type="radio" id="biz-render-ecm-upload-boolean-radio1" name="biz-render-ecm-upload-boolean-radio" value="True" # if (data.checked == '1'){ # checked="checked" #}# />
            %{render-boolean-yes}
        </label>
        <label for="biz-render-ecm-upload-boolean-radio2">
            <input type="radio" id="biz-render-ecm-upload-boolean-radio2" name="biz-render-ecm-upload-boolean-radio" value="False" # if (data.checked == '0'){ # checked="checked" #}# />
            %{render-boolean-no}
        </label>
    </div>
</script>

<script id="bz-rn-ecm-metadata" type="text/x-kendo-template">
    <div class="bz-rn-ecm-file-container" alt="#= data.filename #" title="#= data.filename #" data-filename="#= data.filename #" data-idfileupload="#= data.idFileUploads #">
        <div class="bz-rn-ecm-extension">
            <span class="bz-cm-icon bz-ecm-checkout-#= data.ecm_allowCheckOut #"></span>
        </div>
        <div class="bz-rn-ecm-url">
           <a href='javascript:void(0)'  onclick="window.open('#= data.url #', '_system');" >#= data.filename.substr(0, 35) # # if (data.filename.length > 35){ # ... #}# </a>
        </div>
        # if (data.ecm_allowEdit){ #
        <div class="bz-rn-ecm-activate-menu">
            <span class="bz-cm-icon bz-rn-ecm-btn-activate-menu"></span>
        </div>
        #}#
    </div>
    <div class="bz-rn-ecm-metadata-container">
        # $.each (data.metadata, function (i, item) { #           
            <div class="bz-rn-ecm-metadata-item">
                <div class="bz-rn-ecm-title-item # if (item.required == 'true'){ # bz-rn-ecm-required #}#">
                    <label class="# if (item.required == 'true') {# bz-rn-ecm-required-label #}#">#= item.description #</label>
                </div>
                <div class="bz-rn-ecm-metadata-value" data-value="#= item.value #" data-required="#= item.required #" data-idmetadata="#= item.metadataId #" 
                     data-description="#= item.description #" data-allowupdatemetadata="#= data.ecm_allowUpdateMetadata #" data-metadatatype="#= item.metadataType #" 
                     data-readonly="#= item.readOnly #" data-edit-mode="false" data-ecmstatus="#= data.ecm_ecmStatus #">
                
                    # if (item.readOnly == 'true') {#
                        <span class="ecm-metadata-text">
                            # if (item.metadataType == 'BOOL') {#
                                # if (item.value == true) {#                                
                                    %{render-boolean-yes}                                
                                #} else {#
                                    %{render-boolean-no}
                                #}#
                            #} else {#
                                #= item.value #
                             #}#
                        </span>
                    #}#
                
                    # if (item.metadataType == 'STRING') {#                            
                        <input type="text" # if (item.required) {# required #}# value="#= item.value #" />
                    #}#
                
                    # if (item.metadataType == 'BOOL') {#
                        <input class="bz-cm-icon bz-rn-ecm-boolean" type="radio" name="ecm-radio" value="true" # if (item.value == 'true') { # checked #}# />%{render-boolean-yes}
                        <input class="bz-cm-icon bz-rn-ecm-boolean" type="radio" name="ecm-radio" value="false" # if (item.value == 'false') { # checked #}# />%{render-boolean-no}
                    #}#
                
                     # if (item.metadataType == 'DATETIME') {#
                        <input type="date" class="bz-ecm-metadata-date" # if (item.required){# required #}# value="#= $.scroller.formatDate('yy-mm-dd', $.scroller.parseDate('d. m. yy', item.value)) #" />
                    #}#

                     # if (item.metadataType == 'DECIMAL') {#
                        <input type="number" # if (item.required) {# required #}# value="#= item.value #" pattern="\d*" />
                    #}#

                </div>            
            </div>
        #}); #

        <div class="bz-rn-ecm-metadata-item bz-rn-ecm-buttons-container">
            <button class="bz-rn-ecm-btn-cancel">%{text-cancel}</button>
            <button class="bz-rn-ecm-btn-save">%{text-save}</button>
        </div>
    </div>
    <div class="bz-rn-ecm-menu-container">
        <ul class="bz-common-webkit-reset-ul">
            <li class="bz-ecm-lock # if (data.ecm_allowCheckOut) {# bz-ecm-item-menu-enable #}#">
                <span class="bz-cm-icon bz-rn-ecm-btn-lock"></span>
                <span>%{render-ecm-bt-lock}</span>
            </li>
            <li class="bz-ecm-unlock # if (data.ecm_allowCancelCheckOut) {# bz-ecm-item-menu-enable #}#">
                <span class="bz-cm-icon bz-rn-ecm-btn-unlock"></span>
                <span>%{render-ecm-bt-unlock}</span>
            </li>
            <li class="bz-ecm-delete # if (data.ecm_allowDelete) {# bz-ecm-item-menu-enable #}#">
                <span class="bz-cm-icon bz-rn-ecm-btn-delete"></span>
                <span>%{render-ecm-bt-delete}</span>
            </li>
            <li class="bz-ecm-edit # if (data.ecm_allowUpdateMetadata) {# bz-ecm-item-menu-enable #}#">
                <span class="bz-cm-icon bz-rn-ecm-btn-edit"></span>
                <span>%{render-ecm-bt-edit}</span>
            </li>
        </ul>
    </div>
</script>
