﻿<script id="ui-bz-mobile-list-control" type="text/x-kendo-template">
    <div class="ui-bizagi-wrapper-render-list">
        <ul class="ui-bizagi-render-list ui-widget-content ui-corner-all">
            #if(data.items.length > 10){#
                # for (var i=0; i < 10; i++){ #
                    <li class="bz-rn-regular-element" id="ui-bizagi-list-#= data.items[i].id #" data-value="#= data.items[i].id #">#= data.items[i].value #</li>
                #}#
                # for (var i=10; i < data.items.length; i++){ #
                    <li id="ui-bizagi-list-#= data.items[i].id #" data-value="#= data.items[i].id #" class="bz-rn-regular-element hidden">#= data.items[i].value #</li>
                #}#
                <li class="see-more-icon" data-value="see-more-icon"><span class="km-icon km-three-points-full km-notext"></span></li>
            #}else{#
                # for (var i=0, len= data.items.length ; i < len; i++){ #
                    <li id="ui-bizagi-list-#= data.items[i].id #" data-value="#= data.items[i].id #">#= data.items[i].value #</li>
                #}#
            #}#
        </ul>
    </div>
</script>

<script id="ui-bz-wp-popup-list-control" type="text/x-kendo-template">
    <div data-role="modalview" id="modalview-filter-list" style="width: 90%; height: 90%">
        <div data-role="header">
            <div id="filter-header" data-role="navbar">
                <div class="filter-list-modal-view-top-item">
                    <span class="title-search-in-list">#if(data.displayName != ""){#
                            #= data.displayName #
                        #}else{#
                            Combo
                        #}#
                    </span>
                    <span class="bz-wp-search-on-list-back-icon-list km-icon km-cancel"></span>
                </div>
                <div class="filter-list-modal-view-bottom-item">
                    <input class="input-filter-results-on-list" type="text" placeholder="" />
                    <span class="bz-wp-list-search-icon-list km-icon km-search"></span>
                    <!--<span class="bz-wp-list-cancel-icon-list km-icon km-cancel"></span>-->
                    <span class="km-icon km-new-smallsize km-notext bz-wp-list-cancel-icon-list"></span>
                </div>
            </div>
        </div>

        <div id="ui-bizagi-wp-filter-results-list-wrapper" class="">
            <ul class="ui-bizagi-render-list-elements ui-widget-content ui-corner-all">
                # if(data.items){ #
                    # for (var i=0, len= data.items.length ; i < len; i++){ #
                        <li id="ui-bizagi-list-#= data.items[i].id #" data-value="#= data.items[i].id #">#= data.items[i].value #</li>
                    #}#
                #}#
            </ul>
        </div>

        <div data-role="footer">
            <div id="filter-footer" data-role="navbar">
                <button id="ui-bizagi-cancel-button" class="left-button" type="button">%{workportal-general-button-label-cancel}</button>
                <button id="ui-bizagi-apply-button" class="right-button" type="button">%{workportal-general-button-label-apply}</button>
            </div>
        </div>
    </div>
</script>