﻿#newCase-drawer .km-header, #newCase-drawer .km-content {
    background-color: #0C1C2B;
}

#newCase-drawer .bz-newcase-container {
    margin-bottom: 30px;
}

#bz-mainmenu-items-container {
    border-bottom: 1px solid #3C4955;
    border-top: 1px solid #3C4955;
}

.km-flat #select-process-type {
    margin-bottom: 1.5em;
}

.km-flat #newCase-drawer .km-button {
    color: #195891;
    border: 1px solid #195891;
}

.km-flat #newCase-drawer .km-state-active {
    background: #195891;
    color: white;
}

ul.km-list.bz-newcase-list {
    padding: 0 0 0 17px;
}

.km-list.bz-newcase-list > li {
    background-color: #0C1C2B;
    color: white;
    border-bottom: 1px solid #3C4955;
    padding: 12px 0 12px 5px;
    font-size: 15px;
}

    .km-list.bz-newcase-list > li .km-icon {
        color: #868E95;
    }

.bz-newcase-group-title {
    color: #195891;
    text-transform: uppercase;
    padding: 0 5px;
}

.bz-newcase-group-title {
    position: relative;
}

    .bz-newcase-group-title .bz-newcase-breadcrum {
        float: left;
        margin-left: 20px;
    }

.bz-newcase-search-container {
    margin: 15px 3px 15px 8px;
    padding: .2em .4em;
    position: relative;
    font-size: 12.5px;
}

    .bz-newcase-search-container > input.bz-newcase-search {
        background-color: #253341;
        -webkit-appearance: none;
        border: none;
        border-radius: 15px;
        height: 30px;
        color: #e5e5e5;
        padding: 1em 2.0em;
        margin: 0;
        width: 100%;
    }

    .bz-newcase-search-container > span.km-icon {
        position: absolute;
        bottom: 10px;
        left: 14px;
        color: #37BAEC;
    }

.bz-newcase-back-border {
    position: absolute;
    border-radius: 10px;
    border: 1px solid #195891;
}

.bz-newcase-title .bz-newcase-breadcrum > span.km-icon:after,
.bz-newcase-title .bz-newcase-breadcrum > span.km-icon:before {
    display: inline;
    vertical-align: inherit;
    top: 2px;
}

/* MODAL MULTI-ORGANIZATION
=========================================================*/

.bz-wp-modal-organization .bz-wp-modal-organization-content {
    background-color: #EBEDF1;
    position: relative;
    min-height: 70px;
}

.bz-wp-modal-organization .km-navbar {
    color: #61819E;
}

a.bz-wp-modal-organization-close.km-widget.km-button {
    color: #787878;
    width: 100%;
}

a.bz-wp-modal-organization-newcase.km-widget.km-button {
    color: #D7DDDF;
    width: 100%;
}

.bz-wp-modal-organization-content {
    text-align: center;
}

.bz-wp-modal-organization .km-rightitem {
    top: 0;
    width: 50%;
    right: 0;
    padding: 3px 0 0 0;
}

    .bz-wp-modal-organization .km-rightitem.inactive {
        background: #D7DDDF;
    }

    .bz-wp-modal-organization .km-rightitem.active {
        background: #3E515A;
    }

    .bz-wp-modal-organization .km-rightitem.inactive > a.bz-wp-modal-organization-newcase.km-widget.km-button {
        color: #787878;
    }


.bz-wp-modal-organization .km-leftitem {
    width: 49%;
    top: 0;
    left: 0;
    padding: 3px 0 0 0;
}

ul.bz-wp-modal-organization-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.bz-wp-modal-organization-list > li.bz-wp-modal-organization-list-item {
    background: #E1E7EE;
    border: 1px solid #D8DFE7;
    border-width: 0 0 1px 0;
    padding: 10px 5px 10px 5px;
    color: #3D515A;
}

li.bz-wp-modal-organization-list-item.bz-wp-modal-organization-list-item-selected {
    background-color: #74CFF1;
    color: #fcfcfc;
}

.km-flat .km-navbar {
    border: 1px solid #CCC;
}
