﻿<script id="ui-bizagi-webparts-newcase" type="text/x-kendo-template" >
<header data-role="header" class="bz-newcase-container">
    <div class="bz-newcase-search-container">
        <input type="text" class="bz-newcase-search"/>
        <span class="km-icon km-search"/>
    </div>
    <ul id="select-process-type" data-role="buttongroup">
        # if(data.online) { #
            <li class="bz-grouped-buttons bz-grouped-buttons-recent">
                <span>Recent</span>
            </li>
        # } #
        <li class="bz-grouped-buttons bz-grouped-buttons-all">
            <span>All process</span>
        </li>
    </ul>
    <div class="bz-newcase-group-title">
        <div class="bz-newcase-title"></div>
    </div>
</header>
<div id="bz-mainmenu-items-container">
    <ul class="bz-newcase-list"></ul> 
</div>
</script>

<script id="ui-bizagi-webparts-newcase-categories-tree" type="text/x-kendo-template" >
    <span class="km-icon km-process-full"/>
    <a class="bz-newprocess-link" # if(typeof appId !== "undefined"){ # data-appid="#= appId #"  #}#><span class="bz-newprocess"></span># if(typeof appName !== "undefined"){ ##= appName ##}else if(typeof categoryName !== "undefined"){##= categoryName ##}#</a>
    <input type="hidden" id="hasOfflineForm" value="# if(typeof hasOfflineForm !== "undefined"){ ##= hasOfflineForm ##}#">
    <input type="hidden" id="idCategory" value="# if(typeof idCategory !== "undefined"){ ##= idCategory ##}#">
    <input type="hidden" id="isProcess" value="# if(typeof isProcess !== "undefined"){##= isProcess ##}else{##=false##}#">
    <input type="hidden" id="categoryName" value="# if(typeof appName !== "undefined"){ ##= appName ##}else if(typeof categoryName !== "undefined"){##= categoryName ##}#">
</script>

<script id="ui-bizagi-webparts-newcase-recent-process" type="text/x-kendo-template" >
    <span class="km-icon km-process-full"/>
    <a class="bz-newprocess-link" ><span class="bz-newprocess"></span>#= displayName # </a>
    <input type="hidden" id="idWFClass" value="# if(typeof idWFClass !== "undefined"){##= idWFClass ##}#">
</script>

<script id="ui-bizagi-webparts-newcase-breadcrum" type="text/x-kendo-template" >
    # if(data.length > 1){ #<div class="bz-newcase-back-border"><span class="km-icon km-back"/></div># } #
    <div class="bz-newcase-breadcrum">
        <span>#= data[0].name #</span>
        #for(var i = 1; i < data.length; i+=1){#
            <span class="km-icon km-next"/><span> #= data[i].name #</span>
        #}#
    </div>
    <div style="clear:both"></div>
    <div style="clear:both"></div>
</script>

<script id="ui-bz-wp-newcase-modal-multiorganization" type="text/x-kendo-template">
    <div data-role="modalview" class="bz-wp-modal-organization" data-workflow="#= data.idWfClass #" style="width: 90%; max-height: 90%">
        <div data-role="header" class="bz-wp-modal-organization-header">
            <div data-role="navbar">
                %{workportal-menu-organization-list-title}
            </div>
        </div>
        <div class="bz-wp-modal-organization-content" >
            <ul class="bz-wp-modal-organization-list">
                # $.each (data.list, function (i, item) { #
                    <li class="bz-wp-modal-organization-list-item" data-id="#= item.id #">#= item.displayName #</li>
                # }) #
            </ul>
        </div>
        <div data-role="footer" class="bz-wp-modal-organization-footer">
            <div data-role="navbar">
                <a class="bz-wp-modal-organization-close" data-align="left" data-role="button">%{render-form-dialog-box-close}</a>
                <a class="bz-wp-modal-organization-newcase" data-align="right" data-role="button">%{workportal-widget-navigation-newcase}</a>
            </div>
        </div>
    </div>
</script>