#summaryItem .bz-wp-summary-item-header
{
    border-width: 0 0 1px;
    background: #DADDE0;
    color: #195891;
    text-align: left;
    border-bottom: 2px solid #37BAEC;
    border-top: 1px solid rgba(0,0,0,0.1);
    padding: 15px;
    font-size: 15px;
}

#summaryItem #bz-wp-summary-item-list
{
    list-style-type: none;
}

#summaryItem ul#bz-wp-summary-item-list
{
    padding: 0;
    color: #444444;
    font-size: 13px;
}

#summaryItem .bz-wp-sm-item
{
    margin: 15px;
    border-radius: 10px;
    background-color: white;
    box-shadow: -1px 1px 4px #BBB;
}

/* Content */
#summaryItem .bz-wp-sm-item .bz-wp-sm-item-container
{
    padding: 10px 0 20px 10px;
}

#summaryItem .bz-wp-sm-item .bz-wp-sm-item-title
{
    color: #444444;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 15px;
    vertical-align: top;
    margin: 10px;
}

#summaryItem .bz-wp-sm-item .bz-wp-sm-item-value
{
    color: #26597F;
    font-weight: 100;
    position: relative;
    font-size: 12px;
    white-space: normal;
    background: rgba(25,88,145,0.1);
    border-radius: 2px;
    word-break: break-word;
    font-size: 16px;
    min-height: 30px;
    margin: 3px 20px 0 10px;
    padding: 7px 20px 0 20px;
}

/*Buttons */
#summaryItem .bz-wp-sm-item .bz-wp-sm-item-actions
{
    border-radius: 0 0 10px 10px;
    background-color: rgba(25,88, 145, 0.1);
    text-align: right;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

#summaryItem .bz-wp-sm-item .bz-wp-sm-item-actions div
{
    padding: 15px 20px;
    background: #24B4EA;
    color: white;
    max-width: 200px;
    word-wrap: break-word;
    min-width: 20%;
    border: 0;
    margin: 0 3px;
    font-size: 15px;
    text-align: center;
}

#summaryItem .bz-wp-sm-item .bz-wp-sm-item-actions div:last-child
{
    border-radius: 0 0 10px 0;
    margin-right: 0;
    color: white;
}

/*Background font */
#menuHome .bz-menu-home.hidden:after
{
    display: none;
}
