<script id="ui-bz-wp-summaryItem-main" type="text/x-kendo-template">
    <div class="bz-wp-summary-item-container">
        <div class="bz-wp-summary-item-content" data-role="scroller">
            <div data-role="header" class="bz-wp-summary-item-header">&nbsp;</div>
            <ul id="bz-wp-summary-item-list"></ul>
        </div>
    </div>
</script>
<script id="ui-bz-wp-summaryItem-content" type="text/x-kendo-template">   
    <li class="bz-wp-sm-item" data-case="#= data[0] #" data-workitem="#= data[1] #" data-task="#= data[2] #" data-isOffline="#= data[7] && data[7] === true ? data[7] : false #">
        <div class="bz-wp-sm-item-container">                           
            # $.each (data[6], function (i, item) { #
                <div class="bz-wp-sm-item-title"> #= item[0] # </div>
                <div class="bz-wp-sm-item-value"> #= item[1] && (item[1] != null || item[1] != "") ? bizagi.util.formatDataType(item[1], item[2]): "" # </div>
            # }) #            
        </div>
        <div class="bz-wp-sm-item-actions">
            # if (typeof (data[8]) !== 'undefined' && data[8] == true && typeof (data[7]) !== 'undefined' && data[7] === true) { #
                <div id="bz-wp-sm-item-remove" class="bz-wp-sm-item-action-item" type="button">%{workportal-widget-comments-delete}</div>
            #  } #
            # if (typeof (data[7]) !== 'undefined' && data[7] === true) { #
                <div id="bz-wp-sm-item-workonit" class="bz-wp-sm-item-action-item" type="button">%{workportal-widget-inboxcommon-open-it}</div>
            # } else { #
                <div id="bz-wp-sm-item-workonit" class="bz-wp-sm-item-action-item" type="button">%{workportal-taskfeed-popup-work-onit}</div>            
            # } #
        </div>
    </li>
</script>
