
/* Basic controls */

.ui-bizagi-render-text {
    width: 80%;
}

.ui-bizagi-render-align-center .ui-bizagi-render-text {
    width: 80%;
}

.ui-bizagi-render-align-right .ui-bizagi-render-text {
    width: 80%;
}

.ui-bizagi-render-text-extended {
    width: 100%;
    min-height: 24px;
    padding-left: 3px;
    padding-right: 3px;
    padding-left: 0\9;
    padding-right: 0\9;
    max-width: 100% !important;
    min-width: 100% !important;
}

.ui-bizagi-render-control.ui-bizagi-text-extended-readonly {
    white-space: normal;
}

.ui-bizagi-render-button {
    text-align: center;
    cursor: pointer;
    min-width: 100px;
    min-height: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.ui-button-disabled {
    border: none;
    background: #CCC !important;
    transition: none;
    box-shadow: none;
    cursor: default;
}
.ui-button-disabled:hover {
    background: #CCC !important;
}
.ui-button-disabled span {
    text-shadow: none;
    color: #999;
} 
.ui-button-disabled:hover span {
    color: #999;
}

.ui-button,
.ui-button.ui-state-default,
.ui-bizagi-button-container .ui-bizagi-button,
.ui-dialog .ui-button,
.ui-bizagi-wp-app-routing-container table .ui-button {
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(245,245,245,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
    border: 1px solid #D5D5D5;
    border-bottom: 1px solid #9A9A9A;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15);
    -webkit-transition: background 1s ease-in-out;
    -moz-transition: background 1s ease-in-out;
    -o-transition: background 1s ease-in-out;
    transition: background 1s ease-in-out;
}

.ui-bizagi-button-container .ui-bizagi-button:disabled{
    opacity: .4;
    text-shadow: none;
}

.ui-bizagi-button-container .ui-fast-transition{
    -webkit-transition: background 0.1s ease-in-out;
    -moz-transition: background 0.1s ease-in-out;
    -o-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
}

.ui-button-desktop-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden!important;
    max-width: 100%;
}

.ui-button-windows8 {
    white-space: normal;
}

.ui-button:hover,
.ui-button.ui-state-default:hover,
.ui-bizagi-button-container .ui-bizagi-button:hover,
.ui-dialog .ui-button:hover,
.ui-bizagi-wp-app-routing-container table .ui-button:hover {
    background: rgb(119,122,127); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(119,122,127,1) 0%, rgba(95,100,106,1) 3%, rgba(111,115,124,1) 5%, rgba(122,129,139,1) 8%, rgba(111,115,124,1) 21%, rgba(95,100,106,1) 68%, rgba(93,98,104,1) 79%, rgba(100,104,113,1) 87%, rgba(101,106,112,1) 89%, rgba(81,84,91,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(119,122,127,1)), color-stop(3%,rgba(95,100,106,1)), color-stop(5%,rgba(111,115,124,1)), color-stop(8%,rgba(122,129,139,1)), color-stop(21%,rgba(111,115,124,1)), color-stop(68%,rgba(95,100,106,1)), color-stop(79%,rgba(93,98,104,1)), color-stop(87%,rgba(100,104,113,1)), color-stop(89%,rgba(101,106,112,1)), color-stop(100%,rgba(81,84,91,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(119,122,127,1) 0%,rgba(95,100,106,1) 3%,rgba(111,115,124,1) 5%,rgba(122,129,139,1) 8%,rgba(111,115,124,1) 21%,rgba(95,100,106,1) 68%,rgba(93,98,104,1) 79%,rgba(100,104,113,1) 87%,rgba(101,106,112,1) 89%,rgba(81,84,91,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(119,122,127,1) 0%,rgba(95,100,106,1) 3%,rgba(111,115,124,1) 5%,rgba(122,129,139,1) 8%,rgba(111,115,124,1) 21%,rgba(95,100,106,1) 68%,rgba(93,98,104,1) 79%,rgba(100,104,113,1) 87%,rgba(101,106,112,1) 89%,rgba(81,84,91,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(119,122,127,1) 0%,rgba(95,100,106,1) 3%,rgba(111,115,124,1) 5%,rgba(122,129,139,1) 8%,rgba(111,115,124,1) 21%,rgba(95,100,106,1) 68%,rgba(93,98,104,1) 79%,rgba(100,104,113,1) 87%,rgba(101,106,112,1) 89%,rgba(81,84,91,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(119,122,127,1) 0%,rgba(95,100,106,1) 3%,rgba(111,115,124,1) 5%,rgba(122,129,139,1) 8%,rgba(111,115,124,1) 21%,rgba(95,100,106,1) 68%,rgba(93,98,104,1) 79%,rgba(100,104,113,1) 87%,rgba(101,106,112,1) 89%,rgba(81,84,91,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777a7f', endColorstr='#51545b',GradientType=0 ); /* IE6-9 */
    color: #fafafa;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35);
}

.ui-bizagi-button-container .ui-bizagi-button:hover:disabled{
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(245,245,245,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
    border: 1px solid #D5D5D5;
    border-bottom: 1px solid #9A9A9A;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15);
    -webkit-transition: background 1s ease-in-out;
    -moz-transition: background 1s ease-in-out;
    -o-transition: background 1s ease-in-out;
    transition: background 1s ease-in-out;
    opacity: .4;
    color: #555555;
    text-shadow: none;
    cursor: default;
}

.ui-button:hover .ui-bizagi-render-icon-search,
.ui-button.ui-state-default:hover .ui-bizagi-render-icon-search,
.ui-bizagi-button-container .ui-bizagi-button:hover .ui-bizagi-render-icon-search,
.ui-dialog .ui-button:hover .ui-bizagi-render-icon-search,
.ui-bizagi-wp-app-routing-container table .ui-button:hover .ui-bizagi-render-icon-search {
    background-position: -184px -422px;
}

.actions-group .ui-button {
    display: inline-block;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.ui-bizagi-render-search.ui-autocomplete-loading {
    background-image: none;
}

.ui-bizagi-render-label {
    font-weight: bold;
    padding-bottom: 5px;
}

.ui-bizagi-render-link {
    text-decoration: underline;
}

.ui-bizagi-render-link-likeButton{
    text-decoration: none;
}

.ui-bizagi-render-formlink-check label {
    background-color: red;
}

.ui-bizagi-render-formlink-check dt {
    padding-right: 5px;
    clear: left;
    float: left;

}

.ui-bizagi-render-formlink-check dd {
    margin-left: 25px;
    width: 100%;
}

.ui-bizagi-render-formlink-check dd .ui-bizagi-render-link {
    position: inherit;
}

.ui-bizagi-checkform-check {
    width: 20px;
}

.ui-bizagi-checkform-link,
.ui-bizagi-checkform-check {
    height: auto;
    position: relative!important;
    display: table-cell!important;
    vertical-align: top;
}

.ui-bizagi-checkform-link a {
    white-space: normal!important;
}

.ui-bizagi-checkform {
    display: table;
}

.ui-bizagi-render-numeric {
    width: 80%;
}

.ui-bizagi-render-date {
    /* width: auto !important;*/
}

.ui-bizagi-wp-app-icon-date
{
    background: url(../../../rendering/css/desktop/images/sprite.png) no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor:pointer;
    vertical-align: bottom;
    background-position: -371px -459px;
    position: absolute;
    right: 7px;
    top: 25%;
}
.ui-bizagi-render-date:focus + .ui-bizagi-wp-app-icon-date {
    opacity: 0.8;
}
.ui-bizagi-render-display-reversed .ui-bizagi-render-date,
.ui-bizagi-render-display-normal .ui-bizagi-render-date,
.ui-bizagi-render-display-cell .ui-bizagi-render-date{
    padding-right: 22px !important;
}
.ui-bizagi-render-date-input
{
    position:relative;
    min-height: 28px;
    display: inline-block;
}
.ui-bizagi-wp-app-icon-date

.ui-bizagi-render-time {
    width: 75px !important;
}

.ui-bizagi-control .timeEntry_control {
    width: 20px;
    display: inline-block;
    background: url(plugins/other/images/timerEntrySpinner.png) no-repeat 0 0 !important;
    height: 20px;
}

.ui-bizagi-render-boolean-check {
    width: auto !important;
    border: 1px solid transparent;
}

/* Only for IE11 */
*::-ms-backdrop, .ui-bizagi-render-boolean-check {
    margin-left: 5px;
    margin-top: 5px;
}

.ui-bizagi-render-boolean-yesno,
.ui-bizagi-render-boolean-yesno .ui-bizagi-render-boolean-yesno {
    width: auto !important;
    display: inline-block;
    margin: 0 auto;
    text-align: left;
    min-height: 28px;
}

.ui-bizagi-render-boolean-yesno .ui-bizagi-render-boolean-yesno{
    white-space:nowrap;
}

.ui-bizagi-render-align-right .ui-bizagi-render-boolean-yesno .ui-bizagi-render-boolean-yesno {
    float: right;
}

.ui-bizagi-render-align-center .ui-bizagi-render-boolean-yesno .ui-bizagi-render-boolean-yesno {
    margin-right: auto;
    margin-left: auto;
}

.ui-bizagi-render-boolean-yesno .ui-radio {
    display: inline-block;
    padding-right: 10px;
    vertical-align: middle;
}

.ui-bizagi-rtl .ui-bizagi-render-boolean-yesno .ui-radio {
    float: right;
    padding-left: 10px;
}

.ui-bizagi-render-control .ui-selectmenu {
    /**
    display: inline-block;
    padding-right: 24px;
    /**/
}

/* Lists */

.ui-bizagi-wrapper-render-list {
    overflow-y: scroll;
    width: 100%;
    max-height: 106px;
}

.ui-bizagi-render-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 0;
}

.ui-bizagi-render-list-container {
    width: 30% !important;
}

.ui-bizagi-render-list li {
    margin: 3px;
    padding: 0.2em;
    height: 22px;
    line-height: 18px;
    cursor: pointer;
    display: table;
    width: 95%;
}

.ui-bizagi-rtl .ui-bizagi-render-list li {
    text-align: right;
}

.ui-selectmenu-menu .ui-bizagi-hidden {
    display: none;
}

.ui-selectmenu-menu .ui-bizagi-hidden * {
    display: none;
}

/* Radios */

.ui-bizagi-render-radio-container {
    width: 90% !important;
}

.ui-bizagi-render-radio {
    display: inline-block;
    width: 100%
}

.ui-bizagi-render-radio-item {
    display: inline-block;
}

.ui-bizagi-render-radio-vertical .ui-bizagi-render-radio-item {
    float: left;
    clear: both;
    width: auto;

}

/* Image Upload*/

.ui-bizagi-image-upload {
    width: auto;
}

/* geolocation control*/

.ui-geolocation {
    text-align: left;
}

.ui-geolocation > * {
    display: inline-block;
}

.ui-geolocation-cordinate {
    padding-right: 15px;
    max-width: 95%;
}

.ui-bizagi-render-geolocation {
    position: absolute;
    right: 5px;
}

.ui-geolocation .ui-icon {
    background-image: url('images/sprite.png');
    background-position: -284px -243px;
    cursor: pointer;
    height: 24px;
    width: 19px;
    margin-left: 15px;
}

.ui-geolocation .ui-icon:hover {
    opacity: 0.8;
}

/* Upload */

.ui-bizagi-render-upload {
    display: inline-block !important;
    width: 95% !important;
}

.ui-bizagi-render-upload ul {
    border: 1px solid transparent;
}

.ui-bizagi-render-upload-wrapper {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: .4em;
    text-align: center;
    vertical-align: middle;
}

.ui-bizagi-render-upload-wrapper > a {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.ui-bizagi-render-upload-wrapper > input {
    filter: alpha(opacity=0);
    width: 100px;
    left: -80px;
    position: absolute;
}

.ui-icon.upload-file {
    width: 20px;
    height: 20px;
    background: url(images/sprite.png) -294px -116px no-repeat;
    margin-top: 7px
}

.ui-icon.file-print {
    width: 20px;
    height: 24px;
    background: url(images/sprite.png) -337px -115px no-repeat;
    display: inline-block !important;
    float: left;
    padding: 0;
    margin-bottom: 4px;
}

.ui-bizagi-render-upload-wrapper:hover .ui-icon.upload-file,
.ui-icon.upload-file:hover {
    background-position: -314px -117px
}

.ui-bizagi-rendering-mode-design .ui-icon.upload-file {
    background-position: -294px -116px;
}

.ui-icon.ecm-file {
    width: 20px;
    height: 20px;
    background: url(images/sprite.png) -240px -420px no-repeat;
}

.ui-bizagi-render-upload-sendmail,
.ui-bizagi-render-documentgenerator-sendmail,
.ui-bizagi-render-ecm-sendmail {
    display: inline-block;
    width: 18px;
    height: 14px;
    margin: 3px 6px;
    background: url(images/sprite.png) -294px -422px no-repeat;
    vertical-align: top;
    cursor: pointer;

}

.ui-bizagi-render-ecm-sendmail:hover {
    background-position: -270px -422px;
}

.ui-bizagi-render-documentgenerator-sendmail {
    margin: 12px 6px;
}

.ui-bizagi-render-documentgenerator-sendmail + .ui-bizagi-div-button-documentgenerator {
    width: auto;
}

.ui-bizagi-render-ecm-sendmail + .biz-render-ecm-upload-wrapper {
    float: left;
    width: auto;
}

.ui-bizagi-render-upload-sendmail:hover {
    background-position: -270px -422px;
}

.ui-bizagi-rtl .ui-bizagi-render-upload-wrapper a span {
    right: 0;
}

.ui-bizagi-render-upload-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-width: 80px;
}

.ui-bizagi-render-upload-item {
    overflow: hidden;
    position: relative;
    height: 20px;
    margin-bottom: .4em;
    border: 0 !important;
    background: transparent !important;
}

.ui-bizagi-render-upload-item a {
    overflow: hidden;
    display: inline-block;
    /*width: 100%;*/
    padding: 0;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: normal;
    vertical-align: middle;
}

.ui-bizagi-render-upload-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    cursor: pointer;
}

.ui-bizagi-render-upload-icon:hover {} 

.ui-bizagi-render-upload-item .ui-bizagi-render-upload-icon {
    /*position: absolute;*/
    display: none;
    position: absolute;
    right: 0;
    top: 4px;
}

.ui-bizagi-render-upload-item-delete {} 

.ui-bizagi-render-upload-item-mail {} 

.ui-bizagi-render-upload-item:hover .ui-bizagi-render-upload-item-delete {
    /*top: 4px  !important;
    right: 10px  !important;*/
    /*float:right;*/
    display: inline-block;
    vertical-align: middle;
}

.ui-bizagi-render-upload-item .ui-bizagi-render-upload-item-mail {
    top: 4px !important;
    right: 30px !important;
}

.ui-bizagi-render-upload-dialog .ui-bizagi-title {
    display: block;
    border-bottom: 1px solid gray;
    height: 20px;
    font-size: larger;
}

.ui-bizagi-render-upload-dialog form {
    padding-top: 10px;
    position: relative;
}

.ui-bizagi-render-upload-dialog form input[type=file] {
    visibility: hidden;
}

.ui-bizagi-render-upload-dialog form label {
    position: absolute;
    left: 0;
    height: 19px;
    border: 1px solid gray;
    display: inline-block;
    background-color: #FFF;
    right: 103px;
    top: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui-bizagi-render-upload-dialog form button {
    position: absolute !important;
    right: 15px;
}

.ui-bizagi-render-upload-dialog-noflash .ui-bizagi-title {
    display: block;
    border-bottom: 1px solid gray;
    height: 20px;
    font-size: larger;
}

.ui-bizagi-render-upload-dialog-noflash form {
    padding-top: 10px;
    position: relative;
}

.ui-bizagi-render-upload-dialog-noflash form input[type=file] {
    visibility: visible;
    text-align: center;
    width: 97%;
}

.ui-bizagi-render-upload-dialog-noflash form label {
    position: absolute;
    left: 0;
    height: 19px;
    border: 1px solid gray;
    display: inline-block;
    background-color: #FFF;
    right: 103px;
    top: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui-bizagi-render-upload-dialog-noflash form button {
    position: absolute !important;
    right: 15px;
}

.ui-bizagi-render-upload-dialog-noflash #alert-file-upload {
    width: 100%;
    border-radius: 4px;
    background-color: #c00;
    color: #fff;
    padding: 3px;
    display: none;
}

.ui-bizagi-render-image-image {
    position: relative;
    height: auto;
    width: auto;
}

.ui-bizagi-render-image-image:hover .ui-bizagi-render-upload-item-delete {
    visibility: visible;
}

.ui-bizagi-render-image-image .ui-bizagi-render-upload-item-delete {
    background-color: #F4F4F4;
    border: 1px solid #555;
    border-radius: 5px 5px 5px 5px;
    left: 0;
    position: absolute;
    visibility: hidden;
}

.ui-bizagi-render-upload-wrapper .image-file {
    background-image: url(images/image_water_mark_256x256.png);
    background-size: 100% auto;
    width: 32px;
    height: 32px;
    display: block;
}

.ui-bizagi-render-image-wrapper {
    min-height: 35px;
}

.ui-bizagi-render-image-item {
    border: 0 !important;
    padding: 3px 30px 3px 3px;
    position: relative;
    height: auto;
    width: auto;
    overflow: hidden;
    background: transparent !important;
    margin-bottom: 2px;
}

.ui-bizagi-render-upload-wrapper .ui-bizagi-render-upload-queue.image-queue,
.ui-bizagi-render-upload-wrapper.image-wrapper > a {
    position: relative;
}

.ui-bizagi-render-upload-wrapper .ui-bizagi-render-upload-queue.image-queue > div {
    display: block;
    width: 100%;
    color: #444;
}

.ui-bizagi-render-upload-wrapper.image-wrapper {
    height: 100%;
    width: 100%;
    display: block !important;
    position: relative;
}

.ui-bizagi-render-display-cell .ui-bizagi-render-upload-wrapper{
    display: inline-table !important;
}

.ui-bizagi-render-upload-wrapper.image-wrapper .img {
    border: 1px solid #D4D4D4;
    padding: 8px 8px 2px ;
    background-color: #EDEDED;
    border-radius: 2px;
    box-shadow: 0 3px 5px #999;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.ui-bizagi-render-upload-wrapper.image-wrapper .img img {
    margin: 0;
    padding: 0;
}

.ui-bizagi-render-upload-wrapper.image-wrapper object {
    position: absolute !important;
    top: 0;
    left: 0;
    height: 100% !important;
}

.ui-bizagi-render-upload-wrapper .resizable-html5 {
    border: 1px solid #D4D4D4;
    padding: 8px;
    background: #DDD url('images/image_water_mark_32x32.png') no-repeat center center;
    border-radius: 5px;
    box-shadow: 0 1px 3px #999;
    width: 48px;
    height: 48px;
    display: block;
    margin-bottom: 5px !important;
    margin-right: 5px !important;
    min-height: 25px;
}

.ui-bizagi-render-upload-wrapper .image-file {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(images/image_water_mark_256x256.png);
    background-size: 100% auto;
}

.ui-bizagi-render-upload-wrapper .image-file.w-size-32 {
    background-image: url(images/image_water_mark_32x32.png);
}

.ui-bizagi-render-upload-wrapper .image-file.w-size-48 {
    background-image: url(images/image_water_mark_48x48.png);
}

.ui-bizagi-render-upload-wrapper .image-file.w-size-64 {
    background-image: url(images/image_water_mark_64x64.png);
}

.ui-bizagi-render-upload-wrapper .image-file.w-size-128 {
    background-image: url(images/image_water_mark_128x128.png);
}

.ui-bizagi-render-align-right .image-wrapper {
    /*float: right !important;*/
    text-align: right;
}

.ui-bizagi-render-align-left .image-wrapper {
    /*float: left  !important;*/
    text-align: left;
}

.ui-bizagi-render-align-center .image-wrapper {
    /*margin-left: 30%  !important;*/
    text-align: center;
}

.ui-bizagi-render-upload-queue.image-queue {
    position: absolute;
    top: 0;
    left: 0;
}

.image-wrapper .uploadify {
    position: absolute;
    top: 0;
    left: 0;
}

.ui-bizagi-render-upload-container .uploadify {
    position: relative;
    top: 0;
    left: 0;
}

.ui-bizagi-render-upload-container #no-files{
    white-space:nowrap;
}

.ui-bizagi-render-upload-queue.image-queue .uploadify-queue-item {
    width: 128px;
}

.ui-bizagi-render-upload-queue.image-queue .uploadify-queue-item .cancel,
.ui-bizagi-render-upload-queue.image-queue .uploadify-queue-item .percentage {
    display: none;
}

/* Grids*/

.ui-jqgrid-title {
    min-height: 18px;
}

.ui-jqgrid .ui-jqgrid-htable TH DIV {
    height: auto !important;
    white-space: normal;
}

.ui-jqgrid .ui-jqgrid-btable {
    border-collapse: separate !important;
}

.ui-jqgrid tr.jqgrow td {
    border-bottom: none !important;
}

.ui-jqgrid tr.ui-row-ltr td {
    border-right: none !important;
}

.ui-bizagi-render-grid-norecords {}

.ui-bizagi-render-grid-norecords .ui-widget-header {
    height: 24px;
    line-height: 24px;
    padding: 1px 8px;
    float: none !important;
}

.ui-bizagi-render-grid-norecords label {
    display: block;
    height: 24px;
    line-height: 24px;
    padding: 8px;
}

.ui-bizagi-render-grid-add {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    text-decoration: underline;
    padding-left: 8px;
}

.ui-bizagi-render .ui-jqgrid {
    /*margin-top: 15px;
    box-shadow: 0 0 2px #abb0a4;*/
    border-radius: 6px;
}

.ui-bizagi-render-grid-header-search {
    position: absolute;
    right: 20px;
    width: 200px;
    top: 3px;
}

.ui-bizagi-render-grid-header-search input {
    width: 170px;
    height: 19px;
}

.ui-bizagi-render-grid-header-search .ui-icon {
    position: absolute;
    right: 10px;
    top: 0;
    cursor: pointer;
}

/* Grid cell layouts */

.ui-bizagi-cell-icon .ui-icon {
    display: none;
}

/* adding left padding for grids */

table>tbody>tr>.ui-bizagi-cell>div {
    margin-left: 0;   /*10px;*/
    margin-right: 0;  /*10px;*/
}

.ui-bizagi-cell-icon {
    display: inline-block;
    height: 100%;
    width: 24px;
    position: absolute;
    left: 0;
}

.ui-bizagi-cell-icon-right {
    left: auto;
    right: 5px;
}

.jqgrow td {
    position: relative;
    padding: 0 5px;
    line-height: 22px;
    white-space: normal !important;
}

.ui-bizagi-cell {
    position: relative;
    top: 0;
    width: 100%;
    padding: 0 !important;
    min-height: 22px;
}

.ui-bizagi-cell-combo {
    padding: 0 !important;
}

.ui-bizagi-cell-search {
    height: 22px !important;
}

.ui-bizagi-cell .ui-bizagi-render {
    /* margin: 2px; */
    width: 100%;
    height: auto;
    padding: 0;
    display: block;
    position: relative;
}

.ui-bizagi-cell .ui-bizagi-render-control {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 0 solid transparent;
}

.ui-bizagi-editable-row {
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    border-left: 1px solid red;
}

.ui-bizagi-cell-readonly {
    display: block;
    line-height: 22px;
    margin-left: 5px;
    margin-right: 5px;
    max-height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.ui-bizagi-cell-readonly-hovered {
    background-color: transparent !important;
}

.jqgroup.ui-row-ltr .ui-bizagi-cell-readonly {
    display: inline-block;
}

/* Grid column render styles*/

.ui-bizagi-cell .ui-bizagi-render-text {
    width: 100%;
    height: 100%;
    border: 0 solid transparent;
    background-color: transparent;
    padding: 2px 0;
}

.ui-bizagi-grid-cell .ui-bizagi-render-text {
    width: auto;
}

.ui-bizagi-cell .ui-bizagi-render-text:focus {
    border: 0 solid transparent !important;
}

.ui-bizagi-cell .ui-bizagi-render-text-extended:focus {
    border: 0 solid transparent !important;
}

.ui-bizagi-cell .ui-bizagi-render-text-extended {
    width: 100%;
    height: 100%;
    border: 0 solid transparent;
    background-color: transparent;
    max-height: 150px;
    overflow-y: auto !important;
}

.ui-bizagi-cell .ui-bizagi-render-numeric {
    width: 98%;
    height: 100%;
    border: 0 solid transparent;
    background-color: transparent;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.ui-bizagi-cell .ui-bizagi-render-date {
    width: 98% !important;
    height: 100%;
    border: 0 solid transparent;
    background-color: transparent;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.ui-bizagi-cell .ui-bizagi-render-date:focus {
    border: 0 solid transparent !important;
}

.ui-bizagi-cell .ui-bizagi-render-boolean-check {
    border: 0 solid transparent !important;
    width: 100% !important;
}

.ui-bizagi-cell .ui-bizagi-render-boolean-yesno {
    display: inline !important;
}

.ui-bizagi-cell .ui-checkbox {
    height: 100%;
    width: 28px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.ui-bizagi-cell .ui-checkbox input {
    height: auto;
    width: auto !important;
    text-align: left;
}

.ui-bizagi-cell .ui-checkbox label {
    /* height: 100%;
     width: 100%;*/
}

.ui-bizagi-cell .ui-bizagi-render-control .ui-selectmenu {
    min-width: 0;
    display: inline-block;
    padding-right: 0;
    width: 98%;
}

.ui-bizagi-cell .ui-autocomplete-input {
    height: 100%;
    display: inline-block;
    padding: 0;
    float: left;
}

.ui-bizagi-cell .ui-bizagi-render-combo-button {
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
}

.ui-bizagi-cell .ui-selectmenu {
    width: 98%;
}

.ui-bizagi-cell .ui-bizagi-render-upload-container {
    min-width: 0;
    display: block;
    width: 100%;
}

.ui-bizagi-cell .ui-bizagi-render-upload-container div {
    float: left;
}

.ui-bizagi-cell .ui-bizagi-render-upload-container li.ui-bizagi-render-upload-wrapper {
    width: auto
}

.ui-bizagi-cell .ui-bizagi-render-upload-container li a {
    display: block;
}

.ui-bizagi-rtl .bz-rn-grid-cn-header .bz-rn-grid-header-title {
    float: right;
}

.bz-rn-grid-data-wraper {
    overflow-x: auto;
    width: 100%;
    display: block;
    min-height: 0% !important;
}

.bz-rn-grid-data-wraper-fix-w8 {
    padding-bottom: 15px;
}

.bz-rn-grid-data-wraper-fix-w8-scroll {
    overflow-x: hidden;
}

#tooltipPagination {
    background-color: #F4F4F4;
    height: 17px;
    text-align: center;
    visibility: hidden;
    width: 86px;
}

/* Search*/

.ui-bizagi-render-search {
   width: 100%;
}

.ui-bizagi-render-search::-ms-clear {
    display: none;
}

.ui-bizagi-advanced-search {
    vertical-align: middle;
    display: inline-block;
}

.ui-bizagi-advanced-search .ui-bizagi-render-search {
    width: 100%;
    vertical-align: middle;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

.ui-bizagi-advanced-search .ui-bizagi-render-search-button,
.ui-bizagi-render-search-button {
    position: absolute;
    top: 0;
}

.ui-bizagi-advanced-search .ui-bizagi-render-search-button {
    right: -23px;
}

.ui-bizagi-advanced-search .ui-bizagi-render-search-button {
    width: 23px;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    min-width: 23px;
    min-height: 24px;
    padding: 1px;
    height: 100%;
}

.ui-bizagi-render-search-cell {
    display: block;
    margin-right: 24px;
    position: relative;
}

.ui-bizagi-render-control .ui-bizagi-render-icon-search,
.ui-bizagi-advanced-search .ui-bizagi-render-icon-search,
.ui-bizagi-display-as-search .ui-bizagi-render-icon-search {
    background: url(images/sprite.png) -7px -149px no-repeat;
    width: 16px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    top: 25%;
    right: 10px;
}

.ui-bizagi-render-control .ui-bizagi-render-withhelp-icons,
.ui-bizagi-advanced-search .ui-bizagi-render-withhelp-icons,
.ui-bizagi-display-as-search .ui-bizagi-render-withhelp-icons {
    position: absolute;
    top: 1px;
    right: 0px;
}

.ui-bizagi-advanced-search .ui-bizagi-render-search-button .ui-bizagi-render-icon-search {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 0;
    right: -1px;
}

.ui-bizagi-document-preview .ui-bizagi-render-icon-search {
    top: 3px;
    right: 3px;
}

* .ui-autocomplete {
    border: 1px solid #CCC !important;
}

.ui-bizagi-container-form .ui-autocomplete {
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 350px;
    max-height: 165px;
    background-color: #ececec;
}

.ui-autocomplete .ui-bizagi-render-search-item.ui-menu-item {
    width: 100% !important;
}

.ui-bizagi-render-search.ui-autocomplete-input {
    background-color: #FFF;
}

.ac-is-visible,
.ui-bizagi-render .ac-is-visible {

    overflow: visible;

}

.ac-clear-floats:before,
.ac-clear-floats:after {
    content: "";
    display: table;
}

.ac-clear-floats:after {
    clear: both;
}

.biz-ui-even {
    background-color: #E2E1E1;
}

.ui-bizagi-render-search-item-icon {
    list-style-type: none;
    float: left;
    padding-right: 10px;
    cursor: pointer;
}

.ui-bizagi-render-search-item {
    padding: 5px;
    list-style-type: none;
    margin: 0;
    zoom: 1;
    overflow: hidden;
    cursor: pointer;
    width: auto;
}

.ui-bizagi-render-search-item a {
    border: 1px solid transparent;
}

.ui-bizagi-render-search-item-label {
    margin: 2px 15px 2px 5px;
    line-height: 18px;
    display: inline-block;
    cursor: pointer;
    text-overflow: ellipsis;
}

.ui-bizagi-render-search-item-special {
    margin-left: 5px;
    display: inline-block;
    cursor: pointer;
    display: block;
    width: 100%;
    height: 32px;
    /*background-color: #f8f8f8;*/
    border-top: 1px solid #EEE;
}

.ui-bizagi-render-search-item-special .ui-bizagi-render-search-item-label {
    line-height: 32px !important;
    padding-left: 10px;
    font-weight: bold;
}

/* Search container */

.ui-bizagi-dialog-search .ui-bizagi-container-form {
    height: 100%;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.ui-bizagi-dialog-search .ui-bizagi-container-tab {
    height: 100%;
    z-index: 1;
}

.ui-bizagi-dialog-search .ui-bizagi-container-tabItem {
    padding: 0 !important;
    height: 95%;
}

.ui-bizagi-dialog-search .ui-bizagi-container-search-form {
    width: 98%;
    padding: 0 10px;
    margin: 0;
    position: relative;
    left: 0%;
    top: 0%;
    height: 100%;
    border: 0 none transparent;
}

.ui-bizagi-dialog-search .ui-bizagi-container-form {
    padding: 0;
    margin: 0;
    height: 99.5%;
    display: table;
}

.ui-bizagi-dialog-search {
    width: 100%;
    height: 97%;
}

.ui-bizagi-container-search-criteria {
    padding-top: 20px;
    padding-bottom: 20px;
}

.ui-bizagi-container-search-results {
    display: none;
}

.ui-bizagi-container-search-results .ui-bizagi-render {
    width: 100%;
}

.ui-bizagi-container-search-results .ui-bizagi-control {
    width: 100%;
}

.ui-bizagi-container-search-results .ui-bizagi-render-control {
    width: 95%;
}

.ui-bizagi-container-search-results .ui-jqgrid {
    margin-top: 0 !important;
    margin-left: 0 !important;
}

.ui-bizagi-container-search-results .ui-jqgrid .jqgrow {
    cursor: pointer;
}

.ui-bizagi-letter-dialog-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.ui-bizagi-letter-dialog-container table {
    border-collapse: collapse;
    border: 1px solid #000;
    width: 100%;
}

.ui-bizagi-letter-dialog-container table td,
.ui-bizagi-letter-dialog-container table th {
    border: 1px solid #000;
}

.ui-bizagi-letter-dialog-container table tr:first-child th {
    border-top: 0;
}

.ui-bizagi-letter-dialog-container table tr:last-child td {
    border-bottom: 0;
}

.ui-bizagi-letter-dialog-container table tr td:first-child,
.ui-bizagi-letter-dialog-container table tr th:first-child {
    border-left: 0;
}

.ui-bizagi-letter-dialog-container table tr td:last-child,
.ui-bizagi-letter-dialog-container table tr th:last-child {
    border-right: 0;
}

#ui-bizagi-rtfeditor {
    width: 100%;
    height: 100%;
}

/* ASSOCIATION CONTROL */

/*---------------------*/

.bz-render-association {
    list-style: none;
    padding: 0;
}

.bz-render-association .ui-accordion .ui-accordion-content {
    padding: 0;
}

.bz-render-association .ui-accordion .ui-accordion-header.ui-state-active {
    background-color: #BFC5C8;
}

.bz-render-association .bz-render-association-left-container,
.bz-render-association .bz-render-association-right-container {
    min-width: 300px;
}

.bz-render-association .bz-render-association-left-container li:nth-child(2n) {
    background-color: #DADADA;
}

.bz-render-association .bz-render-association-left-container li:hover,
.bz-render-association .bz-render-association-right-container li:hover {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #B1B8BC;
    background-image: url("images/lines.png"), -moz-linear-gradient(center top, #BFC5C8 0%, #9BA4A8 100%);
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    cursor: pointer;
}

.bz-render-association .bz-render-association-left-container li,
.bz-render-association .bz-render-association-right-container li {
    background: none repeat scroll 0 0 #E6E6E6;
    display: block;
    border-top: 1px solid #CACACA;
    padding: 3px;
    color: #2F526C;
    color: #444;
    font-size: 120%;
}

.bz-render-association .bz-render-association-right-container li {
    cursor: move;
    margin-left: 20px;
}

.bz-render-association li {
    display: inline-block;
    vertical-align: top;
}

.bz-render-association .group {
    margin: 3px;
}

.bz-render-association .group a {
    padding-left: 25px;
}

.bz-render-association-center-container {
    background-color: #AAA;
    border-radius: 4px;
    width: 16px;
    display: block;
}

.bz-render-association-left-container .flip-arrow {
    background-image: url("images/ui-icons_469bdd_256x240.png");
    background-color: transparent;
    background-position: -112px -80px;
    height: 16px;
    width: 16px;
    display: block;
    border: none;
    border-left: 1px solid #AAA;
    border-radius: 0;
}

.bz-render-association .bz-render-association-left-container > h3,
.bz-render-association .bz-render-association-right-container > h3 {
    text-align: center;
    height: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    border-radius: 3px;
}

.bz-render-association .left-arrow {
    cursor: pointer;
    float: left;
    left: -24px;
    position: relative;
}

.bz-render-association .left-container {
    min-height: 50px;
}

.bz-render-association .left-container ol {
    min-height: 50px;
    padding: 0;
}

.bz-render-association .ui-droppable {
    margin: 0;
    padding: 0;
}

.bz-render-association .ui-widget-content ul {
    margin: 0;
    padding: 5px;
}

.bz-render-association >.ui-widget-header {
    width: 300px;
    height: 20px;
    text-align: center;
}

.bz-render-association .ui-accordion-header {
    background: none repeat scroll 0 0 #E6E6E6;
    border: 1px solid #cacaca;
    background: url("images/bgwidget.gif") repeat-x scroll 0 -50px #E6E6E6;
    border: 1px solid #D3D3D3;
    color: #555;
}

.bz-render-association .bz-render-association-accordion {
    padding: 0;
    margin: 0;
}

.ui-draggable-dragging {
    list-style: none;
    border: 1px solid #CACACA;
    border-radius: 3px;
    margin-top: 2px;
    padding: 3px;
    color: #2F526C;
    background-color: #91C3DA;
}

.bz-render-association .ui-icon-grip-dotted-vertical {
    display: inline-block;
}

.bz-render-association .deleteBotton {
    float: right;
    cursor: pointer;
}

.bz-render-association .flip-arrow {
    cursor: pointer;
    float: right;
}

.bz-render-association .bz-render-association-check-mask {
    width: 26px;
    height: 16px;
    background-image: url("images/checkbox.png");
    background-repeat: no-repeat;
    background-position: 0 -1px;
    display: inline-block;
}

.bz-render-association input {
    display: none;
}

.bz-render-association .checked {
    background-position: 0 -51px;
}

.bz-render-association .unchecked {
    background-position: 0 -1px;
}

.read-only .deleteBotton {
    cursor: auto;
    display: none;
}

.read-only .bz-render-association-left-container li,
.read-only .bz-render-association-right-container li {
    display: block;
    border: 1px solid #CACACA;
    border-radius: 3px;
    margin-top: 2px;
    padding: 3px;
    color: #2F526C;
    font-size: 120%;
    cursor: auto;
}

.read-only .left-container ol {
    padding: 0;
}

.read-only .bz-render-association-check-mask,
.read-only .bz-render-association-checK {
    display: none;
}

/* ECM CONTROL */

/*-------------*/

.biz-render-ecm-view-default {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 15px;
    padding: 0;
    min-width: 340px;
}

.biz-render-ecm-view-default .ui-bizagi-loading-message {
    height: auto;
}

.biz-render-ecm-view-default .waiting {
    background-image: url("images/waiting.gif");
    background-repeat: no-repeat;
    height: 50px;
    width: 150px;
    background-attachment: scroll;
    background-position: 50% 50%;
    border-radius: 0 8px 8px 0;
    height: 43px;
}

.biz-render-ecm-view-default table {
    width: 100%;
}

.biz-render-ecm-view-default > li {
    list-style: none;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #dadada;
    border-radius: 0 10px 10px 10px
}

.biz-render-ecm-view-default > .thumb-image-wrapper {
    background: linear-gradient(to bottom, #FFF 0%, #F5F5F5 50%) repeat scroll 0 0 transparent;
    display: inline-block;
    border: 1px solid #dadada;
    border-radius: 8px 0 0 8px;
    padding: 4px;
    left: 4px;
    position: relative;
    width: 14%;
}

.biz-render-ecm-view-default > .meta-data-wrapper {
    max-width: 350px;
    min-width: 200px;
    background: linear-gradient(to bottom, #FFF 0%, #F5F5F5 50%) repeat scroll 0 0 transparent;
    width: 85%;
}

.biz-render-ecm-view-default tr {
    padding: 6px;
    border-bottom: 1px solid #dadada;
}

.biz-render-ecm-view-default dt:last-of-type {
    border-bottom: 0;
}

.biz-render-ecm-view-default td {
    width: auto;
    min-width: 80px;
    padding: 5px;
}

.biz-render-ecm-view-default td.ecm-metadata-key {
    width: 80px;
}

.biz-render-ecm-view-default td.ecm-metadata-key.mandatory {
    font-weight: normal;
}

.biz-render-ecm-view-default td.ecm-metadata-key.mandatory-error {
    color: #c00;
    font-weight: normal;
}

.biz-render-ecm-view-default td.ecm-metadata-value {
    width: 100%;
    max-width: 245px;
    color: #444 !important;

}

.biz-render-ecm-view-default .ecm-metadata-key {
    color: #000 !important;
}

.biz-render-ecm-view-default tr:last-of-type {
    border-bottom: 0;
}

.biz-render-ecm-view-default tr:hover .ecm-metadata-edit {
    visibility: visible;
    background-image: url("images/ui-icons_469bdd_256x240.png");
    cursor: pointer;
}

.biz-render-ecm-view-default .ecm-metadata-edit,
.biz-render-ecm-view-default .ecm-metadata-done,
.biz-render-ecm-view-default .ecm-metadata-cancel {
    cursor: pointer;
    display: inline-block;
    float: right;
    visibility: hidden;
    background-image: url("images/ui-icons_469bdd_256x240.png");
}

.biz-render-ecm-view-default .ecm-metadata-input {
    background: url("images/bgInputs.png") repeat-x scroll 0 0 #F2F2F2;
    color: #666;
    border: 0;
    width: 100%;
}

.biz-render-ecm-view-default .ecm-file-name {
    border-bottom: 1px solid #dadada;
    height: 23px;
    font-weight: bold;
    line-height: 21px;
}

.biz-render-ecm-view-default .filename {
    position: absolute;
    display: block;
    cursor: pointer;
    margin-left: 4px;
}

.biz-render-ecm-view-default .filename ul {
    list-style: none;
    padding: 0;
}

.biz-render-ecm-view-default .filename li {
    display: inline-block;
}

.biz-render-ecm-view-default .emc-options {
    width: 20px;
    height: 23px;
    border-radius: 0 6px 0 0;
    float: right;
    cursor: pointer;
    background: url("images/dots_columns.png") repeat scroll 0 0 #e5e5e5;
}

.biz-render-ecm-view-default .emc-options:hover span {
    background-image: url("images/ui-icons_469bdd_256x240.png");
}

.biz-render-ecm-view-default .emc-options span {
    position: relative;
    top: 2px;
}

.modal-ecm .ecm-options-slide {
    display: inline-block;
    float: left;
    display: none;
    min-width: 95px;
}

.modal-ecm .ecm-options-slide ul {
    /*padding: 0;
    background: url("images/dots_columns.png") repeat scroll 0 0 #e5e5e5;*/
    background: none repeat scroll 0 0 #E6E6E6;
    border: 1px solid #98A1A8;
    border-radius: 6px;
    padding: 1px;
    position: relative;
}

.modal-ecm .ecm-options-slide li {
    list-style: none;
    border: 0;
    /*display: inline-block;*/
    padding: 4px;
    cursor: pointer;
    color: #444;
    line-height: 11px;
    text-align: left;
}

.modal-ecm .ecm-options-slide li:nth-child(2n) {
    background-color: #DADADA;
}

.modal-ecm .ecm-options-slide li:last-child,
.modal-ecm .ecm-options-slide li:first-child {
    border-radius: 6px 0;
}

.modal-ecm .ecm-options-slide-hover {
    color: #469bdd;
    /*text-shadow: 0 0 3px #C7E1F5;*/
    background: url("images/dots_columns.png") repeat scroll 0 0 #efefef;
}

.modal-ecm .ecm-options-slide-hover .ui-icon {
    background-image: url("images/ui-icons_469bdd_256x240.png");
}

.modal-ecm .ecm-options-slide .ui-icon {
    float: left;
    position: relative;
    top: -1px;
}

.modal-ecm .ecm-options-upgrade {
    position: relative;
}

.modal-ecm .ecm-options-upgrade object {
    position: absolute !important;
    top: 0 !important;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.biz-render-ecm-view-default .ecm-options-upgrade div {
    display: inline-block
}

.biz-render-ecm-view-default .ecm-options-upgrade object {
    height: 21px;
    left: 0;
    position: absolute;
    width: 100%;
}

.biz-render-ecm-delete-confirmation {
    display: none;
    width: 400px;
    height: 300px;
}

.biz-render-ecm-upload-wrapper {
    display: inline-block;
    height: 24px;
}

.biz-render-ecm-attach-icon {
    display: inline-block;
    background-image: url("images/attach.png");
    background-position: 0 0;
    width: 16px;
    height: 16px;
}

.biz-render-ecm-upload-button {
    color: #555;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.35);
    background-image: -moz-linear-gradient(center top, #E5E5E5 0%, #9E9E9E 100%) !important;
    background-image: -webkit-linear-gradient(center top, #E5E5E5 0%, #9E9E9E 100%) !important;
    background-image: linear-gradient(center top, #E5E5E5 0%, #9E9E9E 100%) !important;
    border: 1px solid #999;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3) inset;
    cursor: pointer;
    margin-right: 0;
    overflow: visible;
    padding: 0;
    text-align: center;
    position: absolute;
    line-height: 50%;
}

.biz-render-ecm-upload-button:hover {
    color: #fff;
    background-image: -moz-linear-gradient(center top, #768593 0%, #4D535B 100%) !important;
}

.ui-bizagi-render-upload-queue .uploadifyQueueItem {
    background-color: #f5f5f5;
    border: 1px solid #dadada;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 6px;
    padding: 10px;
    width: 370px;
}

.biz-render-ecm-upload-boolean {
    display: inline-block;
    width: 140px;
}

.biz-render-ecm-upload-boolean label {
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
}

.biz-render-ecm-upload-boolean input {
    margin-right: 5px;
}

.biz-render-ecm-metadata-edit {
    display: inline-block;
    background-color: #EEE;
    width: 100%;
    border-radius: 0 6px;
    text-align: center;
}

.biz-render-ecm-metadata-edit button {
    border-radius: 3px;
    background-color: #a5afb8;
    background-image: -moz-linear-gradient(center top, #a5afb8 0%, #c1c8ce 100%);
    background-image: -webkit-linear-gradient(center top, #a5afb8 0%, #c1c8ce 100%);
    background-image: linear-gradient(center top, #a5afb8 0%, #c1c8ce 100%);
    color: #333;
    border: 1px solid #999;
    margin: 3px 10px;
    padding: 2px 10px;
    cursor: pointer;
}

.biz-render-ecm-metadata-edit button:hover {
    background-color: #929ea9;
    background-image: -moz-linear-gradient(center top, #929ea9 0%, #a5afb8 100%);
    background-image: -webkit-linear-gradient(center top, #929ea9 0%, #a5afb8 100%);
    background-image: linear-gradient(center top, #929ea9 0%, #a5afb8 100%);
    color: #efefef;
}

.extension {
    background-image: url("images/file_extensions_sprite_32.png");
    background-position: 0 -384px;
    width: 32px;
    height: 32px;
    display: inline-block;
    cursor: pointer;
}

.checkuot {
    background-position: 0 -416px;
    /*position: absolute;*/
    visibility: hidden;
}

.checkuot.minicheckout {
    background-position: -16px -432px;
    height: 16px;
    width: 18px;
    visibility: hidden;
    display: none;
    position: relative;
    top: 3px;
}

.readonly {
    background-position: 0 -448px;
    position: absolute;
    visibility: hidden;
}

.readonly.minireadonly {
    background-position: -14px -463px;
    height: 16px;
    width: 16px;
    visibility: hidden;
    display: none;
    position: relative;
    top: 3px;

}

.doc, .docx, .odt {
    background-position: 0 0;
}

.eml {
    background-position: 0 -32px;
}

.fla, .swf {
    background-position: 0 -64px;
}

.xls, .xlsx {
    background-position: 0 -96px;
}

.zip {
    background-position: 0 -128px;
}

.pps, .ppt {
    background-position: 0 -160px;
}

.jar {
    background-position: 0 -192px;
}

.gz {
    background-position: 0 -224px;
}

.pdf {
    background-position: 0 -256px;
}

.rtf {
    background-position: 0 -288px;
}

.rar {
    background-position: 0 -320px;
}

.txt {
    background-position: 0 -352px;
}

.thumb-image {
    background-image: none;
}

/*Ecm modal menu*/

.modal-ecm {
    position: fixed;
    z-index: 199;
    margin: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    /*bg gradient*/
    background: #37464f; /* Old browsers */
    background: -moz-linear-gradient(top, #37464f 20%, #161b1e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#37464f), color-stop(100%,#161b1e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #37464f 20%,#161b1e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #37464f 20%,#161b1e 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #37464f 20%,#161b1e 100%); /* IE10+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37464f', endColorstr='#161b1e',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #37464f 20%,#161b1e 100%); /* W3C */
    /*box shadow*/
    -webkit-box-shadow: 0 0 5px 0 #000;
    -moz-box-shadow: 0 0 5px 0 #000;
    box-shadow: 0 0 5px 0 #000;
    border: 1px solid #51616A;
    display: none;
}

.ui-select-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

.ui-select-dropdown li {
    border: solid 1px transparent;
    border-bottom: solid 1px rgba(0, 0, 0, 0.05);
    line-height: 24px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #FFF;
}

.ui-select-dropdown li.active {
    background-color: #F2F4F7;
    border: solid 1px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    position: relative;
}

/*.ui-select-dropdown li.active:before{
    content: "";
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid red;
    position: absolute;
    left: 0;
    top: 30%;
}*/

.ui-select-dropdown li.active:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 4px solid red;
    position: absolute;
    right: 0;
    top: 30%;
}

.ui-select-dropdown li.ui-selected {
    background-color: #dadada;
    font-weight: bold;
    border: solid 1px rgba(0, 0, 0, 0.25);
}

.ui-select-dropdown li:hover {
    background-color: #dadada;
    border: solid 1px rgba(0, 0, 0, 0.1);
}

.ui-select-dropdown.open {
    line-height: normal;
    z-index: 15;
    position: absolute;
    visibility: visible;
    max-height: 155px;
    overflow-y: auto;
    font-family: 'Segoe UI', 'NeoSansStdRegular', Arial, sans-serif;
    border: 1px solid #C6CACC;
    border-bottom: 1px solid #E2E3DF;
    color: #565656;
    background: rgb(255, 255, 255);
    -webkit-box-shadow: 0 1px 2px 0 rgba(194, 197, 200, .32);
    box-shadow: 0 1px 2px 0 rgba(194, 197, 200, .32);
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.ui-select-dropdown.close {
    visibility: hidden;
}

.ui-select-dropdown.ui-bizagi-rtl li {
    text-align: right;
}

.ui-select-dropdown.ui-bizagi-rtl {
    direction: rtl;
}

.ui-bizagi-render-upload-wrapper .resizable_img {
    border: 1px solid #D4D4D4;
    padding: 8px;
    background: #DDD url('images/image_water_mark_32x32.png') no-repeat center center;
    border-radius: 5px;
    box-shadow: 0 1px 3px #999;
    width: 48px;
    height: 48px;
    display: block;
    margin-bottom: 5px !important;
    margin-top: 3px;
}

.ui-bizagi-grid-align-center .ui-bizagi-render-upload-wrapper .resizable_img {
    margin-left: auto;
    margin-right: auto;
}

.modal-ecm .selectarrow {
    width: 13px;
    height: 9px;
    left: 50%;
    top: -9px;
    z-index: 500;
    position: absolute;
    margin-left: -7px;
    background: url(images/modalBgArrow.png) 0 0 no-repeat;
}

.ie8 .modal-ecm .selectarrow {
    background: url(images/modalBgArrowIE8.png) 0 0 no-repeat;
}

.modal-ecm .content {
    padding: 2px;
    background: url('images/dots_header.png') 0 0 repeat;
}

.modal-ecm .content ul {
    margin: 0;
    padding: 0;
}

.modal-ecm #modalTitle {
    color: #f5f5f5;
    font-size: 135%;
    font-family: 'Segoe UI', 'NeoSansStdRegular', Arial, sans-serif;
    font-weight: normal;
    float: left;
    margin-left: 10px;
    line-height: 31px;
    height: 31px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35);
}

/* Overrides in order to harmonize all the control's look'*/

.ui-bizagi-control .ui-bizagi-render-grid-container {
    width: 100%;
}

.ui-bizagi-render-control .ui-selectmenu {
    width: 100%;
    padding-right: 0;
}

.ui-select-dropdown .ui-selected {
    background-color: rgba(89, 103, 117, 0.25);
    font-weight: bold;
    border: solid 1px rgba(0, 0, 0, 0.25);
}

.ui-selectmenu {
    position: relative;
}

.ui-selectmenu:hover {
    background-color: #fff;
}

.ui-selectmenu .ui-selectmenu-value {
    line-height: 1.8em;
    padding-left: 4px;
    padding-top: 2px;
    padding-right: 18px;
    border: none;
    background: none;
    border: none!important;
    width: 100%;
}

.ui-selectmenu .ui-selectmenu-btn {
    position: absolute;
    min-width: 14px;
    display: inline-block;
    top: 0;
    right: 2px;
    height: 100%;
}

.ui-selectmenu .ui-selectmenu-value::-ms-clear {
    display: none;
}

.ui-bizagi-rtl .ui-selectmenu .ui-selectmenu-btn {
    right: auto;
    left: 2px;
}

.ui-bizagi-rtl .ui-selectmenu .ui-selectmenu-value {
    padding-right: 4px;
    padding-left: 18px;
}

.ui-selectmenu .biz-btn-caret {
    width: 0;
    height: 0;
    border-top: 3px solid #333;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    margin-top: 9px;
    margin-left: 4px;
    float: left;
}

.ui-select-data-container {
    padding-right: 18px;
}

.ui-dialog {
    min-width: 200px;
    background: #dedede url(images/dots_columns.png) repeat;
    width: 100%;
}

.ui-bizagi-render-control .ui-bizagi-render-numeric,
.ui-bizagi-render-control .ui-bizagi-render-date-only,
.ui-bizagi-render-control .ui-bizagi-render-text-extended,
.ui-bizagi-render-control .ui-bizagi-render-text,
.ui-bizagi-grid-cell .ui-selectmenu {
    width: 100%;
    min-width: 45px;
}

.ui-bizagi-render-align-right .ui-bizagi-render-control.ui-bizagi-render-grid-container {
    width: 100%;
}

/* Document Templates */

.ui-bizagi-render-documentgenerator {
    display: block;
}

.ui-bizagi-document-upload-item {} 

.ui-bizagi-document-upload-column-item {
    text-align: left;
}

.ui-bizagi-document-upload-item:hover .ui-bizagi-container-documents-item-delete {
    visibility: visible!important;
}

.ui-bizagi-document-upload-item-design-column {} 

.ui-bizagi-document-upload-item-design {
    padding-left: 56px;
}

.ui-bizagi-document-extension {
    background-image: url("images/file_extensions_sprite_32.png");
    background-position: 0 -520px;
    margin: 0.5em -0.5em -0.5em 0.5em;
}

.ui-bizagi-document-type {
    width: 16px;
    height: 16px;
    display: inline-block;
}

.ui-bizagi-document-upload-item-doc {
    background-position: -20px -482px;
}

.ui-bizagi-document-upload-item-xls {
    background-position: -20px -500px;
}

.ui-bizagi-document-upload-item-pdf {
    background-position: -4px -482px;
}

.ui-bizagi-document-upload-item-generic-file {
    background-position: -4px -500px;
}

.ui-bizagi-document-preview {
    height: 24px;
    width: 24px;
    top: 7px;
    position: relative;
    border: 0 solid transparent;
    cursor: pointer;
    display: none;
}

.ui-bizagi-button-documentgenerator {
    padding: .4em 1em;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-top: 5px;
    color: #555;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.35);
}

.ui-bizagi-button-documentgenerator:hover {
    color: #FFF
}

.ui-bizagi-div-button-documentgenerator {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.ui-bizagi-div-documentgenerator {
    width: 100%;
    display: block;
}

.ui-bizagi-container-documents {
    height: 100%;
    list-style: none;
    margin-top: 10px;
    overflow-y: hidden;
    padding: 0;
}

.ui-bizagi-container-documents-print {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.ui-bizagi-container-documents-item-delete {
    position: relative;
    right: 2px;
    top: 4px;
}

.ui-bizagi-container-documents li {
    position: relative;
}

.ui-bizagi-container-documents-columns {
    text-align: left;
}

.font-medium .ui-bizagi-container-documents a {
    margin: 0.1em 0 1.1em 0.1em;
}

.ui-bizagi-container-documents a {
    position: relative;
    display: inline-block;
    padding: 0.2em;
    margin: 0.1em 0 0.1em 0.1em;
    text-decoration: none;
    padding-left: 8px;
    transition: all .3s ease-out;
}

.ui-bizagi-container-documents a:hover {
    /* background: #eee; */
}

.ui-bizagi-container-documents a:before {
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #479;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

.ui-bizagi-container-documents a:after {
    position: absolute;
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;
}

.ui-bizagi-container-documents a:hover:after {
    left: 1px;
    border-left-color: #479;
}

.ui-bizagi-div-error-container .ui-bizagi-error-message {
    width: 100%;
    left: 2px;
    padding: 0 15px;
    font-size: 9px;
    margin: 3px 0;
}

.ui-bizagi-render-documentgenerator-sendmail:hover {
    background-position: -270px -422px;
}

/* Search list control */

/***********************/

.biz-render-searchlist .biz-render-input-search {
    background-color: transparent !important;
    border: 0 none !important;
    background: none !important;
    outline: medium none;
    vertical-align: middle;
    box-shadow: none;
}

.biz-render-searchlist .button-search {
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    background-image: url('images/form_window.png');
    background-position: 0 0;
    width: 20px;
    height: 20px;
    margin-left: 4px;
    margin-top: 4px;
    cursor: pointer;
}

.biz-render-searchlist a.closebutton {
    background-image: url('images/close.gif');
    background-position: 0 0;
    display: inline-block;
    height: 7px;
    width: 7px;
    margin-left: 7px;
    vertical-align: middle;
    cursor: pointer;
}

.biz-render-searchlist a.closebutton:hover {
    background-position: 0 7px;
}

.biz-render-searchlist ul {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    background-color: #FFF;
    border-radius: 3px 0 0 3px;
    border: 1px solid #C6CACC;
    border-bottom: 1px solid #E2E3DF;
    font-family: 'Segoe UI','NeoSansStdRegular', Arial, sans-serif;
    padding-left: 4px;
    color: #565656;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%);
    box-shadow: inset 0px 1px 2px 0 rgba(194, 197, 200, .4);
}

.biz-render-searchlist ul > li {
    display: inline-block;
}

.biz-render-searchlist ul li:not(:last-child) {
    padding: 0px 4px 2px 14px;
    background-color: #125673;
    color: #FFF;
    margin: 3px 3px 1px 1px;
    border-radius: 4px;
    height: 23px;
}

.biz-render-searchlist ul li.selected:not(:last-child) {
    background-color: #1b82ae;
}

.ui-button.ui-default-button:hover,
.ui-button.ui-default-button {
    filter: none;
}

.biz-dialog-send-email {
    padding-left: 55px;
    padding-top: 10px;
    margin-right: 30px;
}

.biz-dialog-send-email-title {
    padding: 3px 0;
}

.biz-dialog-send-email-row {
    width: 100%;
    padding-top: 2px;
    display: table;
}

.biz-dialog-send-email-row > label {
    width: 100px;
    display: table-cell;
    vertical-align: middle;
}

.biz-dialog-send-email-row > input[type="text"],
.biz-dialog-send-email-row > textarea {
    width: 100%;
    display: table-cell;
}

.biz-dialog-send-email-row > textarea {
    min-height: 80px;
}

@-moz-document url-prefix() {
    .ui-bizagi-render-control .ui-bizagi-render-icon-search,
    .ui-bizagi-advanced-search .ui-bizagi-render-icon-search,
    .ui-bizagi-display-as-search .ui-bizagi-render-icon-search{
        /*right: 0px;*/
    }
}

/* ==========================================================================
   Print style
   ========================================================================== */

/* Modal print preview
   ========================================================================== */

.bz-wp-widget-print * {
    -ms-filter: none !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    filter: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    background: #fff !important;
    color: #000 !important;
    font-size: 11px !important;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
    text-shadow: none !important;
}

.bz-wp-widget-print *:before,
.bz-wp-widget-print *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.bz-wp-widget-print a,
.bz-wp-widget-print a:visited {
    text-decoration: underline;
}

.bz-wp-widget-print pre,
.bz-wp-widget-print blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
}

.bz-wp-widget-print thead {
    display: table-header-group;
    /* h5bp.com/t */
}

.bz-wp-widget-print tr,
.bz-wp-widget-print img {
    page-break-inside: avoid;
}

.bz-wp-widget-print img {
    max-width: 100% !important;
}

@page {
    margin: 0.5cm;
}

.bz-wp-widget-print p,
.bz-wp-widget-print h2,
.bz-wp-widget-print h3 {
    orphans: 3;
    widows: 3;
}

.bz-wp-widget-print h2,
.bz-wp-widget-print h3 {
    page-break-after: avoid;
}

.bz-wp-widget-print h3 {
    padding: 8px 0;
    border-bottom: 1px solid;
    font-size: 14px !important;
    font-weight: bold;
    text-align: center;
}

.bz-wp-widget-print .ui-bizagi-container-form {
    padding: 0;
    border: 0 !important;
    margin: 0;
}

/* Container Group */

.bz-wp-widget-print .ui-bizagi-container-group {
    border: none;
    padding: 0;
}

.bz-wp-widget-print .ui-bizagi-container-group-header {
    cursor: default;
    font-weight: bold;
}

.bz-wp-widget-print .ui-icon {
    display: none;
}

.bz-wp-widget-print .ui-bizagi-render > span > label {
    color: #000 !important;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
}

.bz-wp-widget-print .ui-bizagi-button-container{
    display:none;
}

/* Case Details */

.ui-bz-print-case-details {
    padding: 20px 0;
    list-style: none;
}

.ui-bz-print-case-details li {
    padding: 4px 8px;
    border-bottom: 1px solid #F0F0F0;
    font-size: 11px;
}

.ui-bz-print-case-details li:nth-child(odd) {
    background-color: #f2f2f2 !important;
}

/* Searchlist */

.bz-wp-widget-print .biz-render-searchlist > ul {
    border-color: #000;
    list-style: none;
}

.bz-wp-widget-print .biz-render-searchlist li {
    display: block;
    list-style-type: square;
}

/* ECM Control */

.bz-wp-widget-print .ui-bizagi-render-upload .extension,
.bz-wp-widget-print .ui-bizagi-render-upload .filename {
    cursor: auto;
}

/* Button Control */

.bz-wp-widget-print .ui-bizagi-render-button,
.bz-wp-widget-print .ui-bizagi-render-button:hover {
    background-color: #C0C0C0;
    background-image: none;
    border: 1px solid #C5C5C5;
    border-radius: 4px;
    color: #000;
    cursor: auto;
    max-width: 200px;
    min-width: 100px;
}

/* Panel Container */

.bz-wp-widget-print .ui-bizagi-container-panel {
    border-radius: 4px !important;
}

.bz-wp-widget-print .ui-bizagi-container-panel > h3 {
    background-color: #f2f2f2 !important;
}

.bz-wp-widget-print .ui-bizagi-render-grid-norecords .ui-widget-header {
    border-left-width: 0 !important;
    border-right-width: 0 !important;
    border-top-width: 0 !important;
    border-bottom-width: 1px !important;
}

.bz-wp-widget-print .ui-jqgrid-bdiv {
    overflow: hidden !important;
}

.bz-wp-widget-print .ui-jqgrid .ui-jqgrid-titlebar {
    border: none !important;
    border-bottom: 1px solid #DADADA !important;
}

.bz-wp-widget-print .ui-jqgrid .ui-pg-table td {
    border: none !important;
}

.bz-wp-widget-print .ui-bizagi-render .ui-jqgrid {
    border: 1px solid #888 !important;
}

/* General */

.bz-wp-widget-print .ui-bizagi-control-wrapper {
    padding: 0;
}

.bz-wp-widget-print .ui-bizagi-render > span > label {
    padding: 0 !important;
    /*margin: 0 !important;*/
}

.ui-bizagi-render-align-right .ui-bizagi-control-wrapper > .ui-bizagi-render-control {
    margin: 0;
    padding: 0;
}

.bz-wp-widget-print .ui-bizagi-container-panel >.ui-bizagi-render {
    display: table;
}

.ui-bizagi-render .ui-bizagi-control .ui-bizagi-render-control {
    width: 100%;
    display: inline-block !important;
    word-wrap: break-word;
    min-height: 28px;
    vertical-align: inherit;
}

/* Table */

.bz-wp-widget-print .ui-bizagi-grid,
.bz-wp-widget-print .ui-bizagi-grid .ui-bizagi-grid-table .ui-bizagi-grid-header,
.bz-wp-widget-print .bz-rn-grid-cn-header {
    border-color: #000;
}

.bz-wp-widget-print .bz-rn-grid-header-title {
    color: #000 !important;
}

.editor-collection-navigator-preview img {
    width: 100%;
}

[class*="ui-bizagi-grid-conector"] {
    background: url(images/sprite-group-tables.png) 0 0 no-repeat;
}

.ui-bizagi-grid-conector-v {
    background-position: 0 0;
    background-repeat: repeat-y;
}

.ui-bizagi-grid-conector-h {
    background-position: -20px 0;
}

.ui-bizagi-grid-conector-corner {
    background-position: -40px 0;
}

@media print {

    * {

        -ms-filter: none !important;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        filter: none !important;
        box-shadow: none !important;
        border-radius: 0 !important;
        background: #fff !important;
        color: #000 !important;
        font-size: 11px !important;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
        text-shadow: none !important;
    }

    *:before,

    *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    a,

    a:visited {
        text-decoration: underline;
    }

    pre,

    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
        /* h5bp.com/t */
    }

    tr,

    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p, 
    h2, 
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2, 
    h3 {
        page-break-after: avoid;
    }

    h3 {
        padding: 8px 0;
        border-bottom: 1px solid;
        font-size: 14px !important;
        font-weight: bold;
        text-align: center;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #000;
    }

    table td {
        overflow: hidden!important;
        max-height: auto!important;
        border-collapse: collapse;
        border: 1px solid #000;
    }

    table .ui-bizagi-cell-readonly {
        overflow: hidden!important;
        max-height: auto!important;
    }

    table tr {
        padding: 0;
        margin: 0;
    }

    .bz-rn-grid-cn-header {
        font-weight: bold;
    }

    label {
        font-size: 11px !important;
        font-weight: bold;
        color: #000!important;
    }

    .ui-bizagi-render .ui-bizagi-label,
    .ui-bizagi-render .ui-bizagi-control {
        float: left;
    }

    .ui-bizagi-render > span > label {
        padding: 0 !important;
        margin: 0 !important;
    }

    .ui-bizagi-render .ui-bizagi-control .ui-bizagi-control-wrapper {
        min-width: 35px;
        padding: 0 !important;
        margin: 0 !important;
    }

    .ui-bizagi-render .ui-bizagi-control .ui-bizagi-render-control {
        display: inline-block !important;
        width: 100%;
    }

    .ui-bizagi-container-form,
    .ui-bizagi-container,
    .ui-bizagi-render {
        background: transparent !important;
    }

    .ui-bizagi-grid,
    .ui-bizagi-grid .ui-bizagi-grid-table .ui-bizagi-grid-header,
    .bz-rn-grid-cn-header {
        border-color: #000 !important;
    }

    .ui-bizagi-grid-table {
        width: 100%;
    }

}

/* QUERY PROCESS CONTROL */

/*-------------*/

.ui-bizagi-container-query-process .ui-selectmenu-wrapper {
    overflow-y: auto;
    font-family: 'Segoe UI', 'NeoSansStdRegular', Arial, sans-serif;
    border: 1px solid #c6cacc;
    border-bottom: 1px solid #e2e3df;
    color: #565656;
    background: #FFF;
    -webkit-box-shadow: 0 1px 2px 0 rgba(194, 197, 200, 0.32);
    box-shadow: 0 1px 2px 0 rgba(194, 197, 200, 0.32);
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px;
    visibility: hidden;
}

.ui-bizagi-container-query-process a {
    display: block;
}

.ui-bizagi-container-query-process .biz-wp-tree-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    padding: 0 5px 3px 0;
    background: url("images/sprite.png") 0 0 no-repeat;
}

.ui-bizagi-container-query-process .biz-wp-tree-expand-icon {
    background-position: -219px -460px;
}

.ui-bizagi-container-query-process .biz-wp-tree-image-application {
    background-position: -197px -460px;
}

.ui-bizagi-container-query-process .biz-wp-tree-image-category {
    background-position: -264px -461px;
}

.ui-bizagi-container-query-process .biz-wp-tree-image-process {
    background-position: -286px -461px;
}

.ui-bizagi-container-query-process .biz-wp-tree-collapse-icon {
    background-position: -242px -461px;
}

.ui-bizagi-container-query-process .ui-bizagi-contCategory {
    margin-left: 25px;
    visibility: hidden;
}

.ui-bizagi-container-query-process i {
    margin-right: 5px;
}

.ui-bizagi-render-control .bz-render-getUser-container > input {
    width: 75%;
    margin-right: 8px;
}

.ui-bizagi-render-getUser-wrapper-buttons {
    display: inline-block;
    width: 21%;
}

.ui-bizagi-render-getUser-wrapper-buttons button {
    width: 47.6%;
    max-width: 65px;
}

.ui-bizagi-render-control .bz-render-getUser-container #btn-get-user span {
    visibility: hidden;
}

.ui-bizagi-render-control .bz-render-getUser-container #btn-get-user i {
    left: 8px;
}

/* ---------- STYLES FOR COMBOSELECTED  ---------- */

.bz-render-comboSelected-align-inline {
    display: inline-block;
    vertical-align: top;
}

.bz-render-comboSelected-align-inline button {
    display: block !important;
}

.bz-render-comboSelected-selectionData {
    width: 180px;
}

.bz-render-comboSelected-buttons {
    width: 14%;
    text-align: center;
    margin: 0 6px;
    padding: 0 3px;
    max-width: 50px;
}

.bz-render-comboSelected-buttons button {
    margin: 2px 0;
}

.bz-render-comboSelected-wrapper {
    width: 40%;
    max-width: 100%;
    line-height: normal;
}

.bz-render-comboSelected-listBoxSelects {
    -webkit-appearance: none;
    width: 100%;
    height: 85px;
}

.ui-bizagi-render-image-outerwrapper {
    display: inline-block;
    width: 100%;
}

#bz-render-comboSelected-listBoxResults-ReadOnly {
    max-height: 100px;
    width: 100%;
    overflow: auto;
}

#bz-render-comboSelected-listBoxResults-ReadOnly ul {
    padding-left: 14px;
    margin: 0;
}

.bizagi-wp-usertable-userlink {
    word-wrap: break-word;
    min-width: 60px;
    max-width: 120px;
}