﻿<div class="ui-selectmenu">
	<div class="ui-select-data-container">
        <input class="ui-select-data ui-selectmenu-value" type="text" role="textbox" id="${id}"/>
    </div>
	<div class="ui-selectmenu-btn"><i class="biz-btn-caret"></i></div>
</div>