<script id="ui-bizagi-render-image" type="text/x-jquery-tmpl" >
    <div class="ui-bizagi-render-upload-wrapper image-wrapper"></div>
</script>

<script id="ui-bizagi-render-image-control" type="text/x-jquery-tmpl" >
        {{if mode == 'execution'}}	
        <!-- BEGIN wrapper upload file controler -->
        <a class='ui-bizagi-render-image-wrapper' href="#">
            {{tmpl "#ui-bizagi-render-image-item"}}	
        </a>
        <!-- END wrapper upload file controler -->
        {{if editable}}
        <input type="file" id="${xpath}" />
        <div class="ui-bizagi-render-upload-queue image-queue" id="q_${xpath}" ></div>
        {{/if}}
        {{else}}	
        <a href="#"><div class="image-file"></div></a>
        {{/if}}
</script>

<script id="ui-bizagi-render-image-item" type="text/x-jquery-tmpl" >
    {{if url}}
    <div class="img"><img src="${url}"></div>
    {{else}}
    <div class="image-file"></div>
    {{/if}}
</script>