<div class="biz-render-searchlist">
    <ul>
        {{each value}}
        <li data-id="${id}"><label>${value}</label>{{if editable}}<a class="closebutton"></a>{{/if}}</li>
        {{/each}}   
        {{if editable}}
        <li>
            <input class="biz-render-input-search" type="text" placeholder="%{render-search-list-message}" />
        </li>
        {{else}}
        <li></li>
        {{/if}}
    </ul>
    {{if hasSearchForm && editable}}
    <div class="button-search"></div>
    {{/if}}
</div>