#reportsChart {
    
}

.wp-homeportal #reportsChart .km-widget.km-navbar
{
    background-color: #195891;
}

.wp-homeportal #reportsChart .bz-wp-reports-container {
    height: 100%;
}

.wp-homeportal #reportsChart .km-view-title {
    padding-left: 0;
    max-width: 100%;
    font-size: 1.4em;
    line-height: 2.3em;
    overflow: hidden;
    margin-left: inherit;
    margin-right: inherit;
    text-align: center;
}

.bz-wp-reports-menu {
    display: inline-block;
    width: 100%;
}

#reportsChart > div.km-content.km-widget.km-scroll-wrapper {
    overflow: auto !important;
}