<script id="ui-bz-wp-reportsChart-main" type="text/x-kendo-template">   
    <div class="bz-wp-reports-container">
        <div class="bz-wp-reports-menu"></div>
        <div class="bz-wp-reports-chart"></div>        
    </div>   
</script>
<script id="ui-bz-wp-reportsChart-menu" type="text/x-kendo-template">   
    # if (Object.keys(data.reports).length > 1) { #
        <ul id="bz-rp-reports-menu" class="cf ui-bizagi-wp-widget-reports-menu">       
            # $.each(data.reports, function(i, val) { #
                <li data-report="#= i #" # if (i === data.defaultReport) { # class="ui-bizagi-wp-widget-reports-menu-active" #}#>
                     #= data.getResource(val.resource) #
                </li>
            # }); #
        </ul>
    # } #
</script>
<script id="ui-bz-wp-reportsChart-container" type="text/x-kendo-template">   
    <div class="bz-wp-reports-canvas"></div>
</script>
