﻿.bz-rn-renderedition .km-navbar
{
    background: #195891;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-bottom: 1px solid white;
    height: 50px;
    color: #ffffff;
    font-weight: 100;
}

.wp-rendering-container > div{
    display: inline-block;
}

.wp-rendering-container > div:first-child{
    width: 30%;
}
.wp-rendering-container > div:last-child{
    width: 69%;
}

.km-header .bz-wp-render span.bz-cm-icon.bz-rn-input-icon-summary
{
    background-position: -454px -245px;
    position: relative;
    display: inline-block;
    top: 4px;
    min-height: 19px;
}

/*
* INPUT TO FILTER RESULTS ON COMBO IN TABLETS ON MODALVIEW
*/
.input-filter-results-on-combo,
.input-filter-results-on-list{
    background-color: #E5E5E5;
    border: none;
    border-radius: 30px;
    display: block;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    padding: 0 0 0 35px;
    position: relative;
    transition: all .5s ease;
    width: 100%;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
}

#ui-bizagi-wp-filter-results-combo-wrapper,
#ui-bizagi-wp-filter-results-list-wrapper{
    background-color: #F1F5F8;
    margin-top: -15px;
    overflow-y: scroll;
}

#modalview-filter-combo,
#modalview-filter-list{
    background-color: #FFF;
    /*border-radius: 6px;*/
}

#modalview-filter-combo .bz-wp-combo-search-icon-list,
#modalview-filter-list .bz-wp-list-search-icon-list{
    color: #68C6EA;
    font-size: 15px;
    left: 35px;
    position: absolute;
    top: 66px;
}

#modalview-filter-combo .bz-wp-combo-cancel-icon-list,
#modalview-filter-list .bz-wp-list-cancel-icon-list{
    color: #68C6EA;
    font-size: 25px;
    position: absolute;
    right: 8%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    top: 60px;
    width: 17px;
    height: 17px;
}

.ui-bizagi-render-list-combo,
.ui-bizagi-render-list-elements{
    padding: 0 12px 0 12px;
}

.ui-bizagi-render-list-combo li,
.ui-bizagi-render-list-elements li{
    border-bottom: 1px solid #EAEFF2;
    min-height: 33px;
    line-height: 33px;
    list-style: none;
    width: 100%;
}

.filter-combo-modal-view-bottom-item,
.filter-list-modal-view-bottom-item{
    background-color: white;
    height: 50px;
    float: left;
    font-weight: normal;
    /*line-height: 50px;*/
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    text-align: left;
    width: 100%;
}

.filter-combo-modal-view-top-item,
.filter-list-modal-view-top-item{
    background-color: white;
    border-bottom: 1px solid #F7F8FA;
    color: #326A9D;
    font-size: 17px;
    font-weight: normal;
    float: left;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    text-align: left;
    width: 100%;
}

#ui-bizagi-cancel-button,
#ui-bizagi-apply-button{
    background-color: white;
    border: none;
    color: #326A9D;
    font-size: 17px;
    font-weight: normal;
    float: left;
    height: 50px;
    margin: 0;
    padding: 0;
    width: 50%;
}

#ui-bizagi-apply-button{
    border-left: 1px solid #F7F8FA;
}

.ui-bizagi-render-list-combo .ui-selected,
.ui-bizagi-render-list-elements .ui-selected{
    background: #326A9D;
    color: white;
    padding-left: 10px;
    border-radius: 5px;
}

.title-search-in-combo,
.title-search-in-list{
    float: left;
    width: 85%;
}

.bz-wp-search-on-combo-back-icon-list,
.bz-wp-search-on-list-back-icon-list{
    float: left;
    width: 12%;
    height: 50px;
    line-height: 50px;
    margin-left: 2%;
    vertical-align: 50px;
    font-size: 21px;
}

.bz-wp-search-on-combo-back-icon-list:after,
.bz-wp-search-on-list-back-icon-list:after{
    line-height: 50px !important;
}

.bz-rn-new-modalview-footer-styles{
    border: 1px solid #EAEFF2 !important;
}

.bz-rn-new-modalview-header-styles{
    background-color: white !important;
}

.bz-rn-new-modalview-content-styles{
    background-color: #F1F5F8 !important;
}

.bz-rn-new-modalview-position{
    float: right !important;
    left: auto !important;
    right: 0 !important;
}

/**
* NEW COMBO CONTROL STYLES
*/

.bz-rn-container-combo{
    width: 100%;
}

input.bz-rn-text.new-combo-control {
    height: 30px;
    border: none;
    border-radius: 6px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    -webkit-appearance: none;
    color: #3E515A;
    padding: 0 30px 0 10px;
    width: 100%;
}

.ui-bizagi-render-display-normal .bz-rn-container-combo .bz-rn-input-icon-combo-control{
    position: absolute;
    /* margin-top: -22px; */
    bottom: 32%;
    right: 6%;
}

.ui-bizagi-render-display-reversed .bz-rn-container-combo .bz-rn-input-icon-combo-control{
    position: absolute;
    /* margin-top: -22px; */
    bottom: 32%;
    left: 42%;
}

.ui-bizagi-render-display-vertical .bz-rn-container-combo .bz-rn-input-icon-combo-control{
    position: absolute;
    bottom: 24%;
    right: 2%;
}

/*MEDIA QUERIES*/
@media (orientation: landscape) {
    #modalview-filter-combo .bz-wp-combo-cancel-icon-list{
        color: #68C6EA;
        font-size: 25px;
        position: absolute;
        right: 6%;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        top: 60px;
        width: 17px;
        height: 17px;
    }

    #modalview-filter-combo .bz-wp-combo-search-icon-list{
        color: #68C6EA;
        font-size: 15px;
        left: 7%;
        position: absolute;
        top: 66px;
    }
}
/*END INPUT TO FILTER RESULTS*/