<script type="text/x-kendo-template" id="renderTemplate">
    <div data-role="splitview" id="renderSplitView" class="bz-rn-renderedition">
        <div  data-role="pane" id="paneRender">            
        </div>
    </div>
</script>

<script type="text/x-kendo-template" id="infoMessage">
    <div class="ui-bizagi-info" >
        <div class="ui-state-info">
            <span class="bz-cm-info-message-text">#= data.message  #</span>
            <button class="ui-bizagi-info-message-button">%{render-without-globalform-button}</button>
        </div>
    </div>
</script>
