﻿<script id="wizard-container-association" type="text/x-jquery-tmpl">  
    <div class="bz-fm-wizard-association clearfix">
        <div class="bz-fm-wizard-association-left">
            <div class="bz-fm-wizard-association-panel">
                {{tmpl "#wizard-association-left-entity"}}
            </div>      
        </div>
        <div class="bz-fm-wizard-association-right">
            <div class="bz-fm-wizard-association-panel">
                {{tmpl "#wizard-association-right-entity"}}
            </div>           
        </div>
    </div>
</script>

<script id="wizard-association-left-entity" type="text/x-jquery-tmpl">
    <h2>%{bizagi-editor-wizard-association-editor-left-title}</h2>
    {{each leftProperties}}
        {{tmpl(this) "#wizard-association-render-editor"}}                                                                                         
    {{/each}}       
</script>

<script id="wizard-association-right-entity" type="text/x-jquery-tmpl">
    <h2>%{bizagi-editor-wizard-association-editor-right-title}</h2>
    {{each rightProperties}}
        {{tmpl(this) "#wizard-association-render-editor"}}                                                                                         
    {{/each}}     
</script>

<script id="wizard-association-render-editor" type="text/x-jquery-tmpl">
    {{if editor == "xpatheditor"}}
        {{tmpl "#wizard-association-xpath-editor"}} 
    {{/if}}
    {{if editor == "filter"}}
        {{tmpl "#wizard-association-filter-editor"}} 
    {{/if}} 
    {{if editor == "localizable"}}
        {{tmpl "#wizard-association-localizablestring-editor"}} 
    {{/if}} 
    
</script>

<script id="wizard-association-xpath-editor" type="text/x-jquery-tmpl">    
    <div class="bizagi_editor_component_editor_xpath ui-editor">
        <div class="xpath-container ui-control-container">
            <label class="xpath-name" title="${title}">${title}</label>
            {{if required}}
                <span class="biz-ico ui-bizagi-render-required"></span>
            {{/if}}
            <input type="text" class="xpath-value ui-control-input" readonly="readonly" value="${displayValue}" />
            {{if !readonly}}
                <i class="biz-ico xpath-image-world bz-wizard-association-editor-xpath" data-property="${property}" title="%{formmodeler-component-editor-xpath-show-data}"></i>
            {{/if}}                   
        </div>
    </div>       
</script>


<script id="wizard-association-filter-editor" type="text/x-jquery-tmpl">    
    <div class="bizagi_editor_component_editor_filter ui-editor">
        <div class="ui-control-container filter-container">
            <label class="filter-name" title="${title}">${title}</label>
            {{if required}}
                <span class="biz-ico ui-bizagi-render-required"></span>
            {{/if}}
            <input type="text" readonly="readonly" class="ui-control-input filter-value" value="${displayValue}" />
            {{if !readonly}}
                <i class="biz-ico biz-ico-filter-value bz-wizard-association-editor-filter" data-property="${property}"></i>
            {{/if}} 
        </div>
    </div>
</script>

<script id="wizard-association-localizablestring-editor" type="text/x-jquery-tmpl">
    <div class="bizagi_editor_component_editor_localizablestring ui-editor">
        <div class="ui-control-container">
            <label title="${title}">${title}</label>
            {{if required}}
                <span class="biz-ico ui-bizagi-render-required"></span>
            {{/if}}
            <div class="editor-localizablestring-input ui-control-input">
                <input type="text" data-property="${property}" value="${displayValue}"/>                
                <i class="biz-ico editor-localizablestring-localization"></i>                
            </div>
        </div>
    </div>
</script>