﻿<div class="BorderCell BAMainFontColor"> 
    <button id="ui-icon-action-edit"  class="bz-wp-button-secondary bizagi-wp-userstable-userlink"  alt = "Edit item">
        <i id="ui-icon-action-edit-ico" class="bz-wp-icon bz-wp-icon-24 bz-wp-icon-pencil"></i>                                     
        <span></span>                                 
    </button> 
    
    <button id="ui-icon-action-trash" class="bz-wp-button-secondary bizagi-wp-userstable-userlink" alt = "Delete item">
        <i id="ui-icon-action-trash-ico" class="bz-wp-icon bz-wp-icon-24 bz-wp-icon-edit"></i>                                     
        <span></span>  
    </button>           
    
    <button id="ui-icon-action-detail"  class="bz-wp-button-secondary bizagi-wp-userstable-userlink" alt = "View" >
        <i id="ui-icon-action-detail-ico" class="bz-wp-icon bz-wp-icon-24 bz-wp-icon-trash"></i>                                     
        <span></span>                                 
    </button>                                                       
</div>