﻿<li class="ui-bizagi-render-upload-item ui-state-default"  data-id="${id}">
  <a href="${url}" title="${filename}" target="_blank">${filename}</a>
  {{if allowDelete && editable}}
    <span class="ui-bizagi-render-upload-icon ui-bizagi-render-upload-item-delete ui-icon ui-icon-close"></span>
  {{/if}}
</li>