﻿<script id="queryinternals-defaultvalue-frame" type="text/x-jquery-tmpl">
    <div class="ui-control-container bizagi_editor_component_editor_xpath">
        <label class="defaultvalue-name">${caption}</label>
         <div class="ui-control-input" data-value="${value.fixedvalue}">

            <div id="data-queryinternals-defaultvalue-frame">
                <span>${value.name}</span>
            </div>

            <div class="queryinternals-ui-bizagi-wp-app-inbox-cases-ico-view">
                <span></span>
            </div>

            <div class="biz-complex-btn queryinternals-defaultvalue-action-btn ui-corner-left defaultvalue-button-value" id="buttonValue">
                <div class="queryinternals-defaultvalue-value ui-control-input">

                    <div class="queryinternals-defaultvalue-value-loading">
                        <i name='expanded' class='queryinternals-biz-wp-tree-icon biz-ico queryinternals-biz-wp-tree-image-loading'></i>
                        <span>${loadingMessage}</span>
                    </div>

                </div>
            </div>
        </div>

        <div id="queryinternals-defaultvalue-action-btn">
            <i class="biz-ico biz-ico-default queryinternals-defaultvalue-image-rule-delete" title="%{formmodeler-component-editor-all-delete-value}"></i>
        </div>
    </div>
</script>