﻿/*
* INPUT TO FILTER RESULTS ON COMBO IN SMARTPHONES ON MODALVIEW
*/
.input-filter-results-on-combo,
.input-filter-results-on-list{
    background-color: #E5E5E5;
    border: none;
    border-radius: 30px;
    display: block;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    padding: 0 0 0 35px;
    position: relative;
    transition: all .5s ease;
    width: 100%;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
}

#ui-bizagi-wp-filter-results-combo-wrapper,
#ui-bizagi-wp-filter-results-list-wrapper{
    background-color: #F1F5F8;
    margin-top: -15px;
    overflow-y: scroll;
}

#modalview-filter-combo,
#modalview-filter-list{
    background-color: #FFF;
    /*border-radius: 6px;*/
}

#modalview-filter-combo .bz-wp-combo-search-icon-list,
#modalview-filter-list .bz-wp-list-search-icon-list{
    color: #68C6EA;
    font-size: 15px;
    left: 35px;
    position: absolute;
    top: 66px;
}

#modalview-filter-combo .bz-wp-combo-cancel-icon-list,
#modalview-filter-list .bz-wp-list-cancel-icon-list{
    color: #68C6EA;
    font-size: 25px;
    position: absolute;
    right: 11%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    top: 60px;
    width: 17px;
    height: 17px;
}

.ui-bizagi-render-list-combo,
.ui-bizagi-render-list-elements{
    padding: 0 12px 0 12px;
}

.ui-bizagi-render-list-combo li,
.ui-bizagi-render-list-elements li{
    border-bottom: 1px solid #EAEFF2;
    min-height: 33px;
    line-height: 33px;
    list-style: none;
    width: 100%;
}

.filter-combo-modal-view-bottom-item,
.filter-list-modal-view-bottom-item{
    background-color: white;
    height: 50px;
    float: left;
    font-weight: normal;
    /*line-height: 50px;*/
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    text-align: left;
    width: 100%;
}

.filter-combo-modal-view-top-item,
.filter-list-modal-view-top-item{
    background-color: white;
    border-bottom: 1px solid #F7F8FA;
    color: #326A9D;
    font-size: 17px;
    font-weight: normal;
    float: left;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    text-align: left;
    width: 100%;
}

#ui-bizagi-cancel-button,
#ui-bizagi-apply-button{
    background-color: white;
    border: none;
    color: #326A9D;
    font-size: 17px;
    font-weight: normal;
    float: left;
    height: 50px;
    margin: 0;
    padding: 0;
    width: 50%;
}

#ui-bizagi-apply-button{
    border-left: 1px solid #F7F8FA;
}

.ui-bizagi-render-list-combo .ui-selected,
.ui-bizagi-render-list-elements .ui-selected{
    background: #326A9D;
    color: white;
    padding-left: 10px;
    border-radius: 5px;
}

.title-search-in-combo,
.title-search-in-list{
    float: left;
    width: 85%;
}

.bz-wp-search-on-combo-back-icon-list,
.bz-wp-search-on-list-back-icon-list{
    float: left;
    width: 12%;
    height: 50px;
    line-height: 50px;
    vertical-align: 50px;
    font-size: 21px;
}

.bz-wp-search-on-combo-back-icon-list:after,
.bz-wp-search-on-list-back-icon-list:after{
    line-height: 50px !important;
}

.bz-rn-new-modalview-footer-styles{
    border: 1px solid #EAEFF2 !important;
}

.bz-rn-new-modalview-header-styles{
    background-color: white !important;
}

.bz-rn-new-modalview-content-styles{
    background-color: #F1F5F8 !important;
}

.bz-rn-new-modalview-position{
    float: right !important;
    left: auto !important;
    right: 0 !important;
}

/*MEDIA QUERIES*/
@media (orientation: landscape) {
    .filter-combo-modal-view-top-item{
        float: left;
        width: 50%;
    }

    .filter-combo-modal-view-bottom-item{
        float: left;
        width: 45%;
    }

    .bz-wp-search-on-combo-back-icon-list{
        height: 50px;
        line-height: 50px;
        position: absolute;
        vertical-align: 50px;
        font-size: 21px;
        z-index: 2;
        margin-left: 50%;
    }

    #modalview-filter-combo .bz-wp-combo-cancel-icon-list{
        color: #68C6EA;
        font-size: 25px;
        position: absolute;
        right: 11%;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        top: 10px;
        width: 17px;
        height: 17px;
    }

    #modalview-filter-combo .bz-wp-combo-search-icon-list{
        color: #68C6EA;
        font-size: 15px;
        left: 56%;
        position: absolute;
        top: 16px;
    }
}
/*END INPUT TO FILTER RESULTS*/