<script type="text/x-kendo-template" id="renderTemplate">
    <div data-role="splitview" id="renderSplitView" class="bz-rn-renderedition">
        <div  data-role="pane" id="paneRender" data-layout="side-default">
            <div data-role="layout" data-id="side-default">
                <div data-role="header">
                    <div data-role="header">
                        <div data-role="navbar">
                            <a data-align="left" class="nav-button bz-render-back" data-role="button" data-icon="cancel"></a>
                            <span data-role="view-title" id="render-title">#=data.title#</span>
                            <a data-rel="drawer" data-icon="next" class="nav-button bz-render-custom" data-role="button" data-align="right"  style="display:none;"></a>
                            <a data-rel="drawer" data-icon="three-points-full" class="nav-button bz-render-dynamic" data-role="button" data-align="right" style="display:none;"></a>                            
                            <a href="\#bz-render-drawer" data-rel="drawer" class="nav-button bz-wp-render" data-role="button" data-align="right" >
                                <span class="bz-cm-icon bz-rn-input-icon-summary"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
