{{css "jquery/workportal/css/desktop/bizagi.workportal.inbox.css"}}
<script id="ui-bizagi-workportal-widget-inbox-grid" type="text/x-jquery-tmpl">    
    <div id="contentInbox">
        <div id="innerContentInbox">
            <h2>%{workportal-widget-inboxgrid-inbox}</h2>
            {{if enableSmartFolders}}<span class="ui-bizagi-wp-mini-arrow smartfolders"></span>{{/if}}
            {{tmpl "#ui-bizagi-workportal-widget-view-options"}}
        </div>
    </div>
    <div id="contentFramework" >
        <ul >
            <li id="contentProc" class="proc" {{loading}} {{adjustable}}></li>
            <li id="contentCases" class="casesGrid " {{loading}} {{adjustable}}></li>
        </ul>
        <div id="contentDesc" class="hidden nodisplay" >
            {{tmpl "#ui-bizagi-workportal-widget-inbox-common-case-description"}} 
        </div>
    </div>
    <div id="footer">
        {{tmpl "#ui-bizagi-workportal-widget-inbox-common-header"}} 
        {{tmpl "#ui-bizagi-workportal-widget-inbox-common-pagination-grid"}}
    </div>
</script>
<script id="ui-bizagi-workportal-widget-inbox-grid-description" type="text/x-jquery-tmpl">
    {{tmpl "#ui-bizagi-wp-app-inbox-description-tmpl"}}
</script>
<script id="ui-bizagi-workportal-widget-inbox-grid-cases" type="text/x-jquery-tmpl">
    <div id="ui-bizagi-wp-app-inbox-grid-cases-container"  class="ui-bizagi-wp-app-inbox-grid-cases-container">
        <div id="ui-bizagi-wp-app-inbox-grid-cases-container"  class="ui-bizagi-wp-app-inbox-grid-cases-container heightToAdjust scrollCasesGrid">
            
            <table id="ui-bizagi-wp-app-inbox-grid-cases" cellspacing="0" border="0" cellpading="0">
                <thead>
                    <tr>
                        <td>&nbsp;<!-- empty cell for actions--></td>
                        {{each columnTitle}}
                        <td class="sortColumnsData">
                            <div>
                                <span class="displayNameLabel">${displayName}</span>
                                {{if isOrdered=="true"}}
                                {{if orderType==0}}
                                <span class="sortColumnsDataUpIcon"><span class="arrowUpIcon"></span><span class="arrowDownIcon"></span></span>
                                {{else}}
                                <span class="sortColumnsDataDownIcon"><span class="arrowUpIcon"></span><span class="arrowDownIcon"></span></span>
                                {{/if}}
                                {{else}}
                                <span class="sortColumnsDataIcon"><span class="arrowUpIcon"></span><span class="arrowDownIcon"></span></span>
                                {{/if}}
                                <input type="hidden" id="isOrdered" value="${isOrdered}" />
                                <input type="hidden" id="orderFieldName" value="${orderFieldName}" />
                                <input type="hidden" id="orderType" value="${orderType}" />
                                <input type="hidden" id="order" value="${order}" />
                            </div>
                        </td>
                        {{/each}}
                        <td>&nbsp;<!-- empty cell for work on it--></td>
                    </tr>
                </thead>
                <tbody>
                    {{each rows}}
                    <tr data-idworkflow="${idWorkFlow}">
                        <td>
                            {{if isFavorite=="true"}}
                            <div id="ui-bizagi-wp-wg-bt-start-on" class="ui-bizagi-wp-app-inbox-cases-start on"></div>
                            {{else}}
                            <div id="ui-bizagi-wp-wg-bt-start-off" class="ui-bizagi-wp-app-inbox-cases-start off"></div>
                            {{/if}}
                            {{if graphicQuery }}
                            <div class="ui-bizagi-wp-app-inbox-cases-ico-view">                            
                                <span></span>
                            </div>
                            {{/if}}
                            {{if enableFolders}}
                            <div class="ui-bizagi-inbox-folder inboxGridFolder" data-idcase="${id}"></div>
                            {{/if}}
                            <input type="hidden" id="idCase" value="${id}" />
                            <input type="hidden" id="taskState" value="${taskState}" />
                            <input type="hidden" id="isFavorite" value="${isFavorite}" />
                            <input type="hidden" id="guidFavorite" value="${guidFavorite}" />
                        </td>

                        {{each(i, item) fields}}
                        <td>
                            {{if columnTitle[i] != 'null' }}
                            {{if columnTitle[i].fieldName == 'I_RadNumber' }}
                            <span class="ui-bizagi-wp-app-inbox-activity-name">
                                {{html item}}&nbsp;
                                <input type="hidden" id="idCase" value="${id}" />
                            </span>
                            {{else typeof item == 'object'}}
                            <div style="text-align:center;"> 
                                <ul class="gridListWorkItems">
                                    {{each(j, subItem) item}}                
                                    {{each(k, subSubItem) subItem}}
                                    {{if bizagi.util.isDate(subSubItem.toString())}} 
                                    <li><span class="formatDate" style="text-align:center;width: 100%">${subSubItem}</span></li>
                                    {{else}}
                                    {{if typeof subSubItem == 'object'}}
                                    {{each(l, workItem) subSubItem}}                
                                    {{if l == 'TaskName'}}
                                    <li>
                                        <span class="ui-bizagi-wp-app-inbox-activity-name">
                                            <span id="ui-bizagi-wp-app-inbox-cases-ico-state-${State}" {{if State}} class="ui-bizagi-wp-app-inbox-cases-grid-ico-state" {{/if}}></span>
                                            ${workItem}
                                            <input type="hidden" id="idTask" value="${idTask}" />
                                            <input type="hidden" id="idWorkItem" value="${idWorkItem}" />
                                            <input type="hidden" id="idCase" value="${id}" />
                                        </span>
                                    </li>
                                    {{/if}}
                                    {{/each}}
                                    {{else}}
                                    <li>${subSubItem || '&nbsp;'}  </li>
                                    {{/if}}
                                    {{/if}}
                                    {{/each}}
                                    {{/each}}
                                </ul>
                            </div>
                                         
                            {{else}}
                            {{if columnTitle[i].type == "DateTime" && bizagi.util.isDate(item.toString())}} 
                            <span class="formatDate">${item}</span>
                            {{else columnTitle[i].type == "Boolean"}}
                            <dd>{{html bizagi.util.formatBoolean(item)}}</dd>
                            {{else}}
                            {{if item != "null"}}
                            {{html bizagi.util.replaceLineBreak(item)}}
                            {{else}}
                            &nbsp;                                                    
                            {{/if}}
                            {{/if}}
                            {{/if}}
                            {{/if}}
                        </td>
                        {{/each}}
                        <td>
                            <span class="inbox-grid-tooltip-button" title="%{workportal-widget-inboxgrid-show-summary}">
                                <button type="button" class="workonitRow showDesc bizagi-ui-icon-show-summary-grid">
                                    %{workportal-widget-inboxgrid-show-summary}
                                </button>                            
                            </span>
                            <input type="hidden" id="idCase" value="${id}" />
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</script>
<script id="ui-bizagi-workportal-widget-view-options" type="text/x-jquery-tmpl">  
    <ul id="ui-bizagi-workportal-widget-view-options">
        <li>
            <span id="ui-bizagi-wp-app-inbox-bt-eye" class="ui-bizagi-wp-app-inbox-bt-eye"></span>
            <span id="ui-bizagi-wp-app-inbox-bg-eye" class="ui-bizagi-wp-app-inbox-bg-eye eye-focus-off"></span>
        </li>
        <!--<li><span id="ui-bizagi-wp-app-inbox-bt-settings" class="ui-bizagi-wp-app-inbox-bt-settings"></span></li>-->
    </ul>
</script>
