<script id="ui-bizagi-workportal-widget-newcase" type="text/x-jquery-tmpl" >
    <div class="modalMenuBt">
        <div id="modalNewCaseOverlay" class="ui-widget-overlay modalNewCaseOverlay"></div>
        <div id="modalNewCaseMessage" class="ui-widget-content ui-corner-all">
            <div id="loading" {{loading}}></div>
            <div id="case">                
            </div>            
        </div>
        <div id="selectArrow"></div>   
        <div id="modalMenuBtHeader" class="clearfix">
            <div id="ui-bizagi-wp-app-search" class="searchNewCase">
				<div id="ui-bizagi-wp-app-bt-search"></div>
                <input id="searchNewCase" class="clearfix" onfocus="if(this.value=='%{workportal-menu-search}') this.value='';" onblur="if(this.value=='') this.value='%{workportal-menu-search}';" value="%{workportal-menu-search}">            
            </div>

            <div id="bt-back" class="nodisplay">
                <span></span>
            </div>
            <div id="modalTitle"></div>                        
            <ul id="newcase-view-options">
                <li id="frecuentCases" title="%{workportal-menu-recent-processes}"><span></span></li>
                <li id="casesList" class="casesListOn" title="%{workportal-menu-all-processes}"><span></span></li>
            </ul> 

        </div>         
        <div id="modalMenuBtList" class="clearfix">
            <ul id="categoryTree" class="categoryTree">
                <li>
                    %{workportal-widget-newcase-title}
                    <input type="hidden" id="idParentCategory" value=""/>
                </li>
            </ul>
            <div id="categories" {{loading}}>                
        </div>
    </div>    
</div>  
</script>


<script id="ui-bizagi-workportal-widget-newcase-categories" type="text/x-jquery-tmpl" >
    {{each category}}
    <ul data-appid="${appId}">
        {{if isProcess=="true"}}
        <li class="process">
            <div class="processIco"></div>
            <h3>${categoryName}</h3>
            <p class="newCaseDescription">${description}</p>
        </li>
        {{else}}
        <li class="category">
            <div class="categoryIco"></div>
            <h3>${categoryName}</h3>
            <span id="arrow">&GT;</span>
        </li>
        {{/if}}

        <input type="hidden" id="idCategory" value="${idCategory}" />
        <input type="hidden" id="isProcess" value="${isProcess}" />
        <input type="hidden" id="categoryName" value="${categoryName}" />
    </li>
</ul>
{{/each}}
{{if truncate}}
<div class="loadMoreElements"><span id="loadMoreElementsIcon" class="plus_load_icon"></span><span>%{workportal-widget-newcase-loadmore}</span></div>
{{/if}}
</script>


<script id="ui-bizagi-workportal-widget-newcase-categories-tree" type="text/x-jquery-tmpl" >
    <li  data-appid="${appId}">
        &GT; ${categoryName}
        <input type="hidden" id="idParentCategory" value="${idParentCategory}" />        
    </li>
</script>

<script id="ui-bizagi-workportal-widget-newcase-organization-list" type="text/x-jquery-tmpl" >
    <div class="new-case-organization-list-content">
        <form>

            <p>%{workportal-menu-organization-list-title}</p>

            <select id="organization-list" class="ui-bizagi-render-list">
                {{each organizationList}}
                    <option value="${$value.id}">${$value.displayName}</option> 
                {{/each}}
            </select>

            <div class="ui-dialog-buttonset">
                <button id="new-case" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover" role="button" aria-disabled="false">
                    <span class="ui-button-text">%{workportal-widget-navigation-newcase}</span>
                </button>
            </div>
        </form>
    </div>
</script>

<script id="ui-bizagi-workportal-widget-recent-process" type="text/x-jquery-tmpl" >
    {{each processes}}
    <ul>
        <li class="process">
            <div class="processIco"></div>
            <h3>${displayName}</h3>                
        </li>           
        <input type="hidden" id="idWFClass" value="${idWFClass}" />                
    </li>
</ul>
{{/each}}
</script>