{{css "jquery/workportal/css/desktop/bizagi.workportal.render.css"}}
<script id="ui-bizagi-workportal-widget-render" type="text/x-jquery-tmpl">    
    <div id="contentInbox">
        <div id="innerContentInbox">
            {{tmpl "#ui-bizagi-workportal-widget-global-options"}}
            {{tmpl "#ui-bizagi-workportal-widget-render-navigation"}}                            
            <h2 class='widget-title'>%{workportal-widget-render-backbutton}</h2>
        </div>
    </div>
    <div id="contentFramework" class="clearfix">
        <ul id="ui-bizagi-wp-app-render-content-list">
            <li id="ui-bizagi-wp-app-render-desc-panel" class="scrollRenderDesc" {{adjustable}}> 
                <div id="ui-bizagi-wp-app-render-desc-content" class="ui-bizagi-wp-app-inbox-description-container"  {{loading}}>
                 {{component summary}}
            </div>
        </li>
        <li>
            <div id="panelArrowContainer" {{adjustable}}>
                 <div id="panelArrow" class="panelArrowLeft"></div>
            </div>
        </li>
        <li id="ui-bizagi-wp-app-render-form" >
            <div id="ui-bizagi-wp-app-render-form-content" class="scrollRender" {{loading}} {{adjustable}}>
                 {{component render}}
        </div>  
    </li>
</ul>
</div>
</script>
<script id="ui-bizagi-workportal-widget-render-case-description" type="text/x-jquery-tmpl"> 
    <div class="ui-bizagi-wp-app-inbox-processes-title ">
        ${caseNumber}

        {{if graphicQuery }}
        <div class="ui-bizagi-wp-app-inbox-cases-ico-view">
            <span></span>
        </div>
        {{/if}}

    </div>
    <div id="descriptionPadding">
        {{each currentState}}

        {{if idWorkItem  == params["idWorkitem"] }}
        <div class="ui-bizagi-wp-app-inbox-activity-description">
            <div>
                <div id="ui-bizagi-wp-app-inbox-cases-ico-state-${colorState}" class="ui-bizagi-wp-app-inbox-cases-description-ico-state">
                    <span></span>
                </div>
                <!--<span class="ui-bizagi-wp-app-inbox-description-cases-name">${caseNumber}</span>-->
                {{if isEvent=="true"}}
                <div id="ui-bizagi-wp-app-inbox-cases-ico-event">                                    
                    <span></span>
                </div>
                {{/if}}
                <h2 class="ui-bizagi-wp-app-inbox-description-activity-name">
                    ${state}
                </h2>
                <dl class="box-description">
                    <dt>%{workportal-widget-render-creation-date}</dt>
                    <dd class="formatDate">${creationDate}</dd>
                    <dt>%{workportal-widget-render-solution-date}</dt>
                    <dd class="formatDate">${solutionDate}</dd>

                    {{if estimatedSolutionDate}}
                        <dt>%{workportal-widget-render-state-expires-on}</dt>
                        <dd class="formatDate">${estimatedSolutionDate}</dd>
                    {{/if}}

                    
                    {{if tskDescription}}
                    <dt>%{workportal-widget-inboxcommon-description}</dt>
                    
                        {{if bizagi.util.isHTMLValidText(tskDescription)}}
                            <dd>{{html tskDescription}}</dd>
                        {{else}}
                            <dd>${tskDescription}</dd>
                        {{/if}}

                    {{/if}}
                </dl>
            </div> 
        </div>        
        {{/if}}
        {{/each}}

        <div id="ui-bizagi-details-tabs">
            <div id="ui-bizagi-details-tabs-container">
                <ul>
                    <li><a href="#details">%{workportal-widget-render-details}</a></li>
                    {{if showComments}}
                    <li><a href="#comments" data-isclosed="${isClosed}">%{workportal-widget-comments} {{if hasComments == 'true'}}<span class="messageIndicatorIcon"></span>{{/if}}</a></li>
                    {{/if}}
                    {{if showSubProcess}}
                    <li><a href="#subprocess">%{workportal-widget-render-subprocess}</a></li>
                    {{/if}}
                    {{if showAssignees}}
                    <li><a href="#assignees">%{workportal-widget-render-assignees}</a></li>
                    {{/if}}
                    {{if showEvents}}
                    <li><a href="#events">%{workportal-widget-render-events}</a></li>
                    {{/if}}
                    {{if showActivities}} 
                    <li><a href="#activities">%{workportal-widget-render-activities}</a></li>
                    {{/if}}
                </ul>
            </div>
            <div id="details">
                <p>${caseDescription}</p>
                <dl class="box-description">
                    <dt>%{workportal-widget-render-creation-date}</dt>
                    <dd class="formatDate">${creationDate}</dd>
                    <!--<dt>%{workportal-widget-render-state-expires-on}</dt>
                    <dd>${estimatedSolutionDate}</dd>-->
                    <dt>%{workportal-widget-render-created-by}</dt>
                    <dd>${createdByName}</dd>
                    <!--<dt>%{workportal-widget-render-person-in-charge}</dt>
                    <dd>{{each person}}
                        ${Name} &nbsp;
                        {{/each}}
                    </dd>-->
                    <!--<dt>%{workportal-widget-render-current-state}</dt>
                    <dd> {{each currentState}}
                        ${state} <br />
                        {{/each}}
                    </dd>-->
                    <dt>%{workportal-widget-render-case-number}</dt>
                    <dd>${caseNumber}</dd>
                    <dt>%{workportal-widget-render-process}</dt>
                    <dd>${process}</dd>
                    <dt>%{workportal-widget-render-process-path}</dt>
                    <dd>${processPath}</dd>
                    {{if showParentProcess}}
                    <dt>%{workportal-widget-inboxcommon-parent-process}</dt>
                    <dd class="summaryLink">
                        <a href="#">${radNumberParentCase} - ${parentProcess.displayName}</a>
                        <input type="hidden" id="idCase" value="${parentProcess.idCase}" />
                    </dd>
                    {{/if}}
                    {{if isClosed}}
                    <dt>%{workportal-widget-inboxcommon-state}</dt>
                    <dd>
                        {{if isAborted == "true"}}
                            <div class="ui-bizagi-wp-app-inbox-cases-aborted-summary">                                    
                            <span></span>
                            </div> 
                            &nbsp; %{workportal-widget-inboxcommon-aborted} </dd>
                        {{else}}
                            <div id="ui-bizagi-wp-app-inbox-cases-ico-close">                                    
                                <span></span>
                            </div> 
                            <span>%{workportal-widget-inboxcommon-state-closed}</span>
                        {{/if}}
                    </dd>
                    {{if isAborted == "true"}}
                        <dt>%{workportal-widget-inboxcommon-state-reason}</dt>
                        <dd>${abortReason}</dd>
                    {{/if}}
                    {{/if}}
                </dl>
            </div>
            {{if showComments}}
            <div id="comments" class="bz-wp-widget-render-social" {{loading}}></div>
            {{/if}}
            {{if showSubProcess}}
            <div id="subprocess" {{loading}}></div>
            {{/if}}

            {{if showAssignees}}
            <div id="assignees"  {{loading}}></div>
            {{/if}}

            {{if showEvents}}
            <div id="events"  {{loading}}></div>  
            {{/if}}

            {{if showActivities}} 
            <div id="activities"  {{loading}}></div>
            {{/if}}
        </div>	

        <div class="ui-bizagi-wp-app-render-actions">
            <ul>
                {{if stateLog }}
                <li>
                    <div id="bt-case-action-log" class="bt-case-action log bz-wp-icon-24"></div>
                    <span class="tooltip">%{render-actions-log}</span>
                </li>
                {{/if}}

                {{if isOpen=="true"}}
                {{if allowsReassign=="true"}}
                <li>
                    <div id="bt-case-action-reassing" class="bt-case-action reassing bz-wp-icon-24"></div>
                    <span class="tooltip">%{render-actions-reassign}</span>
                </li>
                {{/if}}
                {{/if}}
                {{if allowReleaseActivity===true}}
                <li>
                    <div id="bt-case-action-release" class="bt-case-action release bz-wp-icon-24"></div>
                    <span class="tooltip">%{render-actions-release}</span>
                </li>
                {{/if}}
                {{if printableVersion }}
                <li>
                    <div id="bt-case-action-print" class="bt-case-action print bz-wp-icon-24"></div>
                    <span class="tooltip">%{render-actions-print}</span>
                </li>
                {{/if}}

                {{if helpUrl!=""}}
                <li>
                    <div id="bt-case-action-help" class="bt-case-action help">
                        <input type="hidden" id="helpUrl" value="${helpUrl}" />
                    </div>
                    <span class="tooltip">%{render-actions-help}</span>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>	
</script>
<script id="ui-bizagi-workportal-widget-global-options" type="text/x-jquery-tmpl"> 
    <ul id="ui-bizagi-workportal-widget-global-options" class="ui-bizagi-workportal-widget-global-options"> 
        <li id="ui-bizagi-wp-app-inbox-bt-back" class="ui-bizagi-wp-app-inbox-bt-back">
            <span></span>
        </li>		
    </ul>
</script>
<script id="ui-bizagi-workportal-widget-render-navigation" type="text/x-jquery-tmpl"> 
    <ul class="renderNavigation">
        <li class="back"></li>
        <li class="refresh"></li>
        <!--        <li class="return"></li>-->
        <li class="next"></li>
    </ul>    
</script>
<script id="bz-wp-widget-release" type="text/x-jquery-tmpl">
    <p>
        %{workportal-widget-dialog-box-release}
    </p>
</script>
