{{css "jquery/workportal/css/desktop/bizagi.workportal.routing.css"}}
<div id="ui-bizagi-wp-app-inbox-activities-routing" class="ui-bizagi-wp-app-inbox-activities-routing">
    {{if checkProcess}}
        {{if subProcessPersonalized.lengh > 0}}
        <div class="text-description-title">
            %{workportal-widget-routing-process-selector}
        </div>
        <div id="ui-bizagi-wp-app-routing-process-container" class="ui-bizagi-wp-app-routing-container">

            <table id="ui-bizagi-wp-app-routing-process-wf" cellspacing="0" border="0" cellpading="0">
                <thead>
                    <tr>
                        <td>%{workportal-widget-routing-id}</td>
                        <td>%{workportal-widget-routing-name}</td>
                        <td>&nbsp;</td>
                    </tr>
                </thead>
                <tbody>
                    {{each subProcessPersonalized}}
                        {{if isOpen == "true"}}
                        <tr>
                            <td class="alignLeft">${radNumber}
                            <input type="hidden" id="idCase" value="${idCase}" />
                            </td>
                            <td class="alignLeft">${displayName}
                                <input type="hidden" id="idCase" value="${idCase}" />
                            </td>
                            <td class="alignRight"> 
                                <button type="button" class="workonitRow">%{workportal-widget-routing-work-on-it}</button>
                                <!-- <button type="button" class="continueActivities ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button"><span class="ui-button-text">Continue</span></button> -->
                            </td>
                        </tr>
                        {{/if}}
                    {{/each}}
                </tbody>
            </table>
        </div>
    {{/if}}
    <br/>
    {{/if}}
    {{if checkWorkItems}}
    <div class="text-description-title">
        %{workportal-widget-routing-activity-selector}
    </div>
    <div id="ui-bizagi-wp-app-routing-activity-container" class="ui-bizagi-wp-app-routing-container">
        <table id="ui-bizagi-wp-app-routing-activity-wf" cellspacing="0" border="0" cellpading="0">
            <thead>
                <tr>
                    <td>%{workportal-widget-routing-name}</td>
                    <td>%{workportal-widget-routing-due-date}</td>
                    <td>&nbsp;</td>
                </tr>
            </thead>
            <tbody>                    
                {{each workItems}}
                <tr>
                    <td class="alignLeft"> ${displayName}
                        <input type="hidden" id="idWorkItem" value="${idWorkItem}" />
                        <input type="hidden" id="idWorkflow" value="${idWorkFlow}" />
                        <input type="hidden" id="idTask" value="${idTask}" />
                        <input type="hidden" id="idCase" value="${idCase}" />
                        <input type="hidden" id="isAsynch" value="${isAsynch}" />
                    </td>
                    <td class="alignCenter">${$item.formatDate($value)}</td>
                    <td class="alignRight"> 
                        <button type="button" class="workonitRow">%{workportal-widget-routing-work-on-it}</button> 
                        <!-- <button type="button" class="continueActivities ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button"><span class="ui-button-text">Continue</span></button> -->
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    {{/if}}
</div>