﻿<script id="numberformat-frame" type="text/x-jquery-tmpl">
       <div class="numberformat-container">
        <label class="numberformat-name">${caption}</label>
        <div class="numberformat-fields ui-control-container">
            <i class="biz-ico numberformat-image-small-number"></i>
            <input type="text" class="numberformat-field-number ui-control-input" readonly="readonly" value="${valuenumber}" />
            <i class="biz-ico numberformat-image-small-modal" title="%{formmodeler-component-editor-numberformat-edit-number-format}"></i>
            <div class="numberformat-time-group">
                <i class="biz-ico numberformat-image-small-time"></i>
                <input type="text" class="numberformat-field-time" readonly="readonly" value="${valueTime}" />
            </div>
        </div>
    </div>
</script>

<script id="numberformat-modal" type="text/x-jquery-tmpl">
    <div class="numberformat-modal">
        <div class="numberformat-modal-container>

            <div class="numberformat-modal-item numberformat-enabled numberformat-default-format">
                <span class="numberformat-modal-name">%{formmodeler-component-editor-numberformat-use-default-format}</span>
                <div class="ui-control-editor ui-control-editor-inline numberformat-check-container numberformat-modal-default-format"></div>
            </div>

            <div class="numberformat-options-default-format-false">
                <div class="numberformat-modal-item numberformat-disabled">
                    <span class="numberformat-modal-name">%{formmodeler-component-editor-numberformat-use-short-number}</span>
                    <div class="ui-control-editor ui-control-editor-inline numberformat-check-container numberformat-modal-short-number"></div>
                </div>

                <div class="numberformat-format">
                    <div class="numberformat-modal-item numberformat-col2 numberformat-modal-format">
                        <span class="numberformat-modal-name">%{formmodeler-component-editor-numberformat-number-format}</span>
                        <div class="ui-bizagi-editor-comboBox-selector ui-control-select ui-control-editor number-format">
                            <!-- numberFormat -->
                        </div>
                    </div>
                    <div class="numberformat-modal-item numberformat-col2 numberformat-modal-thousands">
                        <span class="numberformat-modal-name">%{formmodeler-component-editor-numberformat-thousand-number}</span>
                        <div class="ui-bizagi-editor-comboBox-selector ui-control-select ui-control-editor thousands-format">
                        </div>
                    </div>
                </div>
                <div class="numberformat-modal-item numberformat-sample">
                    <span class="numberformat-modal-name">%{formmodeler-component-editor-numberformat-sample-number}</span>
                    <span class="numberformat-modal-number-sample ui-modal-dark-background"></span>
                </div>
            </div>
        </div>
    </div>
</script>