<script id="ui-bz-wp-widget-inbox-mail-category-container" type="text/x-jquery-tmpl">
    <div class="bz-wp-ib-filter-container">
        <div class="bz-wp-category-item selecteditem">
            <div class="container-left">
                <span class="bz-cm-icon bz-cm-ib selectedcat"></span>
            </div>
            <div class="container-middle">
                <span class="workflow-name selected">All</span>
            </div>
            <div class="container-right">
                <span class="bz-cm-icon bz-cm-ib openlist"></span>
            </div>
        </div>
        <div class="bz-wp-ib-filter-category">
        </div>
    </div>
</script>


<script id="ui-bz-wp-widget-inbox-mail-category-items" type="text/x-jquery-tmpl">
   {{each categories}}
      {{each workflows}}
       <div class="bz-wp-category-item"    data-category="${name}" data-favorite="${isFavorite}" data-idworkflow="${idworkflow || 0}">
           <div class="container-left">
                           {{if idworkflow != "" && idworkflow > 0 }}
                              {{if isFavorite == "true"}}
	    			                 <span class="bz-cm-icon bz-cm-ib favorite-true" ></span>
	    		              {{else}}
	    			                <span class="bz-cm-icon bz-cm-ib favorite-false" ></span>
	    		             {{/if}}
                           {{else}}
	    		                <span class="bz-cm-icon bz-cm-ib favorite-false"  />
	    		           {{/if}}
          </div>
          <div class="container-middle">
                <span class="workflow-name" >${name}</span> 
            </div>
            <div class="container-right">       
                <span class="workflow-count" >${count}</span>
            </div>
       </div>
      {{/each}}
   {{/each}}
</script>


