.ui-bizagi-workportal-routing
{
}

#ui-bizagi-wp-app-inbox-activities-routing-wrapper
{
    background-color: #EBEDF1;
    color: #5E5F60;
}

#ui-bizagi-wp-app-routing-activity-container
{
    margin-bottom: 15px;
}

#ui-bizagi-wp-app-inbox-activities-routing
{
    text-align: center;
}

#ui-bizagi-wp-app-inbox-activities-routing .text-description-title
{
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    color: #195891;
    border-width: 0 0 1px;
    background: #DADDE0;
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #37BAEC;
}
#ui-bizagi-wp-app-inbox-activities-routing td
{
    padding: 10px 5px;
    border-bottom: 1px solid #c0c6cb;
    color: #195891;
    font-size: 13px;
}

#ui-bizagi-wp-app-inbox-activities-routing td:first-child
{
    /* border-top: 1px solid rgb(121,138,146); */
}
#ui-bizagi-wp-app-inbox-activities-routing td:last-child
{
    border-right: none;
}

#ui-bizagi-wp-app-inbox-activities-routing td button, 
.wp-routing-container-fother button
{
    margin: 3px 3px 0px 0px;
    border-radius: 0;
    padding: 7px 10px;
    background: #3E515A;
    color: #E4E8E9;
    border: 1px solid transparent;
    font-size: 100%;
    max-width: 650px;
    position: relative;
    word-wrap: break-word;
    min-width: 40%;
    border-bottom: 4px solid #798A92;
}

.wp-routing-container-fother button
{
    float: none;
    margin-bottom: 10px;
}


#ui-bizagi-wp-app-routing-activity-wf, 
#ui-bizagi-wp-app-routing-process-wf
{
    /* position: relative; */
}

#ui-bizagi-wp-app-routing-process-wf thead tr
{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#D6D8DC), to(#C3C6CB));
}

#ui-bizagi-wp-app-routing-process-wf tbody tr
{
    background-color: #f2f2f2;
}

#ui-bizagi-wp-app-routing-process-wf tbody td:first-child
{
    border-radius: 0 0 0 6px;
}

#ui-bizagi-wp-app-routing-process-wf tbody td:last-child
{
    border-radius: 0 0 6px 0;
}

#ui-bizagi-wp-app-routing-activity-container thead tr
{
    background-color: #E8EEF4;
    font-weight: bold;
    font-size: 15px;
}


#ui-bizagi-wp-app-routing-activity-container tbody tr
{
    background-color: white;
    color: #3E515A;
}
