﻿body
{
    background-color: Gray;
}

#render .km-flat, .km-flat .km-navbar, .km-flat .km-content
{
    color: #4c5356;
    background: #EBEDF1;
}
#render .km-widget.km-navbar
{
    background: linear-gradient(to bottom, #ffffff 0%,#f1f2f4 100%);
    height: 55px;
    border-bottom: 1px solid white;
    color: #61819E;
    font-weight: 100 !important;
    box-shadow: 0 1px 1px #E5E5E5;
    
}

.km-listview .km-list {
}

.km-leftitem, .km-rightitem
{
    color: #37BAEC;
}

.km-rightitem .bz-render-dynamic
{
    -webkit-transform: rotate(90deg);
}

/* info message */

.ui-state-info
{
    border-radius: 6px;
    background: #f2f2f2;
    box-shadow: 0 1px 2px 0 #C5C7C8;
    padding: 20px;
    font-size: 13px;
    color: #535B61;
    border-top: 1px solid white;
    margin: 10px;
    border-bottom: 1px solid white;
}

.bz-cm-info-message-text
{
    word-break: normal;
    min-width: 50%;
    display: inline-block;
    position: relative;
    max-width: 80%;
    white-space: normal;
    text-align: justify;
}

button.ui-bizagi-info-message-button
{
    min-width: 30%;
    background: whitesmoke;
    color: #195891;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 0;
    border: 1px solid #D0D1D3;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.5em;
    text-transform: uppercase;
    word-wrap: break-word;
    position: relative;
    align-items: flex-start;
    display: inline-block;
}

button.ui-bizagi-info-message-button:active
{
    background-color: #37BAEC;
    box-shadow: 0 1px 1px 0 #BCBEC1;
    color: white;
}

/* actionsheet */
.km-flat .km-actionsheet
{
    padding: 0 0.5em;
}
.km-flat .km-actionsheet > li
{
    line-height: 2.5em;
    font-size: 12px;
}
.km-flat .km-actionsheet li a
{
    color: #3E515A;
    background-color: whitesmoke;
    margin-left: 0;
    margin-right: 0;
}

.km-flat .resolution-actionsheet-title
{
    background: whitesmoke;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid #E6E4E4;
    color: #37BAEC;
}

.km-flat .km-actionsheet li:first-child a.km-widget.km-button
{
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}


.km-flat .km-actionsheet li.bz-render-last-child a.km-widget.km-button
{
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom: none;
}


.km-flat .km-actionsheet li a.km-widget.km-button
{
    border-bottom: 1px solid #D0D1D3;
}

.km-flat .km-actionsheet li.bz-render-as-option a.km-widget.km-button
{
    margin: 0;
}

.km-flat .km-actionsheet li.km-actionsheet-cancel
{
    margin: 0.5em 0;
}

.km-flat .km-actionsheet li.km-actionsheet-cancel a
{
    color: #37BAEC;
    font-weight: bold;
    border-radius: 3px;
}

ul#actionsheetDynamic
{
    background: #CAD3D5;
}

li.bz-rn-as-li-more
{
    margin-top: 10px;
}

.km-flat .km-actionsheet-wrapper.km-actionsheet-smartphone
{
    background: transparent;
}

.km-flat .km-actionsheet-wrapper
{
    border-top: none;
}

/* header fixed title*/

#render > .km-header > .km-navbar > .km-view-title
{
    margin: 0 40px 0 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#render-title
{
    font-size: 12.5px;
    position: absolute;
    left: 50px;
    color: #798A92;
}


.km-header span.bz-cm-icon.bz-rn-input-icon-info
{
    background-position: -31px -25px;
}

.km-header a.bz-wp-render
{
    padding-top: 2px;
}

.km-header .bz-wp-render span.bz-cm-icon.bz-rn-input-icon-summary
{
    background-position: -108px -4px;
    position: relative;
    display: inline-block;
    top: 4px;
    min-height: 19px;
}

.km-header .bz-rn-input-icon-summary:after
{
    color: #195891;
    font-size: 20px;
    padding: 0 0 0 7px;
    top: -2px;
    position: relative;
}

.km-header .km-navbar .nav-button.bz-render-summary
{
    width: 41px;
    height: 15px;
    padding-top: 5px;
}


.km-content.km-widget.km-native-scroller {
    z-index: 999;
    overflow: auto;
}

/*
* ActionSheet
*/

.km-flat .km-actionsheet-wrapper,
.km-flat .km-popup .k-list-container {
    background: transparent !important;
}