/* Asyc Task */

.bz-ui-modal-box
{
    /*border-radius: 10px;*/
}

.bz-ui-modal-box .ui-bizagi-wp-async
{
    color: #195891;
}

.ui-bizagi-wp-async
{
    color: #195891;
}

.bz-ui-modal-box .ui-bizagi-wp-async-box
{
    color: #4c5356;
    margin: 0;
    padding: 3px 20px 3px 20px;
}

.bz-ui-modal-box .ui-bizagi-wp-async-case-number
{
    height: 48px;
    padding: 15px 2px 4px 24px;
    font-size: 20px;
    font-weight: bold;
    background-color: #EBEDF1;
    color: #61819E;
    border: 1px solid #E5E5E5;
}

.bz-ui-modal-box .ui-bizagi-wp-async-description
{
    display: inline-block;
    width: 100%;
}

.bz-ui-modal-box .ui-bizagi-wp-async-title
{
    padding: 0 0 10px 10px;
    width: 100%;
    color: #195891;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 15px;
    vertical-align: top;
    margin: 7px 0 0 0;
    font-weight: bold;
}

.bz-ui-modal-box .ui-bizagi-wp-async-task
{
    background-color: #FFF;
    width: 100%;
    color: #576770;
    font-weight: 100;
    position: relative;
    white-space: normal;
    background: #E3E6EA;
    border-radius: 2px;
    word-break: break-word;
    margin: 2px 0 2px 0;
    font-size: 16px;
    min-height: 30px;
    padding: 5px 12px;
}

.bz-ui-modal-box .ui-bizagi-wp-waiting-message
{
    position: relative;
    top: 40px;
    z-index: 9999;
    vertical-align: middle;
}

.bz-ui-modal-box .ui-bizagi-wp-async-error
{
    padding: 20px 20px 20px 20px;
    color: red;
    font-weight: bold;
    text-align: center;
}

div#render-async-close {
    position: absolute;
    display: block;
    top: 15px;
}
