<script type="text/x-kendo-template" id="renderView">
    <div data-role="view" class="bz-rn-renderedition">
        <header data-role="header">
            <div data-role="navbar">
                <a data-align="left" class="nav-button bz-render-back" data-role="button" data-icon="cancel"></a>
                <span data-role="view-title" id="render-title">#=data.title#</span>
                <a data-rel="drawer" data-icon="next" class="nav-button bz-render-custom" data-role="button" data-align="right"  style="display:none;"></a>
                <a data-rel="drawer" data-icon="three-points-full" class="nav-button bz-render-dynamic" data-role="button" data-align="right" style="display:none;"></a>
                <a class="nav-button bz-wp-render bz-wp-render-summary" data-role="button" data-align="right" ><span class="bz-cm-icon bz-rn-input-icon-summary"></span></a>
            </div>
        </header>        
        <div data-role="modalview" id="modalview-async-message" style="width: 90%; height: 220px;" class="bz-ui-modal-box" data-modal="false" data-resizable="true" data-stretch="false">
            <div class="bz-rn-wg-modal-async"></div>
        </div>
        <div id="render-content"></div>
        <div data-role="footer" id="notification-box"></div>
    </div>
</script>
<script type="text/x-kendo-template" id="renderEditionTemplate">
    <div data-role="view" id="inputEdition_#=data.now#" class="bz-rn-renderedition">
        <header data-role="header">
            <div data-role="navbar">
                <a data-align="left" data-icon="cancel" class="nav-button bz-render-back" data-role="button" style="display:none;"></a>                
                <span data-role="view-title" id="render-title">#= data.displayName #</span>
                <a data-rel="drawer" data-icon="next" class="nav-button bz-render-custom" data-role="button" data-align="right"  style="display:none;"></a>
                <a data-rel="drawer" data-icon="three-points-full" class="nav-button bz-render-dynamic" data-role="button" data-align="right" style="display:none;"></a>
            </div>
        </header>
        <div class="inputEditionContent">
            #for(var i = 0; i < data.content.length; i++){# #= data.content[i].outerHTML # #}#
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="infoMessage">
    <div class="ui-bizagi-info" >
        <div class="ui-state-info">
            <span class="bz-cm-info-message-text">#= data.message  #</span>            
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="actionsheetDynamic">
    <ul id="actionsheetDynamic#= data.id#">
        #for(var i = 0; i < data.buttons.length; i++){#
            <li class="bz-render-as-option #if(i === data.buttons.length-1){#bz-render-last-child#}#">
                <a #if(data.buttons[i].action !== "back"){#data-bz-ordinal="#= data.buttons[i].ordinal #"#}else{#data-bz-ordinal="-1"#}#>#= data.buttons[i].caption #</a>
            </li>
        #}#
    </ul>
</script>
<script type="text/x-kendo-template" id="actionsheetUpload">
    <ul class="actionsheetUpload" data-control-id="#=data.id#">
        #for(var i = 0; i < data.buttons.length; i++){#
            <li class="bz-render-as-option #if(i === data.buttons.length-1){#bz-render-last-child#}#">
                <a data-bz-ordinal="#= data.buttons[i].ordinal #">#= data.buttons[i].caption #</a>
            </li>
        #}#
    </ul>
</script>
<script type="text/x-kendo-template" id="actionsheetResolutionUpload">
    <ul class="actionsheetResolutionUpload" data-control-id="#=data.id#">
        <li class="km-actionsheet-title">%{workportal-size-title}</li>   
        #for(var i = 0; i < data.buttons.length; i++){#
        <li class="bz-render-as-option #if(i === data.buttons.length-1){#bz-render-last-child#}#"><a data-bz-ordinal="#= data.buttons[i].ordinal #">#= data.buttons[i].caption #</a></li>
        #}#
    </ul>
</script>
<script type="text/x-kendo-template" id="async-message">
    <div id="ui-bizagi-wp-async">
        <div class="ui-bizagi-wp-async-case-number">
            #= data.radNumber #
        </div>
        # if (typeof(data.errorMessage) != "undefined" && data.errorMessage !== ""){#
            <div class="ui-bizagi-wp-async-error">
                #= data.errorMessage #
            </div>
            <div id="render-async-close" class="km-rightitem">
                <a data-align="left" data-role="button" class="km-widget km-button">
                    <span class="km-text">%{render-form-dialog-box-close}</span>
                </a>
            </div>
        #} else {#
            <div class="ui-bizagi-wp-async-box">           
                <div class="ui-bizagi-wp-async-description">
                 # if(typeof(data.taskName) != "undefined" && data.taskName !== ""){ #
                    <div class="ui-bizagi-wp-async-title">%{workportal-async-processing-name}</div>
                    <div class="ui-bizagi-wp-async-task">#= data.taskName #</div>
                    # } #
                </div>            
            </div>
            <div class="ui-bizagi-wp-waiting-message">
                <div class='km-loader km-widget'>
                    <span class="km-loading km-spin"></span>
                    <span class="km-loading-left"></span>
                    <span class="km-loading-right"></span>
                </div>
            </div>
        #}#
    </div>
</script>
<script type="text/x-kendo-template" id="dialog">
    <div data-role="modalview" id="dialog">
        #= data.content #
    </div>
</script>
<script type="text/x-kendo-template" id="routingTemplate">
    <div id="ui-bizagi-wp-app-inbox-activities-routing-wrapper">
        <div id="ui-bizagi-wp-app-inbox-activities-routing" class="ui-bizagi-wp-app-inbox-activities-routing">
            #if(data.checkProcess){#
            <div>TODO</div>
            #}#
            #if(data.data.checkWorkItems){#
            <div data-role="header" class="text-description-title">
               #if(data.data.radNumber != undefined && data.data.radNumber != ""){#
                    #=data.data.radNumber#
                #} else {#
                    #=data.data.idCase#
                #}#
            </div>
            <div id="ui-bizagi-wp-app-routing-activity-container" class="ui-bizagi-wp-app-routing-container">
                <table id="ui-bizagi-wp-app-routing-activity-wf" cellspacing="0" border="0" cellpading="0">
                    <thead>
                    <tr>
                        <td>%{workportal-widget-routing-name}</td>
                        <td>%{workportal-widget-routing-due-date}</td>
                        <td>&nbsp;</td>
                    </tr>
                    </thead>
                    <tbody>                                        
                    # $.each (data.data.workItems, function (i, item) { #
                    <tr>
                        <td class="alignLeft">
                            #= item.displayName # 
                            <input type="hidden" id="idWorkItem" value="#= item.idWorkItem # " />
                            <input type="hidden" id="idTask" value="#= item.idTask # " />
                            <input type="hidden" id="isAsynch" value="#= item.isAsynch # " />
                            <input type="hidden" id="idCase" value="#= item.idCase # " />
                            #if(data.data.radNumber != undefined && data.data.radNumber != "") {#
                                <input type="hidden" id="radNumber" value="#= data.data.radNumber #" />
                            #}#
                        </td>
                        <td class="alignCenter">#= item.estimatedSolutionDate # </td>
                        <td class="alignRight">
                            <button >%{workportal-widget-routing-work-on-it}</button>
                        </td>
                    </tr>
                    #}); #
                    </tbody>
                </table>
            </div>
            #}#
            <div data-role="footer" class="wp-routing-container-fother">
                <button>%{workportal-widget-dialog-box-close}</button>
            </div>
        </div>
    </div>
</script>
