<script id="ui-bizagi-grid" type="text/x-kendo-template">
    <div class="ui-bizagi-grid">
        <div data-bizagi-component="header" class="bz-rn-grid-cn-header">
            <span class="bz-rn-grid-header-title">#= data.label #</span>
            <div data-bizagi-component="buttons" data-bizagi-position="replace">
             {{element buttons}}
            </div>

        </div>
        <div data-bizagi-component="table" data-bizagi-position="replace">
        {{element table}}
        </div>
        <div data-bizagi-component="pager" data-bizagi-position="replace">
         <div class="ui-bizagi-grid-pagerArrowLeftFast" style="display:none">      
              <div class="ui-bizagi-grid-arrowLeftFast1" ></div>
              <div class="ui-bizagi-grid-arrowLeftFast2" ></div>
          </div>	
          <div class="ui-bizagi-grid-pagerArrowLeft" style="display:none">
			  <div class="ui-bizagi-grid-arrowLeft" ></div>
		  </div>
		     {{element pager}}
		  <div class="ui-bizagi-grid-pagerArrowRight" style="display:none">    
            <div class="ui-bizagi-grid-arrowRight" ></div>
          </div>
		  <div class="ui-bizagi-grid-pagerArrowRightFast" style="display:none">
			  <div class="ui-bizagi-grid-arrowRightFast1" ></div>
			  <div class="ui-bizagi-grid-arrowRightFast2"></div>
		  </div>
        </div>
        <div data-bizagi-component="dynamicPager" data-bizagi-position="replace">
         {{element dynamicPager}}
        </div>
        <div data-bizagi-component="emptyTable" data-bizagi-position="replace">
         {{element emptyTable}}
        </div>
    </div>
    
    <div data-bizagi-component="rowButtons" data-bizagi-position="float">
       {{element rowButtons}}
    </div>
</script>

<script id="ui-bizagi-grid-waiting" type="text/x-kendo-template">
    <div class="ui-bizagi-waiting"></div>
</script>

<script id="ui-bizagi-grid-table" type="text/x-kendo-template">
    <table class="ui-bizagi-grid-table">
        <thead class="ui-bizagi-grid-header">
            <tr data-bizagi-component="columns">
             {{element columns}}
            </tr>
        </thead>
        <tbody class="ui-bizagi-grid-body" data-bizagi-component="rows">
           {{element rows}}
        </tbody>
  
    </table>
</script>

<script id="ui-bizagi-grid-table-empty" type="text/x-kendo-template">
    <div class="ui-bizagi-grid-noRecords">%{render-grid-no-records}</div>
</script>

<script id="ui-bizagi-grid-column" type="text/x-kendo-template">
<th class="# if (data.key) {#ui-bizagi-grid-key #}# # if (data.hidden){# ui-bizagi-grid-column-hidden #}#">
    <h3 class="ui-bizagi-grid-column" data-column-index="#= data.index #">
        <label>#= data.label #</label>
        <div class="ui-bizagi-grid-column-sort #if (data.sortActive){# ui-bizagi-active #}#">
            <div class="#if (data.sortType == 'asc'){#ui-bizagi-active #}#"></div>
            <div class="#if (data.sortType == 'desc'){#ui-bizagi-active #}#"></div>
        </div>
    </h3>
</th>
</script>

<script id="ui-bizagi-grid-column-special" type="text/x-kendo-template">
<th class="ui-bizagi-grid-column-special"></th>
</script>

<script id="ui-bizagi-grid-row" type="text/x-jquery-tmpl">
    <tr data-bizagi-component="cells"  data-key="#= data.key#" data-business-key="#= data.businessKey #" #if (data.isNewRow){# data-new-row="true" #}#>
      {{element cells}}
    </tr>
</script>

<script id="ui-bizagi-grid-cell" type="text/x-kendo-template">
    <td class="# if (data.isKey){# ui-bizagi-grid-key #}#  # if (data.hidden){# ui-bizagi-column-hidden #}#">
        <div class="ui-bizagi-grid-cell" data-bizagi-component="cellContent">
         {{element cellContent}}
        </div>
    </td>
</script>

<script id="ui-bizagi-grid-cell-special" type="text/x-kendo-template">
    <td class="ui-bizagi-grid-cell-special">
        <div class="ui-bizagi-grid-cell" data-action="more">
            <span class="ui-bizagi-cell-more"></span>
        </div>
    </td>
</script>

<script id="ui-bizagi-grid-pager" type="text/x-kendo-template">
    <div class="ui-bizagi-grid-pager">
        <ul>
        #if (data.pages.length > 1){#
            # for (var i=0, len = data.pages.length ; i < len; i++){ #                
                <li data-page-number="#= data.pages[i].number #" class="#if (data.pages[i].active){# ui-bizagi-active #}#">#= data.pages[i].number #</li>
            #}#
        #}#
        </ul>
    </div>
</script>

<script id="ui-bizagi-grid-buttons" type="text/x-kendo-template">
    <div class="ui-bizagi-grid-buttons">
        <ul>
            #if (data.add){#
              <li  data-action="add"><div class="bz-cm-icon bz-rn-icon-plus"></div></li>
            #}#
            #if (data.hasTotalizer){#            
              <!-- <li class="ui-state-active" data-action="totalizer"><div class="bz-rn-icon-total">&\#931;</div></li> -->
            #}#
        </ul>
    </div>
</script>

<script id="ui-bizagi-grid-totalizer" type="text/x-kendo-template">
    
    
    <div class="km-listview-wrapper bz-rn-grid-totalize-container " >

        <div class="km-popup-arrow biz-popup-arrow "></div>
        <div class="bz-rn-grid-totalize-box">
            <span>%{render-grid-totalizer}</span>
            <div class="bz-rn-grid-totalize-list">
                <ul class="km-widget km-listview km-list">
                    # for (var i=0, len = data.length ; i < len; i++){ #                
                        <li>
                            <div class="bz-rn-grid-totalize-item-label"> #= data[i].label # </div>
                            <div class="bz-rn-grid-totalize-item-value"> #= data[i].total # </div>
                        </li>
                    #}#
                </ul>
            </div>
        </div>

    </div>

</script>

<script id="ui-bizagi-grid-buttons-offline" type="text/x-kendo-template">
    <div class="ui-bizagi-grid-buttons">
        <ul>   
            # if (data.remove){ #
                <li  class="ui-grid-buttons-hidden" data-action="remove"><div class="bz-cm-icon bz-rn-icon-trash"></div></li>
            #}#
            #if (data.add || data.inlineAdd){ #
                <li  data-action="add"><div class="bz-cm-icon bz-rn-icon-plus"></div></li>                
            #}#
            #if (data.inlineAdd){#
                <li  class="ui-grid-buttons-hidden" data-action="save"><div class="bz-cm-icon bz-rn-icon-save"></div></li>
                <li  class="ui-grid-buttons-hidden" data-action="cancel"><div class="bz-cm-icon bz-rn-icon-cancel"></div></li>
            #}#
        </ul>
    </div>
</script>

<script id="ui-bizagi-grid-row-buttons" type="text/x-kendo-template">
    <div class="ui-bizagi-grid-row-buttons">
        <ul>
            #if (data.edit){#
            <li  data-action="edit"><div class="ui-icon ui-icon-pencil"></div></li>
            #}#
            #if (data.remove){#
            <li  data-action="remove"><div class="ui-icon ui-icon-trash"></div></li>
            #}#
        </ul>
    </div>
</script>

<script id="ui-bizagi-grid-row-buttons-offline" type="text/x-jquery-tmpl">
    <div class="ui-bizagi-grid-row-buttons">
        <ul>   
            #if (data.edit){#
            <li  data-action="edit"><div class="ui-icon ui-icon-pencil"></div></li>
            #}#
            #if (data.remove){#
            <li  data-action="remove"><div class="ui-icon ui-icon-trash"></div></li>
            #}#
        </ul>
    </div>
</script>

<script id="ui-bizagi-grid-dynamic-pager" type="text/x-kendo-template">
    <input  type="button" class="ui-bizagi-button ui-button-text ui-button ui-widget ui-state-default ui-corner-all ui-bizagi-grid-dynamic-pager" value="%{render-grid-dynamic-pager}" role="button" aria-disabled="false" />
</script>

