﻿/********
* Filename: bizagi.editor.wizard.searchlist.css
* Create Date: 2014-03-05
* Author: Paola Herrera
*
* $__container
* $__content
*
********/

/* __container
--------*/
.bz-fm-wizard-popup-searchlist {
    width: 580px;
    height: 390px;
}
.bz-fm-wizard-searchlist {
    text-align: left;
    padding-bottom: 1.2em;
}

/* __content
--------*/
.bz-fm-wizard-searchlist-right,
.bz-fm-wizard-searchlist-left {
    float: left;
    position: relative;
    background-color: #FAFAFA;
    display: inline-block;
    width: 47%;
    border: 1px solid #CCC;
    height: 295px;
    margin: 1.5%;
    padding: 0 1.2em;
    border-radius: 4px;
}

.bz-fm-wizard-searchlist-right .ui-editor,
.bz-fm-wizard-searchlist-left .ui-editor{
    position: relative;
}

.bz-fm-wizard-searchlist-left  h2,
.bz-fm-wizard-searchlist-right  h2
{
    margin: 2px;
    border-bottom: solid 1px #ccc;
    padding-bottom: 8px;
    padding-top: 8px;
    text-align: center;
    position: relative;
}

.bz-fm-wizard-searchlist-left  h2:after,
.bz-fm-wizard-searchlist-right  h2:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0);
    border-radius: 4px;
}

.bz-fm-wizard-searchlist-right:before{
    content: "";
    position: absolute;
    left: -3.6%;
    border-left: dotted 1px #ccc;
    height: 250px;
}

.bz-fm-wizard-searchlist .editor-localizablestring-input .editor-localizablestring-localization {
    opacity: 1;    
}

.bz-fm-wizard-searchlist .ui-control-container label {
    display: inline-block;
    margin: 0;
    color: #5D7389;
}

.bz-fm-wizard-searchlist .ui-editor{
    margin-top: 10px;
    margin-left: 3px;
}