/* ==========================================================================
   Form components
   ========================================================================== */

/* General fix for font and color */

body,
form,
input,
button,
select,
textarea,
label,
table,
.ui-button span {
    outline: none;
    font-size: 11pt;
    color: rgb(19, 77, 116);
}

.ui-bizagi-render .ui-bizagi-label label {
    font-size: 9pt;
}

.ui-button span { cursor: default; }

/* Include ui dialog */

.ui-dialog input[type='text'],
.ui-dialog input[type='password'],
.ui-dialog input[type='number'],
.ui-dialog .ui-selectmenu,
#ui-bizagi-wp-application input[type='text'], 
#ui-bizagi-wp-application input[type='password'],
#ui-bizagi-wp-application input[type='number'],
.formPage input[type='text'],
.formPage input[type='password'],
.formPage input[type='number'],
.formPage textarea,
.formPage #ui-bizagi-webpart-render-container .ui-selectmenu {
    top: 0;
    left: 0;
    box-shadow: none;
    min-height: 0;
    height: 38px;
    margin: 0;
    padding: 2px 4px;
    border-radius: 0; 
    border-color: rgba(0, 114, 198, .2);
    background: rgb(255, 255, 255);
    color: rgb(19, 77, 116);
    font: normal 11pt "Segoe UI", Arial, sans-serif;
    line-height: normal;
    text-shadow: none;
}

/* Bottom container */

.formPage .ui-bizagi-button-container {
    box-shadow: inset 0px 1px 10px 0 rgba(0, 114, 198, .2);
    border-color: rgba(0, 114, 198, .2);
    background: rgb(245, 245, 245);
}

.formPage .ui-bizagi-button-container:hover { background: rgb(250, 250, 250); }

/* Fixed the height of select element */

.formPage select,
.ui-dialog .ui-selectmenu select { position: relative; }

.ui-selectmenu .ui-selectmenu-value,
.ui-dialog .ui-selectmenu .ui-selectmenu-value { position: absolute; }

.formPage select,
.formPage .ui-selectmenu .ui-selectmenu-btn,
.ui-bizagi-grid-cell .ui-selectmenu select,
.ui-dialog .ui-selectmenu select {
    margin: 0;
    padding: 0;
    min-height: 0;
    height: auto;
    border-width: 0
}

/* Hack the position of select element */

.formPage #ui-bizagi-webpart-render-container .ui-selectmenu { margin-bottom: -3px; }

.ui-dialog .ui-selectmenu { margin-bottom: -4px; }

/* Select components */

.ui-selectmenu .ui-selectmenu-value { left: 12px; }

.ui-selectmenu .ui-selectmenu-btn { right: 8px; }

.ui-selectmenu .biz-btn-caret {
    margin-top: 13px;
    border-width: 6px 6px 0 6px;
    border-top-color: rgb(19, 77, 116);
}

.formPage textarea {
    min-height: 60px;
    padding: 4px 12px;
}

input.hasDatepicker { width: 150px; }

.timeEntry_control { display: none !important; }

/* Radio
   ========================================================================== */

.ui-radio label {
    background-position: -10px -8px !important;
    cursor: default;
}

.ui-radio label.ui-radio-state-hover,
.ui-radio label.ui-radio-state-highlight { background-position: -10px -108px !important; }

.ui-radio label.ui-radio-state-checked { background-position: -10px -208px !important; }

.ui-bizagi-control-wrapper > .ui-bizagi-render-control { padding: 0 5px; }

/* Buttons
   ========================================================================== */

.ui-button,
.ui-button.ui-state-default,
.ui-bizagi-button-container .ui-bizagi-button,
.ui-dialog .ui-button,
.ui-bizagi-wp-app-routing-container table .ui-button,
.formPage #ui-bizagi-webpart-render-container .ui-button,
.formPage #ui-bizagi-webpart-render-container .ui-bizagi-button-container .ui-bizagi-button,
.formPage #ui-bizagi-webpart-render-container .ui-dialog .ui-button,
.formPage #ui-bizagi-webpart-render-container .ui-bizagi-wp-app-routing-container table .ui-button,
.formPage #ui-bizagi-webpart-render-container .ui-button:hover,
.formPage #ui-bizagi-webpart-render-container .ui-bizagi-button-container .ui-bizagi-button:hover {
    box-shadow: none;
    border: 1px solid rgba(0, 114, 198, .4) !important;
    border-radius: 0;
    background: rgb(250, 250, 250) !important;
    font: 600 11pt "Segoe UI", Arial, sans-serif;
    text-shadow: none;
    text-transform: capitalize;
    color: rgb(19, 77, 116);
    cursor: default;
}

.ui-button:hover,
.ui-button:hover span,
.ui-dialog .ui-bizagi-button:hover,
.ui-bizagi-button-container .ui-bizagi-button:hover,  
.ui-state-default.ui-button:hover,
.formPage #ui-bizagi-webpart-render-container .ui-button:hover,
.formPage #ui-bizagi-webpart-render-container .ui-bizagi-button-container .ui-bizagi-button:hover {
    background: rgb(255, 255, 255) !important;
    text-shadow: none;
    color: rgba(19, 77, 116, .8) !important;
}

/* Tooltip
   ========================================================================== */

body .ui-tooltip {
    box-shadow: 2px 2px 6px 0 rgba(0, 114, 198, .2);
    padding: 10px 15px;
    background: rgb(250, 250, 250);
    font-size: 11pt;
    color: rgb(19, 77, 116);
}

/* Upload
   ========================================================================== */

.ui-bizagi-render-upload-container {
    padding: 0 40px 0 1px;
    list-style: square;
}

.ui-bizagi-render-upload-item {
    overflow: visible;
    height: auto;
    margin: 0 0 .5em;
    padding: 0;
    border: none;
    line-height: normal;
    list-style: none;
}

.ui-bizagi-render-upload-item a {
    padding: 0;
    line-height: normal;
}

.ui-bizagi-render-upload-dialog .ui-bizagi-title { border: none; }

.ui-bizagi-render-upload-dialog form label {
   box-sizing: border-box;
   top: auto;
   height: 40px;
   border-color: rgba(0, 114, 198, .4);
}

#alert-file-upload { color: rgb(255, 0, 0); }

/* ==========================================================================
   Grid
   ========================================================================== */

.ui-bizagi-grid {
    border-radius: 0;
    border-color: rgba(0, 114, 198, .4) !important;
}

.bz-rn-grid-cn-header {
    border: none !important;
    background: rgb(250, 250, 250);
}

.bz-rn-grid-header-title {
    text-shadow: none;
    color: rgb(19, 77, 116) !important;
}

.ui-bizagi-grid .ui-bizagi-grid-table .ui-bizagi-grid-header th {
    -webkit-box-shadow: 0 0 0 1px rgba(20, 20, 20, .025) inset;
    box-shadow: 0 0 0 1px rgba(20, 20, 20, .025) inset;
}

.ui-bizagi-grid .ui-bizagi-grid-table .ui-bizagi-grid-body tr td { border-bottom-color: rgba(20, 20, 20, .05) !important; }

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    background-color: rgb(245, 245, 245);
    color: rgb(19, 77, 116);
}

.formPage .ui-bizagi-cell-readonly { line-height: normal; }

.ui-bizagi-grid .ui-bizagi-grid-cell input[type="text"],
.ui-bizagi-grid .ui-bizagi-grid-cell input[type="password"],
.ui-bizagi-grid .ui-bizagi-grid-cell input[type="number"]{
    max-height: 32px;
    margin: 0;
    min-width: 120px;
    line-height: normal;
}

.ui-bizagi-grid .ui-bizagi-grid-cell .ui-selectmenu {
    max-height: 32px;
    min-width: 120px;
    margin: 0 0 -4px 0;
    line-height: normal;
}

.bz-rn-grid-container-foother {
    border-radius: 0;
    background-color: rgb(245, 245, 245);
}

.ui-bizagi-cell-search
{
    height: 32px !important;
    min-height: 32px;
    max-height: 32px;
}

/* ==========================================================================
   Dialog
   ========================================================================== */

.ui-dialog { padding-top: 50px; }

.ui-dialog form,
.ui-dialog input,
.ui-dialog button,
.ui-dialog select,
.ui-dialog textarea,
.ui-dialog label {
   font: normal 11pt "Segoe UI", Arial, sans-serif;
}

.ui-dialog { 
    box-shadow: 0 0 30px 2px rgba(0, 114, 198, .2);
    border: none;
    background: rgb(245, 245, 245);
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{
    padding: 10px;
}

.ui-widget-overlay 
{
    background: rgba(19, 77, 116, .1);
    z-index: 10; 
}   

.ui-dialog .ui-dialog-titlebar {
    height: auto;
    border: none;
    background: rgb(250, 250, 250);
}

.ui-dialog .ui-dialog-title {
    background: none;
    font: 200 20pt "Segoe UI", Arial, sans-serif;
    text-shadow: none;
    color: rgb(19, 77, 116);
}

.ui-bizagi-container-form {
    border: none;
    background: rgb(255, 255, 255);
}

/* ==========================================================================
   Time Picker
   ========================================================================== */
.ui-bizagi-render-time-picker.win-timepicker
{
    display: block;
    }
    
.ui-bizagi-render-time-picker.win-timepicker .win-timepicker-hour, .ui-bizagi-render-time-picker.win-timepicker .win-timepicker-minute, .ui-bizagi-render-time-picker.win-timepicker .win-timepicker-period
{
    border: 1px solid #99C7E8;
    background:#E3F0F9;
    margin:10px 5px 0 0;
    padding:4px 0 4px 0;
}

.ui-bizagi-render-time-picker.win-timepicker .win-timepicker-hour:hover, .ui-bizagi-render-time-picker.win-timepicker .win-timepicker-minute:hover, .ui-bizagi-render-time-picker.win-timepicker .win-timepicker-period:hover {
        color: #0C3149;
        background:#CCE3F4;
    }

.ui-bizagi-render-time-picker.win-timepicker .win-timepicker-hour:active, .ui-bizagi-render-time-picker.win-timepicker .win-timepicker-minute:active, .ui-bizagi-render-time-picker.win-timepicker .win-timepicker-period:active{
    background:#E3F0F9;
}

.ui-bizagi-render-time-picker.win-timepicker .win-timepicker-hour:focus option:checked:hover, .ui-bizagi-render-time-picker.win-timepicker .win-timepicker-minute:focus option:checked:hover, .ui-bizagi-render-time-picker.win-timepicker .win-timepicker-period:focus option:checked:hover {
    background:#275E82;
    color:white;
}

.ui-bizagi-render-time-picker.win-timepicker option:checked {
    background:#134D74;
}

.ui-bizagi-render-time-picker.win-timepicker .win-timepicker-hour:focus::-ms-value, .ui-bizagi-render-time-picker.win-timepicker .win-timepicker-minute:focus::-ms-value, .ui-bizagi-render-time-picker.win-timepicker .win-timepicker-period:focus::-ms-value {
    background:#134D74;
}

.ui-bizagi-render-time-picker.win-timepicker .win-timepicker-hour:focus option:hover, .ui-bizagi-render-time-picker.win-timepicker .win-timepicker-minute:focus option:hover, .ui-bizagi-render-time-picker.win-timepicker .win-timepicker-period:focus option:hover {
    color: rgb(0, 0, 0);
    background-color: #CCE3F4;
}

/* ==========================================================================
   Association control
   ========================================================================== */

.bz-render-association .bz-render-association-left-container, .bz-render-association .bz-render-association-right-container {
    min-width: 350px;
}

.bz-render-association .bz-render-association-left-container,
.bz-render-association .bz-render-association-right-container {
    background: #f7f7f7;
    /*border: 1px solid #99C7E8;*/
    border:1px solid #134D74
}

    .bz-render-association .bz-render-association-left-container > h3 {
        background: #134D74;
        color: white;
        padding: 10px 0 0 10px;
        text-align: left;
        height:40px;
        font-weight:100;
        border:1px solid transparent;
        border-bottom:1px solid #134D74;
        border-radius:0;
    }

.bz-render-association .group {
    border: 1px solid #CCE3F4;
    border-radius: none;
    box-shadow: none;
}

.bz-render-association .ui-accordion .ui-state-active.ui-accordion-header {
    background: rgba(19, 77, 116, 0.4);
    color:white;
}

.bz-render-association .ui-accordion .ui-state-default.ui-accordion-header a {
    color: #134D74;
}

.bz-render-association .ui-accordion .ui-state-active.ui-accordion-header a {
    color: white;
}

.bz-render-association .bz-render-association-left-container li, .bz-render-association .bz-render-association-right-container li {
    background: #FAFAFA;
}
.bz-render-association .bz-render-association-left-container li:nth-child(even)
{    
    background-color: #F5F5F5;
}

.bz-render-association .ui-widget-header .ui-state-default.flip-arrow {
    background-image:url("images/icon-task.png");
    height:20px;
    width:20px;
    background-position:-76px -3px;
    background-color:transparent;
    position:relative;
    display:inline-block;
}

/* ==========================================================================
   Suggest control
   ========================================================================== */
   
.ui-bizagi-render-control .ui-bizagi-render-icon-search{  
    top: 24%;    
    background-color:white;  
    width: 20px;
    height: 20px;
    right: 6px;  
}

.ui-bizagi-render-control button .ui-bizagi-render-icon-search{  
    top: 24%;    
    background-color:transparent;  
    width: 20px;
    height: 20px;
    right: 6px;  
}

/* ==========================================================================
   Asyn control
   ========================================================================== */

#ui-bizagi-wp-async {
    position: relative;
    height: 400px;
    width: 100%;
}
#ui-bizagi-wp-async-box {
    position: absolute;
    width: 400px;
    height: 150px;
    top: 50%;
    left: 50%;
    margin-top: -125px;
    margin-left: -200px;
    padding: 20px;
}
.ui-bizagi-wp-async-case-number { 
    font-size: 22.5px;
    margin:0px 0px 10px 0px;
    font-weight:normal;
    color: #2f526c;
}
.ui-bizagi-wp-async-description {

}
.ui-bizagi-wp-async-description dt {
    float:left;
    clear:left;
    padding:5px;
}
.ui-bizagi-wp-async-description dd 
{
    margin-bottom:10px;
    margin-left:140px;
    background:#dadada;
    -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
    padding:5px;
}
.ui-bizagi-wp-waiting-message {
    width: 100%; height: 30px; position: relative; top: 20px;
}
.ui-bizagi-wp-waiting-message .ui-bizagi-loading-icon {
    display: inline-block;left: 130px; position: absolute;
}
.ui-bizagi-wp-waiting-message-text {
    display: inline-block;left: 160px; top: 0px; line-height: 30px; position: absolute;
}
.ui-bizagi-wp-async-error 
{
    font-family: 'NeoSansStdMedium'; 
    margin-bottom:10px;
    background:#dadada;
    -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
    padding:5px;
    height: 70px;
    overflow-y: auto;
}
.ui-bizagi-wp-async-goToInbox {
    font-family: 'NeoSansStdMedium'; 
    color: #2f526c;
}
