﻿/* Navbar */
#taskFeed .km-widget.km-navbar
{
    background-color: #154b7c;
}

.km-leftitem, .km-rightitem
{
    color: #37BAEC;
}

/* dynamic header scroll */

.km-flat .km-scroll-header .km-group-title
{
    border-width: 0 0 1px;
    background: #f1f2f4;
    border-bottom: 1px solid #37BAEC;
    color: #195891;
    border-top: 1px solid #E5E5E5;
}

.km-rightitem .km-state-active, .km-leftitem .km-state-active
{
    background: transparent;
}

/* Task feed lists */

#taskFeed .km-flat .km-list > li /*,#items-content-taskFeed .km-list > li*/
{
    background: #fcfcfc;
    border: 1px solid #E5E5E5;
    border-width: 0 0 1px 0;
}

.bz-wp-group-container .km-group-title .km-text
{
    color: #195891;
    font-weight: 100;
    padding: 10px 10px 10px 0;
    font-size: 20px;
    text-align: center;
}

/* List items */
.bz-wp-group-container .km-list li:last-child
{
    border-bottom: 2px solid #dadee0;
}

.bz-wp-group-container .km-list li.red:first-child
{
    border-top: 2px solid #EC3939;
}

.bz-wp-group-container .km-list li.yellow:first-child
{
    border-top: 2px solid #CFBB38;
}

.bz-wp-group-container .km-list li.green:first-child
{
    border-top: 2px solid #26A023;
}

.bz-list-item-date
{
    width: 50px;
    height: 30px;
    position: relative;
    display: inline-block;
    float: left;
    border-radius: 4px;
    margin: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    font-size: 12px;
    padding: 7px 0 0 0;
}

.bz-list-item-date.red
{
    color: #EC3939;
    background-color: #FDEBEB;
    display: inline;
}

.bz-list-item-date.yellow
{
    color: #CFBB38;
    background-color: #FAF7EA;
}

.bz-list-item-date.green
{
    color: #26A023;
    background: #E8F5E8;
}

.bz-list-item-date.gray
{
    color: #C0C2C4;
    background: #EFEFF0;
}
.bz-wp-item-maindata-container
{
    margin-left: 70px;
}

.bz-list-item-maindata
{
    min-height: 35px;
    display: inline;
    min-width: 50%;
}

h3.bz-list-subitem.activity, .bz-list-subitem.activity
{
    margin: 0;
    font-size: 15px;
    min-height: 15px;
    background-color: transparent;
    color: #4c5356;
}

.bz-list-subitem.processname
{
    margin: 0;
    font-size: 10px;
    background: #E5E5E5;
    border-radius: 3px;
    padding: 2px 5px;
    display: inline;
}

.bz-list-subitem.user
{
    margin: 0;
    display: inline;
}

/* Navbar */

#taskFeed .km-widget.km-navbar
{
    background-color: #154b7c;
    border-right: 1px solid #4c5356;
}

.wp-homeportal .km-button
{
    color: #74CFF1;
    font-size: 18px;
    padding: .4em .8em;
}

#taskFeed .km-content.km-widget.km-scroll-wrapper
{
    overflow: hidden;
    border-right: 1px solid #E5E5E5;
    border-width: 0px 1px 0px 0;
}

#taskFeed .km-group-title
{
    background: #f3f7fa;
    border: 0;
    border-width: 1px 0;
}

/*  SCROLL PULL
========================================*/

.km-flat .km-scroller-pull
{
    left: 50%;
    margin: 0;
}

.km-scroller-pull .km-icon::after, .km-scroller-pull .km-icon:after
{
    content: "" !important;
    margin-left: -3px;
}

.bz-wp-taskfeed-no-records
{
    text-align: center;
    padding-top: 45%;
    font-weight: bold;
    color: #B8B8B8;
}

#taskFeed .km-leftitem, #taskFeed .km-rightitem, #taskFeed .km-view-title
{
    /*top: 5px;*/
}

#taskFeed .km-view-title
{
    text-transform: capitalize;
    max-width: 100%;
    overflow: hidden;
    text-align: center;                                                                               
    margin-right: 20px;
    text-overflow: ellipsis;                                                            
    white-space: nowrap;
    margin: 0 45px;
}

/* PAGINATOR
========================================*/
.bz-wp-taskfeed-paginator-container
{
    display: none;
    background: #f3f7fa;
    margin-top: -2px;
    border-bottom: 2px solid #dadee0;
}

.bz-wp-taskfeed-paginator
{
    text-align: center;
    margin-bottom: 6px;
}

.bz-wp-taskfeed-paginator-button
{
    display: inline-block;
    width: 25%;
    height: 37px;
    padding-top: 5px;
    border: 1px solid rgb(232, 232, 232);
    text-align: center;
    margin-left: -5px;
    color: #61819E;
    font-size: 20px;
}

.bz-wp-taskfeed-paginator-pages
{
    text-align: center;
    padding-bottom: 5px;
    color: #61819E;
}

.bz-wp-taskfeed-paginator-button:last-child
{
    margin-right: -5px;
}

.bz-wp-taskfeed-paginator #taskfeedPaginatorLast
{
    border-right: transparent;
}

.bz-wp-taskfeed-paginator #taskfeedPaginatorFirst
{
    border-left: transparent;
}
