﻿/* Task Feed Search */

.bz-wp-tf-search-list
{
    display: none;
}

.bz-wp-tf-cancel-icon {
    display: none;
}

#taskFeed .bz-wp-tf-search-container
{
    position: relative;
    font-size: 12px;
    border-bottom: 2px solid #dadee0;
    background: #f3f7fa;
}

#taskFeed .bz-wp-tf-search-container input
{
    background-color: rgba(178, 180, 183, 0.2);
    color: rgba(178, 180, 183, 0.8);
    -webkit-appearance: none;
    font-size: 13px;
    border: none;
    border-radius: 5px;
    height: 30px;
    margin: 10px 0 10px 0;
    width: 92%;
    padding: 0 0 0 31px;
    align-content: center;
    position: relative;
    left: 4%;
}

#taskFeed label.bz-wp-tf-search-icon.km-icon.km-search
{
    position: absolute;
    left: 4%;
    font-size: 15px;
    padding-left: 10px;
    margin: 18px 0;
    color: #37BAEC;
}

#taskFeed label.bz-wp-tf-cancel-icon.km-icon.km-cancel
{
    position: absolute;
    right: 4%;
    font-size: 15px;
    padding-right: 10px;
    margin: 18px 0;
    color: #37BAEC;
}

#taskFeed  .bz-wd-search-container-noresults {
    padding: 15px;
    font-weight: bold;
    color: #444444;
}