<!-- Main Template -->
<script id="ui-bz-wp-webpart-taskFeed-main" type="text/x-kendo-template">    
    <div class="bz-wp-tf-search-container">
        <input class="bz-wp-tf-search-input" type="text" placeholder="%{workportal-menu-search}">
        <label class="bz-wp-tf-search-icon km-icon km-search" />
        <label class="bz-wp-tf-cancel-icon km-icon km-cancel" />
    </div>               
    <div class="bz-wp-taskfeed-paginator-container"> 
        <div class="bz-wp-taskfeed-paginator"> 
            <div id="taskfeedPaginatorFirst" class="bz-wp-taskfeed-paginator-button"> &laquo; </div>
            <div id="taskfeedPaginatorBack" class="bz-wp-taskfeed-paginator-button"> &lsaquo; </div>
            <div id="taskfeedPaginatorNext" class="bz-wp-taskfeed-paginator-button"> &rsaquo; </div>
            <div id="taskfeedPaginatorLast" class="bz-wp-taskfeed-paginator-button"> &raquo; </div>
        </div>
        <div class="bz-wp-taskfeed-paginator-pages">
            <span>  </span>
        </div>
    </div>     
    <div class="bz-wp-tf-list-container">                                      
        <ul class="bz-wp-group-container" id="items-content-taskFeed"></ul>
        <a class="button" id="loadMoreTaskFeed" data-role="button" style="display: block; margin: 2em; text-align: center;">%{workportal-taskfeed-press-load-more}</a>
    </div>    
     <div data-role="scroller">
        <ul data-role="listview" data-style="inset" class="bz-wp-tf-search-list bz-wp-group-container"></ul>
     </div>
</script>

<!-- Items Template -->
<script id="ui-bz-wp-webpart-taskFeed-item" type="text/x-kendo-template">
    <div class="bz-wp-item-container" data-case="#= data[0] #" data-status="#= data.state #">
        <div class="bz-wp-item-maindata-header">
            <span class="bz-list-item-date #=data.state#">#= data[3] #</span>
        </div>
        <div class="bz-wp-item-maindata-container">
	        <span class="bz-list-item-maindata">
                <h3 class="bz-list-subitem activity">#= data[5] #</h3>
                <p class="bz-list-subitem processname">#= data[4] #</p>                                
                #if (data[6][0][1] && data[6][0][1] != null){#
                    <p class="bz-list-subitem user">#= data[6][0][1] #</p>
                #} else {#
                    <p class="bz-list-subitem user">#= data[0] #</p>
                #}#
            </span>
        </div>
    </div>
</script>

<!-- Search Items Template -->
<script id="ui-bz-wp-webpart-search-item" type="text/x-kendo-template">
    # if (typeof(data.noResults) != 'undefined' && data.noResults) {#
        <div class="bz-wd-search-container-noresults">
            <span>#= data.message #</span>
        </div>
    # } else { #
        <div class="bz-wp-item-container" data-case="#= data[0] #">
            <div class="bz-wp-item-maindata-header">
                <span class="bz-list-item-date #=data.state#">#= data[3] #</span> 
            </div>
            <div class="bz-wp-item-maindata-container">
                <span class="bz-list-item-maindata">
                    <h3 class="bz-list-subitem activity">#= data[5] #</h3>
                    <p class="bz-list-subitem processname">#= data[4] #</p>
                    #if (data.radNumber && data.radNumber != null){#
                        <p class="bz-list-subitem user">#= data.radNumber #</p>
                    #} else {#
                        <p class="bz-list-subitem user">#= data[0] #</p>
                    #}#           
                </span>
            </div>
        </div>
   # } #
</script>
