.ui-bizagi-notifications-container
{
	right: 0px;    
    position:fixed;   
    display:none;
    z-index: 9999;
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius:4px;
	box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.5);
	padding:1px;
}
.ui-bizagi-notifications-container-bottom
{
	bottom: 47px;
}
.ui-bizagi-notifications-content
{
	max-height: 290px;
	-webkit-border-radius:0px 0px 4px 4px;
	padding:0px 6px;
	border-top:none;
	background-color: #ececec;
	overflow-y: scroll;
	-webkit-overflow-scrolling:touch;
}
.ui-bizagi-notifications-header
{
	height: 33px;
	line-height: 37px;	
	padding-left: 32px;
	padding-right: 35px;
	-webkit-border-radius:4px 4px 0px 0px;
	font-family: 'Helvetica';    
	font-size: 14px;
}
.ui-bizagi-notifications-container.ui-bizagi-state-collapsed {
	width: auto;
}
.ui-bizagi-notifications-container.ui-bizagi-state-collapsed .ui-bizagi-notifications-header{
	-webkit-border-radius: 4px;
}
.ui-bizagi-notifications-container.ui-bizagi-state-expanded 
{
	/* Used to be 640px */
	width: 510px; /* 510 is good enough to vertical alignment with the left column enabled*/
	opacity: 1;
	overflow: hidden;
}
.ui-bizagi-notifications-box-button
{
    position:absolute;
    left: 8px;
    top: 14px;
    cursor: pointer;
}
.ui-bizagi-notifications-clear-button
{
	position:absolute;
	right: 16px;
	top: 12px;
	cursor: pointer;
	width: 24px;
	height: 24px;
}

.ui-bizagi-notifications-clear-button .ui-icon
{
	position:absolute;
	top: 4px;
	left: 4px;
}
.ui-bizagi-notification-item
{
	position: relative;
	border:none;
	padding-left: 25px;
	padding-top: 5px; 
	padding-right: 0px; 
	padding-bottom: 5px;
	min-height: 32px;
	line-height: 32px;
	border-bottom: solid #cccccc 1px;
}
.ui-bizagi-notification-item .ui-icon
{
	top:12px;
	left:0px;
	position: absolute;
}
.ui-bizagi-notification-item label
{
	display: inline-block;
	cursor: pointer;
}

.ui-dialog.ui-widget.ui-widget-content {
    z-index: 999;
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90% !important;
}

.ui-widget-overlay {
    z-index: 999 !important;
}

/* GENERAL LAYOUTS MEDIA-QUERIES
=========================================================*/
@media only screen and (min-width: 1025px) {	
	.ui-bizagi-notifications-container-bottom { bottom: 50px; right: 14px; /* Make the notification box appears on screen on iPad  */}
}

/* LANDSCAPE LAYOUTS ONLY MEDIA-QUERIES
=========================================================*/
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
	.ui-bizagi-notifications-container-bottom { bottom:50px; right: 14px; /* Make the notification box appears on screen on iPad  */ }
}

/* PORTRAIT LAYOUTS ONLY MEDIA-QUERIES
=========================================================*/
@media only screen and (min-device-width: 481px) and (max-device-width: 768px) and (orientation:portrait) {
	.ui-bizagi-notifications-container-bottom { bottom: 50px; right: 14px; /* Make the notification box appears on screen on iPad  */ }
}