﻿/* NOTIFICATIONS FLAT
=========================================================*/

.ui-bizagi-notifications-container {
    right: 0;
    position: fixed;
    bottom: 0;
    display: none;
    z-index: 9999;
    border-radius: 6px;
}

.ui-bizagi-notifications-container-bottom {
    bottom: 0;
}

.ui-bizagi-notifications-container.ui-bizagi-log-container {
    right: 0;
    bottom: 50px;
    display: none;
    z-index: 9999;
    border-radius: 6px;
}

.ui-bizagi-log-container span.ui-bizagi-notifications-box-button.ui-icon.bz-icon-expanded:before,
.ui-bizagi-log-container span.ui-bizagi-notifications-box-button.ui-icon.ui-icon-triangle-1-s:before {
    content: "\2297";
    color: #FFF;
    font-size: 25px;
    position: absolute;
    top: -13px;
    left: -4px;
}

.ui-bizagi-notifications-content {
    max-height: 290px;
    -webkit-border-radius: 0 0 4px 4px;
    padding: 0 6px;
    border-top: none;
    background-color: #FFF;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.ui-bizagi-notifications-container .ui-bizagi-notifications-header {
    background-color: #50626A;
    color: #D7DDDF;
    height: 33px;
    line-height: 37px;
    padding-left: 32px;
    padding-right: 35px;
    font-family: 'Helvetica';
    font-size: 14px;
}

.ui-bizagi-notification-item {
    position: relative;
    border: none;
    padding-left: 25px;
    padding-top: 5px;
    padding-right: 0;
    padding-bottom: 5px;
    line-height: 32px;
    border-bottom: solid #cccccc 1px;
    word-wrap: break-word;
}

    .ui-bizagi-notification-item.ui-widget-content label {
        color: #195891;        
        font-family: sans-serif;
    }

/* NOTIFICATIONS EXPANDED
=========================================================*/

.ui-bizagi-notifications-container.ui-bizagi-state-expanded {
    width: 100%;
    opacity: 1;
    overflow: hidden;
}

    .ui-bizagi-notifications-container.ui-bizagi-state-expanded .ui-bizagi-notifications-header {
        border-radius: 0;
        background-color: #50626A;
        border-top: 2px solid #3E515A;
        height: 35px;
        line-height: 30px;
    }

/* NOTIFICATIONS COLLAPSED
=========================================================*/

.ui-bizagi-notifications-header.ui-widget-header.ui-state-active {
    z-index: 99999;
}

.ui-bizagi-notifications-container.ui-bizagi-state-collapsed {
    width: 35px;
    height: 40px;
    border-radius: 6px 6px 0 0;
}

    .ui-bizagi-notifications-container.ui-bizagi-state-collapsed .ui-bizagi-notifications-header {
        border-radius: 6px 0 0 6px;
        cursor: pointer;
        padding: 0;
        height: 38px;
    }

        .ui-bizagi-notifications-container.ui-bizagi-state-collapsed .ui-bizagi-notifications-header .bz-icon-collapsed:before,
        .ui-bizagi-notifications-container.ui-bizagi-state-collapsed .ui-bizagi-notifications-header .ui-icon-triangle-1-n:before {
            content: "\2297";
            color: #FFF;
            font-size: 25px;
            position: absolute;
            top: -15px;
            left: -3px;
        }

/* NOTIFICATIONS BUTTONS
=========================================================*/

.ui-bizagi-notifications-box-button {
    position: absolute;
    left: 12px;
    top: 14px;
    cursor: pointer;
}

.ui-bizagi-notifications-close-button {
    position: absolute;
    right: 0;
    top: 0px;
    cursor: pointer;
    width: 40px;
    height: 35px;
    border-left: 1px solid #7E8080;
    background: #3E515A;
    color: white;
}

.ui-bizagi-notifications-clear-button {
    position: absolute;
    right: 40px;
    top: 0px;
    cursor: pointer;
    width: 40px;
    height: 35px;
    border-left: 1px solid #7E8080;
    background: #3E515A;
    color: white;
}

.ui-bizagi-notifications-send-button {
    position: absolute;
    right: 80px;
    top: 0px;
    cursor: pointer;
    width: 40px;
    height: 35px;
    border-left: 1px solid #7E8080;
    background: #3E515A;
    color: white;
}

    .ui-bizagi-notifications-close-button .bz-icon,
    .ui-bizagi-notifications-clear-button .bz-icon,
    .ui-bizagi-notifications-send-button .bz-icon {
        position: absolute;
        top: 6px;
        left: 11px;
        font-size: 20px;
    }

.ui-bizagi-state-collapsed span.ui-bizagi-notifications-close-button,
.ui-bizagi-notifications-container.ui-bizagi-log-container.ui-bizagi-state-collapsed .ui-bizagi-notifications-send-button,
.ui-bizagi-notifications-container.ui-bizagi-log-container.ui-bizagi-state-collapsed .ui-bizagi-notifications-close-button,
.ui-bizagi-notifications-container.ui-bizagi-log-container.ui-bizagi-state-collapsed .ui-bizagi-notifications-clear-button,
.ui-bizagi-notifications-container.ui-bizagi-state-collapsed .ui-bizagi-notifications-header label,
.ui-bizagi-state-collapsed .ui-bizagi-notifications-header.ui-widget-header.ui-state-active:after {
    display: none;
}

/* NOTIFICATION ICONS
=========================================================*/
.ui-bizagi-notification-item .bz-icon {
    top: 12px;
    left: 0;
    position: absolute;
}

.ui-bizagi-notification-item label {
    display: inline-block;
    cursor: pointer;
}

span.bz-icon.info, 
span.bz-icon.default {
    color: #37BAEC;
}

span.bz-icon.error {
    color: #C71D1D;
}

span.bz-icon.warning {
    color: #f5d52b;
}

span.bz-icon.timer {
    color: #9A9A9A;
}

span.bz-icon.success {
    color: #149E15;
}

/* DIALOG FLAT
=========================================================*/

.bz-render-popup-log {
    z-index: 999;
}

.ui-dialog.ui-widget.ui-widget-content {
    z-index: 999;
    margin: 10px;
}

    .ui-dialog.ui-widget.ui-widget-content.ui-resizable {
        position: absolute !important;
        max-width: 90% !important;
        overflow: hidden;
        background-color: #EBEDF1;
        border: 1px solid #DADDE0;
        padding: 20px 20px 0 20px;
        color: #4c5356;
    }

button.ui-button.ui-widget.ui-dialog-titlebar-close {
    position: absolute;
    right: 5px;
    top: 5px;
    height: 40px;
    width: 70px;
    background: none;
    border: none;
    color: #74CFF1;
    font-size: 16px;
    text-transform: capitalize;
}

.ui-dialog-titlebar.ui-widget-header.ui-helper-clearfix {
    border-radius: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 20;
    height: 30px;
    border: none;
}

.ui-dialog-titlebar span.ui-dialog-title {
    display: block;
    margin: 0px 0px 0px 1em;
    color: #61819E;
    font-size: 135%;
}

/* DIALOG CONTENT
=========================================================*/

pre.bz-render-popup-json {
    outline: 1px solid #DADDE0;
    padding: 5px;
    margin: 5px;
    overflow: auto;
    word-wrap: normal;
    background-color: #E2E4E8;
    height: auto;
    max-height: 90%;
    word-break: normal;
    word-wrap: normal;
    white-space: pre;
}

.bz-render-popup-json span.string {
    color: green;
    word-wrap: break-word;
}

.bz-render-popup-json span.number {
    color: darkorange;
}

.bz-render-popup-json span.boolean {
    color: blue;
}

.bz-render-popup-json span.null {
    color: magenta;
}

.bz-render-popup-json span.key {
    color: red;
}
