﻿#modalview-summary .km-header .km-widget.km-navbar .km-view-title {
    font-weight: 100;
}

/* Navbar */
#taskFeed .km-widget.km-navbar {
    background-color: #154b7c;
}

.km-leftitem, .km-rightitem, .km-view-title {
    top: 5px;
}

.km-leftitem, .km-rightitem {
    color: #37BAEC;
}


/* dynamic header scroll */

.km-flat .km-scroll-header .km-group-title {
    border-width: 0 0 1px;
    background: #f1f2f4;
    border-bottom: 1px solid #37BAEC;
    color: #195891;
    border-top: 1px solid rgba(0,0,0,0.1);
}

/* modalview summary */
div#modalview-summary:before {
    background-color: blue;
}

div#modalview-summary {
}

#modalview-summary .km-navbar {
    color: #61819E;
}

#modalview-summary .km-footer .km-widget.km-navbar {
    border-width: 1px 0 0;
}

a#closeModalView {
    color: #787878;
    top: -1px;
    width: 100%;
}

a#WorkOnItModalView {
    color: #D7DDDF;
    width: 100%;
}

#modalview-summary .km-rightitem {
    top: 0px;
    width: 50%;
    right: 0;
    background: #3E515A;
    padding: 3px 0 0 0;
}

#modalview-summary .km-leftitem {
    width: 49%;
    top: 0;
    left: 0;
    padding: 3px 0 0 0;
}


.bz-wp-modal-value {
    border-radius: 0px;
    margin-top: -2px;
}

.km-rightitem .km-state-active, .km-leftitem .km-state-active {
    background: transparent;
}

/* Task feed lists */

.bz-wp-group-container .km-group-title .km-text {
    color: #195891;
    font-weight: 100;
}

.bz-wp-group-container .km-list li:first-child {
    border-top: 1px solid #37BAEC;
}

.bz-list-item-date {
    width: 50px;
    height: 30px;
    position: relative;
    display: inline-block;
    float: left;
    border-radius: 4px;
    margin: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    font-size: 12px;
    padding: 7px 0 0 0;
}

    .bz-list-item-date.red {
        color: #EC3939;
        background-color: #FDEBEB;
    }

    .bz-list-item-date.yellow {
        color: #CFBB38;
        background-color: #FAF7EA;
    }

    .bz-list-item-date.green {
        color: #26A023;
        background: #E8F5E8;
    }

    .bz-list-item-date.gray {
        color: #C0C2C4;
        background: #EFEFF0;
    }

.bz-list-item-maindata {
    min-height: 35px;
    display: inline;
    min-width: 50%;
}


h3.bz-list-subitem.activity, .bz-list-subitem.activity {
    margin: 0;
    font-size: 15px;
    min-height: 15px;
    background-color: transparent;
    color: #4c5356;
}

.bz-list-subitem.processname {
    margin: 0;
    font-size: 10px;
    background: #E5E5E5;
    border-radius: 3px;
    padding: 2px 5px;
    display: inline;
}

.bz-list-subitem.user {
    margin: 0;
    display: inline;
}

/* Modal View */
ul.bz-wp-modal-list {
    list-style: none;
    margin: 0;
    padding: 3px 20px 0 20px;
}

    ul.bz-wp-modal-list li {
        padding: 0 0 1px 0;
    }

        ul.bz-wp-modal-list li > div {
        }

.bz-wp-modal-content {
    background-color: #EBEDF1;
    position: relative;
    min-height: 155px;
}


.bz-wp-modal-title {
    color: #195891;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 15px;
    vertical-align: top;
    margin: 7px 0 0 0;
    font-weight: bold;
}


.bz-wp-modal-value {
    color: rgba(62,81,90,0.85);
    font-weight: 100;
    position: relative;
    font-size: 12px;
    white-space: normal;
    padding: 5px 0 5px 10px;
    background: #E2E4E8;
    border-radius: 2px;
    word-break: break-word;
    margin: 2px 0 2px 0;
    font-size: 16px;
    min-height: 30px;
    padding: 5px 12px;
}

/* Navbar */
#taskFeed .km-widget.km-navbar {
    background: linear-gradient(to bottom, #ffffff 0%,#f1f2f4 100%);
    height: 55px;
    border-bottom: 1px solid white;
    color: #61819E;
    font-weight: 100 !important;
}

/* Favorites */
span.km-icon.km-favorites.km-notext {
    display: none;
}

/* Scroll Pull */

.km-flat .km-scroller-pull {
    left: 50%;
    margin: 0;
}

.km-scroller-pull .km-icon::after, .km-scroller-pull .km-icon:after {
    content: "" !important;
    margin-left: -3px;
}

.bz-wp-taskfeed-paginator-container {
    display: none;
    background: linear-gradient(to bottom, #f1f2f4 0%,#ffffff 100%);
    margin-top: -2px;
}

.bz-wp-taskfeed-paginator {
    text-align: center;
    margin-bottom: 6px;
}

.bz-wp-taskfeed-paginator-button {
    display: inline-block;
    width: 25%;
    height: 37px;
    padding-top: 5px;
    border: 1px solid rgb(232, 232, 232);
    text-align: center;
    margin-left: -5px;
    color: #61819E;
    font-size: 20px;
}

.bz-wp-taskfeed-paginator-pages {
    text-align: center;
    padding-bottom: 5px;
    color: #61819E;
}

.bz-wp-taskfeed-paginator-button:last-child {
    margin-right: -5px;
}

.bz-wp-taskfeed-no-records {
    text-align: center;
    padding-top: 45%;
    font-weight: bold;
    color: #B8B8B8;
}

#taskFeed .km-flat .km-navbar {
    border: 1px solid #D4D4D9;
}
