<!-- Main Template -->
<script id="ui-bz-wp-webpart-taskFeed-main" type="text/x-kendo-template">
    <div>
        <div class="bz-wp-taskfeed-paginator-container">
            <div class="bz-wp-taskfeed-paginator">
                <div id="taskfeedPaginatorFirst" class="bz-wp-taskfeed-paginator-button"> &laquo; </div>
                <div id="taskfeedPaginatorBack" class="bz-wp-taskfeed-paginator-button"> &lsaquo; </div>
                <div id="taskfeedPaginatorNext" class="bz-wp-taskfeed-paginator-button"> &rsaquo; </div>
                <div id="taskfeedPaginatorLast" class="bz-wp-taskfeed-paginator-button"> &raquo; </div>
            </div>
            <div class="bz-wp-taskfeed-paginator-pages">
                <span>  </span>
            </div>
        </div>

        <ul data-role="listview" data-style="inset" data-type="group" class="bz-wp-group-container" id="items-content-taskFeed"></ul>
        <a class="button" id="loadMoreTaskFeed" data-role="button" style="display: block; margin: 2em; text-align: center;">%{workportal-taskfeed-press-load-more}</a>
    </div>
</script>

<!-- Items Template -->
<script id="ui-bz-wp-webpart-taskFeed-item" type="text/x-kendo-template">
    <div class="bz-wp-item-container" data-case="#= data[0] #">
        <div class="bz-wp-item-maindata-header">
            <span class="bz-list-item-date #=data.state#">#= data[3] #</span>
        </div>
        <div class="bz-wp-item-maindata-container">
            <span class="bz-list-item-maindata">
                <h3 class="bz-list-subitem activity">#= data[5] #</h3>
                <p class="bz-list-subitem processname">#= data[4] #</p>
                #if (data[6][0][1] && data[6][0][1] != null){#
                    <p class="bz-list-subitem user">#= data[6][0][1] #</p>
                #} else {#
                    <p class="bz-list-subitem user">#= data[0] #</p>
                #}#
            </span>
        </div>
    </div>
</script>

<!-- Summary Template -->
<script id="ui-bz-wp-webpart-taskFeed-summary" type="text/x-kendo-template">
    <div data-role="modalview" id="modalview-summary" style="width: 90%; height: auto;" data-modal="false" data-resizable="true" data-stretch="false">
        <div data-role="header">
            <div data-role="navbar">
                <a data-role="button" data-icon="favorites" data-id-object="" class="bz-favorite-case" data-align="left"></a>
                %{workportal-taskfeed-summary}
            </div>
        </div>
        <div class="bz-wp-modal-newcase-content">
            <div class="bz-wp-modal-content" data-case="#= data[0] #" data-workitem="#= data[1] #" data-task="#= data[2] #">
                <ul class="bz-wp-modal-list">
                    # $.each (data[6], function (i, item) { #
                    <li>
                        <div class="bz-wp-modal-title">#= item[0] #</div>
                        <div class="bz-wp-modal-value"> #= item[1] && (item[1] != null || item[1] != "") ? bizagi.util.formatDataType(item[1], item[2]): "" # </div>
                    </li>
                    # }) #
                </ul>
            </div>
        </div>
        <div data-role="footer" class="bz-wp-modal-newcase-footer">
            <div data-role="navbar">
                <a id="closeModalView" data-align="left" data-role="button">%{render-form-dialog-box-close}</a>
                <a id="WorkOnItModalView" data-align="right" data-role="button">%{workportal-taskfeed-popup-work-onit}</a>
            </div>
        </div>
    </div>
</script>
