<script id="string-frame" type="text/x-jquery-tmpl">
    <div class="ui-control-container">
        <label title="${caption}">${caption}</label>
        <div class="editor-string-input ui-control-input" tabindex="0">
            <input type="text" value="${value}" {{if placeholder }} placeholder="%{formmodeler-component-editor-string-example} ${placeholderText}" {{/if}}/>
        </div>
    </div>
</script>

<script id="string-default-value" type="text/x-jquery-tmpl">
    <i class="biz-ico biz-ico-default-value editor-string-icon-default-value" title="%{formmodeler-component-editor-all-set-default}"></i>
</script>

<script id="string-localization" type="text/x-jquery-tmpl">
    <i class="biz-ico editor-string-icon-localization"></i>
</script>