﻿
.wp-homeportal #menuHome .km-widget.km-navbar
{
    background-color: #195891;
}

#homePortal .search-container
{
    position: relative;
    font-size: 12px;
    border-bottom: 1px solid #dadee0;
    background: #f3f7fa;
}

#menuHome header
{
    border: 0;
}

.bz-menu-home-content
{
    border-right: 1px solid #BDBDBD;
    position: absolute;
    height: 100%;
    width: 100%;
}

/* Background */
#menuHome .bz-menu-home:after {
    content: "\e611";
    font: 1em/1em "bizagiflat";
    color: #d6dee7;
    font-size: 150px;
    position: absolute;    
    top: 20%;
    right: 40%;
    left: 40%;
}
