<script type="text/x-kendo-template" id="menuHome">
    <div class="bz-menu-home-content-header bz-menu-home">                  
        <div class="bz-menu-home-content"  data-role="scroller">                                          
            #for(var item in data.homePortalLayoutPositions){ #
                <div id="#= data.homePortalLayoutPositions[item].canvas#"></div>
            #}#
        </div>
    </div>
</script>
