/* Basic controls */

/* Set box flex to controls that autoadjust */
.ui-bizagi-render-text, .ui-bizagi-render-date, .ui-bizagi-render-search, .ui-bizagi-render-numeric, .ui-bizagi-render-time
{
    height: 30px;
    border-radius: 6px;
    border: none;
    -webkit-appearance: none;
    display: -webkit-box;
    -webkit-box-flex: 1;
    color: #3E515A;
    padding: 0 0 0 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.ui-bizagi-render-text-extended
{
    text-align: left;
    vertical-align: middle;
    min-height: 88px;
    padding: 2px 0 0 10px;
    font-size: 14px;
    color: #3E515A;
    overflow: auto;
    position: relative;
    display: block;
    border: none;    
    background: white;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.ui-bizagi-render-time
{
    margin: 0 0 0 2px;
}

.ui-bizagi-render-label
{
}

.ui-bizagi-render-button
{
    border-radius: 0;
    padding: 7px 10px;
    background: #3E515A;
    color: #E4E8E9;
    border: 1px solid transparent;
    margin: 10px;
    font-size: 15px;
    max-width: 650px;
    position: relative;
    word-wrap: break-word;
    min-width: 40%;
    margin-top: 30px;
    border-bottom: 4px solid #798A92;
}

.ui-bizagi-render-button
{
    margin-top: 5px;
    background: #2F3B45;
}

input.ui-button
{
    padding: 7px 10px;
}

.ui-bizagi-render-button.ui-state-disabled
{
    background: #2F3B45;
    -webkit-box-shadow: none;
    color: rgba(62,81,90,0.85);
}

.ui-bizagi-render-button:active
{
    background: #2F3B45;
    color: white;
    border-bottom: 4px solid #798A92;
}

/* Avoid default behaviour of button hover styles*/
.ui-bizagi-render-button.ui-state-hover
{
    color: #FFF !important;
    background: #2F3B45;
    border-bottom: 4px solid #798A92;
}

/* RENDER RADIO
========================================*/

label .ui-bizagi-render-boolean-check
{
    display: inline-block;
    font-size: 15px;
    line-height: 1em;
    margin: 0 0.25em 0 0;
    padding: 0;
    width: 1.25em;
    height: 1.25em;
    vertical-align: text-top;
    min-height: 10px;
    min-width: 10px;
    -webkit-appearance: none;
    background-position: -185px -242px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 20px;
}

label .ui-bizagi-render-boolean-check
{
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
    position: relative;
    left: 10px;
    background: white;
}

.ui-bizagi-render-boolean-check:checked
{
    background-position: -134px -242px;
    -webkit-appearance: none;
}

.ui-bizagi-render-control > .ui-bizagi-render-boolean-check
{
    margin: 0 0 0 95%;
}

.ui-bizagi-render-control > .ui-bizagi-render-boolean-check:checked
{
    margin: 0 0 0 95%;
}

.ui-bizagi-render-display-vertical .ui-bizagi-render-control > .ui-bizagi-render-boolean-check, .ui-bizagi-render-display-vertical .ui-bizagi-render-control > .ui-bizagi-render-boolean-check:checked
{
    margin-top: 3px;
    margin-left: 5px;
}

.ui-bizagi-render-image-image
{
    position: relative;
    height: auto;
    width: auto;
}
.ui-bizagi-render-image-image:active .ui-bizagi-render-upload-item-delete
{
    visibility: visible;
}

.ui-bizagi-render-image-image .ui-bizagi-render-upload-item-delete
{
    background-color: #F4F4F4;
    border: 1px solid #555555;
    border-radius: 5px 5px 5px 5px;
    left: 0;
    position: absolute;
    visibility: hidden;
}

.ui-bizagi-render-upload-wrapper .ui-icon
{
    font: 1em/1em "bizagiflat";
    color: #3E515A;
    font-size: 20px;
    padding: 0 0 0 5px;
    position: absolute;
    top: 3px;
}

.ui-bizagi-render-upload-wrapper .image-file
{
    display: inline-block;
    background: white;
    height: 50px;
    width: 50px;
    left: 35%;
    border-radius: 6px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
    position: relative;
}
.ui-bizagi-render-upload-wrapper .bz-cm-icon.image-file:after
{
    font: 1em/1em "bizagiflat";
    top: 10px;
    left: 10px;
    position: relative;
    content: "\e620";
    color: rgb(65,89,104);
    font-size: 30px;
}

.ui-bizagi-grid-cell .bz-cm-icon.image-file {
    left: 0 !important;
}
.ui-bizagi-grid-cell .ui-bizagi-render-upload-wrapper .bz-cm-icon.image-file:after {
    left: 0;
}
.ui-selectable-item .ui-state-focus .ui-selected .ui-state-active 
{
    background-image: none !important;
    background-color: rgba(62,81,90,0.3) !important;
}

.ui-bizagi-wrapper-render-list
{
    width: 100%; /*background-color: White;*/
}

.ui-bizagi-wrapper-render-list ul
{
    margin: 0;
    padding: 0;
    background-color: white;
    border-radius: 6px;
    border: none;
    color: #3E515A;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.ui-bizagi-wrapper-render-list ul > .ui-selectable-item.ui-state-focus.ui-selected.ui-state-active
{
    background: rgb(55, 185, 235);
    border: 1px solid rgb(55, 185, 235);
    border-radius: 6px;
    color: white;
    margin: 0;
}

.ui-bizagi-render-list li
{
    /*margin: 3px;*/
    border-bottom: 1px solid #EAEAEA;
    cursor: pointer;
    font: 13.3333px Arial;
    line-height: 30px;
    list-style-type: none;
    margin-left: 5px;
    margin-right: 5px;
    min-height: 30px;
    padding-left: 0.2em;
}

.ui-bizagi-render-image-item
{
    border: 0 !important;
    padding: 3px 30px 3px 3px;
    position: relative;
    height: auto;
    width: auto;
    overflow: hidden;
    background: transparent !important;
    margin-bottom: 2px;
}

.ui-bizagi-render-upload-wrapper.image-wrapper > a
{
    display: inline;
    position: relative;
}

.ui-bizagi-render-upload-wrapper.image-wrapper
{
}

.ui-bizagi-render-upload-wrapper.image-wrapper img
{
    border: 1px solid white;
    border-radius: 6px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    background: #f2f2f2;
    padding: 10px;
    position: relative;
    max-width: 100%;
}
.ui-bizagi-render-align-right .image-wrapper
{
    float: right !important;
}
.ui-bizagi-render-align-left .image-wrapper
{
    float: left !important;
}
.ui-bizagi-render-align-center .image-wrapper
{
    margin-left: 30% !important;
}
.ui-bizagi-render-upload-queue.image-queue
{
    position: absolute;
    top: 0;
    left: 0;
}
.ui-bizagi-render-upload-queue.image-queue .uploadifyQueueItem
{
    width: 128px;
}
.ui-bizagi-render-upload-queue.image-queue .uploadifyQueueItem .cancel, .ui-bizagi-render-upload-queue.image-queue .uploadifyQueueItem .percentage
{
    display: none;
}

.ui-bizagi-render-upload-item, .ui-bizagi-render-upload-item-no-upload
{
    padding: 10px;    
    background: rgba(10,36,61,0.2);
    font-weight: normal;
    font-size: 12px;    
}

/* RADIO ITEMS
============================*/

.ui-bizagi-render-radio fieldset
{
    border: 0 none;
    padding: 0;
}

.ui-bizagi-render-radio-item
{
    display: inline-block;
    margin: 3px;
}

.ui-bizagi-render-radio-vertical .ui-bizagi-render-radio-item
{
    float: left;
    clear: both;
    width: auto;
    position: relative;
}

.ui-bizagi-render-radio-item > input
{
    display: inline-block;
    vertical-align: text-bottom;
    font-size: 15px;        
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
    -webkit-appearance: none;    
    background-color: white;    
    border-radius: 20px;  
    color: white;    
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
}

.ui-bizagi-render-radio-item.checked > input
{
    -webkit-appearance: none;
    background-position: -134px -242px;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.ui-bizagi-render-radio-item > label
{
     cursor: pointer;
    position: relative;
    background: transparent;
    box-shadow: none;
    display: inline;    
    line-height: 27px;
    color: rgb(65,89,104);
    margin-left: 10px;
    margin-right: 15px;
}

.ui-bizagi-render-userfield-notSupported
{
    -webkit-border-radius: 6px;
    background: -webkit-gradient( linear, left top, left bottom, from(#D22D2D), to(#DF2020));
    color: white;
    padding: 5px 10px;
    -webkit-box-shadow: 1px 1px 1px #888;
}
.slide-upload
{
    height: 85%;
    width: 100%;
}
.ui-slide-upload
{
    top: 10px;
    height: 102%;
    width: 90%;
    position: relative;
    left: 5%;    
    overflow: hidden;
    background: rgba(62,81,90,0.05);
    box-shadow: none;
    text-align: center;
    padding: 10px;
}

.ui-slide-upload > .ui-slide-upload-preview
{
    position: relative;
    height: auto;
    width: auto;
    max-width: 690px;
}
.ui-slide-upload > .ui-slide-upload-link
{
    text-align: center;
    position: absolute;
    left: 48%;
    bottom: 0%;
}

/* ASSOCIATION RENDER
=========================================================*/

.bz-wp-render-association
{
    width: 100%;  
    border: 1px solid rgba(15,53,88,0.5);
}

.bz-wp-render-association .association-label
{
    position: relative;
    min-height: 40px;    
    position: relative;  
    overflow: hidden;  
    font-size: 13px;  
    color: #F4FAFA;  
    display: block;  
    text-align: left;  
    background: rgba(15,53,88,0.5);  
    padding: 0;  
    margin: 0;    
}

.bz-wp-render-association .association-label > label, .bz-wp-render-association .association-flip-button
{
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.bz-wp-render-association .association-label > label
{
    padding: 12px 4px;
    word-break: normal;
}


.association-container h3
{
    margin: 0;
    padding: 0;
    border: 0;    
}

.bz-wp-render-association .association-flip-button
{
    position: absolute;
    top: 0px;
    right: 0px;
    background: rgba(15,53,88,0.2);
    width: 40px;
    height: 40px;
    padding: 5px;
}

.bz-cm-icon.association-flip-button:after
{
    content: "\e60e";
    font: 1em/1em "bizagiflat";
    font-size: 20px;
    color: #F4FAFA;
}

.bz-wp-render-association .bz-rn-association-header
{
    padding: 5px 0 5px 15px;
    position: relative;
    display: table;
    width: 100%;
    color: #3E515A;
    font-weight: 100;
    border-radius: 0;
    border-top: 1px solid rgba(15,53,88,0.1);
    background: rgba(15,53,88,0.1);   
    margin: 0; 
}

.bz-wp-render-association .ui-bz-rn-check-list
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.bz-wp-render-association .ui-bz-rn-check-item
{
    text-align: left;
    border-bottom: 1px solid #CAD3D5;
    padding: 5px 0px 0 10px;
    vertical-align: middle;
    height: 35px;
}

.bz-wp-render-association .ui-bz-rn-check-item:nth-child(even)
{
    background: rgba(62,81,90,0.05);
}

.bz-wp-render-association span.bz-rn-checkbox-label
{
    left: 25px;
    position: relative;
}

.bz-wp-render-association .ui-accordion-content ul li label
{
    display: inline-block;
    vertical-align: middle;
    text-transform: capitalize;
}

.bz-wp-render-association .bz-rn-association-header a
{
    margin-left: 10px;
    text-align: left;
    color: inherit;
    text-decoration: none;
}

.bz-wp-render-association .bz-rn-association-header-title
{
    text-shadow: none;
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid rgba(62,81,90,0.1);
    width: 100%;
    font-size: 15px;
}

.bz-wp-render-association label .bz-rn-boolean-radio, .bz-wp-render-association label .ui-bz-rn-boolean-check
{
    display: inline-block;
    font-size: 15px;
    line-height: 1em;
    margin:0 0.25em 0 0;
    padding: 0;
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 20px;
}

.bz-wp-render-association label .ui-bz-rn-boolean-check:checked:after
{
    content: "\e628";
    font: 1em/1em "bizagiflat";
    color: #195891;
    font-size: 20px;
    top: -1px;
    left: -1px;
    position: relative;
}

.bz-wp-render-association label .ui-bz-rn-boolean-check
{
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
    position: relative;
    left: 5px;
    background: white;
}

.bz-wp-render-association .bz-rn-boolean-radio:after
{
    content: "\e605";
    font: 1em/1em "bizagiflat";
    color: #CBCBCB;
    font-size: 20px;
    position: relative;

}

.bz-wp-render-association .bz-rn-boolean-radio:checked:after
{
    content: "\e628";
    font: 1em/1em "bizagiflat";
    color: #195891;
    font-size: 20px;
}

.bz-wp-render-association .ui-accordion-header-active
{
    background: rgba(15,53,88,0.3);
    color: #3E515A; 
}

.bz-rn-association-items .ui-accordion-content-active
{    
    height: auto;
}

.bz-wp-render-association span.ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-s:after
{
    content: "\e604";  
    font: 1em/1em "bizagiflat";  
    color: #195891;  
    font-size: 20px;    
    background: rgba(255,255,255,0.7);
    border-radius: 20px;
}

.bz-wp-render-association span.ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-e:after
{
    content: "\e626";  
    font: 1em/1em "bizagiflat";  
    color: #195891;  
    font-size: 20px;    
    background: rgba(255,255,255,0.7);
    border-radius: 20px;
}


/* ECM UPLOAD RENDER
=========================================================*/
.bz-wp-render-ecm
{
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.bz-wp-render-ecm-file
{
    margin: 0 0 36px 0;
    padding: 0;
}

/* Sprite classes */
.bz-wp-render-ecm-file .file-icon, .bz-wp-render-ecm-file .toggle-actions-button, .file-actions li .action-icon
{
    background-image: url('images/ecm_upload.png');
    background-repeat: no-repeat;
}

.bz-wp-render-ecm-file .file-icon
{
    width: 24px;
    height: 24px;
    margin-right: 6px;
}

.bz-wp-render-ecm-file .file-icon, .bz-wp-render-ecm-file .file-name
{
    display: inline-block;
    vertical-align: top;
}

.file-actions-container
{
    position: relative;
    float: right;
}

.toggle-actions-button
{
    -webkit-appearance: none;
    border: none;
    height: 28px;
    width: 28px;
    background-position: -113px -3px;
    background-color: transparent;
    visibility: hidden;
}

span.bz-cm-icon.bz-rn-ecm-btn-attach-file:after, 
.bz-rn-ecm-btn-activate-menu:after
{
    font: 1em/1em "bizagiflat";        
    content: "\e62e";
    font-size: 20px;
    font-weight: 600;
}
.file-actions
{
    position: absolute;
    z-index: 1;
    bottom: -84px;
    right: -6px;
    text-align: center;
    background-color: #EEE;
    border-radius: 6px;
    box-shadow: 1px 1px 10px #000;
    margin: 0;
    padding: 6px 10px;
    display: none;
    min-width: 210px;
}

.file-actions li
{
    display: inline-block;
    vertical-align: top;
    margin: 0 8px;
}

.file-actions li .action-icon
{
    width: 36px;
    height: 36px;
    margin: 0 auto;
}

.ecm-edit
{
    background-position: -89px -56px;
}
.ecm-cancel-checkout
{
    background-position: -46px -56px;
}
.ecm-checkout
{
    background-position: -8px -56px;
}
.ecm-update
{
    background-position: -142px -4px;
}
.ecm-delete
{
    background-position: -135px -55px;
}

.file-actions li label
{
    font-size: 80%;
    display: block;
    text-align: center;
    max-width: 52px;
    margin: 4px 0 0 0;
}

table.ecm-meta-data
{
    width: 100%;
    font-size: 80%;
    border-radius: 10px;
}

table.ecm-meta-data input[type="checkbox"]
{
    width: 36px;
    height: 36px;
    display: inline-block;
    vertical-align: middle;
    background: url('images/association-checkbox.png') no-repeat 0 -34px;
    border: 0;
}

table.ecm-meta-data input[type="checkbox"]:checked
{
    background: url('images/association-checkbox.png') no-repeat 0 1px;
}

table.ecm-meta-data input[type="checkbox"]:disabled
{
    opacity: .5;
}

.ecm-meta-data tr
{
    background-color: #EEE;
}

.ecm-meta-data tr:nth-child(odd)
{
    background-color: #FFF;
}

.ecm-meta-data tr:first-child td:first-child
{
    border-top-left-radius: 8px;
}

.ecm-meta-data tr:first-child td:last-child
{
    border-top-right-radius: 8px;
}

.ecm-meta-data tr:last-child td:first-child
{
    border-bottom-left-radius: 8px;
}

.ecm-meta-data tr:last-child td:last-child
{
    border-bottom-right-radius: 8px;
}

.ecm-meta-data tr td
{
    padding: 10px 40px;
}

.ecm-meta-data tr td:first-child
{
    border-right: 1px solid #CCC;
    width: 30%;
}

.ecm-meta-data tfoot
{
    display: none;
    text-align: center;
}

.ecm-meta-data tfoot tr td
{
    background-color: #AAA;
}

.ecm-meta-data tfoot input[type="button"]
{
    margin: 0 12px;
    padding: 6px;
    min-width: 120px;
    font-family: inherit;
    border: 1px solid hsl(210, 20%, 40%);
    border-radius: 4px;
    background-color: hsl(210, 30%, 50%);
    color: #FFF;
    font-weight: bold;
    box-shadow: 1px 1px 6px #777;
}

.ecm-meta-data tfoot input[type="button"]:active
{
    box-shadow: inset 1px 1px 4px hsl(210, 50%, 30%);
}

/* Application icons */
.ms-word
{
    background-position: 0 0;
}

.ms-excel
{
    background-position: 0 -27px;
}

.ms-powerpoint
{
    background-position: -27px 0;
}

.ms-visio
{
    background-position: -27px -27px;
}

.mail
{
    background-position: -53px 0;
}

.text
{
    background-position: -78px 0;
}

.acrobat-reader
{
    background-position: -53px -27px;
}

.image
{
    background-position: -78px -27px;
}

/* SEARCH LIST RENDER
=========================================================*/
.biz-render-searchlist
{
    width: 100%;
}

.biz-render-searchlist ul, .biz-render-searchlist ul > li
{
    display: inline-block;
    vertical-align: top;
}

.biz-render-searchlist ul > li
{
    margin: 0 0 0 4px;
}

.biz-render-searchlist ul > li input[type="text"]
{
    height: 36px;
    display: inline-block;
    vertical-align: middle;
    border: 0;
    background-color: transparent;
    outline: none;
    width: 140px;
}

.biz-render-searchlist ul
{
    border: 1px solid #999;
    margin: 0;
    padding: 0;
    border-radius: 6px;
    width: 86%;
    list-style-type: none;
    background-color: #DDD;
    box-shadow: inset 1px 1px 1px #AAA;
}

.biz-render-searchlist ul li:not(:last-child)
{
    padding: 4px 10px;
    margin: 3px 0 0 4px;
    background-color: #125673;
    color: #FFF;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #555;
}

.biz-render-searchlist ul li .removeItem
{
    margin: 0 0 0 2px;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    background: url('images/searchListIcons.png') 7px 5px no-repeat;
}

.biz-render-searchlist input[type="button"]
{
    outline: 0;
    height: 36px;
    width: 40px;
    border: 0;
    background-color: #F0F0F0;
    margin: 2px 0 0 0;
    display: inline-block; 
}

/* Document Templates */
.ui-bizagi-render-documentgenerator
{
    display: block;
}

.ui-bizagi-document-upload-item
{
}

.ui-bizagi-document-extension
{
    background-image: url("images/file_extensions_sprite_32.png");
    background-position: 0 -520px;
}

.ui-bizagi-document-type
{
    width: 16px;
    height: 16px;
    display: inline-block;
}

.ui-bizagi-document-upload-item-doc
{
    background-position: -20px -482px;
}

.ui-bizagi-document-upload-item-pdf
{
    background-position: -4px -482px;
}

.ui-bizagi-document-upload-item-xls
{
    background-position: -20px -500px;
}

.ui-bizagi-document-upload-item-generic-file
{
    background-position: -4px -500px;
}

.ui-bizagi-document-preview
{
    height: 24px;
    width: 24px;
    top: 7px;
    position: relative;
    border: 0px solid transparent;
    cursor: pointer;
    display: none;
}

.ui-bizagi-button-documentgenerator
{
    /*padding: .4em 1em;     display: inline-block;     vertical-align: middle;     cursor: pointer;     margin-top: 5px;     text-shadow: 0 1px 0 rgba(255, 255, 255, 0.35);*/
}
.ui-bizagi-container-documents
{
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.ui-bizagi-container-documents a
{
    position: relative;
    display: inline-block;
    padding: 0.2em;
    margin: 0.1em 0 0.1em 0.1em;
    text-decoration: none;
    padding-left: 8px;
    color: #1F74B2;
}

.ui-bizagi-button-documentgenerator:active
{
    color: white;
}

.ui-bizagi-div-button-documentgenerator
{
    float: left;
    width: 100%;
}

.ui-bizagi-div-documentgenerator
{
    width: 100%;
    display: block;
}

/* UPLOAD
============================*/

.ui-bizagi-render-upload-container
{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.ui-bizagi-render-upload-item, .ui-bizagi-render-upload-item-no-upload
{
    margin: 5px;
    padding: 10px;    
    background: rgba(10,36,61,0.2);
    font-weight: normal;    
    font-size: 12px;
    text-align: center; 
}

ul.files
{
    list-style: none;    
    width: 100%;
}

.bz-rn-upload-show-menu
{
    display: inline-block;
    background: white;    
    height: 50px;    
    width: 50px;        
    left: 35%;
    border-radius: 6px;    
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);        
    position: relative;
}

.bz-rn-upload-show-menu .bz-cm-icon-file
{
    font: 1em/1em "bizagiflat";          
    top: 18px;    
    left: 15px;
    position: relative;
}

.bz-rn-upload-show-menu .bz-cm-icon-file:after
{
    content: "\e62e";    
    color: rgb(65,89,104);    
    font-size: 20px;
}

.ui-bizagi-grid-cell .bz-rn-upload-show-menu, 
.ui-bizagi-grid-cell .bz-rn-upload-show-menu .bz-cm-icon-file
{
    left: 0;
}

.ui-bizagi-grid-cell ul.files .bz-rn-upload-show-menu
{
    display: none;
}

.bz-rn-upload-delete-icon {
   display: inline-block;
   position: absolute;
   color: rgba(86, 84, 84, 0.82);
   float: right;
   margin-top: -3px;
   margin-right: 10%;
   font-weight: bold!important;
   font-size: 1.4em;
   right: 0;
}

/*upArrow*/
.bz_rn_upload_container_upload_items.upArrow:after, .bz_rn_upload_container_upload_items.upArrow:before
{
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.bz_rn_upload_container_upload_items.upArrow:after
{
    border-color: rgba(212, 214, 216, 0);
    border-bottom-color: white;
    border-width: 13px;
    left: 50%;
    margin-left: -15px;
}
.bz_rn_upload_container_upload_items.upArrow:before
{
    border-color: rgba(252, 245, 255, 0);
    border-bottom-color: #155376;
    border-width: 16px;
    left: 50%;
    margin-left: -18px;
}

/*bottomArrow*/
.bz_rn_upload_container_upload_items.bottomArrow:after, .bz_rn_upload_container_upload_items.bottomArrow:before
{
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.bz_rn_upload_container_upload_items.bottomArrow:after
{
    border-color: rgba(212, 214, 216, 0);
    border-top-color: white;
    border-width: 13px;
    left: 50%;
    margin-left: -15px;
}
.bz_rn_upload_container_upload_items.bottomArrow:before
{
    border-color: rgba(252, 245, 255, 0);
    border-top-color: #155376;
    border-width: 16px;
    left: 50%;
    margin-left: -18px;
}

.bz_rn_upload_container_upload_items.bottomArrow
{
    top: -186px;
}


/* container item upload*/
.bz_rn_upload_container_upload_items
{
    position: absolute;
    z-index: 999;
    border: 2px solid #155376;
    display: inline-block;
    border-radius: 6px;
    background-color: white;
    height: auto;
    display: none;
    padding: 4px 5px 1px 5px;
    margin: 0 0 0 -17px;
}


.bz_rn_upload_container_upload_items > span
{
    text-align: center;
    display: block;
    margin: 0 0 5px 0;
    padding: 5px 0 0 0;
    font-weight: bold;
}

.bz-rn-upload-options
{
    position: relative;
    width: 122px;
    border-radius: 6px;
    -webkit-padding-start: 0px;
    -webkit-margin-after: 5px;
    -webkit-margin-before: 5px;
    display: inline-block;
}

.bz-rn-upload-options > li
{
    display: inline-block;
    float: left;
    position: relative;
}

.bz-upload-button
{
    width: 59px;
    height: 60px;
    background-color: transparent;
}

.bz-upload-button.image
{
    background-position: -0px -135px;
    height: 53px;
}
.bz-upload-button.cimage
{
    background-position: -121.5px -135px;
}
.bz-upload-button.caudio
{
    background-position: -182.5px -135px;
    height: 55px;
}
.bz-upload-button.cvideo
{
    background-position: -243.5px -135px;
}
.bz-upload-button.file
{
    background-position: -57.5px -135px;
    display: none;
}

/* ECM CONTROL
========================================*/
.bz-rn-ecm-container
{    
    background-color: rgba(62,81,90,0.05);
    border: 1px solid rgba(62,81,90,0.1);    
    width: 100%;
}

.bz-rn-ecm-header
{
    background-color: rgba(15,53,88,0.5);  
    display: inline-block;  
    width: 100%;  
    color: #F4FAFA;  
    border-radius: 0;  
    text-align: left;
    min-height: 30px;
    border: 1px solid rgba(62,81,90,0.1);
}

.bz-rn-ecm-header span
{
    display: table-cell;
    padding: 15px 0 15px 15px;
    text-shadow: 0 1px 0 rgba(255,255,255,.3);
    text-align: left;
}

.bz-rn-ecm-menu-container ul
{
    overflow: hidden;
    list-style: none;
    position: relative;
    width: 100%;
}
.bz-rn-ecm-menu-container ul li
{
    float: left;
    display: none;
}

.bz-ecm-delete, .bz-ecm-edit, .bz-ecm-lock, .bz-ecm-unlock, .bz-ecm-upgrade
{
    font-size: 10px;
    width: 40px;
    text-align: center;
}

.bz-ecm-delete span.bz-cm-icon, .bz-ecm-edit span.bz-cm-icon, .bz-ecm-lock span.bz-cm-icon, .bz-ecm-unlock span.bz-cm-icon, .bz-ecm-upgrade span.bz-cm-icon
{
    height: 20px;
    width: 20px;
    display: inline-block;
}

.bz-ecm-delete span
{
    background-position: -297px -243px;
}

.bz-ecm-edit span
{
    background-position: -369px -245px;
}


.bz-ecm-lock span
{
    background-position: -366px -273px;
}


.bz-ecm-unlock span
{
    background-position: -399px -272px;
}

.bz-ecm-upgrade span
{
    background-position: -404px -273px;
}


.bz-rn-ecm-extension span
{
    width: 40px;
    text-align: center;
}

.bz-ecm-checkout-true
{
    display: none !important;
    background-position: -376px -271px;
}

.bz-ecm-checkout-false
{
    display: none !important;
    background-position: -346px -271px;
}


.bz-rn-ecm-menu-container .bz-common-webkit-reset-ul
{
    -webkit-padding-start: 0;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    margin: 0;
    display: inline-block;
}


.bz-rn-ecm-menu-container ul li.bz-ecm-item-menu-enable
{    
    display: inline-block;
    border-left: 1px solid #E4E8E9;
    margin: 5px 5px 0 -1px;
    padding: 0 5px 0 5px;
}

.bz-rn-ecm-container .bz-rn-ecm-metadata
{
    border-bottom: 1px solid rgba(62,81,90,0.1);
    padding: 5px;
}

.bz-rn-ecm-container .bz-rn-ecm-metadata > span
{
    margin: 5px 20px 0px 0;
    background: none;
}
.bz-rn-ecm-container .bz-rn-ecm-metadata:last-child
{
    border-bottom: none;
}

.bz-rn-ecm-metadata-item
{
    display: table;
    text-align: left;
    width: 100%;
    position: relative;
}

.bz-rn-ecm-title-item
{
    display: table-cell;
    padding: 5px 1px 5px 10px;
    text-align: left;
    word-break: break-all;
    overflow: hidden;
    color: #B0B2B2;
    vertical-align: middle;
}


.bz-rn-ecm-title-item label
{        
    color: #31414C;
     text-shadow: 0 1px 0 #DDDDDD;
}

.bz-rn-ecm-required
{
    color: red;
}

.bz-rn-ecm-metadata-value
{
    display: table-cell;
    padding: 5px 1px 5px 10px;
    text-align: left;
    word-break: break-all;
    overflow: hidden;
    vertical-align: middle;
}

.bz-rn-ecm-file-container ul
{
    list-style: none;
    overflow: hidden;
}

.bz-rn-ecm-file-container ul li
{
    float: left;
}


.bz-rn-ecm-metadata-items
{
    display: none;
}

.bz-rn-ecm-menu-container
{       
    display: none;
    position: absolute;
    z-index: 99999999;     
    background-color: rgba(255,255,255,0.95);
    box-sizing: border-box;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);    
    border-radius: 6px;
    padding: 1px;
    margin: 1px 0 0 -20px;    
    height: 45px;
}

.bz-rn-ecm-menu-container:after, .bz-rn-ecm-menu-container:before
{
    left: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.bz-rn-ecm-menu-container:after
{
    border-color: rgba(230, 230, 230, 0);
    border-left-color: #e6e6e6;
    border-width: 5px;
    top: 50%;
    margin-top: -5px;
}
.bz-rn-ecm-menu-container:before
{
    border-color: rgba(21, 83, 118, 0);
    border-left-color: rgba(255,255,255,0.95);
    border-width: 8px;
    top: 15px;
    z-index: 99999999;
}

.bz-rn-ecm-file-container
{
    display: inline-table;
    width: 100%;
}

.bz-rn-ecm-extension
{
    display: table-cell;
    vertical-align: middle;
    padding: 5px 1px 5px 10px;
    text-align: left;
    word-break: break-all;
}

.bz-rn-ecm-url
{
    display: table-cell;
    vertical-align: middle;
    padding: 0 0 0 10px;
    color: #6b7e87;
    font-size: 13px;
    text-shadow: 0 1px 0 #f7f7f7;
    text-align: right;
}
.bz-rn-ecm-url a:link
{
    color: #52595F;
    text-decoration: none;
}
.bz-rn-ecm-activate-menu
{
    display: table-cell;
    height: 30px;
    width: 30px;
    text-align: center;
}


/*
.ui-bz-rn-radio-item.checked > input.bz-cm-icon:after
{
    content: "\e628";
    font: 1em/1em "bizagiflat";
    color: #195891;
    font-size: 20px;
    padding: 0;
    margin: 0;
}
*/

.bz-rn-ecm-file-container span.bz-cm-icon
{       
    font: 1em/1em "bizagiflat";
    color: #195891;
    font-size: 20px;
    padding: 0px;
    margin: 5px;
    position: relative;
    background-image: none;
}

.bz-rn-ecm-btn-activate-menu:after
{
    content: "\e60c";  
    color: #74CFF1;
}

.bz-rn-ecm-metadata-container
{
    display: none;
    margin: 10px 20px 10px 20px;
    border-radius: 0;
    color: #4c5356;
    background: #EBEDF1;
    font-size: 11px;
    border: 1px solid rgba(62,81,90,0.1);
}

.bz-rn-ecm-metadata-container .bz-rn-ecm-title-item
{
    background-color: rgba(10,36,61,0.2);
    min-width: 85px;    
    border-top: 1px solid #B5B9BD;
}

.bz-rn-ecm-metadata-container .bz-rn-ecm-metadata-item:first-child .bz-rn-ecm-title-item
{
    border-radius: 0;
}
.bz-rn-ecm-metadata-container .bz-rn-ecm-metadata-item:last-child .bz-rn-ecm-title-item
{
    border-radius: 0;
    border-bottom: none;
}
.bz-rn-ecm-metadata-container .bz-rn-ecm-metadata-value
{
    width: 100%;    
    border-bottom: 1px solid #CACDCF;
}

.bz-rn-ecm-metadata-container .bz-rn-ecm-metadata-item:first-child .bz-rn-ecm-metadata-value
{
    border-radius: 0;
    border-top: none;
}
.bz-rn-ecm-metadata-container .bz-rn-ecm-metadata-item:last-child .bz-rn-ecm-metadata-value
{
    border-radius: 0 0 6px 0;
    border-bottom: none;
}

input.bz-cm-icon.bz-rn-ecm-boolean
{
    -webkit-appearance: none;
    display: inline-block;  
    font-size: 15px;  
    width: 20px;  
    height: 20px;  
    vertical-align: text-bottom;
    background-color: white;  
    border-radius: 20px;  
    color: white;      
    padding: 0;
}

.bz-rn-ecm-metadata-container .bz-rn-ecm-metadata-value > input[type="radio"]:after
{
    border: none;
    display: inline-block;
    content: "\e605";
    font: 1em/1em "bizagiflat";
    color: #CBCBCB;
    font-size: 20px;
    padding: 0;
    position: relative;
}

.bz-rn-ecm-metadata-container .bz-rn-ecm-metadata-value > input[type="radio"]:checked:after
{
    content: "\e628";
    font: 1em/1em "bizagiflat";
    color: #195891;
    font-size: 20px;
    border: none;
}

.bz-rn-ecm-metadata-container .bz-rn-ecm-metadata-value > input[type="date"], .bz-rn-ecm-metadata-item input[type="text"], .bz-rn-ecm-metadata-item input[type="number"], .bz-rn-ecm-metadata-item input[type="datetime"]
{
    background: rgba(255,255,255,0.95);
    border: none;
    width: 95%;
    height: 30px;
    border-radius: 6px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
    -webkit-appearance: none;
    color: #3E515A;  
    padding: 0 30px 0 10px;
}

.bz-rn-ecm-upload > span
{
    height: 20px;
    width: 20px;
    background-position: -300px -142px;
    display: inline-block;
    margin-top: 5px;
}

.bz-rn-ecm-menu-container.active
{
    display: inline;
    border: 2px solid;
    border-radius: 1em;
    width: auto;
    position: absolute;
    display: inline-block;
    z-index: 4;
    background: whitesmoke;
    top: 43px;
    right: 20px;
}


.bz-rn-ecm-buttons-container
{
    position: relative;
    margin: 0 auto;
    right: 7px;
    text-align: right;
    padding: 5px 0 5px 0;
}


.bz-rn-ecm-buttons-container button
{
    padding: 7px 10px;
    background: #3E515A;
    color: #E4E8E9;
    border: 1px solid transparent;
    margin: 10px;
    font-size: 11px;
    max-width: 250px;
    position: relative;
    word-wrap: break-word;
    min-width: 40%;    
    border-bottom: 4px solid #798A92;
}

/* GEOLOCATION RENDER
=========================================================*/
.ui-geolocation
{
    width: 100%;
    text-align: left;
    position: relative;
    
}

.ui-geolocation > *
{
    display: inline-block;
}

.ui-geolocation-cordinate
{        
    background: rgba(62,81,90,0.05);
    padding: 5px 12px;
    border: none;
    border-radius: 0px;
    min-height: 30px;
    -webkit-appearance: none;
    color: rgba(62,81,90,0.85);
    box-shadow: none;
    width: 100%;
}


.ui-bizagi-render-geolocation
{
    position: absolute;
    right: 0;
    top: 0;
}

.ui-bizagi-render-geolocation > .bz-rn-icon-geolocation
{
    background-position: -449px -125px;
    height: 24px;
    min-width: 19px;
    width: 19px;
    margin-left: 15px;
    display: block;
}

/**********

plugin tabs for tablet

*****/
.ui-bizagi-container
{
    position: relative;
    margin-bottom: 5px;
}

.ui-bizagi-container.ui-bizagi-container-tab
{
    padding: 10px 0;
    border-bottom: 1px dashed #37BAEC;
}

.ui-bizagi-container-tabItem
{
    display: none;
    width: 100%;
}

.bz-header_select
{
    box-sizing: border-box;
    min-height: 35px;
    max-height: 35px;
    width: 90%;
    position: relative;
    color: black;
    margin: 0;
    border: 1px solid #37BAEC;
    background-color: transparent;
    overflow: hidden;
    float: left;
    left: 4%;
    border-radius: 5px;
}

.bz-header_select .bz-wp-tabs-ui
{
    width: 25%;
    display: inline-block;
    height: 35px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.bz-header_select .bz-wp-tabs-ui > span
{
    color: #37B9EB;
    border-right: 1px solid #37B9EB;
    text-decoration: none;
    padding: 9px 10px 0px 10px;
    font-size: 13px;
    float: left;
    white-space: nowrap;
    font-weight: 500;
    text-transform: capitalize;
    height: 33px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.bz-header_select .bz-wp-tabs-ui:last-child > span
{
    border: none;
}

.bz-wp-tabs-ui.tabSelected
{
    background-color: #37B9EB;
}

.bz-wp-tabs-ui.tabSelected > span
{
    color: #FFF;
    text-shadow: none;
}


.bz-header_select.show-pluss
{
    padding-right: 30px;
}
.bz-wp-tabs-ui.bz-wp-no-border > span
{
    border-right: none;
}

.childrenActive
{
    display: inline-block;
}

.bz-header_select .bz-wp-tabs-ui-active
{
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    height: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.bz-header_select .bz-wp-tabs-ui-active > span
{
    color: #37B9EB;
    text-decoration: none;
    padding: 7px 11px 5px 10px;
    font-size: 13px;
    float: left;
    white-space: nowrap;
    font-weight: 500;
    text-transform: capitalize;
    border-right: 1px solid #37B9EB;
    background: #37B9EB;
    height: 29px;
    min-width: 57px;
    border-radius: 4px 0 0 4px;
}

.ui-bizagi-container-tab .isTab
{
    position: absolute;
    z-index: 1144;
    right: 4%;
    top: 58px;
    border: none;
    background-color: rgba(255,255,255,0.95);
    box-sizing: border-box;
    min-width: 50%;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    padding: 5px 10px 10px 10px;
    border-radius: 6px;
}

.ui-bizagi-container-tab  .isTab::before
{
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    right: 5px;
    content: "";
    display: block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(255,255,255,0.95);
    margin-left: -10px;
    z-index: 2;
}

.ui-bizagi-container-tab .isTab::after
{
    content: "";
    display: block;
    position: absolute;
    top: -12px;
    right: 9px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 12px solid transparent;
    margin-left: -10px;
}

.cell.bz-container-items-tabs.show
{
    display: block;
}

.bz-container-items-tabs
{
    border: none;
    display: none;
    font-size: 13px;
    font-weight: bold;
    padding: 12px 15px;
    background: none;
    color: #3E515A;
    border-bottom: 1px solid #E4E8E9;
}

.bz-container-items-tabs.tabSelected
{
    min-height: 35px;
    max-height: 35px;
    padding: 9px 0 0 10px;
    border-bottom: 1px solid #CCCCCC;
    border-radius: 0;
    color: #1A2126;
}


.bz-container-items-tabs:active
{
    background: none;
    color: #31414c;
}

.bz-tabs-display-name
{
    text-decoration: none;
}

.bz-tabs-narrow
{
    position: relative;
    float: right;
    right: 50px;
}

.bz-wp-tabs-arrow-container.show-pluss
{
    display: block;
}

.bz-wp-tabs-arrow-container .bz-wp-tabs-arrow, .bz-wp-tabs-arrow
{
    display: inline-block;
    background-position: -393px -194px;
    height: 30px;
    float: right;
    width: 30px;
}

.bz-wp-tabs-arrow-container.show-pluss .bz-cm-icon.bz-wp-tabs-arrow:after
{
    background-position: -393px -194px;
    color: #37B9EB;
    font-size: 18px;
    top: 8px;
    position: relative;
    right: -8px;
}

.bz-wp-tabs-arrow-container
{
    padding: 0 1px 0 0;
    position: absolute;
    display: none;
    right: 0;
    top: 0;
    width: 30px;
    height: 33px;
    float: right;
}

.bz-wp-tabs-arrow-container.show-pluss
{
    display: block;
}

.bz-wp-tabs-arrow-down
{
    width: 32px;
    height: 30px;
    border-left: 1px solid #ccc;
    border-radius: 0px 5px 5px 0px;
    margin: -87% 0 0 -700%;
}

.ui-bizagi-container-inputs
{
    width: 100%;
    position: relative;
    padding: 0 5px 0 5px;
}

.bz-wp-tabs-arrow-up
{
    width: 32px;
    height: 30px;
    border-left: 1px solid #ccc;
    background-image: url('images/pattern4.png'),-webkit-linear-gradient(top, white, #e4e4e4);
    border-radius: 0px 5px 5px 0px;
    margin: -87% 0 0 -700%;
}

/* end tab.tmpl*/

/* Layout Controls */

.ui-bizagi-render-layout-image-wrapper
{
    width: 100%;
}

.ui-bizagi-render-layout-image-wrapper .image-file:after
{
    content: "\e620";
    font: 1em/1em "bizagiflat";
    color: #AAAAAA;
    font-size: 25px;
}

/* End Layout Controls */


/* SEARCH CONTROL
============================*/
.ui-bizagi-render-search-container
{
    vertical-align: middle;
    display: inline;
}

input.ui-bizagi-render-search
{
   border-radius: 6px 0 0 6px;
}

input.ui-bizagi-render-search .help
{
   border-radius: 6px !important;
}

.bz-cm-icon.bt-search.ui-bizagi-render-search-icon 
{
    background-position: -395px -50px;    
    width: 30px;
    height: 30px;    
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;        
    background-color: white;
    border-radius: 0 6px 6px 0;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    left: 0px;
    position: relative;    
}

/* NUMERIC CONTROL
============================*/

.ui-bizagi-render-numeric
{
    -webkit-appearance: none;
    border-radius: 6px;
    border: none;
    padding: 7px 5px;
    color: #535B61;
}

.ui-bizagi-render-numeric.scientific
{
    display: none;
}

/* LINK RENDER
=========================================================*/
.ui-bizagi-render-link
{
    left: 5px;
    position: relative;
}

.ui-bizagi-render-link
{
    background: rgba(62,81,90,0.05);
    padding: 5px 12px;
    border: none;
    border-radius: 0px;
    min-height: 30px;
    box-shadow: none;
    position: relative;
    width: 100%;
    display: inherit;
}


/* GEOLOCATION RENDER
=========================================================*/
.ui-container-control span.bz-cm-icon
{   
  position: absolute;
  right: 0px;
  top: 4px; 
}

.ui-container-control
{
    width: 100%;
    text-align: left;
    position: relative;
    
}

.ui-container-control > *
{
    display: inline-block;
}

.ui-container-data
{            
    padding: 5px 12px;    
    min-height: 30px;            
    width: 100%;
}

.bz-rn-icon-number
{
    background-position: -451px -46px;
}

.bz-rn-icon-coin
{
    background-position: -451px -25px;
}

.bz-rn-icon-scientific
{
    background-position: -454px -207px;
}

.bz-rn-icon-date
{
    background-position: -451px -3px;
}

.bz-rn-icon-text
{
    background-position: -293px -273px;
}


span.bz-cm-icon.bz-rn-icon-extended-text
{
    top: 10px;
}

.bz-rn-icon-extended-text
{
    background-position: -293px -273px;
}
.ui-container-control > .ui-bizagi-render-numeric.ui-container-data
{
    padding: 5px 16px;
}

/* AUTOCOMPLETE / SUGGEST
========================================*/

.ui-bizagi-render-search-icon.disable-search
{
    cursor: default !important;
}

.ui-autocomplete
{
    position: absolute;
    cursor: default;
    max-height: 400px;
    overflow: auto;
    z-index: 10;   
                          
}

.ui-bizagi-search-control-list .ui-menu
{
    list-style: none;
    padding: 2px;
    margin: 0;
    display: block;
    float: left;
}

.ui-widget-content.ui-bizagi-search-control-list
{
    border-radius: 6px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
    -webkit-appearance: none;
    color: #3E515A;
    padding: 0 10px 0 10px;
    background: white;
}
.ui-bizagi-search-control-list > .ui-menu-item
{
    list-style: none;
    width: 100%;
    border-bottom: 1px solid #EDEDED;
    padding: 10px 0px 10px 0px;
    background: white;
    float: left;
    position: relative;
}

.ui-bizagi-search-control-list > li .ui-menu-item a
{
    text-decoration: none;
    display: block;
}

.ui-bizagi-search-control-list > li:first-child
{
    border-top: 1px solid #EDEDED;
}

.ui-bizagi-search-control-list > li:last-child
{
    border-bottom: none;
}

.ui-bizagi-search-control-list > li:active
{
    border: thin solid #efeeee;
    background-color: rgba(62,81,90,0.05);
    width: 100%;
}

/* RENDER DATE & TIME
========================================*/

input.ui-bizagi-render-date.ui-bz-render-datetime
{
    width: 48%;
    float: left;
    border-radius:6px 0 0 6px;
}

input.ui-bizagi-render-time.ui-bz-render-datetime
{
    width: 51%;
    float: right;
    border-radius: 0 6px 6px 0;
}

/* COMBO CONTROL (SELECT)
============================*/
.ui-bizagi-render-select-container
{
    vertical-align: middle;
    display: inline;
}

.ui-bizagi-render-control > select
{
    height: 30px;
    border-radius: 6px 0 0 6px;
    border: none;
    -webkit-appearance: none;
    display: -webkit-box;
    -webkit-box-flex: 1;
    color: #3E515A;
    padding: 0px 0px 0px 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    background-color: white;
}

.bz-cm-icon.bt-select.ui-bizagi-render-combo-icon
{
   background-position: -371px -133px;
    width: 30px;
    height: 30px;    
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;        
    background-color: white;
    border-radius: 0 6px 6px 0;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    left: 0px;
    position: relative;    
}

/*
.ui-bizagi-search-control-list  > li.ui-menu-item .ui-state-focus {	    
    border: thin solid #efeeee;
    background-color: #c2ced8;
    width: 100%
}


* .ui-autocomplete {
    border: 1px solid #CCC !important;
}

.ui-bizagi-container-form .ui-autocomplete {
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 350px;
    max-height: 165px;
    background-color: #ececec;
}

.ui-autocomplete .ui-bizagi-render-search-item.ui-menu-item {
    width: 100% !important;
}

.ui-bizagi-render-search.ui-autocomplete-input {
    background-color: #FFF;
}*/

/**
* DATE CONTROL
*/
.bz-rn-container-date{
    width: 100%;
}

input[readonly].bz-rn-text.new-mobiscroll-date-control{
    height: 30px;
    border:none;
    border-radius: 6px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    -webkit-appearance: none;
    color: #3E515A;
    padding: 0 30px 0 10px;
    width: 100%;
}

span.bz-cm-icon.bz-rn-icon-date{
    position:absolute;
    right: 6%;
    top: 20px;
}

.ui-bizagi-render-control.bz-rn-read-only{
    padding-left: 7px;
}

/* END DATE CONTROL */

/**
* LIST CONTROL
*/

.ui-bizagi-wrapper-render-list .see-more-icon{
    border-top: 1px solid #CBCBCB;
    color: #37BAEC;
    font: 20px Arial;
    padding: 0 45%;
    text-align: center;
}

.see-more-icon span.km-icon.km-three-points-full.km-notext:after{
    -webkit-transform: rotate(90deg);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.ui-bizagi-render-list .hidden{
    display: none;
}

/*END LIST CONTROL*/